@import '../../library/library';

$contain-padding: 15px;
$input-padding: 10px;
$space-md: 15px;
$space-sm: 10px;
$space-mini: 5px;
$space-big: 20px;
$space-lg: 30px;
$line-height: 1.42857142857143;

hr {
  display: block;
  height: 2px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.line-height-2x {
  line-height: 2em !important;
}

.header-one, .h1 {
  @include header-one();
  margin-top: $space-lg;
  margin-bottom: $space-lg;
}

.header-two, .h2 {
  @include header-two();
  line-height: 1.5;
  margin-top: 15px;
}

.header-three, .h3 {
  font-size: 18px;
  color: #000;
  font-weight: normal;
  line-height: 1.5;

}

.data-label {
  @include data-label();
}

.data-value {
  @include data-value();
}

.text-link {
  @include text-link();
  font-size: 14px;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.pull-right {
  float: right;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right !important;
}

.span-link {
  &:hover {
    cursor: pointer;
    color: $primary-1;
  }
}

.btn-link {
  @include button(link);
  text-decoration: none;
}

.btn-default {
  @include button(secondary)
}

.btn-primary {
  @include button(primary)
}

.btn-cancel {
  @include button(secondary)
}

.btn-no-border {
  @include button(secondary);
  border: none;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  margin-right: 5px;
  margin-left: 5px;
}

.color-pri2 {
  color: $primary-2
}

.color-pri1 {
  color: $primary-1
}

.editable-controls {
  textarea {
    width: 100%;
    font-size: 14px;
    height: 120px;
  }
}

td {
  word-break: break-all;
  line-height: 1.4em;
}

input[type=text] {
  @include textbox();
}

.chart-data {
  color: $label-color;
  font-weight: 300;
  font-size: 14px;
}

.span-link {
  &:hover {
    cursor: pointer;
    color: $primary-1;
  }
}

.span-link-blue {
  color: $primary-2;
  line-height: 2;
  &:hover {
    cursor: pointer;
    color: $hover-color;
  }
}

.table {
  @include table();
}

.table-crud {
  padding: 27px 0 10px 9px;
  @include table-crud()
}

table.sortable-table {
  @include table();
  td {
    &.ghost-column {
      text-align: center;
    }
    > .clickable {
      color: $call-to-action-color;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: $hover-color;
      }
    }
    &.flag-width {
      width: 20px;
    }
  }
}

input.edit-inline {
  border: 1px solid transparent;
  padding: 7px 10px;
  font-size: 14px;
  background: none;
  &:hover {
    border: 1px solid $dark-gray;
  }
  &:focus {
    border: 1px solid $border-color;
    background: #fff;
  }
}

.editable-controls {
  font-size: 100%;
}

.editable-buttons {
  font-size: 14px;
  button {
    text-align: left;
    padding: 5px;
    height: 30px;
    width: 30px;
    margin-left: 1px;
    position: relative;
    text-indent: -10000px;
    cursor: pointer;
    border: 1px solid $border-color;
    background-color: $background-color;
    &[type="submit"] {
      &:after {
        content: "\f012";
        font-family: "Black Tie";
        position: absolute;
        left: 10007px;
        top: 8px;
        z-index: 20;
      }
    }
    &[type="button"] {
      &:after {
        content: "\f00c";
        font-family: "Black Tie";
        position: absolute;
        left: 10007px;
        top: 8px;
        z-index: 20;
      }
    }
    &:hover {
      border: 1px solid $hover-color;
    }
  }
}

.editable-link {
  cursor: pointer;
  &:hover {
    border-bottom: 1px dotted $hover-color;
    color: $hover-color;
  }
}

.info-panel {
  padding: 20px;
  background-color: #fff;
  margin-top: 15px;
}

.chart-panel {
  padding: 20px 0 0 20px;
  margin-top: 15px;
  &:first-child {
    padding-left: 0;
  }
}

.muted {
  color: $gray-3 !important;
}

.gray-tag {
  border: 1px solid $border-color;
  padding: 2px 5px;
  margin-right: 9px;
  margin-bottom: 5px;
  display: inline-block;
}

@include dropdown-directive();

.form-full {
  width: 100%;
  margin-top: 20px;
}

.form-small {
  width: 300px;
  margin-top: 20px;
}

.form-big {
  width: 500px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
  &.m-b-0 {
    margin-bottom: 0;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    color: $dark-gray;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: 1px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &.sm {
      max-width: 100px;
    }
    &.mini {
      max-width: 50px;
    }
    &.mid {
      max-width: 160px;
    }
    &.big {
      max-width: 250px;
    }
    &.large {
      max-width: 350px;
    }
  }
}

.input-with-icon {
  position: relative;
  width: 80%;
  margin-bottom: 0.43em;
  input[type=text] {
    @include textbox();
    padding-right: 30px;
    width: 100%;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 10px 4px;
    font-size: 19px;
    border: none;
    margin-right: 0;
    color: $primary-2;
    line-height: $line-height;
  }
}

.tag-with-remove {
  position: relative;
  margin-bottom: 0.43em;
  border: 1px solid $border-color;
  background-color: #f5f5f5;
  border-radius: 1px;
  padding: 7px 20px 7px 10px;
  font-size: 14px;
  &:hover {
    border: 1px solid $hover-border;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px 7px;
    font-size: 12px;
    border: none;
    margin-right: 0;
    color: $primary-2;
    background-color: transparent;
    line-height: $line-height;
  }
}

.checkbox {
  @include checkbox();
  margin-top: 5px;
  margin-bottom: 5px;
  // this is to space the text further from the checkbox.
  i {
    margin-right: 5px;
  }
}

.bg-warning {
  background-color: $warning-color;
  padding: $space-md;
  color: #7f6301;
  margin-bottom: $space-big;
  line-height: 1.5;
  display: table;
  width: 100%;
  i {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    padding-right: $space-big;
  }
  > .sub-wrap {
    vertical-align: middle;
    text-align: left;
  }
}

.bg-info {
  background-color: $info-color;
  padding: $space-md;
  color: #345;
  margin-bottom: $space-big;
  line-height: 1.5;
  display: table;
  width: 100%;
  i {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
    padding-right: $space-big;
  }
  > .sub-wrap {
    vertical-align: middle;
    text-align: left;
  }
}

.gray-contain {
  background-color: $gray-1;
  padding: $space-md;
  color: #000;
  margin-bottom: $space-big;
}

.container-with-border {
  border: 1px solid $border-color;
  background-color: #fff;
  padding: 10px;
  width: 90%;
  overflow-y: auto;
  max-height: 320px;
  min-height: 150px
}

.number-picker {
  .input-group-addon {
    background: transparent;
    font-size: 20px;
    display: inline-block;
    color: $primary-2;
    &:hover {
      color: $hover-color;
    }
    padding: 3px 5px;
  }
  input {
    @include textbox();
    width: 60px;
  }

}

.second-slide {
  width: calc(100vw - 183px);
}

.form-validation {
  .form-control {
    outline: none;
    width: 90%;
    &.ng-dirty {
      &.ng-valid,
      &.ng-valid:focus {
        border-color: $success-color;
      }
      &.ng-invalid,
      &.ng-invalid:focus {
        border-color: $error-color;
      }
    }
  }

}

.input-in-col {
  outline: none;
  width: 100% !important;
  height: 35px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: black;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dddddd;
}

.text-required {
  color: $error-color;
  font-size: 12px;
}