/*
<div class="section group">
	<div class="col span_3_of_6">
	3 of 6
	</div>
	<div class="col span_2_of_6">
	2 of 6
	</div>
</div>
*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 0;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
  width: 83.16%;
}

.span_4_of_6 {
  width: 66.33%;
}

.span_3_of_6 {
  width: 49.5%;
}

.span_2_of_6 {
  width: 32.66%;
}

.span_1_of_6 {
  width: 15.83%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 800px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 {
    width: 100%;
  }
}

.float-2-side {
  clear: both;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
