<div class="g-configuration">
  <div class="header">
    <h1>Configuration: Salesforce App (Account Intelligence)</h1>
    <div class="text">
      <span class="icon">
        <i class="btr" ng-class="{'bt-check': cc.packageInstalled,'bt-ban':!cc.packageInstalled}"></i>
      </span>
      <span ng-class="{'opaque': !cc.packageInstalled}">
        Managed Package Installed
      </span>
    </div>
  </div>

  <title-pane title="Header" initial-open-flag="cc.openHeader">
    <div class="section-content">
      <div class="left-side">
        <div class="content section-header">
          <div class="firmographic">
            <div class="title">Firmographics (Select up to 3)</div>
            <div class="item checkbox-wrap" ng-repeat="item in cc.headerList track by $index">
              <label class="ui-checks">
                <input type="checkbox"
                       name="cc-header-{{$index}}"
                       ng-model="item.checked"
                       ng-disabled="cc.disableInsightCheckbox(item)"
                />
                <i></i>
                <span class="text">{{ item.value }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="right-side">
        <div class="preview-placeholder">
          <p>You are editing this section of the app.</p>
          <img src="/images/section-1.png" alt=""/>
        </div>
      </div> -->
    </div>
  </title-pane>

  <title-pane title="Similar Companies">
    <div class="section-content section-3">
      <div class="left-side">
        <div class="title">
          Toggle on/off to control which tabs are shown in the "Similar Companies" section
          <i class="fa fa-info-circle">
            <div class="tooltip-window">
              If you were on Fitbit's account page in Salesforce, a similar company would likely be Jawbone.
            </div>
          </i>
        </div>
        <div class="content section-companies">
          <div class="flexbox">
            <div class="name">
              In your CRM
            </div>
            <div class="switch">
              <g-switch name="inCRM" ng-model="cc.config.showInCRM" on="on" off="off"></g-switch>
            </div>
          </div>
          <div class="row">
            <div class="flexbox">
              <div class="name">
                Not in your CRM
              </div>
              <div class="switch">
                <g-switch name="notInCRM" ng-model="cc.config.showNotInCRM" on="on" off="off"></g-switch>
              </div>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="allow-crm-add"
                       ng-model="cc.config.allowCRMAdd"
                       ng-disabled="!cc.config.showNotInCRM"
                />
                <i></i>
                <span class="text">Allow users to ADD similar companies to your CRM</span>
              </label>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="allow-crm-add"
                       ng-model="cc.config.allowCRMAddAccounts"
                       ng-disabled="!cc.config.showNotInCRM || !cc.config.allowCRMAdd"
                />
                <i></i>
                <span class="text">Accounts</span>
              </label>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="allow-crm-add"
                       ng-model="cc.config.allowCRMAddLeads"
                       ng-disabled="!cc.config.showNotInCRM || !cc.config.allowCRMAdd"
                />
                <i></i>
                <span class="text">Leads</span>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="flexbox">
              <div class="name">
                Machine detected keywords
              </div>
              <div class="switch">
                <g-switch name="showInsightsKeywords" ng-model="cc.config.showInsightsKeywords"
                          on="on" off="off">
                </g-switch>
              </div>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="allow-keywords-add"
                       ng-model="cc.config.allowKeywordsAdd"
                       ng-disabled="!cc.config.showInsightsKeywords "
                />
                <i></i>
                <span class="text">Allow users to ADD similar companies to your CRM</span>
              </label>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="allow-keywords-add"
                       ng-model="cc.config.allowKeywordsAddAccounts"
                       ng-disabled="!cc.config.showInsightsKeywords || !cc.config.allowKeywordsAdd"
                />
                <i></i>
                <span class="text">Accounts</span>
              </label>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="allow-keywords-add"
                       ng-model="cc.config.allowKeywordsAddLeads"
                       ng-disabled="!cc.config.showInsightsKeywords || !cc.config.allowKeywordsAdd"
                />
                <i></i>
                <span class="text">Leads</span>
              </label>
            </div>

          </div>
        </div>
      </div>
      <!--<div class="right-side">
        <div class="preview-placeholder">
          <p>You are editing this section of the app.</p>
          <img src="/images/section-3.png" alt=""/>
        </div>
      </div>-->
    </div>
  </title-pane>

  <title-pane title="Signals & Insights">
    <div class="section-content">
      <div class="left-side">
        <div class="content section-insights">
          <div class="switch-wrapper">


            <div class="title">
              Toggle on/off to control which tabs are shown in the "Signals & Insights" section
              <i class="fa fa-info-circle">
                <div class="tooltip-window">
                  Signals & insights are used to explain why a company has a specific score.
                </div>
              </i>
            </div>
            <div class="flexbox switch-item">
              <div class="name">
                Top signals & insights
              </div>
              <div class="switch">
                <g-switch name="showTopInsights" ng-model="cc.config.showTopInsights" on="on" off="off">
                </g-switch>
                <div class="blacklist-signals">
                  <!--<span ng-click="cc.editSegmentInsightsBlackList()">Blacklist Signals & Insights</span>-->
                  <div class="custom-insights" ng-click="cc.editInsightHeadersCustom()">Select the Key Insights</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--<div class="right-side">
        <div class="preview-placeholder">
          <p>You are editing this section of the app.</p>
          <img src="/images/section-2.png" alt=""/>
        </div>
      </div>-->
    </div>
  </title-pane>

  <title-pane title="Get Contacts">
    <div class="section-content">
      <div class="left-side">
        <div class="title">
          Toggle on/off to allow your sales team to get contacts for companies they are prospecting.
        </div>
        <div class="content section-3">
          <div class="flexbox">
            <div class="name">
              Show the "Get Contacts" section
            </div>
            <div class="switch">
              <g-switch name="showContacts" ng-model="cc.config.showContacts" on="on" off="off"></g-switch>
            </div>
          </div>
          <div class="flexbox control-contacts">
            <div class="name">
              Control which Salesforce record users can add contacts to
            </div>

            <div class="checkbox-wrap first-checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="cc.config.allowCRMAddPeopleToContacts"
                  ng-disabled="!cc.config.showContacts"
                />
                <i></i>
                <span class="text">Contacts</span>
              </label>
            </div>

            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="cc.config.allowCRMAddPeopleToLeads"
                  ng-disabled="!cc.config.showContacts"
                />
                <i></i>
                <span class="text">Leads</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="right-side">
        <div class="preview-placeholder">
          <p>You are editing this section of the app.</p>
          <img src="/images/section-4.png" alt=""/>
        </div>
      </div>-->
    </div>
  </title-pane>

  <title-pane title="Audience">
    <div class="section-content">
      <div class="left-side">
        <div class="title">
          Toggle on/off to allow sales to request audiences.
          <br>
        </div>
        <div class="content section-3">
          <div class="flexbox">
            <div class="name">
              Show the "Audience" section
            </div>
            <div class="switch">
              <g-switch name="showAudience" ng-model="cc.config.showAudience" on="on" off="off"></g-switch>
            </div>
          </div>
          <div class="flexbox">
            <div class="name">
              Show Audience Score
            </div>
            <div class="switch">
              <g-switch name="showAudienceScore" ng-model="cc.config.showAudienceScore" on="on" off="off"></g-switch>
            </div>
          </div>
        </div>

      </div>

    </div>
  </title-pane>

  <title-pane title="Enrich Config" ng-if="cc.isGhosting()">
    <div class="panel-body">
      <div class="title">
        Config inbound enrich
      </div>

      <div class="content section-3">
        <div class="flex-container">
          <div class="flex-label">
            Enable Enrich
          </div>
          <div class="switch">
            <g-switch name="enrich_enabled" ng-model="cc.enrich_enabled" on="on" off="off"></g-switch>
          </div>
        </div>

        <div class="flex-container">
          <div class="flex-label">
            Start Time
          </div>
          <div class="">
            <div class="datepicker">
              <input class="textbox" placeholder="MM/DD/YYYY"
                     ng-model="cc.enrich_start_ts"
                     datetime-picker date-format="MM/dd/yyyy" date-only/>
              <i class="btr bt-calendar"></i>
            </div>

          </div>
        </div>

        <div class="flex-container">
          <div class="flex-label">

          </div>
          <div class="flex-content">
            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="score"
                       ng-model="cc.enrich_score"
                />
                <i></i>
                <span class="text">Score</span>
              </label>
            </div>
            <div class="checkbox-wrap">
              <label class="ui-checks">
                <input type="checkbox"
                       name="score"
                       ng-model="cc.enrich_firmographics"
                />
                <i></i>
                <span class="text">Firmagraphic</span>
              </label>
            </div>
          </div>
        </div>

      </div>

    </div>
  </title-pane>

  <div class="bottom-actions">
    <button class="btn btn-cancel" ng-click="cc.onCancel()">
      cancel
    </button>
    <button class="btn btn-save" ng-click="cc.onSave()" ng-disabled="cc.saving">
      save changes
    </button>
  </div>
</div>
