<div class="g-integration">
  <h1>Integrations</h1>

  <div class="card">
    <loading-spinner ng-if="ic.isLoadingSFDC()"></loading-spinner>
    <div class="title">
      <div class="name">Salesforce
        <span ng-if="ic.salesforceService.usingSandbox()">
          (Sandbox)
        </span>
      </div>
      <div class="btn-wrap">
        <div class="ellipsis-menu" ng-class="{'disabled': ic.isLoadingSFDC()}">
          <i class="fa fa-ellipsis-v more ellipsis-icon">
            <div class="menu">
              <div class="item"
                   ui-sref="crm.configuration"
              >
                <i class="btr bt-wrench"><span>Configuration</span></i>
              </div>
              <div class="item"
                   ng-click="ic.clickMappingSFDC()"
              >
                <i class="btr bt-code"><span>Field Mapping</span></i>
              </div>
              <div class="item"
                   ng-if="ic.packageLinkInited && ic.packageInstalled"
                   ng-click="ic.upstallPackage()"
              >
                <i class="btr bt-external-link"><span>Upgrade Package</span></i>
              </div>
              <div class="item"
                   ng-if="ic.packageLinkInited"
                   ng-click="ic.clickPackage()"
              >
                <i class="btr bt-external-link"><span>{{ ic.getPackageBtnStatus() }}</span></i>
              </div>
              <div class="item"
                   ui-sref="crm.welcome"
              >
                <i class="btr bt-cloud"><span>CRM Fit</span>
                  <span ng-bind="ic.crmStatusText" class="crm-fit-status {{ic.crmStatus.toLowerCase()}}"></span>
                </i>
              </div>
              <div class="item"
                   ng-click="ic.clickIntegrate()"
              >
                <i class="btr bt-sign-in"><span>{{ ic.getIntegrateStatus() }}</span></i>
              </div>
              <div class="item"
                   ng-click="ic.clickSFDCGuide()"
              >
                <i class="btr bt-book"><span>Install Guide</span></i>
              </div>
            </div>
          </i>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="text">
          <span class="icon">
            <i class="btr" ng-class="{'bt-check': ic.packageInstalled,'bt-ban':!ic.packageInstalled}"></i>
          </span>
          <span ng-class="{'opaque': !ic.packageInstalled}"> Managed Package Installed </span>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <span class="icon">
          <i class="btr" ng-class="{'bt-check': ic.integrated,'bt-ban':!ic.integrated}"></i>
          </span>
          <span ng-class="{'opaque': !ic.integrated}"> Token Access </span>
        </div>
      </div>
      <div class="row switch-integration-context" ng-if="ic.allowIntegrationContextSwitch()">
        <div class="use-sandbox"
             ng-if="!ic.salesforceService.usingSandbox()"
             ng-click="ic.switchToSandbox()">
          Integrate With Sandbox Account
        </div>
        <div class="use-production"
             ng-if="ic.salesforceService.usingSandbox()"
             ng-click="ic.switchToProduction()">
          Integrate With Production Account
        </div>
      </div>
    </div>
  </div>

  <!-- for marketo integration-->
  <div class="card">
    <loading-spinner ng-if="ic.isLoadingMarketo()"></loading-spinner>
    <div class="title">
      <div class="name">Marketo</div>
      <div class="btn-wrap">
        <div class="ellipsis-menu" ng-class="{'disabled': ic.isLoadingMarketo()}">
          <i class="fa fa-ellipsis-v more ellipsis-icon">
            <div class="menu">
              <div class="item"
                   ng-click="ic.clickMappingMarketo()"
              >
                <i class="btr bt-code"><span>Field Mapping</span></i>
              </div>
              <div class="item"
                   ng-click="ic.clickInstance('Production')"
              >
                <i class="btr bt-hard-drive"><span>Production Instance</span></i>
              </div>
              <div class="item"
                   ng-click="ic.clickInstance('Sandbox')"
              >
                <i class="btr bt-flask"><span>Sandbox Instance</span></i>
              </div>

              <div class="item"
                   ng-click="ic.clickMarketoGuide()"
              >
                <i class="btr bt-book"><span>View Guide</span></i>
              </div>
            </div>
          </i>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="row">
        <div class="text">
          <span class="icon">
            <i class="btr"
               ng-class="{'bt-check': ic.marketoService.integrationStatus.marketo,'bt-ban':!ic.marketoService.integrationStatus.marketo}"></i>
          </span>
          <span ng-class="{'opaque': !ic.marketoService.integrationStatus.marketo}"> Production Instance</span>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <span class="icon">
          <i class="btr"
             ng-class="{'bt-check': ic.marketoService.integrationStatus.marketo_sandbox,'bt-ban':!ic.marketoService.integrationStatus.marketo_sandbox}"></i>
          </span>
          <span ng-class="{'opaque': !ic.marketoService.integrationStatus.marketo_sandbox}"> Sandbox Instance </span>
        </div>
      </div>

    </div>
  </div>
</div>
