<!-- Configure mapping between Marketo fields and ours. -->
<div
  class="export-contacts bs-body"
  ng-class="{slideIn:mapMarketoCtrl.showSlide}"
>
  <div class="background-wrapper">
  </div>

  <div class="content">
    <div id="slide-alert">
    </div>

    <div class="button-row">
      <button
        class="btn-cancel"
        ng-click="mapMarketoCtrl.closeSlide()"
      >
        Cancel
      </button>
      <button
        class="btn-primary"
        ng-click="mapMarketoCtrl.submit()"
      >
        Save & Close
      </button>
    </div>

    <div class="title">
      <h1 class="header-one">Field Mapping</h1>
    </div>

    <div class="m-t instructions">
      Map how the fields will sync when you publish audiences to Marketo.

      <div class="bg-warning">
        <i class="btr bt-exclamation-circle bt-2x"></i>
        <div class="sub-wrap">
          We currently don't support mapping to the following Marketo field types:
          Float, Formula, Integer, Currency, Date, and Datetime.
        </div>
      </div>
    </div>

    <div class="form-group m-t">
      <label class="instructions">
        Select Environment
      </label>
      <div class="dropdown" dropdown-select="mapMarketoCtrl.mapObjs"
        dropdown-model="mapMarketoCtrl.selectedIntegration"
        dropdown-item-label="text">
      </div>
    </div>
    <loading-spinner ng-if="mapMarketoCtrl.isLoading"></loading-spinner>

    <div ng-if="!mapMarketoCtrl.integrationStatus">
      <div class="bg-warning">
        <i class="btr bt-exclamation-circle bt-2x"></i>
        <div class="sub-wrap">
          You haven't integrated with marketo yet, please go to integration page and check.
        </div>
      </div>
    </div>
    <form class="form-full big-margin-bottom" ng-if="mapMarketoCtrl.integrationStatus">


      <div>
        <div class="table-crud">
          <div class="table-crud-text" ng-click="mapMarketoCtrl.addAudience()">
            <i class="btr bt-plus-circle"></i> Add Field
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
