<!-- Read-only mapping of marketo fields. This is the view we show when users are publishing. -->
<div
    class="publish-marketo-slide2 bs-body"
    ng-class="{slideIn:vmapCtrl.showSlide}"
>
  <div class="background-wrapper">
  </div>

  <div class="content">
    <div id="slide-alert">
    </div>

    <div class="button-row">
      <button
          class="btn-cancel"
          ng-click="vmapCtrl.closeSlide()"
      >
        Cancel
      </button>

    </div>

    <div class="title">
      <h1 class="header-one">Field Mapping</h1>
    </div>

    <div class="m-t">Map how the fields will sync when you publish audiences to Marketo</div>
    <loading-spinner ng-if="vmapCtrl.isLoading"></loading-spinner>

    <form class="form-full big-margin-bottom">


      <div>


        <table class="table">
          <thead>
          <tr>
            <th class="">
              EverString Field
            </th>
            <th class="align-center">
              Maps To
            </th>
            <th class="align-center">
              Marketo Field
            </th>

          </tr>
          </thead>
          <tbody>
          <tr class="" ng-repeat="(key,val) in vmapCtrl.mapping.standard track by $index"
              >
            <td>
              {{ key }}
            </td>
            <td class="align-center"><i class="btr bt-long-arrow-right bt-2x color-pri1"></i>
            </td>
            <td class="text-center">
              <div class="select2 text-center">
                {{ val }}
              </div>
            </td>
            <td>

            </td>
          </tr>

          <tr class="" ng-repeat="item in vmapCtrl.mappingAudience track by $index">
            <td>
              <div>
                {{ item.key.name }}
              </div>
            </td>
            <td class="align-center"><i class="btr bt-long-arrow-right bt-2x color-pri1"></i>
            </td>
            <td>
              <div class="select2">
                {{ item.value }}
              </div>
            </td>

          </tr>
          </tbody>

        </table>

      </div>
    </form>

  </div>
</div>
