<div
    class="export-contacts marketo-integration bs-body"
    ng-class="{slideIn:insMktCtrl.showSlide}">
  <div class="background-wrapper">
  </div>

  <div class="content">
    <div id="slide-alert">
    </div>

    <form name="formIntegration" class="form-validation" id="submit-form" ng-submit="insMktCtrl.submit()">

      <div class="button-row">
        <button
            class="btn-cancel"
            ng-click="insMktCtrl.closeSlide()">
          Cancel
        </button>
        <button
            class="btn-primary"
            type="submit">
          Save & Close
        </button>
        <button
          class="revoke"
          ng-click="insMktCtrl.revokeIntegration($event)"
          ng-if="insMktCtrl.integration.fromServer"
        >
          Revoke
        </button>
      </div>

      <div class="title">
        <h1 class="header-one">{{ insMktCtrl.objType }} Instance</h1>
      </div>

      <div class="form-big">
        <div class="form-group">
          <label class="instructions">
            Client Id
          </label>
          <input
              class="form-control"
              type="text" required
              ng-model="insMktCtrl.integration.client_id"
          />
        </div>

        <div class="form-group">
          <label class="instructions">
            Client Secret
          </label>
          <input
              class="form-control"
              type="text" required
              ng-model="insMktCtrl.integration.client_secret"
          />
        </div>

        <div class="form-group">
          <label class="instructions">
            Marketo Endpoint URL
          </label>
          <input
              class="form-control"
              type="text" required
              ng-model="insMktCtrl.integration.endpoint"
          />
        </div>
        <input ng-show="false" type="submit" value="submit"/>
      </div>
    </form>

  </div>
</div>
