<div class="onboarding-welcome">
  <div class="main">
      <p class="p1">Welcome to EverString!</p>
      <p class="p2">A new way to see your CRM data.</p>
      <div class="video">
        <!-- Wistia video embed code for an inline-embedded video. Wistia video source:
             https://everstring.wistia.com/medias/sjbah4lnvd -->
        <div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_3smu3cdzks videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
      </div>
      <p class="p3">
          <a href="http://www.everstring.com/product/" target="_blank">Learn more</a>
      </p>
      <button class="console-button" ui-sref="crm.uploadChoice">
          Let's Get Started
      </button>
  </div>
</div>
