<div class="api-instructions">
  <div class="token-management-wrapper">
    <loading-spinner ng-if="rac.tokenLoading"></loading-spinner>
    <div class="token-management">
      <div class="title">
        Your Access Token
      </div>
      <div class="instructions">
        This access token can be used to authorize API requests
      </div>
      <div class="token-row">
        <div class="section-label">
          Access Token
        </div>
        <div class="token">
          {{rac.dispToken()}}
        </div>
        <div class="refresh" ng-click="rac.clickRefresh()">
          <i class="btr bt-sync">
          </i>
        </div>
      </div>
      <div class="end-points-row">
        <div class="section-label">
          End Points
        </div>
        <div class="end-points">
          {{rac.apiUrl}}
        </div>
      </div>
    </div>
  </div>
  <div>
    <a class="documentation-link" href="http://developer.everstring.com" target="_blank">
      API Documentation
    </a>
  </div>
</div>
