<div class="csv-field-selection">
  <div class="dropdown-label">
    Select
  </div>
  <div dropdown-select="cfc.fieldTypes"
       dropdown-model="cfc.currentFieldType"
       dropdown-item-label="name">
  </div>
  <div multi-select
       class="auto"
       ms-data-src="cfc.fieldData"
       ms-data-type="cfc.currentFieldType.key"
       left-filter="true"
       right-filter="true"
       inited="cfc.inited"
       auto-threshold="true">
  </div>
</div>