<div class="marketo-settings bs-body">
  <loading-spinner
    ng-show="!fmc.loadedMapping"
    class="table-loading-spinner"
  >
  </loading-spinner>

  <react-component
    class="marketo-integration-dropdown"
    name="Select"
    props="fmc.marketoIntegrationDropdownProps"
    watch-depth="value"
  >
  </react-component>

  <react-component
    name="Mapping"
    props="fmc.mappingProps"
    watch-depth="value"
    ng-if="fmc.loadedMapping"
  >
  </react-component>

  <div class="save-btn-wrapper">
    <button
      class="save-btn"
      ng-if="fmc.loadedMapping"
      ng-disabled="!fmc.unsavedChanges"
      ng-click="fmc.confirmSaveMapping()"
    >
      <loading-spinner ng-if="fmc.savingMapping">
      </loading-spinner>
      Save
    </button>
  </div>
</div>
