<div class="model-reference">
  <div class="table-wrapper">
    <loading-spinner ng-if="mrc.loading"></loading-spinner>
    <table class="model-reference-table">
        <thead>
        <tr>
          <th>
            Model ID
          </th>
          <th>
            Model Name
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in mrc.completedModels">
          <td>{{model.id}}</td>
          <td>{{model.name}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>