<div class="publish-settings">
  <ul class="nav-tabs">
    <li ng-repeat="tab in psc.tabs"
        ui-sref-active="active"
        ng-if="tab.enabled"
    >
      <a ui-sref="{{tab.sref}}">
        {{tab.text}}
      </a>
    </li>
  </ul>
  <div ui-view class="tab-content">
  </div>
</div>