<div class="real-time-settings">
  <loading-spinner ng-if="rtsc.loading"></loading-spinner>
  <div class="content-wrapper" ng-if="!rtsc.loading">
    <div class="choose-mode">
      <div class="leading-text">
        Apply scoring:
      </div>
      <div class="radios">
        <div class="radio" ng-repeat="rtsMode in rtsc.rtsModeOptions"
                           ng-style="{'z-index': rtsc.rtsModeOptions.length - $index}">
          <label class="ui-checks">
            <input
              type="radio"
              ng-value="rtsMode.value"
              ng-model="rtsc.selectedMode"
              ng-change="rtsc.saveScoringSettings()"
            >
            <i></i>
            <span class="text">{{rtsMode.dispName}}</span>
            <div class="tooltip-window">
              {{rtsMode.tooltip}}
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="choose-objects" ng-class="{'disabled': rtsc.neverScoringSelected()}">
      <div class="leading-text">
        Look for inbound prospects in:
        <span class="warning" ng-if="rtsc.invalidCombination()"> You must select at least one. Changes will not be saved. </span>
      </div>
      <div class="obj-switch-row" ng-repeat="rtsTarget in rtsc.rtsTargetOptions">
        <div class="switch-label">
          {{rtsTarget.dispName}}
        </div>
        <g-switch ng-model="rtsc.selectedTargets[rtsTarget.value]"
                  ng-change="rtsc.saveScoringSettings()"
                  on="on"
                  off="off"
        >
        </g-switch>
      </div>
    </div>
  </div>
</div>