<div class="settings-main">
  <div class="left-nav">
    <div class="section" ng-repeat="(sectionTitle, sectionItems) in sc.menuContent">
      <div class="menu-category">
        <div class="text">
          {{sectionTitle}}
        </div>
      </div>
      <div class="menu-items">
        <div class="menu-item"
             ng-repeat="item in sectionItems"
             ui-sref-active="active"
             ui-sref="{{item.sref}}"
             ng-if="item.enabled"
        >
          <div class="icon-container">
          </div>
          <div class="text">
            {{item.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ui-view class="settings-content">
  </div>
</div>