<div class="sfdc-settings bs-body">
  <ul class="nav-tabs">
    <li
      ng-repeat="tab in fmc.tabs"
      ui-sref-active="active"
    >
      <a ui-sref="{{tab.sref}}">
        {{tab.text}}
      </a>
    </li>

    <hr />
  </ul>

  <div ui-view class="field-mapping-content"></div>
</div>
