<loading-spinner class="table-loading-spinner"
  ng-if="!fmc.loadedMapping"
>
</loading-spinner>
<react-component
  name="Mapping"
  props="fmc.mappingProps"
  ng-if="fmc.loadedMapping"
>
</react-component>
<div class="save-btn-wrapper">
  <button
    class="save-btn"
    ng-if="fmc.loadedMapping"
    ng-disabled="!fmc.unsavedChanges"
    ng-click="fmc.confirmSaveMapping()"
  >
    <loading-spinner ng-if="fmc.savingMapping"></loading-spinner>
    Save {{fmc.getCurrentSFDCObjectStr()}} Mappings
  </button>
</div>
