<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galaxy</title>
    <link rel="stylesheet" href="/stylesheets/galaxy.css">
  </head>

  <body>
    <div class="request-galaxy-cont hide">
      <div class="request-galaxy-panel show">
        <div class="content">
          <div class="title">
            Search the EverString Universe!
          </div>

          <div class="coming-soon">
            Coming Soon!
          </div>

          <div class="description">
            To see your companies through the EverString Galaxy
          </div>

          <div class="labs">
            <div class="title">
              EverString Labs
            </div>
            <a href="mailto:everstringlabs@everstring.com?subject=Galaxy Inquiry"
               target="_blank">
              everstringlabs@everstring.com
            </a>
            <img alt="EverString Labs"
                 class="es-labs-logo"
                 width="115px"
                 src="../images/eLabs-01.png"/>
          </div>
        </div>
      </div>
    </div>

    <div class="galaxy-cont hide">
      <div class="loading">
        Loading...
      </div>
      <div class="galaxy">
      </div>
    </div>

    <script src="/javascripts/shared.js"></script>
    <script src="/javascripts/galaxy.js"></script>
  </body>

  <!-- Templates -->
  <script id="company-info-panel-template" type="text/x-handlebars-template">
    <div class="company-info-panel {{#if alreadyOpened}}show{{/if}}">
      <div class="hide-panel">
        <i class="btr bt-angle-left"></i>
      </div>
      <div class="company-name">
        {{domain}}
      </div>
    </div>
  </script>
</html>
