<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Confirm Email</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3 >b{
            font-weight: bold
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="header">
            <div class="logo">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
    " alt="">
            </div>
            <div class="text">
                Welcome to EverString! <br>
                Please Confirm Your Email
            </div>
        </div>
        <div class="main">
            <p class="hello">Thanks for Signing Up With EverString!! </p>
            <p>You are mere seconds away from using EverString for Prospecting in the Chrome Browser!</p>
            <p>
                To begin using the plugin, please <b>click the button below to confirm your email address</b>.
            </p>
            <p>
                Welcome aboard and let's get to prospecting! <br>
                Team EverString
            </p>
            <div class="footer">
                <a class="button" href="{{confirm_link}}">CLICK TO CONFIRM</a>
            </div>
        </div>
        <hr class="style-six" />
        <p class="bottom-contact">
            Thanks for using EverString!  If you have any questions regarding our product or
                this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
        </p>
    </div>
</body>
</html>
