<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>New Chrome User Alert</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3 >b{
            font-weight: bold
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="header">
            <div class="logo">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
    " alt="">
            </div>
            <div class="text">
                New Chrome User Alert
            </div>
        </div>
        <div class="main">
            <p class="hello">You have a new chrome user registered on your domain.</p>
            <p>
                Just wanted you to know that you have a new registered user.
            </p>
            <p class="p3">
                <b>First Name:</b> <span>{{first_name}}</span><br>
                <b>Last Name:</b> <span>{{last_name}}</span><br>
                <b>Email:</b> <span>{{email}}</span>
            <p>
                Team EverString
            </p>
            <div class="footer">
                <a class="button" href="{{confirm_link}}">LOG IN</a>
            </div>
        </div>
        <hr class="style-six" />
        <p class="bottom-contact">
            Thanks for using EverString!  If you have any questions regarding our product or
                this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
        </p>
    </div>
</body>
</html>
