<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Your Accounts Are Locked and Loaded</title>
    </head>
<body style="background-color:rgb(235, 235, 235); font-family:Helvetica, Arial, Helvetica Neue, sans-serif; font-weight:100; padding:30px 0 85px 0; text-align:center" bgcolor="rgb(235, 235, 235)" align="center">
    <div style="margin:0 auto; text-align:left; width:600px" align="left" width="600">
        <div style="background-image:url(https://es-northstar.s3.amazonaws.com/ui-img/38c1d3ba3cdf11e6a283a45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624764020&amp;Signature=DhUO5xdtEJ0stdK56Nq22hCR92M%3D); height:400px; position:relative" height="400">
            <div style="height:48px; padding-top:30px; text-align:center" height="48" align="center">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624765153&amp;Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="" style="width:240px" width="240">
            </div>
            <div style="color:#fff; font-size:30px; font-weight:200; padding:100px 20px 0 20px; text-align:center" align="center">Good News! Your EverString Account Export is Ready</div>
        </div>
        <div>
            <p style="font-weight:500; line-height:23px; padding:20px 0 0 0">Hello! </p>
            <p style="line-height:23px">We know you have been waiting in anticipation for your EverString account export to be complete. We are excited to tell you that your file is ready to roll. </p>
            <p style="line-height:23px">Now you can upload your CSV to your CRM, marketing automation, ad platform, website personalization platform, and more. Simply use the links below to access each file. </p>
        </div>
        <p style="line-height:23px"><a href="{{company_csv}}" style="color:rgb(81, 191, 221); font-weight:400; text-decoration:none">Company List CSV</a></p>
        <p style="line-height:23px"><a href="{{contact_csv}}" style="color:rgb(81, 191, 221); font-weight:400; text-decoration:none">Contact List CSV</a></p>
        <p style="line-height:23px">Happy account targeting! <br>Team EverString</p>
        <p style="line-height:23px">PS. Do you need some best practices on how to accelerate your predictive leads and accounts through your funnel to become customers? Check out our ebook,
            <a href="http://resources.everstring.com/h/i/207208161-how-to-convert-leads-faster-using-targeted-demand-acceleration" style="color:rgb(81, 191, 221)">How to Convert Leads Faster with Targeted Demand Acceleration</a> , to learn how to build relationships and move your new list of accounts through your sales cycle. </p>
        <p style="line-height:23px">Want more best practices? Be sure to check out our content <a href="http://resources.everstring.com" style="color:rgb(81, 191, 221)">resources center</a>.</p>
        <hr style="border:0; border-bottom:1px solid rgba(255, 255, 255, 0.3); border-top:1px solid rgba(0, 0, 0, 0.1); height:0" height="0">
        <p style="font-size:12px; line-height:23px">
            Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com" style="color:rgb(81, 191, 221)">contact us</a> and we will be happy to help.
        </p>

    </div>
</body>
</html>
