<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Your Accounts Are Locked and Loaded</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3>a{
            color: rgb(81,191,221);
            text-decoration: none;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="header">
            <div class="logo">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
            </div>
            <div class="text">Good News! Your EverString Account Export is Ready</div>
        </div>
        <div class="main">
            <p class="hello">Hello! </p>
            <p>We know you have been waiting in anticipation for your EverString account export to be complete. We are excited to tell you that your file is ready to roll. </p>
            <p>Now you can upload your CSV to your CRM, marketing automation, ad platform, website personalization platform, and more. Simply use the links below to access each file. </p>
        </div>
        <p class="p3"><a href="{{company_csv}}">Company List CSV</a></p>
        <p class="p3"><a href="{{contact_csv}}">Contact List CSV</a></p>
        <p>Happy account targeting! <br>Team EverString</p>
        <p>PS. Do you need some best practices on how to accelerate your predictive leads and accounts through your funnel to become customers? Check out our ebook,
            <a href="http://resources.everstring.com/h/i/207208161-how-to-convert-leads-faster-using-targeted-demand-acceleration">How to Convert Leads Faster with Targeted Demand Acceleration</a> , to learn how to build relationships and move your new list of accounts through your sales cycle. </p>
        <p>Want more best practices? Be sure to check out our content <a href="http://resources.everstring.com">resources center</a>.</p>
        <hr class="style-six" />
        <p class="bottom-contact">
            Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
        </p>

    </div>
</body>
</html>
