<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>We Are So Happy that You Joined!</title>
    </head>
<body style="background-color:rgb(235, 235, 235); font-family:Helvetica, Arial, Helvetica Neue, sans-serif; font-weight:100; padding:30px 0 85px 0; text-align:center" bgcolor="rgb(235, 235, 235)" align="center">
    <div style="margin:0 auto; text-align:left; width:600px" align="left" width="600">
        <div style="background-image:url(https://es-northstar.s3.amazonaws.com/ui-img/38c1d3ba3cdf11e6a283a45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624764020&amp;Signature=DhUO5xdtEJ0stdK56Nq22hCR92M%3D); height:400px; position:relative" height="400">
            <div style="height:48px; padding-top:30px; text-align:center" height="48" align="center">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624765153&amp;Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="" style="width:240px" width="240">
    " alt=""&gt;
            </div>
            <div style="color:#fff; font-size:30px; font-weight:200; padding:100px 20px 0 20px; text-align:center" align="center">Welcome to EverString! Please Confirm Your Email to Start Predicting</div>
        </div>
        <div>
            <p style="font-weight:500; line-height:23px; padding:20px 0 0 0">Hello! </p>
            <p style="line-height:23px">Thanks for signing up with EverString! You are mere seconds away from making marketing magic by leveraging over 20,000 data signals from 11 million B2B accounts.
                <b>Queue epic and inspirational music</b>.  </p>
            <p style="line-height:23px">To begin using the EverString Audience Platform trial, please click the button below to confirm your email address.</p>
            <p style="font-weight:bold; line-height:23px">
                <b>Email Address::</b> <span style="color:rgb(19, 89, 96); font-weight:normal">{{email}}</span><br>
                Password: <span style="color:rgb(19, 89, 96); font-weight:normal">{{password}}</span>
            </p>
<p style="line-height:23px">Welcome aboard and let's get to selling! <br>Team EverString</p>
            <div style="padding:45px 0 45px 0; text-align:center" align="center">
                <a href="{{confirm_link}}" style="background-color:rgb(81, 191, 221); border-radius:30px; color:#fff; font-size:18px; padding:20px 30px; text-decoration:none" bgcolor="rgb(81, 191, 221)">CONFIRM EMAIL</a>
            </div>
            <p style="line-height:23px">PS. We have a lot of amazing resources to get you started on your EverString journey. Be sure to visit our content
                <a href="http://resources.everstring.com" style="color:rgb(81, 191, 221)">resources center</a> and our <a href="http://www.everstring.com/blog" style="color:rgb(81, 191, 221)">blog</a> to learn best practices for how to leverage predictive in your marketing and sales efforts.</p>
        </div>

        <hr style="border:0; border-bottom:1px solid rgba(255, 255, 255, 0.3); border-top:1px solid rgba(0, 0, 0, 0.1); height:0" height="0">
        <p style="font-size:12px; line-height:23px">
            Thanks for using EverString!  If you have any questions regarding our product or
                this email please <a href="mailto:support@everstring.com" style="color:rgb(81, 191, 221)">contact us</a> and we will be happy to help.
        </p>
    </div>
</body>
</html>
