<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>We Are So Happy that You Joined!</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3{
            font-weight: bold
        }
        .p3>span{
            color: rgb(19,89,96);
            font-weight: normal
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="header">
            <div class="logo">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
    " alt="">
            </div>
            <div class="text">Welcome to EverString! Please Confirm Your Email to Start Predicting</div>
        </div>
        <div class="main">
            <p class="hello">Hello! </p>
            <p>Thanks for signing up with EverString! You are mere seconds away from making marketing magic by leveraging over 20,000 data signals from 11 million B2B accounts.
                <b>Queue epic and inspirational music</b>.  </p>
            <p>To begin using the EverString Audience Platform trial, please click the button below to confirm your email address.</p>
            <p class="p3">
                <b>Email Address::</b> <span>{{email}}</span><br>
                Password: <span>{{password}}</span>
            <p>Welcome aboard and let's get to selling! <br>Team EverString</p>
            <div class="footer">
                <a class="button" href="{{confirm_link}}">CONFIRM EMAIL</a>
            </div>
            <p>PS. We have a lot of amazing resources to get you started on your EverString journey. Be sure to visit our content
                <a href="http://resources.everstring.com">resources center</a> and our <a
                        href="http://www.everstring.com/blog">blog</a> to learn best practices for how to leverage predictive in your marketing and sales efforts.</p>
        </div>

        <hr class="style-six" />
        <p class="bottom-contact">
            Thanks for using EverString!  If you have any questions regarding our product or
                this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
        </p>
    </div>
</body>
</html>
