<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>New EverString Password</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3{
            font-weight: bold
        }
        .p3>span{
            color: rgb(19,89,96);
            font-weight: normal
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="header">
            <div class="logo">
                <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
            </div>
            <div class="text">New EverString Password</div>
        </div>
        <div class="main">
            <p>Forgot your password? It's ok, here's a new one!</p>
            <p class="p3">
                Your new password is <span>{{password}}</span></p>
            <p>Please use this next time you log in. You can change your password at any time in your user preferences.</p>
            <div class="footer">
                <a class="button" href="{{login_link}}">LOG IN</a>
            </div>
        </div>
        <hr class="style-six" />
        <p class="bottom-contact">
            Thanks for using EverString!  If you have any questions regarding our product or
                this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
        </p>
    </div>
</body>
</html>
