<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Publish Complete</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .p2{
          padding: 20px 0 0 0;
      }
      .p2>span{
          font-weight: 500;
      }
      .p3>a{
          color: rgb(81,191,221);
          text-decoration: none;
          font-weight: 400;
      }
      .p4{
          padding-bottom: 10px;
      }
      .p5 {
        padding: 10px 0 0 0;
      }
      .download {
        color: rgb(81,191,221);
        text-decoration: none;
        font-weight: 400;
      }
      .quota a {
        color: rgb(81,191,221);
      }
      .hide {
        display: none;
      }
      .underline {
        text-decoration: underline;
      }
    </style>
</head>
<body>
    <div class="row">
    <div class="logo">
        <img src="https://es-northstar.s3.amazonaws.com/ui-img/93eb39b510ca11e68f77acbc328c7bbb?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1619917294&Signature=lDjIko2tuhz46x0LXj5EbKd6dxY%3D" alt="">
    </div>
    <div class="header">
        <div class="text">Publish to Salesforce Complete</div>
    </div>
    <div class="main">
        <p class="p2">
            <span>Hello! </span>Your data has published to Salesforce successfully.
        </p>
        <h3>Summary</h3>
        <p>
          Date and time of publish: <strong>{{date_time_str}}</strong>
        </p>
        <div>
          Number of companies that you selected to publish:
          <strong>{{num_selected_companies}}</strong>
        </div>
        <p>
          Number of contacts per company that you selected to publish:
          <strong>{{selected_contacts_per_company}} </strong>
        </p>
        <div class="dedupe">
          <div class="new-comps" style="display: {{new_comp_display}}">
            <h4 class="underline">Not In CRM</h4>
            <div style="display: {{not_in_ac_display}}">
              Number of companies not in Accounts & Contacts:
              <strong>{{num_not_in_ac}}</strong>
            </div>
            <div style="display: {{not_in_leads_display}}">
              Number of companies not in Leads:
              <strong>{{num_not_in_leads}}</strong>
            </div>
            <div>
              Number of companies published to {{companies_publish_obj}}:
              <strong>{{num_companies_new}}</strong>
            </div>
            <p style="display: {{contact_display}}">
              Number of contacts published to {{contacts_publish_obj_from_new}}:
              <strong> {{num_contacts_new}} </strong>
            </p>
          </div>
          <div class="existing-comps" style="display: {{existing_comp_display}}">
            <h4 class="underline">In CRM</h4>
            <div style="display: {{in_ac_display}}">
              Number of companies found and published in Accounts & Contacts:
              <strong>{{num_in_ac}}</strong>
            </div>
            <div style="display: {{in_leads_display}}">
              Number of companies found and published in Leads:
              <strong>{{num_in_leads}}</strong>
            </div>
            <p style="display: {{contact_display}}">
              Number of contacts published to {{contacts_publish_obj_from_existing}}:
              <strong> {{num_contacts_existing}} </strong>
            </p>
          </div>
        </div>
        <br>
        <br>
        <div class="quota" style="display: {{quota_display}}">
          <strong>Note: {{quota_exceeded_msg}} </strong> Would you like to raise your quota now?
          <a href="mailto:support@everstring.com?subject=Request%20for%20raising%20quota%20">Contact us.</a>
        </div>
    </div>
    <hr class="style-six" />
    <p class="bottom-contact">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
    </p>

    </div>
</body>
</html>
