<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Publish Complete</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .p2{
          padding: 10px 0 0 0;
      }
      .p2>span{
          font-weight: 500;
      }
      .p3>a{
          color: rgb(81,191,221);
          text-decoration: none;
          font-weight: 400;
      }
      .p4{
          padding-bottom: 10px;
      }
      .download {
        color: rgb(81,191,221);
        text-decoration: none;
        font-weight: 400;
      }
      .quota a {
        color: rgb(81,191,221);
      }
      .hide {
        display: none;
      }
      .underline {
        text-decoration: underline;
      }
    </style>
</head>
<body>
    <div class="row">
    <div class="logo">
        <img src="https://es-northstar.s3.amazonaws.com/ui-img/93eb39b510ca11e68f77acbc328c7bbb?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1619917294&Signature=lDjIko2tuhz46x0LXj5EbKd6dxY%3D" alt="">
    </div>
    <div class="header">
        <div class="text">Publish to CSV Complete</div>
    </div>
    <div class="main">
        <p class="p2">
            <span>Hello! </span>Your data has published to CSV successfully.
        </p>
        <h3 class="underline">Summary</h3>
        <p>
          Date and time of publish: <strong>{{date_time_str}}</strong>
        </p>
        <div class="no-dedupe">
          <div>
            Number of companies that you selected to publish: <strong>{{num_selected_companies}}</strong>
          </div>
          <div>
            Number of companies that were published: <strong>{{num_companies_published}}</strong>
            <a class="download" href="{{company_csv}}">Download</a>
          </div>
          {{contacts_block}}
          <!-- <p>
            <div>
              Number of contacts per company that you selected to publish: <strong>{{selected_contacts_per_company}} </strong>
            </div>
            <div>
              Number of contacts that were published: <strong> {{num_contacts_published}} </strong>
              <a href="{{contact_csv}}" style="color:rgb(81, 191, 221); font-weight:400; text-decoration:none">Download</a>
            </div>
            <br>
          </p> -->
        </div>
        {{quota_block}}
        <!-- <div>
          <strong>Note: {{quota_exceeded_msg}} </strong> Would you like to raise your quota now?
          <a href="mailto:support@everstring.com?subject=Request%20for%20raising%20quota%20" style="color:rgb(81, 191, 221)">Contact us.</a>
        </div> -->
    </div>
    <hr class="style-six" />
    <p class="bottom-contact">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
    </p>

    </div>
</body>
</html>
