<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Publish Complete</title>
    </head>
<body style="background-color:rgb(235, 235, 235); font-family:Helvetica, Arial, Helvetica Neue, sans-serif; font-weight:100; padding:30px 0 85px 0; text-align:center" bgcolor="rgb(235, 235, 235)" align="center">
    <div style="margin:0 auto; text-align:left; width:600px" align="left" width="600">
    <div>
        <img src="https://es-northstar.s3.amazonaws.com/ui-img/93eb39b510ca11e68f77acbc328c7bbb?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1619917294&amp;Signature=lDjIko2tuhz46x0LXj5EbKd6dxY%3D" alt="">
    </div>
    <div style="background-image:url(https://es-northstar.s3.amazonaws.com/ui-img/38c1d3ba3cdf11e6a283a45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624764020&amp;Signature=DhUO5xdtEJ0stdK56Nq22hCR92M%3D); height:400px; position:relative" height="400">
        <div style="color:#fff; font-size:30px; font-weight:200; padding:100px 20px 0 20px; text-align:center" align="center">Publish to CSV Complete</div>
    </div>
    <div>
        <p style="line-height:23px; padding:10px 0 0 0">
            <span style="font-weight:500">Hello! </span>Your data has published to CSV successfully.
        </p>
        <h3 style="text-decoration:underline">Summary</h3>
        <p style="line-height:23px">
          Date and time of publish: <strong>{{date_time_str}}</strong>
        </p>
        <div>
          <div>
            Number of companies that you selected to publish: <strong>{{num_selected_companies}}</strong>
          </div>
          <div>
            Number of companies that were published: <strong>{{num_companies_published}}</strong>
            <a href="{{company_csv}}" style="color:rgb(81, 191, 221); font-weight:400; text-decoration:none">Download</a>
          </div>
          {{contacts_block}}
          <!&mdash; <p>
            <div>
              Number of contacts per company that you selected to publish: <strong>{{selected_contacts_per_company}} </strong>
            </div>
            <div>
              Number of contacts that were published: <strong> {{num_contacts_published}} </strong>
              <a href="{{contact_csv}}" style="color:rgb(81, 191, 221); font-weight:400; text-decoration:none">Download</a>
            </div>
            <br>
          </p> &mdash;>
        </div>
        {{quota_block}}
        <!&mdash; <div>
          <strong>Note: {{quota_exceeded_msg}} </strong> Would you like to raise your quota now?
          <a href="mailto:support@everstring.com?subject=Request%20for%20raising%20quota%20" style="color:rgb(81, 191, 221)">Contact us.</a>
        </div> &mdash;>
    </div>
    <hr style="border:0; border-bottom:1px solid rgba(255, 255, 255, 0.3); border-top:1px solid rgba(0, 0, 0, 0.1); height:0" height="0">
    <p style="font-size:12px; line-height:23px">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com" style="color:rgb(81, 191, 221)">contact us</a> and we will be happy to help.
    </p>

    </div>
</body>
</html>
