<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Your Database Just Got Bigger</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3>span{
            color: rgb(19,89,96);
            font-weight: normal
        }
    </style>
</head>
<body>
<div class="row">
    <div class="header">
        <div class="logo">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
" alt="">
        </div>
        <div class="text">Tons of New Accounts Were Just Published to Salesforce from EverString</div>
    </div>
    <div class="main">
        <p class="hello">Hello!</p>
        <p>There is nothing more exciting than opening up your email to find that a ton of new accounts and contacts have been published to your CRM. So much goodness for your sales and marketing teams!</p>
        <p>Here is a summary of what EverString published to the Lead Object in Salesforce:</p>
        <p>And don't panic, we deduped your list so that you only got net-new accounts and contacts. </p>
        <p>Hello, is it leads you're looking for? <br>Team EverString </p>
        <div class="footer">
            <a class="button" href="{{confirm_link}}">SIGN IN TO YOUR ACCOUNT</a>
        </div>
        <p>PS. Are you ready to learn more about how to make sure that you are driving the most value from predictive marketing? Check out our <a
                href="http://resources.everstring.com">resources center</a> to learn more!</p>
    </div>
    <hr class="style-six" />
    <p class="bottom-contact">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
    </p>

</div>
</body>
</html>
