<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Help Me Obi Wan!</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="row">
    <div class="header">
        <div class="logo">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
" alt="">
        </div>
        <div class="text">We Received Your Request. Help is On the Way!</div>
    </div>
    <div class="main">
        <p class="hello">Hello!</p>
        <p>Thank you for contacting the EverString Customer Success Team. Don't worry, we have received your request and are working on it immediately--we just need to access our R2 unit. </p>
        <p>
            We have opened a case for you. Please save this number.
        </p>
        <p><b>Case #:</b> {{case_number}}</p>
        <p>
            We had to put a Star Wars reference in here somewhere <br> Team EverString
            <br>
            <br>
            PS. Have you checked out our educational resources section? There may be a content asset that could answer one of your questions! Be sure to take a look at the
            <a href="http://resources.everstring.com">EverString Resources Center</a>.
            <br>
        </p>
    </div>
    <hr class="style-six" />
    <p class="bottom-contact">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
    </p>
</div>
</body>
</html>
