<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Customer Success Alert</title>
    </head>
<body style="background-color:rgb(235, 235, 235); font-family:Helvetica, Arial, Helvetica Neue, sans-serif; font-weight:100; padding:30px 0 85px 0; text-align:center" bgcolor="rgb(235, 235, 235)" align="center">
<div style="margin:0 auto; text-align:left; width:600px" align="left" width="600">
    <div style="background-image:url(https://es-northstar.s3.amazonaws.com/ui-img/38c1d3ba3cdf11e6a283a45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624764020&amp;Signature=DhUO5xdtEJ0stdK56Nq22hCR92M%3D); height:400px; position:relative" height="400">
        <div style="height:48px; padding-top:30px; text-align:center" height="48" align="center">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624765153&amp;Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="" style="width:240px" width="240">
" alt=""&gt;
        </div>
        <div style="color:#fff; font-size:30px; font-weight:200; padding:100px 20px 0 20px; text-align:center" align="center">Customer Success Alert</div>
    </div>
    <div>
        <p style="font-weight:500; line-height:23px; padding:20px 0 0 0">Hello!</p>
        <p style="line-height:23px">You have a new request. Please contact the customer using the information below.</p>
        <p style="line-height:23px"><b>Case #:</b> {{ case_number }}</p>
        <p style="line-height:23px"><b>Name:</b>Name {{ name }}</p>
        <p style="line-height:23px"><b>Phone:</b> {{ phone }}</p>
        <p style="line-height:23px"><b>Email:</b> {{ email }}</p>
    </div>
</div>
</body>
</html>
