<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Customer Success Alert</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="row">
    <div class="header">
        <div class="logo">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
" alt="">
        </div>
        <div class="text">Customer Success Alert</div>
    </div>
    <div class="main">
        <p class="hello">Hello!</p>
        <p>You have a new request. Please contact the customer using the information below.</p>
        <p><b>Case #:</b> {{ case_number }}</p>
        <p><b>Name:</b>Name {{ name }}</p>
        <p><b>Phone:</b> {{ phone }}</p>
        <p><b>Email:</b> {{ email }}</p>
    </div>
</div>
</body>
</html>
