<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Your EverString Segment Has Landed</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="row">
    <div class="header">
        <div class="logo">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
" alt="">
        </div>
        <div class="text">Get Excited! Your Predictive Segment is Here</div>
    </div>
    <div class="main">
        <p class="hello">Hello!</p>
        <p>Now is the moment you have been waiting for. </p>
        <p>You uploaded your seed list, carefully chose your filters, and have been staring at the computer waiting for your segment to arrive so you can take a peek at your glorious list of accounts.</p>
        <p>Well, we are excited to tell you that your Predictive Segment is ready to be viewed and we can't wait for you to see what is inside. </p>
        <p>Just click the button below to view your segment filled with predictive goodness.</p>
        <p>#segmentsonfleek <br>Team EverString</p>
        <div class="footer">
            <a class="button" href="{{redirect_url}}">VIEW MY PREDICTIVE SEGMENT</a>
        </div>
        <p>PS. Are you ready to rock and roll with your segment? Check out our step-by-step ebook,
            <a href="http://resources.everstring.com/h/i/263856000-7-steps-to-take-your-marketing-from-grody-to-yaaas-with-predictive-marketing">7 Steps to Take Your Marketing From Grody to #YAAAS with Predictive Marketing</a>
            to see all of the ways you can put your segment to work.</p>
    </div>
    <hr class="style-six" />
    <p class="bottom-contact">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
    </p>
</div>
</body>
</html>
