<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Segments + Salesforce = A Sales and Marketing Match</title>
    </head>
<body style="background-color:rgb(235, 235, 235); font-family:Helvetica, Arial, Helvetica Neue, sans-serif; font-weight:100; padding:30px 0 85px 0; text-align:center" bgcolor="rgb(235, 235, 235)" align="center">
<div style="margin:0 auto; text-align:left; width:600px" align="left" width="600">
    <div style="background-image:url(https://es-northstar.s3.amazonaws.com/ui-img/38c1d3ba3cdf11e6a283a45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624764020&amp;Signature=DhUO5xdtEJ0stdK56Nq22hCR92M%3D); height:400px; position:relative" height="400">
        <div style="height:48px; padding-top:30px; text-align:center" height="48" align="center">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&amp;Expires=1624765153&amp;Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="" style="width:240px" width="240">
" alt=""&gt;
        </div>
        <div style="color:#fff; font-size:30px; font-weight:200; padding:100px 20px 0 20px; text-align:center" align="center">Woot! Your EverString Segment Has Successfully Published to Salesforce</div>
    </div>
    <div>
        <p style="font-weight:500; line-height:23px; padding:20px 0 0 0">Hello!</p>
        <p style="line-height:23px">We are excited to let you know that your EverString Predictive Segment has successfully published to Salesforce and is ready for use!</p>
        <p style="line-height:23px">Now let's close some deals! <br> Team EverString</p>
        <div style="padding:45px 0 45px 0; text-align:center" align="center">
            <a href="{{confirm_link}}" style="background-color:rgb(81, 191, 221); border-radius:30px; color:#fff; font-size:18px; padding:20px 30px; text-decoration:none" bgcolor="rgb(81, 191, 221)">SIGN IN TO YOUR ACCOUNT</a>
        </div>
        <p style="line-height:23px">PS. Interested in learning more about what you can do with a Predictive Segment? Be sure to check out <a href="http://resources.everstring.com/h/i/263856000-7-steps-to-take-your-marketing-from-grody-to-yaaas-with-predictive-marketing" style="color:rgb(81, 191, 221)">7 Steps to Take Your Marketing from Grody to #YAAS</a> with Predictive Marketing to learn how predictive can amp up your marketing tactics.</p>
    </div>
    <hr style="border:0; border-bottom:1px solid rgba(255, 255, 255, 0.3); border-top:1px solid rgba(0, 0, 0, 0.1); height:0" height="0">
    <p style="font-size:12px; line-height:23px">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com" style="color:rgb(81, 191, 221)">contact us</a> and we will be happy to help.
    </p>

</div>
</body>
</html>
