<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Segments + Salesforce = A Sales and Marketing Match</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .p3>span{
            color: rgb(19,89,96);
            font-weight: normal
        }
        .p4{
            padding-bottom: 10px
        }
    </style>
</head>
<body>
<div class="row">
    <div class="header">
        <div class="logo">
            <img src="https://es-northstar.s3.amazonaws.com/ui-img/df7267b83ce111e6837da45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624765153&Signature=fbSb9w1gEMLE6Mx%2FQCTy20GeR6A%3D" alt="">
" alt="">
        </div>
        <div class="text">Woot! Your EverString Segment Has Successfully Published to Salesforce</div>
    </div>
    <div class="main">
        <p class="hello">Hello!</p>
        <p>We are excited to let you know that your EverString Predictive Segment has successfully published to Salesforce and is ready for use!</p>
        <p>Now let's close some deals! <br> Team EverString</p>
        <div class="footer">
            <a class="button" href="{{confirm_link}}">SIGN IN TO YOUR ACCOUNT</a>
        </div>
        <p>PS. Interested in learning more about what you can do with a Predictive Segment? Be sure to check out <a
                href="http://resources.everstring.com/h/i/263856000-7-steps-to-take-your-marketing-from-grody-to-yaaas-with-predictive-marketing">7 Steps to Take Your Marketing from Grody to #YAAS</a> with Predictive Marketing to learn how predictive can amp up your marketing tactics.</p>
    </div>
    <hr class="style-six" />
    <p class="bottom-contact">
        Thanks for using EverString!  If you have any questions regarding our product or
            this email please <a href="mailto:support@everstring.com">contact us</a> and we will be happy to help.
    </p>

</div>
</body>
</html>
