body {
    background-color: rgb(235,235,235);
    text-align: center;
    padding: 30px 0 85px 0;
    font-family: Helvetica, Arial, Helvetica Neue, sans-serif;
    font-weight: 100
}
a {
    color: rgb(81,191,221)
}
.row{
    width: 600px;
    margin: 0 auto;
    text-align: left;
}
.row p{
    line-height: 23px;
}
.header{
    position: relative;
    background-image: url(https://es-northstar.s3.amazonaws.com/ui-img/38c1d3ba3cdf11e6a283a45e60dcac17?AWSAccessKeyId=AKIAJ2Y7OQAIUNY6YW4Q&Expires=1624764020&Signature=DhUO5xdtEJ0stdK56Nq22hCR92M%3D);
    height: 400px;
}
.header .logo{
    text-align: center;
    padding-top: 30px;
    height: 48px;
}
.header .logo img {
    width: 240px;
}
.header .text{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 200;
    padding: 100px 20px 0 20px
}
.main .hello{
    padding: 20px 0 0 0;
    font-weight: 500;
}
.footer{
    text-align: center;
    padding: 45px 0 45px 0;
}
.footer .button{
    background-color: rgb(81,191,221);
    color: #ffffff;
    font-size: 18px;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px;
}

hr.style-six {
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bottom-contact{
    font-size: 12px
}
.bottom-contact a{
    color: rgb(81,191,221);
}