@import '../../modules/header-nav';
@import '../../modules/company-card';

@mixin audience-company() {
  // These `height` and `margin` rules are to give the content the height of the remainder
  // of the page.
  height: calc(100vh - #{$header-height});
  padding: 2.5rem $audience-margin 0 $audience-margin;

  display: flex;
  flex-flow: column nowrap;
  opacity: 1 !important;

  > .console-top {
    display: flex;
    justify-content: space-between;

    > h1 {
      @include header-one();
    }
    > .total-counts {
      align-self: stretch;
      background-color: white;
      padding: .8rem .8rem;
      .count-card {
        display: inline-block;
        text-align: center;
        padding: 0px 1rem;
        position: relative;
        .count-title {
          @include data-label();
          margin: .5rem;
        }
        .total-number, .filtered-number{
          @include data-value();
          font-weight: 800;
          margin-bottom: .1rem;
          &.filtered-number {
            color: rgb(52, 186, 220);
          }
          > .count-updated-ts {
            position: relative;
            bottom: .3rem;
            font-size: 1rem;
            color: $help-icon-color;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
            @include tooltip-target($direction: right, $tooltip-width: 20rem);
          }
        }
      }
    }
  }

  .table-top {
    display: flex;
    border-bottom: .1rem solid $gray-2;
    justify-content: space-between;

    .table-crud {
      @include table-crud();
      align-self: flex-end;
      margin-top: 1rem;
      padding-bottom: 1rem;
      >.table-crud-text, >.table-search {
        align-self: flex-start;
      }
      > .sort-by {
        position: relative;
        @include hover-dropdown-parent('sort-options-dd');
        .current-sort {
          color: black;
        }
        .bt-angle-down {
          font-size: 1.4rem;
          position: relative;
          left: .6rem;
          top: -.2rem;
        }
        .sort-options-dd {
          @include dropdown();
          display: none;
          // undo text-transform: uppercase from table-crud() mixin
          text-transform: none;
        }
        &:hover {
          .sort-options-dd {
            display: block;
          }
        }
      }

      .download-list {
        position: relative;
        .loading-spinner-directive {
          background-color: transparent;
        }
      }

      .fit-model {
        position: relative;
        .model-name {
          display: inline-block;
          vertical-align: bottom;
          color: black;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 12rem;
        }
        .bt-angle-down {
          font-size: 1.4rem;
          position: relative;
          left: .6rem;
          top: -.2rem;
        }
        .fit-model-dropdown {
          @include dropdown();
          display: none;
          // undo text-transform: uppercase from table-crud() mixin
          text-transform: none;

          .status {
            display: inline-block;
            margin-left: .5rem;
          }
        }
        &:hover {
          .fit-model-dropdown {
            display: block;
          }
        }
      }

      .publish {
        .publish-dropdown {
          display: none;
          @include dropdown();
          text-transform: none;
        }
        &:hover {
          .publish-dropdown {
            display: block;
          }
        }
      }
    }
  }

  .results-display-area {
    flex: 1 1 auto;
    position: relative;

    &.hide-overflow {
      overflow: hidden;
    }

    .table-wrapper {
      @include abs-full-screen();
      display: flex;
      flex-direction: column;
      .table-scroll {
        overflow-y: auto;
        .companies-table {
          @include table();
          > thead > tr {
            border-top: none;
          }
        }
      }
      pagination {
        @include pagination();
        position: relative;
        right: 3rem;
      }
    }

    .cards-cont {
      @include company-cards();
    }
  }
}

.audience-company {
  @include audience-company();
}

.scroll-to-top {
  @include scroll-to-top-button();
  position: fixed;
  left: 2rem;
  bottom: 2rem;
}
