@import '../../library/library';
@import '../../modules/modules';


$audience-gradient: linear-gradient(rgb(36, 48, 102), rgb(111, 126, 204));
$enriched-list-gradient: linear-gradient(rgb(93, 38, 124), rgb(148, 67, 191));
$exclusion-list-gradient: linear-gradient(rgb(199, 49, 68), rgb(230, 151, 44));

$card-width: 30rem;
$card-height: 25rem;

// Ellipsis menu height
$menu-height: $card-height + 2rem;

.audience-console {
  margin: $audience-margin;
  opacity: 1 !important;
  transition: opacity 0.1s linear;
  > .table-crud {
    @include table-crud();
    margin-top: 1rem;
    border-bottom: .1rem solid $gray-2;
    .table-crud-text, .table-search {
      align-self: flex-start;
      &.table-crud-text {
        @include hover-dropdown-parent('create-audience-dd');
        @include hover-dropdown-parent('create-exclusion-dd');
      }
    }
  }
}

@mixin card-styles {
  width: $card-width;
  height: $card-height;
  padding-top: 4rem;
  color: white;
  background: $audience-gradient;
  text-align: center;
  box-shadow: .2rem .2rem .2rem $gray-2;
  &.enriched-list {
    background: $enriched-list-gradient;
  }
  &.exclusion-list {
    // !important-ing this because audience cards with class .exclusion-list might also have the .enriched-list class
    background: $exclusion-list-gradient !important;
  }
}

.cards-wrapper {
  position: relative;
  min-height: 58rem;
  // Setting this z-index to prevent the create dropdown from being covered by audience/exclusion list cards
  z-index: 1;
}

.empty-audience-card {
  position: relative;
  display: inline-block;
  margin-top: 1.8rem;
  @include card-styles();

  .show-video {
    top: 1rem;
    right: 1rem;
    position: absolute;
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
    i:before {
      width: 2rem;
    }
  }

  .title {
    font-size: 2.4rem;
    font-weight: 100;
  }

  .description {
    line-height: 1.2;
    margin-top: 3rem;
    display: inline-block;
    font-weight: 100;
    width: 21rem;
  }

  .create-audience {
    margin: auto;
    width: 21rem;
    margin-top: 3rem;
    font-weight: 200;
    position: relative;

    .button {
      height: 4rem;
      line-height: 2rem;
      position: relative;
      font-weight: 200;
      .text {
        padding-left: 2.5rem;
      }
      .bt-plus-circle {
        position: absolute;
        top: .5rem;
        left: 1.7rem;
        font-size: 2.4rem;
      }
      @include button(primary);
      @include hover-dropdown-parent();
      .dropdown {
        top: 3.4rem;
        left: 0px;
      }
    }

    .actual-button i.bt-plus-circle {
      font-size: 2.4rem;
      width: 2.4rem;
      position: absolute;
      top: .3rem;
      left: 2rem;
    }
  }

}


.audience-cards {
  display: flex;
  flex-flow: row wrap;

  // Enough padding for the last row's cards not to extend the height of container.
  padding-bottom: $menu-height;
}

.audience-card {
  @include card-styles();
  margin-top: 1.8rem;
  margin-right: 1.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  position: relative;
  .title {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: .4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .shared-ribbon {
    position: absolute;
    right: 0px;
    top: 9rem;
    width: 6rem;
    height: 2.5rem;
    color: white;
    background-color: lighten($primary-1, 10%);
    box-shadow: -.1rem .1rem .1rem rgba(black, 0.3);
    padding: .7rem .2rem .3rem .2rem;
    font-size: 1.4rem;
  }

  .metadata {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 3rem;
    max-height: 1rem;
  }

  .company-info-row {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;

    .company-count, .exported-count {
      text-align: center;
      position: relative;
      > i {
        font-size: 2.5rem;
        width: 100%;
      }

      >.header {
        margin-top: .8rem;
        margin-bottom: .7rem;
        font-weight: 100;
      }

      > .value {
        margin-top: .4rem;
        font-size: 1.5em;
        position: relative;
        > .count-updated-ts {
          &:hover {
            color: $hover-color !important;
          }
          position: absolute;
          font-size: 1rem;
          bottom: .5rem;
          left: .5rem;
          color: white !important;
          @include tooltip-target($direction: right, $tooltip-width: 20rem);
        }
      }


      $space-between: 5rem;
      &.company-count {
        margin-right: $space-between / 2;
        &.for-exclusion {
          margin-right: 0;
        }
        &:hover {
          color: $hover-color;
          cursor: pointer;
          > .value {
            text-decoration: underline;
          }
        }
      }
      &.exported-count {
        margin-left: $space-between / 2;
      }
    }
  }

  .bt-ellipsis-h {
    cursor: pointer;
    position: relative;
    padding: 0 .5rem 2rem .5rem;
    &:hover {
      .ellipsis-menu {
        display: flex;
        flex-direction: column;
      }
    }

    .ellipsis-menu {
      display: none;
      z-index: 1;
      position: absolute;
      background: white;
      color: black;
      top: 3.8rem;
      left: -13.6rem;

      width: $card-width;
      height: auto;
      box-shadow: .1rem .1rem .1rem $gray-3;
    }

    a {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: left;
      text-indent: 1rem;
      vertical-align: middle;
      min-height: 4rem;
      color: black;

      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover{
        background-color: $call-to-action-color;
        color: #ffffff;
      }
    }

    i {
      position: relative;
    }

    span {
      position: relative;
      left: 1rem;
    }
  }
}
