@import '../../library/library';
@import '../../modules/modules';

.audience-model-insights {
  opacity: 1 !important;
  .table-crud {
    @include table-crud();
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
    > .table-crud-text {
      &.model {
        .model-list {
          @include dropdown();
          display: none;
          // undo text-transform: uppercase from table-crud() mixin
          text-transform: none;
        }
        > .bt-angle-down {
          font-size: 16px;
          margin: 0 0 0 5px;
        }
        .selected-model {
          color: black;
        }
        &:hover {
          > .model-list {
            display: block;
          }
        }
      }
    }
  }
  > .main {
    display: flex;
    margin: 0 -10px 20px -10px;
    > .item {
      margin: 15px 10px 0 10px;
      > .title {
        font-size: 18px;
        color: $basically-black;
        margin-bottom: 15px;
        > a {
          color: $call-to-action-color;
          margin-left: 15px;
          font-size: 16px;
          &:hover {
            color: $hover-color;
          }
          i {
            vertical-align: top;
            &:before {
              vertical-align: 0;
            }
            @include tooltip-target($direction: right, $tooltip-width: auto);
            > .tooltip-window {
              min-width: 140px;
              padding: 10px;
              transition-delay: 0.25s;
            }
            &:hover {
              > .tooltip-window {
                transition: opacity 0s linear;
              }
            }
          }
        }
        > .spin-wrapper {
          display: inline;
          color: $primary-1;
          margin-left: 15px;
          font-size: 16px;
          .bt-spinner:before {
            vertical-align: 0;
          }
        }
      }
      &.left-side {
        flex: 4 1 44%;
        > .keyword-cloud-container {
          position: relative;
          height: 594px;
          > .directive-word-cloud {
            height: 594px;
            background-color: white;
            overflow: hidden;
            /*
            remove the 4px blank between svg and parent .left-side
            http://stackoverflow.com/questions/6533043/how-to-remove-the-space-between-the-svg-and-the-td-in-html5
            */
            svg {
              display: block;
            }
          }
          > .new-window {
            color: $call-to-action-color;
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 12px;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
      &.right-side {
        flex: 5 1 55%;
        > .content {
          position: relative;
          width: 100%;
          height: 95%;
          > .insight-title-panes {
            > title-pane {
              @include title-pane();
              > .title-pane {
                margin-bottom: 10px;
                &.active {
                  margin-bottom: 0;
                }
              }
              > .pane-section > [ng-transclude] {
                background-color: white;
                > .item {
                  margin: 27px 12px 46px 12px;
                  flex: 1;
                  > .title {
                    border-bottom: 1px solid $gray-2;
                    padding-bottom: 10px;
                    color: $dark-gray;
                    font-weight: 400;
                    font-size: 14px;
                  }
                  > .list {
                    font-size: 10px;
                    color: $dark-gray;
                    > .item {
                      display: flex;
                      align-items: center;
                      margin-top: 10px;
                      height: 20px;
                      > .name {
                        width: 50%;
                        padding-right: 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                      > .color-bar {
                        @keyframes bar-growth {
                          0% {width: 0; }
                        }
                        animation: bar-growth 2s ease-in-out;
                        max-width: 45%;
                        overflow: hidden;
                        height: 20px;
                        background-color: #0095f1;
                        &.bottom {
                          background-color: #fda842;
                        }
                      }
                      > .text {
                        padding: 0 0 0 5px;
                        line-height: 20px;
                        max-width: 5%;
                      }
                    }
                  }
                }
              }
              &:last-child {
                > .pane-section > [ng-transclude] {
                  > .item {
                    margin: 27px 12px 36px 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}