@import '../../library/library';
@import '../../modules/modules';
@import "../../modules/company-card";

$named-section-padding: 1rem;

.find-audience, .enrich-audience {
  height: calc(100vh - #{$header-height});
  // make our left sidebar extend all the way to
  // the top
  display: flex;
  opacity: 1 !important;
  > .left-sidebar {
    // sidebar closed styles
    &:not(.open) {
      width: $sidebar-closed-width;
      // We only want to show the first navbar section's .section-title element
      // when the sidebar is closed.
      > .navbar {
        > :not(:first-child) {
          display: none;
        }
        > :first-child {
          > :not(.section-title) {
            display: none;
          }
        }
      }
    }
    background-color: $sidebar-2;
    border-right: .1rem solid $gray-2;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $header-z-index - 1;
    .section-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 100;
      background-color: $sidebar-1;
      padding-left: $named-section-padding;
      > .text {
        display: none;
        color: $gray-2;
        padding: 1.7rem .5rem;
      }
      > .fa-info-circle {
        display: none;
        color: $gray-2;
        font-size: 1.4rem;
        cursor: pointer;
        &:before {
          vertical-align: 0;
        }
        @include tooltip-target($direction: down, $tooltip-width: 20rem);
        // z-index: 2 to prevent the currently selected model's name text
        // from showing through this tooltip window in the score list flow
        z-index: 2;
      }
      > .toggle-arrow {
        cursor: pointer;
        color: $gray-2;
        background-color: $sidebar-1;
        width: $sidebar-closed-width;
        text-align: center;
        padding: 1.7rem 0 1.7rem 1rem;
        .bt-caret-left {
          display: none;
        }
        &:hover {
          color: $hover-color;
        }
      }
    }
    // sidebar open styles
    &.open {
      min-width: $sidebar-opened-width;
      .section-title {
        justify-content: space-between;
        > .text {
          display: block;
        }
        > .fa-info-circle {
          display: block;
        }
        .bt-caret-right {
          display: none;
        }
        .bt-caret-left {
          display: block;
          position: relative;
          right: -2px;
        }
      }
      > .navbar {
        // Different sections in our sidebar.
        > .filter-items-section {
          @include vertical-menu();
        }
        > .scoring-model-section,
        > .exclusion-list-section {
          > .crm-fit,
          > .exclusion-list {
            display: flex;
            align-items: center;
            border-top: .1rem solid lighten($sidebar-2, 10%);
            border-bottom: .1rem solid lighten($sidebar-2, 10%);
            padding: 0px 1rem;
            height: 4.7rem;
            background: $sidebar-2;
            cursor: pointer;
            &:hover {
              > .text {
                color: $hover-color;
              }
              > .icon {
                color: $hover-color;
              }
            }
            > .icon {
              color: $dark-gray;
              font-size: 2.2rem;
              &:before {
                vertical-align: 0;
              }
            }
            > .text {
              .truncated-text {
                @include tooltip-target(right, auto);
              }
              white-space: nowrap;
              display: block;
              color: $gray-2;
              font-size: 1.6rem;
              margin-left: 1.7rem;
            }
          }
        }
      }
    }
  }

  > .left-sidebar:not(.open) ~ .main-content {
    max-width: calc(100vw - #{$sidebar-closed-width});
  }

  > .main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2.5rem $audience-margin 0px $audience-margin;
    margin-left: $sidebar-opened-width;
    max-width: calc(100vw - #{$sidebar-opened-width});
    &.sidebar-closed {
      margin-left: $sidebar-closed-width;
    }
    > .header-row {
      > .title {
        @include header-one();
        display: flex;
        align-items: center;
        .fa-info-circle {
          font-size: 1.4rem;
          @include tooltip-target(down, 20rem);
          color: $help-icon-color;
          position: relative;
          bottom: .2rem;
          left: .5rem;
        }
      }
    }

    > .search-row,
    > .filter-row,
    > .list-companies-row {
      display: flex;
      position: relative;
      min-height: 8rem;
      &.list-companies-row {
        min-height: 6rem;
      }
      justify-content: space-between;
      &.search-row {
        max-width: 1500px;
        > .search-items {
          flex: 1;
          max-width: 80%;
          min-width: 70%;
          margin-top: 1rem;
          position: relative;
          > .actions {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1rem;
            color: $call-to-action-color;
            font-size: 1.4rem;
            font-weight: 600;
            height: 2rem;
            > .find-keywords {
              cursor: pointer;
              border-right: .1rem solid $gray-3;
              padding: .25rem 2.5rem .25rem 1.5rem;
              position: relative;
              &:hover {
                color: $hover-color;
              }

              .fa-info-circle {
                @include tooltip-target(left, 15rem);
                color: $help-icon-color;
                position: relative;
                top: .1rem;
                left: .5rem;
              }

              .find-keywords-intro {
                @include tutorial-tooltip();
                position: absolute;
                top: 4.5rem;
                right: 1.5rem;
                width: 35.8rem;
                cursor: auto;
                &:after {
                  $triangle-height: 2.7rem;
                  @include triangle(up, 3.3rem, $triangle-height, $apollo-blue);
                  position: absolute;
                  top: -$triangle-height + .1rem;
                  left: 80%;
                }
              }
            }
            > .clear-keywords {
              padding: .25rem .1rem .25rem 1.5rem;
              cursor: pointer;
              &:hover {
                color: $hover-color;
              }
            }
          }
          > .enter-keywords-intro {
            @include tutorial-tooltip();
            position: absolute;
            top: 8.5rem;
            left: 10%;
            width: 54.3rem;
            &:after {
              $triangle-height: 2.7rem;
              @include triangle(up, 3.3rem, $triangle-height, $apollo-blue);
              position: absolute;
              top: -$triangle-height + .1rem;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
      &.filter-row > .filter-instructions {
        $outer-circle-width: 5rem;
        $inner-circle-width: 4.4rem;
        display: flex;
        align-items: center;
        align-self: flex-end;
        > .outer-circle {
          @include flex-center();
          border-radius: 50%;
          background: $light-gray;
          height: $outer-circle-width;
          width: $outer-circle-width;
          > .inner-circle {
            @include flex-center();
            border-radius: 50%;
            background: $gray-1;
            height: $inner-circle-width;
            width: $inner-circle-width;
            > i {
              font-size: 2.2rem;
              color: $gray-3;
              &:before {
                vertical-align: 0;
              }
            }
          }
        }
        > .instruction-text {
          font-weight: 200;
          margin: 0 1.5rem;
        }
      }
      &.list-companies-row > .list-companies-instructions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &.for-enrich {
          justify-content: center;
        }
        > .top,
        > .bottom {
          font-weight: 200;
          margin-bottom: .5rem;
        }
      }
      .save-btn {
        @include button(primary);
        white-space: nowrap;
        margin-bottom: 1rem;
        align-self: flex-end;
      }
    }

    > .preview-parameters-row {
      display: flex;
      font-weight: 200;
      padding-top: 1.4rem;
      margin-left: -.1rem;
      // We want this min-height to keep the spacing consistent
      // whether or not we're showing information text
      min-height: 3rem;
      > .results {
        font-weight: 600;
        color: $success-color;
        margin-right: 1rem;
        &.irrelevant {
          opacity: 0.4;
          color: $dark-gray;
        }
        &.staged-for-new-results {
          color: $accent-orange;
        }
      }

      > .keywords-info,
      > .scored-list-info,
      > .exclusion-list-info {
        margin-right: .5rem;
        .total-keywords,
        .total-filters,
        .selected-model,
        .exclusion-lists {
          font-weight: 600;
          color: $call-to-action-color;
          cursor: pointer;
        }
        > .trigger-search-again {
          color: $accent-orange;
        }
      }
    }

    > .table-crud {
      @include table-crud();
      border-bottom: .1rem solid rgb(210, 210, 210);
      margin-top: .9rem;
      > .sort-by {
        position: relative;
        @include hover-dropdown-parent('sort-options-dd');
        .current-sort {
          color: black;
        }
        .bt-angle-down {
          font-size: 1.4rem;
          position: relative;
          left: .6rem;
          top: -.2rem;
        }
        .sort-options-dd {
          @include dropdown();
          display: none;
          // undo text-transform: uppercase from table-crud() mixin
          text-transform: none;
        }
        &:hover {
          .sort-options-dd {
            display: block;
          }
        }
      }
      > .table-search {
        // prevent being able to see the icon through the search matches dropdown
        opacity: 0.99;
      }
      > .reupload {
        float: right;
        display: inline-block;
        font-weight: 600;
        color: $call-to-action-color;
        cursor: pointer;
        &:hover {
          color: $hover-color;
        }
      }
    }


    > .results-display-area {
      position: relative;
      flex: 1;
      padding-left: .5rem;
      padding-bottom: .7rem;

      > .table-wrapper {
        @include abs-full-screen();
        display: flex;
        flex-direction: column;
        .table-scroll {
          overflow-y: auto;
          .result-table {
            @include table();
            > thead > tr {
              border-top: none;
            }
          }
        }
        pagination {
          @include pagination();
          position: relative;
          right: 3rem;
        }
      }

      .cards-cont {
        @include company-cards();
      }

      > .no-results-overlay {
        @include abs-full-screen();
        display: flex;
        justify-content: center;
        align-items: center;
        > .overlay-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 20%;
          min-width: 15rem;
          > .text {
            font-size: 1.8rem;
            font-weight: 200;
            color: $gray-4;
            margin-bottom: 2.5rem;
            white-space: nowrap;
          }
          > .icon-wrapper {
            background-color: $light-gray;
            border-radius: 50%;
            @include aspect-ratio(1,1);
            position: relative;
            > .inner-circle {
              border-radius: 50%;
              background-color: $gray-1;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 5%;
              bottom: 5%;
              right: 5%;
              left: 5%;
              > .btr {
                font-size: 7vw;
                color: $gray-3;
                &:before {
                  vertical-align: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .scroll-to-top {
    @include scroll-to-top-button();

    position: fixed;
    left: $sidebar-opened-width + 2rem;
    bottom: 2rem;
  }

  &.sidebar-closed {
    color: inherit;
    .scroll-to-top {
      left: $sidebar-closed-width + 4rem;
    }
  }
}


.find-companies-intro {
  @include tutorial-tooltip();
  width: 56rem;
  height: 28rem;

  position: absolute;
  top: calc(50% - 28rem / 2);
  left: calc(50% - 56rem / 2);
}
