@import '../../library/library';

div.select2 {
 // @include ui-select();
}

.big-margin-bottom{
  margin-bottom:200px;
}

.content {
  .instructions {
    line-height: 1.5;

    .bg-warning {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
  }
}
