@charset "UTF-8";

@import '../../library/library';
@import '../../modules/modules';

@mixin instructions() {
  color: $dark-gray;
  font-weight: 600;
}

.publish-audience {
  @include focus-slide($focus-slide-z-index);

  // Rules for disabling steps.
  div[disabled] {
    // various !importants here to override more specific rules
    cursor: not-allowed;
    color: $dark-gray;

    // All descendants should be disabled.
    * {
      pointer-events: none;
      @include transition-animation();
    }
    // Direct children get opacity 0.5
    > * {
      opacity: 0.5;
    }

    // propogate disabled styling like this instead of
    // having to add a bunch of ng-disabled's to every input
    input + i {
      border-color: $disable-border !important;
      &:before {
        background-color: $disable-bg !important;
      }
    }

    // We want to achieve a similar greyed-out effect
    // but can't use opacity or we get the ugly
    // visual of seeing the dotted line under the circle
    .step-number {
      color: $gray-3 !important;
      background-color: $gray-1 !important;
      border-color: $disable-border !important;
    }
    // avoid nested 0.5 opacity for nested disabled blocks
    > .content > .nested-step[disabled] {
      opacity: 1 !important;
    }

    &.new-companies,
    &.existing-companies {
      > *:not(.contact-support) {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  > .content {
    @include loading-spinner();
    padding: 2rem;
    text-align: left;
    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 1rem;
      }
      > .save-btn {
        @include button(primary);
      }
    }
  }

  .radio {
    @include radio();
    float: left;
    margin-right: 4rem;
    margin-top: 1rem;
  }

  .text-required {
    color: $error-color;
    font-size: 1.2rem;
    font-weight: 100;
  }

  .input-with-radio {
    position: relative;
    width: 92%;
    margin-bottom: 0.43em;
    margin-left: 3rem;
    input[type=text] {
      @include textbox();
      padding-right: 25.5rem !important;
      width: 100%;
    }
  }

  .titles-sections {
    $label-font-size: 1.4rem;
    margin-top: $label-font-size + 2.6rem;

    .title-priority {
      .col {
        position: relative;
        input {
          width: 100%;
          @include textbox();
        }

        label {
          color: $dark-gray;
          margin-bottom: .2rem;
        }

        .instructions {
          position: absolute;
          top: -$font-size;
          left: 0;
        }

        .additional-actions {
          position: absolute;
          top: -$font-size;
          right: 0;

          .preview-titles {
            @include text-link();
          }

          .fallback-preferences {
            margin-left: 2rem;
            @include text-link();
          }
        }

        .order-number {
          position: absolute;
          left: -3rem;
          top: .5rem;
          border: .1rem solid #979797;
          color: #979797;
          border-radius: 10rem;
          height: 2.6rem;
          width: 2.6rem;
          float: left;
          line-height: 2.6rem;
          text-align: center;
          font-size: 1.6rem;
        }

        .add-title-input {
          display: inline-block;
          font-size: 1.6rem;
          margin-left: 2.9rem;
          color: white;
          @include text-link();

          .text {
            display: inline-block;
            margin-left: .3rem;
          }
        }

        .contacts-per-title {
          position: relative;

          .instructions {
            position: absolute;
            top: -$font-size;
            left: 0;
          }
        }
      }
    }
  }

  .nav-step {
    position: relative;
    display: flex;
    align-content: space-between;
    height: 9rem;
    margin-bottom: 5rem;
    font-size: 1.4rem;
    color: $dark-gray;
    .back {
      width: 80%;
      left: 9.5%;
      position: absolute;
      z-index: -1;
      .line {
        height: 5rem;
        border-bottom: .1rem $gray-2 solid;
      }
    }
    .space {
      flex: 0.4;
    }

    .nav {
      flex: 1;
      background-color: transparent;
      padding-top: .6rem;
      text-align: center;

      border-radius: .5rem;
      cursor: pointer;
      .nav-title {
        padding: .5rem;
      }
      .nav-point {
        border-radius: 5rem;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $gray-2;
        margin: .6rem auto;
      }
      .nav-tip {
        display: none;
        background-color: rgb(228, 231, 239);
        color: rgb(191, 195, 210);
        font-weight: 600;
        text-align: center;
        padding: .8rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
      .nav-btn {
        display: none;
        height: 3rem;
        line-height: 3.2rem;
        background-color: $accent-orange;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        a {
          text-decoration: none;
          font-size: 1.3rem;
          color: #fff;
        }
        .to-left {
          float: left;
          padding-left: .5rem;
        }
        .to-right {
          float: right;
          padding-right: .5rem;
        }
        i.btr {
          vertical-align: -0% !important;
        }
      }

      &.active {
        background: #fff;
        color: black;
        .nav-title {
          visibility: visible;
        }
        .nav-point {
          background-color: $hover-color;
        }
        .nav-btn {
          display: block;
        }
        .nav-dir {
          display: none;
          padding: .5rem;
          background-color: #997E00;
          border-radius: .5rem;
          &.active {
            display: block;
          }
        }

        &.filled {
          .nav-tip {
            display: none;
          }
        }
      }

      &.filled {
        .nav-point {
          background-color: $success-color;
          &:after {
            content: "\f012";
            color: #fff;
            font: normal normal normal 1.4rem/1 "Black Tie";
            line-height: 2em;
          }
        }
      }

      &.active:not(.filled) {
        .nav-tip {
          display: block;
        }
        .nav-btn {
          display: none;
        }
      }
    }
  }

  form {
    font-size: 1.4rem;
  }

  .select-criteria {
    display: flex;
    flex-flow: row nowrap;
    .instructions {
      @include instructions();
    }

    .where-to-publish {
      width: 50%;
    }

    .what-to-publish {
      width: 50%;
      .checkbox {
        @include checkbox();
        .text {
          display: inline-block;
          height: 2rem;
          line-height: 2rem;
        }
      }

      .radio {
        position: relative;
        @include tooltip-target($direction: left, $tooltip-width: 30rem);
      }

      .how-many-companies {
        margin-left: 2.9rem;
        .dedupe-against-previous {
          margin-top: 2rem;
        }
        .instructions {
          display: inline-block;
          margin-top: 3rem;
        }
      }

      .radio-cont {
        display: flex;
        flex-flow: column nowrap;

        .radio:nth-child(2) {
          margin-top: 2rem;
        }
      }
    }
  }

  .titles-contacts {
    margin-left: 3rem;

    .text {
      color: $dark-gray;
    }

    .detailed-instructions {
      color: $dark-gray;
      margin-top: 2rem;
    }

    .contacts-per-company {
      display: inline-flex;
      flex-flow: column nowrap;

      .instructions {
        display: inline-block;
        flex-shrink: 1;
        > .text-required {
          font-size: 1.2rem;
        }
      }

      .num-contacts {
        @include textbox();
      }
    }
  }

  .publish-summary {
    font-weight: 100;
    color: $gray-4;

    .header {
      background: $apollo-blue;
      color: #fff;
      line-height: 2em;
      font-size: 2rem;
      padding: 0 2rem;
    }
    .footer {
      font-size: 2.2rem;
      line-height: 1.5em !important;
      font-weight: 500;
    }
    .summary-body {
      background-color: white;
      color: black;
      font-size: 1.5rem;
      line-height: 2em;
      padding: 1rem 2rem;

      .summary-row {
        display: flex;
        justify-content: space-between;

        .fa-info-circle {
          @include tooltip-target($direction: right, $tooltip-width: 20rem);

          // Vertically center icon.
          position: relative;
          top: .1rem;
        }

        .line-height-2x {
          position: relative;
          .bt-spinner {
            color: black;
          }
        }
      }
    }

    .accordion-row {
      position: relative;

      .row-cont {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .toggle-accordion {
          @include text-link();
          font-weight: 200;
        }
      }

      .accordion-content {
        display: flex;
        flex-flow: column nowrap;
        background: white;
        color: black;
        transition: max-height 0.2s linear;
        max-height: 25rem;
        overflow: auto;

        &.ng-hide {
          max-height: 0;
        }
        &.ng-animate {
          overflow: hidden;
        }

        &.fields-cont {
          .field-summary {
            width: 96%;
            margin: auto;
            border: .1rem solid $gray-1;
            padding: .5rem 1rem;
            font-weight: 400;

            margin-top: 1rem;
          }
        }

        &.preferences-accordion {
          .message-cont {
            padding: 1rem;
          }
        }

        &.scoring-list, &.dedupe-list{
          background: rgb(182, 222, 241);
          height: 9.3rem;
          @include flex-center();
          overflow: hidden;
        }
      }
    }
    .accordion-row, .summary-row {
      font-weight: 200;
    }
    .total-row {
      margin-top: 2rem;
      border-top: .1rem solid $border-color;
      padding: 1rem 0;
      .title {
        font-weight: 800;
      }
      .value {
        font-weight: 800;
      }
    }

    .bg-info {
      display: flex;
      align-items: center;
      .bt-info {
        // Vertically center info icon
        position: relative;
        top: -.3rem;
      }
      .sub-wrap {
        margin-left: 2rem;
        display: inline-block;
        font-size: 1.8rem;
      }
    }
  }

  .select-list {
    .select-list-dropdown {
      width: 30rem;
    }
  }

  .no-margin {
    margin: 0 !important;
  }


  [multi-select] {
    @include multi-select-lg();
    margin: auto;
    .multi-select {
      margin: 0 !important;
      & > .ms-box > .ms-box-body > .ms-search > .search-icon {
        top: .4rem !important;
      }
    }
  }

  [dropdown-select] {
    @include dropdown-directive();
  }
}

.publish-marketo-slide2 {
  @include focus-slide($focus-slide-z-index + 1);
  $space-to-the-left: 18.3rem;
  > .content {
    padding: 2rem;
    text-align: left;
    width: calc(100vw - #{$space-to-the-left});
    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 1rem;
      }
      > .save-btn {
        @include button(primary);
      }
    }
  }
  &.slideIn {
    > .content {
      left: $space-to-the-left;
    }
  }
}

.two-choice-columns {
  $font-size: 1.6rem;
  $large-margin: 3rem;
  $medium-margin: 2rem;
  $small-margin: .5rem;
  $margin-for-numbered-circles: 5rem;
  $large-padding: 2.5rem;
  $large-checkbox-size: 3rem;
  $circle-size: $large-checkbox-size;
  $dotted-line-left: calc(#{$large-padding} + #{$large-checkbox-size}/2);
  $publish-instructions-height: 3.2rem;

  .fa-info-circle {
    &:not(.right-side){
      @include tooltip-target(up, 20rem);
    }
    &.right-side {
      @include tooltip-target(left, 20rem);
    }
    color: $help-icon-color;
    display: inline-block;
    margin-right: 3rem;
    margin-left: .5rem;
    ul {
      li {
        &:before {
          content: '●';
          width: 2em;
          margin-right: .5rem;
        }
      }
    }
  }

  @mixin transition-animation() {
    transition: opacity 0.3s ease-in-out;
    &.ng-enter {
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave {
      opacity: 1;
    }
    &.ng-leave-active {
      opacity: 0;
    }
  }

  position: relative;
  display: flex;
  flex-flow: row nowrap;
  > .new-companies, >.existing-companies {
    width: 50%;
    position: relative;
    > .contact-support {
      position: absolute;
      // align this with "Companies In/Not In CRM" text
      left: 9.2rem;
    }
    > .step {
      margin-left: $medium-margin;
      margin-top: $large-margin;
      position: relative;

      .dotted-line {
        @include transition-animation();
        position: absolute;
        width: 0px;
        border-left: .1rem dashed $dark-gray;
        top: 0px;
        // extend the line below its container
        // across container margins
        bottom: -$large-margin + -1rem;
        left: $dotted-line-left;
        // Have dotted line be covered by the numbered circles
        z-index: -1;
      }

      > .step-number {
        @include numbered-circle($circle-size);
        z-index: 1;
        transition: background-color 0.3s ease-in-out;
      }

      > .content {
        margin-left: $margin-for-numbered-circles;
        position: relative;
        // Push the content up as if the .step-number circle was not pushing
        // it down
        bottom: $circle-size;
      }

      &.publish-choices {
        > .dotted-line {
          top: $large-padding;
          z-index: 0;
        }
        .publish-checkbox {
          padding: $large-padding;
          background-color: white;
          border-radius: 4rem;
          margin-right: $medium-margin;
          > .checkbox {
            @include checkbox($size: $large-checkbox-size);
          }
          .text {
            font-weight: 200;
            > .emphasis {
              font-weight: 600;
            }
          }
        }

        .dedupe-previous-checkbox {
          @include transition-animation();
          margin-top: $large-margin;
          // We want to make sure this checkbox is lined up with the checkboxes in the
          // steps below
          margin-left: $large-padding + $margin-for-numbered-circles;
          .checkbox {
            @include checkbox();
          }
        }
      }

      &.compare-against-what {
        @include transition-animation();
        padding-left: $large-padding;
        // Give this one a little extra margin-top b/c the large checkbox and the first instruction
        // feel too close together since the large checkbox has no children, unlike the other steps
        margin-top: $large-margin + 1rem;
        // Give the new/existing versions of this element the same height so they are vertically
        // aligned.
        height: 9.3rem;
        > .content {
          > .instructions {
            // Give this the larger line height of the two sets of instructions.
            height: 2 * $font-size;
            @include choice-instructions();
            p:not(:last-child) {
              margin-bottom: 1em;
            }
          }

          > .checkbox {
            @include choice-radio-or-checkbox(checkbox);
          }
        }
      }

      &.publish-companies {
        @include transition-animation();
        padding-left: $large-padding;
        // Give the new/existing versions of this element the same height so they are vertically
        // aligned.
        height: 9.3rem;
        > .content {
          display: flex;
          flex-flow: column nowrap;
          > .instructions {
            @include choice-instructions();
            margin-bottom: 0;
          }

          > .radio {
            @include choice-radio-or-checkbox(radio);
          }
        }
      }

      &.publish-contacts {
        @include transition-animation();
        padding-left: $large-padding;
        margin-bottom: -$large-margin;
        $horizontal-line-top: $publish-instructions-height + $medium-margin + $circle-size/2;
        > .dotted-line {
          bottom: calc(100% - #{$horizontal-line-top});
        }
        > .horizontal-line {
          @include transition-animation();
          position: absolute;
          height: 0px;
          width: calc(#{$margin-for-numbered-circles} - #{$circle-size}/2);
          border-top: .1rem dashed $dark-gray;
          top: $horizontal-line-top;
          left: $dotted-line-left;
          // Have dotted line be covered by the numbered circles
          z-index: -1;
        }
        > .content {
          > .instructions {
            @include choice-instructions();
          }

          > .wrapper {
            .radio {
              @include choice-radio-or-checkbox(radio);
            }
          }
          > .nested-step:nth-child(4) {
            margin-bottom: 0px;
          }
          > .nested-step {
            @include transition-animation();
            position: relative;
            margin-bottom: $medium-margin;
            > .dotted-line {
              left: calc(#{$circle-size}/2);
              bottom: -$medium-margin;
            }
            > .step-number {
              @include numbered-circle-secondary($circle-size);
              transition: background-color 0.3s ease-in-out;
            }

            > .content {
              margin-left: $margin-for-numbered-circles;
              position: relative;
              bottom: $circle-size;
              > .instructions {
                @include choice-instructions();
                margin-bottom: 1rem;
              }
              >.wrapper {
                display: flex;
                flex-flow: row wrap;
                > .radio {
                  @include radio();
                  &:last-child {
                    margin-left: $medium-margin;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  > .divider  {
    $space-from-top: $medium-margin + $large-padding + $large-padding + $large-checkbox-size;
    position: absolute;
    height: calc(100% - #{$space-from-top});
    margin-top: $space-from-top;
    bottom: 0;
    left: 50%;
    border-right: .1rem solid $gray-2;
  }
}

.seniority-fallback-slide {
  @include focus-slide($focus-slide-z-index + 1);

  .button-row {
    .close-button {
      @include button(secondary);
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .seniority-checkboxes {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
    .seniority {
      width: 20%;
      .checkbox {
        @include checkbox();
      }
    }
  }
}

.preview-titles-slide {
  @include focus-slide($focus-slide-z-index + 2);

  .button-row {
    .close-button {
      @include button(secondary);
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .instructions {
    margin-bottom: 2rem;
  }

  .titles-table {
    @include table();
  }
}
