<div class="admin-console" ng-if="acc.enabled">
  <h1>Account Management</h1>

  <div class="table-crud">
    <div class="table-crud-text" ng-click="acc.openCreateAccountModal()">
      Create Account
    </div>
    <div class="table-search">
      <span class="btr bt-search search-icon"></span>
      <input type="text" class="search-box" ng-model="acc.filterQuery">
    </div>
  </div>
  <div class="table-wrapper"
       ng-class="{'loading': acc.accountTable.loading}"
  >
    <loading-spinner ng-if="acc.accountTable.loading"></loading-spinner>
    <table st-table="acc.accountTable.data"
           st-pipe="acc.accountTable.reloadOnAction"
           class="account-table use-auto-layout"
    >
      <thead>
        <tr>
          <th ng-repeat="column in acc.accountTable.header">
            {{column.text}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="accountInfo in acc.accountTable.data | filter: acc.filterQuery">
          <td>
            <span class="clickable" ng-click="acc.openSlide(accountInfo)">
              {{accountInfo.name || 'NEW ACCOUNT'}}
            </span>
          </td>
          <td>
            {{accountInfo.quotas.segmentCnt - accountInfo.totalCreatedAudiences | number}}
            /
            {{accountInfo.quotas.segmentCnt | number}} remaining
          </td>
          <td>
            {{accountInfo.quotas.remainingCompanyQuota | number}}
            /
            {{accountInfo.quotas.CSVCompanyLimit | number}} remaining
          </td>
          <td>
            {{accountInfo.quotas.remainingContactQuota | number}}
            /
            {{accountInfo.quotas.contactLimit | number}} remaining
          </td>
          <td>
            {{accountInfo.domain || '--'}}
          </td>
          <td>
            {{accountInfo.isPrimary ? 'Yes' : 'No'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
