<div class="account-management">
    <h1> {{umc.userService.accountName()}} </h1>
    <div class="summary-banner">
      <div class="data-section">
        <div class="data-label">
          Publish Quota
        </div>
        <div class="data-value">
          {{umc.userService.publishQuotaRemaining() | number}}
          /
          {{umc.userService.publishQuotaTotal() | number}} remaining
        </div>
      </div>
      <div class="data-section">
        <div class="data-label">
          Publish quota will be renewed on
        </div>
        <div class="data-value">
          {{umc.userService.exportByDate() | date: 'MM/dd/yyyy'}}
        </div>
      </div>
      <div class="data-section">
        <div class="data-label">
          Contact Quota
        </div>
        <div class="data-value">
          {{umc.userService.contactQuotaRemaining() | number}}
          /
          {{umc.userService.contactQuotaTotal() | number}} remaining
        </div>
      </div>
      <div class="data-section">
        <div class="data-label">
          Predictive Audience Quota
        </div>
        <div class="data-value">
          <span ng-show="umc.currentAudienceCount">{{umc.userService.segmentQuota() - umc.currentAudienceCount | number}}</span>
          /
          {{umc.userService.segmentQuota() | number}} remaining
        </div>
      </div>
    </div>
    <div class="user-management">
      <div class="table-crud">
          <div class="table-crud-text"
               ng-click="umc.inviteUser()"
               ng-if="umc.inviteUserRoles">
              Invite User
          </div>
      </div>
      <table st-table="umc.userTable.data" st-pipe="umc.userTable.reloadOnAction" class="user-table use-auto-layout">
          <thead>
          <tr>
              <th ng-repeat="column in umc.userTable.header">
                  {{column.text}}
              </th>
              <!-- Column for edit buttons -->
              <th>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="userInfo in umc.userTable.data">
            <td>
              <span editable-text="userInfo.lastName" e-name="lastName" e-form="userForm" e-size="1">
                {{userInfo.lastName || '--'}}
              </span>
            </td>
            <td>
              <span editable-text="userInfo.firstName" e-name="firstName" e-form="userForm" e-size="1">
                {{userInfo.firstName || '--'}}
              </span>
            </td>
            <td>
              <span editable-text="userInfo.email" e-name="email" e-form="userForm" e-size="1">
                {{userInfo.email || '--'}}
              </span>
            </td>
            <td>
              <span editable-text="userInfo.phone" e-name="phone" e-form="userForm" e-size="1">
                {{userInfo.phone || '--' | formatPhone}}
              </span>
            </td>
            <td>
              <span editable-select="userInfo.roles[0]" e-name="role" e-form="userForm"
                    e-ng-options="role.key as role.text for role in umc.roles"
                    ng-if="!umc.isTempUser(userInfo)">
                {{umc.roleNameMap[userInfo.roles[0]] || '--'}}
              </span>
              <span ng-show="umc.isTempUser(userInfo)">
                {{umc.roleNameMap[userInfo.roles[0]] || '--'}}
              </span>
            </td>
            <td>
              <span editable-select="userInfo.status" e-name="status" e-form="userForm"
                e-ng-options="status.key as status.text for status in umc.statuses"
                ng-if="!umc.isTempUser(userInfo)">
                {{userInfo.status}}
              </span>
              <span ng-show="umc.isTempUser(userInfo)">
                {{userInfo.status}}
              </span>
            </td>
            <td>
              <form editable-form name="userForm" onbeforesave="umc.saveUser($data, userInfo)"
                  ng-show="userForm.$visible">
                <button type="submit" ng-disabled="userForm.$waiting" class="save-btn">
                  Save
                </button>
                <button type="button" ng-disabled="userForm.$waiting" ng-click="userForm.$cancel()" class="cancel-btn">
                  Cancel
                </button>
              </form>
              <button class="edit-btn" ng-show="!userForm.$visible && umc.canEditUsers()"
                      ng-click="userForm.$show()">
                Edit
              </button>
            </td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td colspan="{{umc.userTable.header.length}}">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
            </td>
          </tr>
          </tfoot> -->
      </table>
    </div>
    <!-- <div class="scoring" ng-if="umc.isActiveTab('scoring')">
      <div class="instructions">
        Only supported for CRM.
      </div>

      <div class="wrapper">
        <div class="objects-and-type-config">
          <div class="choose-rts-obj">
            <div class="leading-text">
              Look for inbound leads in:
            </div>
            <div class="checkboxes">
              <div class="accounts-checkbox">
                <label class="ui-checks">
                  <input
                    type="checkbox"
                    ng-model="umc.inboundLeadsTargets.accounts"
                    ng-change="umc.onChange()"
                  />
                  <i></i>
                  <span class="text">
                    Accounts
                  </span>
                </label>
              </div>
              <div class="leads-checkbox">
                <label class="ui-checks">
                  <input
                    type="checkbox"
                    ng-model="umc.inboundLeadsTargets.leads"
                    ng-change="umc.onChange()"
                  />
                  <i></i>
                  <span class="text">
                    Leads
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="choose-rts-type">
            <div class="leading-text">
              Do real time scoring:
            </div>
            <div class="radios">
              <div class="radio" ng-repeat="rtsType in umc.rtsTypeOptions">
                <label class="ui-checks">
                  <input
                    type="radio"
                    ng-value="rtsType.value"
                    ng-model="umc.realtimeScoringType"
                    ng-change="umc.onChange()"
                  >
                  <i></i>
                  <span class="text">{{rtsType.dispName}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="select-insights">
          <div class="leading-text">
            Select insights to publish:
          </div>
          <div multi-select
               ms-data-src="umc.scoringInsights"
               ms-data-type="'rtsPublish'"
               left-filter="true"
               right-filter="true"
               inited="true"
               class="auto"
          >
          </div>
        </div>
      </div>
    </div> -->
</div>
