<div class="audience-dashboard">
  <h1>Dashboard: {{dc.audience.name}}</h1>

  <ul class="nav-tabs">
    <li ui-sref-active="active">
      <a ui-sref="audience.dashboard.audience-insights({audienceId: dc.audience.id})">
        Audience Insights
      </a>
    </li>
    <li ui-sref-active="active" ng-if="dc.userService.modelInsightsEnabled()">
      <a ui-sref="audience.dashboard.model-insights({audienceId: dc.audience.id})">
        Model Insights
      </a>
    </li>
    <!-- <li class="icon-wrap"> -->
    <!-- <i class="fa fa-info-circle"> -->
    <!-- <div class="tooltip-window"> -->
    <!-- Tips text should be provided here. -->
    <!-- </div> -->
    <!-- </i> -->
    <!-- </li> -->
  </ul>
  <div class="dashboard-contents"
       ui-view
       ng-if="!dc.shouldDisableContents()">
  </div>
</div>
