<div class="audience-model-insights">
  <div class="table-crud">
    <div class="table-crud-text model">
      <span>
        SCORING MODEL:
        <span class="selected-model">{{amic.currentFitModel.name}}</span>
        <i class="btr bt-angle-down"></i>
      </span>

      <div class="model-list">
        <div
          class="dropdown-item"
          ng-repeat="model in amic.getOtherFitModels()"
          ng-click="amic.updateFitModel(model.id)"
        >
          {{model.name}}
          <span
            class="status"
            ng-if="model.status === 'IN_PROGRESS'"
          >
            (in progress)
          </span>
        </div>
      </div>
    </div>
    <div class="table-crud-text" ui-sref="audience.company({audienceId: dc.audienceId})">LIST COMPANIES</div>
  </div>
  <div class="main">
    <div class="item left-side">
      <div class="title">Keyword Cloud</div>
      <div class="keyword-cloud-container">
        <loading-spinner ng-if="amic.loadingKeywords || amic.loadingInsightsDependencies"></loading-spinner>
        <word-cloud tags="amic.tags">
        </word-cloud>
        <div class="new-window"
             ng-click="amic.showWordsCloudWindow()"
        >
          <i class="btr bt-maximize"></i>
        </div>
      </div>
    </div>
    <div class="item right-side">
      <div class="title">
        <span>Audience-to-Model Insights</span>
        <a href=""
           ng-click="amic.downloadAllInsights()"
           ng-if="amic.allowDownloadInsights() && !amic.downloadInProgress"
        >
          <i class="btr bt-download">
            <div class="tooltip-window">
              Download all insights
            </div>
          </i>
        </a>
        <div class="spin-wrapper" ng-if="amic.downloadInProgress">
          <i class="btr bt-spinner bt-spin">
          </i>
        </div>
      </div>
      <div class="content">
        <loading-spinner ng-if="amic.loadingInsights || amic.loadingInsightsDependencies"></loading-spinner>
        <div class="insight-title-panes" ng-if="!amic.loadingInsights">
          <title-pane ng-repeat="category in amic.indicatorCategories track by $index"
                      title="{{category}}"
                      initial-open-flag="$first"
                      ng-click="amic.rememberOpenedIndex($index)"
                      always-open="amic.openedIndex === $index"
          >
              <div class="item" ng-class="{'active': amic.openedIndex === $index}">
                <div class="title">Top</div>
                <div class="list">
                  <div class="item" ng-repeat="datum in amic.indicatorData.top[category]">
                    <div class="name">{{datum.indicator}}</div>
                    <div class="color-bar"
                         ng-style="amic.openedIndex === $parent.$index ? {width: amic.getWidth(datum)} : {width: 0}">
                    </div>
                    <div class="text">{{datum.lift.toFixed(2)}}x</div>
                  </div>
                </div>
              </div>
              <div class="item" ng-class="{'active': amic.openedIndex === $index}">
                <div class="title">Bottom</div>
                <div class="list">
                  <div class="item" ng-repeat="datum in amic.indicatorData.bottom[category]">
                    <div class="name">{{datum.indicator}}</div>
                    <div class="color-bar bottom"
                         ng-style="amic.openedIndex === $parent.$index ? {width: amic.getWidth(datum)} : {width: 0}">
                    </div>
                    <div class="text">{{datum.lift.toFixed(2)}}x</div>
                  </div>
                </div>
              </div>
          </title-pane>
        </div>
      </div>
    </div>
  </div>
</div>