<div
  class="audience-summary"
  ng-class="{slideIn: asc.showSlide}"
>
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="audience-summary-slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="asc.closeSlide()">
        Close
      </button>
    </div>

    <div class="header-row">
      <h2>Creation Summary: {{asc.audience.name}}</h2>
    </div>
    <div class="main">

      <title-pane title="{{asc.keywordsOrUrlsTitle()}}"
                  always-open="true"
                  binary-toggle="true"
                  class="keywords-summary-pane"
                  ng-if="asc.keywordsOrUrlsWereSelected()"
      >
        <keywords kw-model="asc.kwModel"
          disable-input-area="true"
          search-type="keywordsByDomains"
          disable-tag-editing="true">
        </keywords>
      </title-pane>

      <title-pane title="Criteria"
                  always-open="true"
                  class="filter-summary-pane"
                  ng-if="asc.hasFilterCriteria()"
      >
        <div class="filter-summary-content">
          <div class="filter-summary-category-group"
               ng-repeat-start="(filterName, filterValues) in asc.filterCriteria"
          >
            <div class="top">
              <div class="number-circle">
                <div class="number">
                  {{$index + 1}}
                </div>
              </div>
              <div class="category">
                {{filterName}}
              </div>
            </div>
            <summary-box summary-data="filterValues">
            </summary-box>
          </div>

          <div class="and" ng-if="!$last" ng-repeat-end>
            AND
          </div>
        </div>
      </title-pane>

    </div>
  </div>

</div>
