<div class="audience-insights">
  <div class="table-crud">
    <div class="table-crud-text" ui-sref="audience.company({audienceId: dc.audienceId})">LIST COMPANIES</div>
  </div>
  <div class="charts-wrapper">
    <loading-spinner ng-if="aic.loading"></loading-spinner>
    <div class="chart">
      <usa-map states-data="aic.location"
               title="LOCATIONS"
               ng-if="aic.location.length > 0">
      </usa-map>
      <bar-chart data="aic.industry"
                 view-more="true"
                 limit="4"
                 title="Industries"
                 ng-if="aic.industry.length > 0">
      </bar-chart>
    </div>
    <div class="chart" ng-if="aic.employees.length > 0">
      <donut-chart subject="employees-donut"
                   title="EMPLOYEES"
                   data="aic.employees"></donut-chart>
      <donut-chart subject="revenue-donut"
                   title="REVENUE"
                   data="aic.revenue"></donut-chart>
    </div>
    <div class="fit-score-chart" ng-if="aic.fitScore.length > 0">
      <div class="title">FIT SCORE</div>
      <column-chart data="aic.fitScore"
                    not-sort="false"
                    limit="10"></column-chart>
    </div>
  </div>
</div>

