<div class="audience-console" ng-controller="AudienceListController as alc">
  <div class="table-crud" ng-if="alc.inited">
    <!-- TODO: Don't pass the entire controller as props. That tightly couples the controller
         and the component. -->
    <react-component name="AudienceListCrudText" props="alc" watch-depth="reference"></react-component>

    <div class="table-search">
      <span class="btr bt-search search-icon"></span>
      <input type="text" class="search-box" ng-model="alc.filterSearchQuery" />
    </div>
  </div>
  <div class="cards-wrapper">
    <loading-spinner ng-if="!alc.inited || alc.refreshing"></loading-spinner>

    <div
      class="audience-cards"
      ng-if="alc.audiences.length === 0 && alc.inited"
    >
      <div class="empty-audience-card" ng-if="alc.isAudState()">
        <!-- Clicking this element opens the popup video. -->
        <div class="show-video">
          <span class="wistia_embed wistia_async_3smu3cdzks popover=true popoverContent=link" style="display:inline">
            <i class="btr bt-tv"></i>
          </span>
        </div>
        <div class="title">
          Create Your First Audience
        </div>

        <div class="description">
          An Audience is a group of companies with specific characteristics defined by you
        </div>

        <div class="create-audience">
          <div class="button">
            <i class="btr bt-plus-circle"></i>
            <span class="text">Create Audience</span>
            <div class="dropdown">
              <div class="dropdown-item extender"
                   ng-if="alc.canFind()"
              >
                Find Target Companies Using
                <i class="btr bt-angle-right"></i>
                <div class="choose-find-method-dd extension">
                  <div class="dropdown-item" ng-click="alc.findAudienceByKeywords()">
                    Keywords
                  </div>
                  <div class="dropdown-item" ng-click="alc.findAudienceByUrls()">
                    Preferred Companies (URLs)
                  </div>
                  <div class="dropdown-item" ng-click="alc.findAudienceByCsv()">
                    Preferred Companies (List)
                  </div>
                  <div class="dropdown-item" ng-click="alc.findAudienceByFilters()">
                    Criteria
                  </div>
                </div>
              </div>
              <div class="dropdown-item"
                   ng-click="alc.enrichAudience()"
                   ng-if="alc.canScore()">
                Score List
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Audience cards -->
    <div
      class="audience-cards"
      ng-if="!alc.refreshing && alc.audiences.length > 0"
    >
      <!-- We want earlier cards to be on top of later cards so that the ellipsis menu of earlier cards covers
           the ellipsis of later cards.-->
      <div
        class="audience-card"
        ng-repeat="audience in alc.audiences | filter : alc.filterSearchQuery"
        ng-style="{'z-index': alc.audiences.length - $index}"
        ng-class="{'enriched-list': audience.sourceType === 'enriched',
                  'exclusion-list': audience.metaType === 'exclusion'}"
      >
        <div class="title">
          {{audience.name}}
        </div>

        <div class="metadata">
          Created {{audience.createdOn*1000 | date:'EEE. MMM. d, yyyy'}} by {{audience.createdBy}}
        </div>

        <div class="shared-ribbon" ng-if="!audience.isPrivate">
          Shared
        </div>
        <div class="company-info-row">
          <loading-spinner ng-if="alc.refreshingCount[audience.id]"></loading-spinner>
          <div class="company-count"
            ng-class="{'for-exclusion': alc.isExcState()}"
            ng-click="alc.viewCompanyList(audience.id)"
          >
            <i class="btr bt-building"></i>
            <div class="header">Companies</div>
            <div class="value">
              {{alc.getDispNum(audience.recommendationNum)}}
              <i class="count-updated-ts btr bt-clock"
                 ng-if="alc.isAudState() && !alc.refreshingCount[audience.id]"
                 ng-click="alc.refreshCount($event, audience)"
              >
                <div class="tooltip-window">
                  <p>
                    Last updated {{audience.companyNumberRefreshTs*1000 | date:'medium'}}
                  </p>
                </div>
              </i>
            </div>
          </div>
          <div class="exported-count" ng-if="alc.isAudState()">
            <i class="btr bt-cloud-upload">
            </i>
            <div class="header">Published</div>
            <div class="value">{{alc.getDispNum(audience.publishedNum)}}</div>
          </div>
        </div>

        <i class="btr bt-ellipsis-h">
          <div class="ellipsis-menu">
            <a
              class="item"
              ng-click="alc.viewAudienceSummary(audience)"
              ng-if="audience.sourceType === 'found'"
            >
              <i class="btr bt-olist">
                <span>Creation Summary</span>
              </i>
            </a>

            <a
              class="item"
              ui-sref="audience.dashboard.audience-insights({audienceId: audience.id})"
              ng-if="alc.isAudState()"
            >
              <i class="btr bt-pie-chart">
                <span>Dashboard</span>
              </i>
            </a>

            <a
              class="item"
              ng-click="alc.viewCompanyList(audience.id)"
            >
              <i class="btr bt-ulist">
                <span>List Companies</span>
              </i>
            </a>

            <a
              class="item"
              ng-click="alc.viewAudienceSettings(audience)"
              ng-if="alc.isAudState()"
            >
              <i class="btr bt-gear">
                <span>Settings</span>
              </i>
            </a>

            <a
              class="item"
              ng-click="alc.viewAudienceExcLists(audience)"
              ng-if="alc.isAudState()"
            >
              <i class="btr bt-thumbs-down">
                <span>Exclusion Lists</span>
              </i>
            </a>

            <a
              class="item"
              ng-click="alc.deleteConfirm(audience)"
            >
              <i class="btr bt-times-circle">
                <span>Delete {{alc.isAudState() ? 'Audience' : 'List'}}</span>
              </i>
            </a>
          </div>
        </i>
      </div>
    </div>
  </div>
</div>
