<div class="audience-view">
  <!-- <ul class="nav-tabs" ng-if="atc.shouldShowTabs()">
    <li ui-sref-active="active">
      <a ui-sref="audience.console">Audiences</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="audience.galaxy">CRM Galaxy</a>
    </li>
  </ul> -->

  <div class="content" ui-view></div>
</div>
