<div class="audience-company">
  <div class="console-top">
    <h1> List Companies: {{acc.audience.name}} </h1>
    <div class="total-counts" ng-if="acc.isAudCompanies()">
      <div class="count-card">
        <div class="count-title">
          Total Companies
        </div>
        <loading-spinner blur-index="2" ng-if="acc.refreshingCount"></loading-spinner>
        <div class="total-number">
          {{ (acc.audience.recommendationNum | number) || '--' }}
          <i class="count-updated-ts btr bt-clock"
             ng-if="acc.inited && !acc.refreshingCount"
             ng-click="acc.refreshCount()"
          >
            <div class="tooltip-window">
              <p>
                Last updated {{acc.audience.companyNumberRefreshTs*1000 | date:'medium'}}
              </p>
            </div>
          </i>
        </div>
      </div>
      <div class="count-card">
        <div class="count-title">
          Criteria Results
        </div>
        <div class="filtered-number">
          {{acc.dispFilterTotal()}}
        </div>
      </div>
    </div>
  </div>

  <div class="table-top">
    <div class="table-crud">
      <div class="table-crud-text fit-model" ng-if="acc.inited && acc.isAudCompanies()">
        <span>
          Model:
          <span class="model-name">{{acc.currentFitModel.name}}</span>
          <i class="btr bt-angle-down"></i>
        </span>

        <div class="fit-model-dropdown">
          <div
            class="dropdown-item"
            ng-if="model.status === 'COMPLETED'"
            ng-repeat="model in acc.fitModels"
            ng-click="acc.updateFitModel(model.id)"
            ng-class="{'selected': model.id === acc.currentFitModel.id}"
          >
            {{model.name}}
          </div>
        </div>
      </div>
      <div class="table-crud-text sort-by" ng-if="acc.isAudCompanies()">
        <span ng-click="acc.changeSortDir()">
          Sort By:
          <span class="current-sort">{{acc.sortService.currentSortDisp()}}</span>
          <i class="btr bt-angle-down"></i>
        </span>

        <div class="sort-options-dd">
          <div
            class="dropdown-item extender"
            ng-repeat="sortOption in acc.sortOptions"
            ng-if="!sortOption.tableOnly"
          >
            {{sortOption.text}}
            <i class="btr bt-angle-right"></i>
            <div class="sort-dir-dropdown extension no-delay">
              <div class="dropdown-item" ng-click="acc.sortByAsc($index)">
                Ascending
              </div>
              <div class="dropdown-item" ng-click="acc.sortByDesc($index)">
                Descending
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-crud-text"
           ui-sref="audience.dashboard.audience-insights({audienceId: acc.audience.id})"
           ng-if="acc.isAudCompanies()"
      >
        <span>Dashboard</span>
      </div>
      <div class="table-crud-text"
           ng-click="acc.filterAudience()"
           ng-if="acc.isAudCompanies()"
      >
        <span>Criteria</span>
      </div>

      <!-- Determining what publish methods are available is slow, so we use a spinner here. -->
      <div class="publish-dropdown dropdown"
           ng-if="acc.isAudCompanies() && !acc.pas.publishMethods"
      >
        <i class="btr bt-spinner bt-spin"></i>
      </div>
      <div class="table-crud-text publish"
           ng-if="acc.isAudCompanies() && acc.pas.publishMethods"
      >
        <span>Publish</span>

        <div class="publish-dropdown dropdown">
          <div
            class="dropdown-item"
            ng-repeat="publishMethod in acc.pas.publishMethods"
            ng-click="acc.selectPublishMethod(publishMethod)"
            ng-class="{disabled: !publishMethod.enabled}"
          >
            {{publishMethod.dispName}}
          </div>
        </div>
      </div>

      <div class="table-crud-text download-list"
           ng-if="acc.isExcCompanies() && acc.inited"
           ng-click="acc.downloadExclusionList()"
      >
        <loading-spinner ng-if="acc.downloadingList"></loading-spinner>
        <span>Download List</span>
      </div>

      <div class="table-crud-text"
           ng-if="acc.canReupload()"
           ng-click="acc.updateExclusionList()"
      >
        <span>Re-Upload List</span>
      </div>

      <div class="table-search">
        <span class="btr bt-search search-icon"></span>
        <input type="text"
               class="search-box"
               ng-class="{'active': acc.nameFilterActive}"
               ng-model="acc.companyNameFilter"
               ng-keypress="acc.nameSearchOnEnter($event)"
               placeholder="{{acc.nameSearchPlaceholder()}}">
        <i class="btr bt-times cancel-name-filter"
           ng-if="acc.nameFilterActive"
           ng-click="acc.cancelNameFilter({reload: true})"></i>
      </div>
    </div>

  </div>

  <div
    class="results-display-area"
    ng-class="{'hide-overflow': acc.companiesLoading}"
  >
    <loading-spinner ng-if="acc.companiesLoading || acc.pageCountLoading"></loading-spinner>

    <div class="cards-cont" ng-if="acc.isAudCompanies()">
      <div
        lazy-cards
        container-selector=".cards-cont"
        card-template-url="templates/company-card.html"
        scrollable-element-selector=".cards-cont"
        more-companies="acc.filteredCompanies"
      >
      </div>
    </div>

    <div class="table-wrapper" ng-if="acc.viewingResultsAsTable()">
      <div class="table-scroll">
        <table class="companies-table">
          <thead>
          <tr>
            <th ng-repeat="column in acc.companiesTable.header">
              {{column.text}}
              <div class="sort-toggle"
                   ng-class="{'st-sort-ascent': acc.sortService.isAscSort(column.sortKey),
                              'st-sort-descent': acc.sortService.isDescSort(column.sortKey)}"
                   ng-click="acc.sortTable(column.sortKey)">
                <i class="btr bt-long-arrow-down"></i>
                <i class="btr bt-long-arrow-up"></i>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in acc.filteredCompanies">
              <td>
                {{row.companyName}}
              </td>
              <td>
                <span ng-text-truncate="row.domain"
                      ng-tt-chars-threshold="40" ng-tt-no-toggling></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination
        class="companies-pagination"
        num-pages="acc.totalPages"
        select-page-handler="acc.selectPageHandler(pageNum)"
        to-first-page="acc.toFirstPage">
      </pagination>
    </div>
  </div>
</div>
