<div
  class="audience-settings"
  ng-class="{slideIn: asc.showSlide}"
>
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="audience-settings-slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn"
              ng-click="asc.closeSlide()"
      >
        Cancel
      </button>
      <button class="save-btn"
              ng-click="asc.saveAndClose()"
      >
        <loading-spinner ng-if="asc.saving"></loading-spinner>
        Save & Close
      </button>
    </div>

    <div class="header-row">
      <h2 ng-if="!asc.editingAudience">Audience Settings:
        <span class="audience-name">{{asc.audience.name}}</span>
        <i class="btr bt-pencil" ng-click="asc.toggleEditing()"></i>
        <i class="fa fa-info-circle">
          <div class="tooltip-window">
            <p>
              DESCRIPTION
              </br>
              {{asc.audience.description || 'Add a description for this audience by clicking the pencil!'}}
            </p>
          </div>
        </i>
      </h2>
      <div class="edit-audience" ng-if="asc.editingAudience">
        <div class="text-description-wrapper">
          <input
            type="text"
            class="text"
            ng-model="asc.audience.name"
          >
          </input>
          <div class="description">
            <textarea
              ng-model="asc.audience.description"
              placeholder="Audience description (optional)"
              maxlength="1000"
            >
            </textarea>
            <div class="characters-remaining">
              Characters remaining {{asc.charactersLeft}}
            </div>
          </div>
        </div>
        <div class="save-btn" ng-click="asc.toggleEditing()">
          Save
        </div>
      </div>
    </div>
    <div class="main">
      <div class="dropdown-row">

        <div class="change-owner">
          <div class="label">
            Change owner
          </div>
          <div dropdown-select="asc.possibleOwners"
               dropdown-model="asc.selectedOwner"
               dropdown-item-label="name">
          </div>
        </div>

        <div class="select-default-model">
          <div class="label">
            Select default model
          </div>
          <div dropdown-select="asc.possibleModels"
               dropdown-model="asc.selectedModel"
               dropdown-item-label="name">
          </div>
        </div>

      </div>

      <div class="misc-switches">
        <div class="show-audience-sfdc">
          <g-switch name="showAudience"
                    ng-model="asc.audience.showInSfdc"
                    on="on"
                    ng-change="asc.showInSfdcChanged"
                    off="off">
          </g-switch>
          <div class="switch-label">
            Show Audience in Salesforce
          </div>
        </div>
        <div class="show-audience-sfdc">
          <g-switch name="showAudience"
                    ng-model="asc.audience.isPublishedSfdc"
                    on="on"
                    ng-change="asc.isPublishedSfdcChanged"
                    off="off">
          </g-switch>
          <div class="switch-label">
            Only show published companies from this audience in Salesforce
          </div>
        </div>
        <div class="share-audience">
          <g-switch name="shareAudience"
                    ng-model="asc.audience.isPrivate"
                    ng-checked="!asc.audience.isPrivate"
                    on="on"
                    off="off">
          </g-switch>
          <div class="switch-label">
            Share Audience
          </div>
        </div>
      </div>

      <div class="real-time-scoring"
           ng-class="{'disabled': asc.shouldDisableControls()}">
        <div class="section-text">
          Real Time Scoring
          <div class="contact-support" ng-if="asc.shouldDisableControls()">
            {{asc.disabledReason()}}
          </div>
        </div>
        <div class="rts-switch-row">
          <g-switch name="showAudience"
                    ng-model="asc.audience.realTimeScoringEnabled"
                    ng-checked="asc.scoringSwitchOn()"
                    on="on" off="off"
          ></g-switch>
          <div class="switch-label">
            Real Time Scoring
          </div>
          <div class="inbound-leads" ng-if="asc.scoringSwitchOn()">
            Looking for inbound prospects in Salesforce {{asc.dispInboundTargets()}}.
            <!-- <i class="fa fa-info-circle"></i> -->
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
