<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal model-with-list-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">
      Good News!
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="text">
          <div class="top">
            Would you also like to use this list as your scoring model?
          </div>
          <div class="middle">
            We will notify you via email then the model is ready to use.
          </div>
          <div class="bottom">
            You can see the results based on the default model (CRM Fit).
          </div>
        </div>
        <div class="radios">
          <div class="radio first">
            <label class="ui-checks">
              <input type="radio"
                     ng-model="mdc.result.buildAModel"
                     ng-value="true">
              <i></i>
              <span class="text">
                Yes - Use this list to build a model.
              </span>
            </label>
          </div>
          <div class="radio">
            <label class="ui-checks">
              <input type="radio"
                     ng-model="mdc.result.buildAModel"
                     ng-value="false">
              <i></i>
              <span class="text">
                No - Continue without building model.
              </span>
            </label>
          </div>
        </div>
        <div class="name">
          <div class="label" ng-if="mdc.result.buildAModel">
            Name your model
            <div class="required">
              (required)
            </div>
          </div>
          <input ng-model="mdc.result.name" ng-if="mdc.result.buildAModel">
          </input>
        </div>
      </div>
      <div class="modal-button-row">
        <button ng-disabled="mdc.result.buildAModel === undefined || (mdc.result.buildAModel && !mdc.result.name)"
                ng-click="mdc.onConfirm(mdc.result)">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>