<div
  class="choose-exclusion"
  ng-class="{slideIn: aec.showSlide}"
>
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="exclusion-slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="aec.closeSlide()">
        Cancel
      </button>
      <button class="save-btn" ng-click="aec.saveAndClose()">
        <loading-spinner ng-if="aec.saving"></loading-spinner>
        Save & Close
      </button>
    </div>

    <div class="header-row">
      <h2>Exclusion Lists</h2>
    </div>

    <div class="main">
      <div class="label">
        Options
      </div>
      <div multi-select
           class="auto"
           ms-data-src="aec.msDataSrc"
           ms-data-type="'exclusion'"
           left-filter="true"
           right-filter="true"
           inited="true"
           auto-threshold="true">
      </div>
    </div>
  </div>

</div>
