<div class="crm-galaxy">
  <div class="coming-soon-tile">
    <div class="icon-wrapper">
      <i class="btr bt-rocket"></i>
    </div>
    <div class="new-way">
      A new way to view your customers
    </div>
    <div class="coming-soon">
      Coming Soon
    </div>
    <div class="contact-us">
      <a href="mailto:support@everstring.com?subject=EverString Galaxy Demo Request">
        Contact us for preview
      </a>
    </div>
  </div>
  <div class="credits">
    Photo taken by </br>
    Abhilash Itharaju, Senior Software Engineer and Machine Learning Enthusiast at EverString
  </div>
</div>