<div
  class="custom-model-slide"
  ng-class="{slideIn: mdc.showSlide}"
  >
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="mdc.closeSlide()">
        Cancel
      </button>
      <button
        class="save-btn"
        ng-disabled="!mdc.canSave()"
        ng-click="mdc.saveAndClose()"
        >
        Save & Close
      </button>
    </div>

    <div class="header-row">
      <h2>Build Model</h2>
    </div>
    <div class="instructions">
      Please provide a CSV file of company names and URLs to build your model.
    </div>
    <div class="vertical-group">
      <div class="label">
        Name Model
        <span class="required">(required)</span>
      </div>
      <div class="text">
        <input type="text" ng-model="mdc.params.modelName" ng-class="{'invalid': mdc.hasSameName()}"/>
        <div class="no-same-name-msg" ng-if="mdc.hasSameName()">
          This name is already taken.
        </div>
      </div>
    </div>
    <div class="upload-wrap">
      <div class="label">Upload List</div>
      <csv-uploader
                    only-validate="true"
                    validate-locally="true"
                    validation-rules="mdc.customFitValidationRules"
                    for-model="true"
                    methods="mdc.uploader.methods"
                    validated="mdc.uploader.validated"
                    upload-url="mdc.uploader.url"
                    on-upload-success="mdc.onSaveSuccess()"
                    on-upload-failed="mdc.onSaveFailed()"
                    upload-params="mdc.params"
                    alert-target="#slide-alert">
      </csv-uploader>
    </div>
  </div>
</div>