<div
  class="filter-audience"
  ng-class="{slideIn: afc.showSlide}"
>
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="filter-audience-slide-alert">
      <div class="es-alert alert-error" ng-if="afc.initFailed">
        <span class="icon-wrap">
          <i class="btr bt-big bt-ban alert-icon"></i>
        </span>
        <a class="alert-message">
          Error getting filter data.
        </a>
        <button ng-click="afc.retryFiltersInit()"> Retry </button>
      </div>
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="afc.closeFilterSlide()">
        Close
      </button>
    </div>

    <div class="header-row">
      <h2>Criteria</h2>
    </div>
    <div class="main">
      <title-pane title="Criteria"
                  initial-open-flag="afc.initialOpenFilter()"
                  binary-toggle="true"
                  class="filter-pane"
      >
        <loading-spinner ng-if="!afc.filterService.inited"></loading-spinner>
        <div class="filter-content">
          <div class="dropdown-row">
            <div class="left">
              <div class="dropdown-groups">
                <div class="dropdown-group">
                  <div class="label">
                    Category
                  </div>
                  <div class="primary-dropdown" dropdown-select="afc.primaryFilterItems"
                       dropdown-model="afc.currentPrimaryFilterItem"
                       dropdown-item-label="name">
                  </div>
                </div>
                <div class="dropdown-group" ng-if="afc.hasSubFilters()">
                  <div class="label">
                    Sub-Category
                  </div>
                  <div class="sub-dropdown" dropdown-select="afc.subFilterItems[afc.currentPrimaryFilterItem.key]"
                       dropdown-model="afc.subFilterCategory"
                       dropdown-item-label="name">
                  </div>
                </div>
              </div>
              <div class="label">
                Options
              </div>
            </div>

            <div class="right">
              <div class="clear-all" ng-click="afc.clearAllOnclick()">
                Clear all criteria
              </div>
            </div>
          </div>

          <div multi-select
               class="auto"
               ms-data-src="afc.filterData"
               ms-data-type="afc.subFilterCategory.name || afc.currentPrimaryFilterItem.key"
               left-filter="true"
               right-filter="true"
               inited="true"
               auto-threshold="true">
          </div>

          <div class="hg-data-attribution" ng-if="afc.filteringOnTechnology()">
            Powered by HG Data
          </div>
        </div>
      </title-pane>

      <title-pane title="{{afc.summaryPaneTitle()}}"
                  initial-open-flag="afc.initialOpenSummary()"
                  binary-toggle="true"
                  class="summary-pane"
      >
        <div class="summary-content">
          <div class="filter-summary-category-group"
               ng-repeat-start="item in afc.allFilterItems | filter: afc.filterService.filteringOnCategory()"
          >
            <div class="top">
              <div class="number-circle">
                <div class="number">
                  {{$index + 1}}
                </div>
              </div>
              <div class="category">
                {{item.summaryName || item.name}}
              </div>
            </div>
            <!-- TODO: refactor to use summary-box directive here too -->
            <div class="summary-box">
              <div class="summary-search">
                <i class="btr bt-search search-icon"></i>
                <input type="text" class="search-box" ng-model="afc.summaryFilters[item.key].text">
              </div>
              <div class="summary-items">
                <div class="summary-item"
                     ng-repeat="selection in (fltrSelected = (afc.filterData[item.key] | filter : {selected: true} | filter : afc.summaryFilters[item.key].text)) | limitTo : afc.summaryRenderLimit[item.key]"
                     ng-style="{'z-index': fltrSelected.length + 1 - $index}"
                >
                  <label ng-text-truncate="selection.text"
                         ng-tt-chars-threshold="46"
                         ng-tt-no-toggling>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="and" ng-if="!$last" ng-repeat-end>
            AND
          </div>
        </div>
      </title-pane>

    </div>
  </div>

</div>
