<div
  class="find-keywords"
  ng-class="{slideIn: fkc.showSlide}"
>
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="find-keywords-slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="fkc.closeSlide()">
        {{fkc.cancelBtnText()}}
      </button>
      <button
        class="save-btn"
        ng-click="fkc.saveAndClose()"
        ng-if="fkc.isFinding()"
        ng-disabled="!fkc.atLeastOneKeywordSelected()"
      >
        Save & Close
      </button>
    </div>

    <div class="header-row">
      <h2>{{fkc.headerText()}}</h2>
    </div>
    <div class="main">
      <div class="instructions" ng-if="fkc.isFinding()">
        <div class="text">
          Enter URL
        </div>
        <i class="fa fa-info-circle">
          <div class="tooltip-window">
            <p ng-repeat="message in fkc.tutorialMessages">
              {{message}}
            </p>
          </div>
        </i>
      </div>
      <keywords kw-model="fkc.kwModel"
        disable-input-area="fkc.isViewing()"
        search-type="{{fkc.appropriateSearchType()}}"
        placeholder-text="fkc.placeholderText"
        table-crud-items="fkc.getTableCrudItems()"
        tag-area-header="fkc.getTagAreaHeader()"
        disable-tag-editing="fkc.isViewing()">
      </keywords>
      <div class="find-keywords-intro" ng-if="fkc.showTutorialMessage">
        <div class="content">
          <div class="title">
            <i class="btr bt-label"></i>
            <span class="text">
              Enter company URL(s)
            </span>
          </div>

          <div class="description">
            <p ng-repeat="message in fkc.tutorialMessages">
              {{message}}
            </p>
          </div>

          <div class="next-step">
            <div
              class="button"
              ng-click="fkc.hideTutorialMessage()"
            >
              Got it
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
