<div class="find-audience" ng-if="acc.enabled" ng-class="{'sidebar-closed': !acc.sbOpen}">
  <loading-spinner ng-if="acc.saveAudienceInProgress"
                   append-to-body="true"
                   es-logo-version="true">
  </loading-spinner>
  <div class="left-sidebar"
       ng-class="{'open': acc.sbOpen}"
  >
    <div class="navbar">
      <!-- Firmographics -->
      <div class="filter-items-section" ng-if="acc.isFinding()">
        <div class="section-title">
          <div class="text">
            Criteria
          </div>
          <i class="fa fa-info-circle">
            <div class="tooltip-window">
              <p>
                This list of attributes is used to tailor the results to get top scoring companies.
              </p>
            </div>
          </i>
          <div class="toggle-arrow"
               ng-click="acc.toggleSidebar()"
          >
            <i class="btr bt-caret-right"></i>
            <i class="btr bt-caret-left"></i>
          </div>
        </div>
        <!-- <div class="menu-nav-button disabled">
          <i class="btr bt-angle-up"></i>
        </div> -->
        <div class="filter-items-menu menu-items">
          <div class="menu-item"
               ng-repeat="item in acc.filters"
               ng-click="acc.filterAudience(item.key)"
          >
            <div class="icon-container"
                 ng-class="{'active': acc.filteringOnCategory(item.key)}"
            >
              <i class="btr {{item.icon}}"
                 ng-if="!acc.filteringOnCategory(item.key)"></i>
              <i class="btr bt-check"
                 ng-if="acc.filteringOnCategory(item.key)"></i>
            </div>
            <div class="text">
              {{item.name}}
            </div>
          </div>
        </div>
        <!-- <div class="menu-nav-button disabled">
          <i class="btr bt-angle-down"></i>
        </div> -->
      </div>

      <div class="exclusion-list-section"
           ng-if="acc.creatingAudience()"
      >
        <div class="section-title">
          <span class="text">Exclusion List</span>
          <div class="toggle-arrow"
               ng-click="acc.toggleSidebar()"
               ng-if="!acc.isFinding()"
          >
            <i class="btr bt-caret-right"></i>
            <i class="btr bt-caret-left"></i>
          </div>
        </div>
        <div class="exclusion-list" ng-click="acc.chooseExcLists()">
          <i class="btr bt-thumbs-down icon"></i>
          <span ng-text-truncate="acc.excListDispName()"
                ng-tt-chars-threshold="16"
                ng-tt-no-toggling
                class="text">
          </span>
        </div>
      </div>

      <!-- Scoring Model -->
      <div class="scoring-model-section"
           ng-if="acc.creatingAudience()"
      >
        <div class="section-title">
          <span class="text">Scoring Model</span>
          <!-- <i class="fa fa-info-circle">
          </i> -->
        </div>
        <div class="crm-fit" ng-click="acc.buildNewModel()">
          <i class="fa fa-gears icon"></i>
          <span ng-text-truncate="acc.fitModelDispName()"
                ng-tt-chars-threshold="16"
                ng-tt-no-toggling
                class="text">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content" ng-class="{'sidebar-closed': !acc.sbOpen}">
    <div class="header-row">
      <div class="title">
        <span class="text">
          {{acc.titleText()}}
          <!-- Only keyword find will have info icons for now. -->
          <i class="fa fa-info-circle" ng-if="acc.findingByKeywords()">
            <div class="tooltip-window">
              <p>
                {{acc.keywordContent['enter-keywords-intro']}}
              </p>
            </div>
          </i>
        </span>
      </div>
    </div>
    <!-- For Companies by Keywords or URLs -->
    <div class="search-row" ng-if="acc.findingByTagSearch()">
      <div class="search-items">
        <div class="actions">
          <div class="find-keywords"
               ng-click="acc.findKeywords()"
               ng-if="acc.findingByKeywords()"
          >
            Find Keywords
            <i class="fa fa-info-circle">
              <div class="tooltip-window">
                <p>
                  {{acc.keywordContent['find-keywords-intro']}}
                </p>
              </div>
            </i>
            <div class="find-keywords-intro"
                 ng-if="acc.showAudienceTutorialStep(3)"
                 ng-click="acc.stopProp($event)"
            >
              <div class="content">
                <div class="title">
                  <i class="btr bt-label"></i>
                  <span class="text">
                    Find Keywords
                  </span>
                </div>

                <div class="description">
                  <p>
                    {{acc.keywordContent['find-keywords-intro']}}
                  </p>
                </div>

                <div class="next-step">
                  <div
                    class="button has-checkbox-below"
                    ng-click="acc.nextTutorialStep('.find-keywords-intro', '.find-keywords .fa-info-circle')"
                  >
                    Got it
                  </div>
                  <label class="ui-checks">
                    <input type="checkbox"
                           ng-model="acc.stopTooltipsFlag"/>
                    <i></i>
                    Don't show these again
                  </label>
                </div>

                <div class="progress-counter">
                  ({{acc.curTutorialStep}} of {{acc.totalSteps}})
                </div>
              </div>
            </div>
          </div>
          <div class="clear-keywords"
               ng-click="acc.clearAllKeywords()">
            Clear all {{acc.findingByKeywords() ? 'Keywords' : 'URLs'}}
          </div>
        </div>
        <keywords kw-model="acc.kwModel"
                  disable-tag-area="true"
                  search-type="{{acc.searchType()}}"
                  on-search="acc.getPreviewCompaniesDefault()"
                  placeholder-text="acc.placeholderText()"
                  accent-flag="acc.hasResultsButChangedSearchInput() && !acc.searchLoading && acc.atLeastOneSearchParameter()"
                  disable-flag="!acc.atLeastOneSearchParameter()">
        </keywords>
        <div class="enter-keywords-intro" ng-if="acc.showAudienceTutorialStep(2)">
          <div class="content">
            <div class="title">
              <i class="btr bt-label"></i>
              <span class="text">
                Enter Keywords
              </span>
            </div>

            <div class="description">
              <p>
                {{acc.keywordContent['enter-keywords-intro']}}
              </p>
            </div>

            <div class="next-step">
              <div
                class="button"
                ng-click="acc.nextTutorialStep('.enter-keywords-intro', '.title .text .fa-info-circle')"
              >
                Got it
              </div>
            </div>

            <div class="progress-counter">
              ({{acc.curTutorialStep}} of {{acc.totalSteps}})
            </div>
          </div>
        </div>
      </div>
      <button class="save-btn"
              ng-click="acc.saveOnclick()"
              ng-disabled="!acc.hasSearchResults()">
        {{acc.saveBtnText()}}
      </button>
    </div>
   <!--  For Companies by Filters -->
    <div class="filter-row" ng-if="acc.findingByFilters()">
      <div class="filter-instructions">
        <div class="outer-circle">
          <div class="inner-circle">
            <i class="btr bt-arrow-left"></i>
          </div>
        </div>
        <div class="instruction-text">
          Start applying criteria and start finding companies!
        </div>
        <button class="save-btn"
                ng-click="acc.saveOnclick()"
                ng-disabled="!acc.hasSearchResults()">
          {{acc.saveBtnText()}}
        </button>
      </div>
    </div>
    <!-- For similar companies by CSV -->
    <div class="list-companies-row" ng-if="acc.uploadCsvContext()">
      <div class="list-companies-instructions"
           ng-class="{'for-enrich': acc.isEnriching()}"
      >
        <div class="top" ng-if="acc.isEnriching()">
          Provide a list of companies that you would like to {{acc.creatingAudience() ? 'score' : 'exclude'}}.
        </div>
        <div class="top" ng-if="acc.findingByCsv()">
          Provide a list of companies that you would like to find more of.
        </div>
        <div class="bottom" ng-if="acc.findingByCsv()">
          For example, if you provide Visa and Geico, we will find you companies like MasterCard and Liberty Mutual.
        </div>
      </div>
      <button class="save-btn"
              ng-click="acc.saveOnclick()"
              ng-disabled="!acc.hasSearchResults()">
        {{acc.saveBtnText()}}
      </button>
    </div>
    <div class="preview-parameters-row">
      <div class="results" ng-class="{'irrelevant': acc.hasAbsolutelyNothing(),
                                      'staged-for-new-results': acc.hasResultsButChangedSearchInput()}"
      >
        RESULTS:
      </div>
      <!-- Creating audience via find -->
      <div class="keywords-info"
           ng-if="acc.creatingAudience() && acc.atLeastOneSearchParameter() && acc.isFinding()"
      >
        {{acc.appropriateText()}}
        <span class="total-keywords"
              ng-click="acc.viewKeywords()"
              ng-if="acc.findingByTagSearch() || acc.findingByCsv()">
          {{acc.numKeywordsStr()}}
        </span>
        <span class="comma" ng-if="acc.findingByTagSearch() || acc.findingByCsv()">
          ,
        </span>
        <span class="total-filters" ng-click="acc.filterSummary()">
          {{acc.filterService.totalActiveCategories()}} Criteria
        </span>
          ,
        <span class="exclusion-lists" ng-click="acc.chooseExcLists()">
          {{acc.selectedExcListIds.length}} Exclusion List(s)
        </span>
          , and model
        <span class="selected-model" ng-click="acc.buildNewModel()">
          {{acc.fitModelDispName()}}.
        </span>
        <span class="trigger-search-again"
              ng-if="acc.hasResultsButChangedSearchInput() && !acc.searchLoading">
          Click the search icon to refresh your results.
        </span>
      </div>
      <!-- Creating audience/exclusion via score/enrich -->
      <div class="scored-list-info" ng-if="acc.isEnriching() && acc.searchHasConcluded()">
        We were able to {{acc.creatingAudience() ? 'score' : 'find'}} {{acc.dispTotal()}} companies from your list
        <span ng-if="acc.creatingAudience()">, using model</span>
        <span class="selected-model" ng-if="acc.creatingAudience()" ng-click="acc.buildNewModel()">
          {{acc.fitModelDispName()}}.
        </span>
      </div>
      <!-- Creating exclusion list by keywords -->
      <div class="exclusion-list-info" ng-if="acc.excludingByKeywords() && acc.atLeastOneSearchParameter()">
        {{acc.appropriateText()}}
        <span class="total-keywords"
              ng-click="acc.viewKeywords()"
              ng-if="acc.findingByTagSearch() || acc.findingByCsv()">
          {{acc.numKeywordsStr()}}
        </span>
        and
        <span class="total-filters" ng-click="acc.filterSummary()">
          {{acc.filterService.totalActiveCategories()}} Criteria
        </span>
      </div>
    </div>
    <div class="table-crud">
      <!-- SORT -->
      <div class="table-crud-text sort-by" ng-if="!acc.viewingResultsAsTable()">
        <span ng-click="acc.changeSortDir()">
          Sort By:
          <span class="current-sort">{{acc.sortService.currentSortDisp()}}</span>
          <i class="btr bt-angle-down"></i>
        </span>

        <div class="sort-options-dd">
          <div
            class="dropdown-item extender"
            ng-repeat="sortOption in acc.sortOptions"
            ng-if="!sortOption.tableOnly"
          >
            {{sortOption.text}}
            <i class="btr bt-angle-right"></i>
            <div class="sort-dir-dropdown extension no-delay">
              <div class="dropdown-item" ng-click="acc.sortByAsc($index)">
                Ascending
              </div>
              <div class="dropdown-item" ng-click="acc.sortByDesc($index)">
                Descending
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Go Back to Exclusion Companies -->
      <div class="table-crud-text"
           ng-if="acc.updatingExclusion()"
           ng-click="acc.toExcListCompanies()"
      >
        <span>List Companies</span>
      </div>
      <!-- SEARCH -->
      <div class="table-search">
        <span class="btr bt-search search-icon"></span>
        <input type="text"
               class="search-box"
               ng-class="{'active': acc.nameFilterActive}"
               ng-model="acc.companyNameFilter"
               ng-keypress="acc.nameSearchOnEnter($event)"
               placeholder="{{acc.nameSearchPlaceholder()}}">
        <i class="btr bt-times cancel-name-filter"
           ng-if="acc.nameFilterActive"
           ng-click="acc.cancelNameFilter({reload: true})"></i>
      </div>
      <div class="reupload"
           ng-if="acc.uploadCsvContext() && acc.searchHasConcluded()"
           ng-click="acc.reuploadCSV()">
        Re-upload CSV
      </div>
    </div>

    <div class="results-display-area"
         ng-class="{'using-table': acc.viewingResultsAsTable(),
                    'hide-overflow': acc.searchLoading}"
    >
      <loading-spinner ng-if="acc.shouldShowLoading()"></loading-spinner>

      <!-- Empty results  -->
      <div class="no-results-overlay"
           ng-if="!acc.hasSearchResults() && !acc.shouldDisplayUploader()"
      >
        <div class="overlay-content">
          <div class="text">
            {{acc.emptyResultsText()}}
          </div>
          <div class="icon-wrapper">
            <div class="inner-circle">
              <i class="btr bt-search" ng-if="!acc.noResultsFromSearchAttempt">
              </i>
              <i class="btr bt-frown" ng-if="acc.noResultsFromSearchAttempt">
              </i>
            </div>
          </div>
        </div>
      </div>

      <!-- We need to ensure cards-cont has its normal width for the calculation of number of cards per row
           to work correctly. -->
      <div class="cards-cont"
           ng-style="{ visibility: acc.hasSearchResults() ? 'visible' : 'hidden' }"
           ng-if="!acc.viewingResultsAsTable()"
      >
        <div
          lazy-cards
          more-companies="acc.searchResults"
          container-selector=".cards-cont"
          card-template-url="templates/company-card.html"
          scrollable-element-selector="{{ acc.mainContentSelector }}"
          all-companies="acc.allCompanies"
        >
        </div>
      </div>

      <!-- For Enrich  -->
      <csv-uploader ng-if="acc.shouldDisplayUploader()"
                    validated="acc.readyToEnrich"
                    validate-locally="true"
                    upload-url="acc.uploadCSVUrl"
                    on-upload-success="acc.handleUploadCSVResponse(response, csvFile)"
                    upload-params="acc.enrichListParams"
                    validation-rules="acc.validationRules"
      >
      </csv-uploader>

      <!-- For Exclusion List -->
      <div class="table-wrapper" ng-if="acc.viewingResultsAsTable() && acc.searchHasConcluded()">
        <div class="table-scroll">
          <table class="result-table">
            <thead>
            <tr>
              <th ng-repeat="column in acc.resultTable.header">
                {{column.text}}
                <div class="sort-toggle"
                     ng-class="{'st-sort-ascent': acc.sortService.isAscSort(column.sortKey),
                                'st-sort-descent': acc.sortService.isDescSort(column.sortKey)}"
                     ng-click="acc.sortTable(column.sortKey)">
                  <i class="btr bt-long-arrow-down"></i>
                  <i class="btr bt-long-arrow-up"></i>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in acc.searchResults">
                <td>
                  {{row.name}}
                </td>
                <td>
                  <span ng-text-truncate="row.domain"
                        ng-tt-chars-threshold="40" ng-tt-no-toggling></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <pagination
          ng-show="acc.hasSearchResults()"
          class="result-pagination"
          num-pages="acc.totalPages"
          select-page-handler="acc.selectPageHandler(pageNum)"
          to-first-page="acc.toFirstPage">
        </pagination>
      </div>

    </div>

    <div class="find-companies-intro" ng-if="acc.showAudienceTutorialStep(1)">
      <div class="content">
        <div class="title">
          <i class="btr bt-user"></i>
          <span class="text">
            Find Companies
          </span>
        </div>

        <div class="description">
          Let's get started! This is where we help you build Audiences using keywords and insights.
        </div>

        <div class="next-step">
          <div
            class="button"
            ng-click="acc.nextTutorialStep('.find-companies-intro', null)"
          >
            Got it
          </div>
        </div>

        <div class="progress-counter">
          ({{acc.curTutorialStep}} of {{acc.totalSteps}})
        </div>
      </div>
    </div>
  </div>
</div>
