<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal need-model-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title" ng-bind-html="mdc.params.title">
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="outer-wrapper">
          <div class="inner-wrapper">
            <i class="fa fa-gears"></i>
          </div>
        </div>
      </div>
      <div class="modal-button-row" ng-if="mdc.params.showButtons">
        <button class="cancel"
                ng-click="mdc.close()">
          Cancel
        </button>
        <button class="build"
                ui-sref="crm.welcome">
          Build My First Model
        </button>
      </div>

      <div class="tell-me-more">
        <span class="wistia_embed wistia_async_ykdmnpd8qp popover=true popoverAnimateThumbnail=true popoverContent=link videoFoam=true" style="display:inline">
          Tell me more about models
          <i class="btr bt-tv">
          </i>
        </span>
      </div>

    </div>
  </div>
</div>
