<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal not-enough-domains-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">
      Error
    </div>
    <div class="es-alert alert-error">
      <span class="icon-wrap">
        <i class="btr bt-big bt-ban alert-icon"></i>
      </span>
      <a class="alert-message">
        You need {{mdc.params.addMore}} more companies to proceed.
      </a>
    </div>
    <div class="modal-body">
      <div class="modal-content">
        We found {{mdc.params.totalFound}} of the companies that you uploaded.
      </br>
        Download the revised file, <b> add {{mdc.params.addMore}} more and re-upload. </b>
      </div>
      <div class="modal-button-row">
        <button class="cancel"
                ng-click="mdc.close()">
          Cancel
        </button>
        <button ng-click="mdc.downloadCsv()">
          Download Revised File
        </button>
      </div>
    </div>
  </div>
</div>
