<div
  class="publish-audience bs-body"
  ng-class="{slideIn:pubAudCtrl.showSlide}"
>
  <div class="background-wrapper">
  </div>

  <div class="content">
    <loading-spinner ng-if="pubAudCtrl.isPublishPending"></loading-spinner>

    <div id="slide-alert">
    </div>

    <div class="button-row">
      <button
        class="btn-cancel"
        ng-click="pubAudCtrl.closeSlide()">
        Cancel
      </button>
      <button
        class="btn-primary pull-right"
        ng-click="pubAudCtrl.submit()"
        ng-disabled="pubAudCtrl.isPublishPending || !pubAudCtrl.canSubmit()"
      >
        Publish
      </button>
    </div>

    <div class="title">
      <h2 class="h2">{{pubAudCtrl.getPublishTitle()}}</h2>
    </div>

    <div class="m-t"></div>

    <div class="nav-step">
      <div class="back">
        <div class="line"></div>
      </div>

      <div
        class="nav"
        ng-repeat="step in pubAudCtrl.steps"
        ng-class="pubAudCtrl.getNavNgClass(step)"
        ng-click="pubAudCtrl.goToStep($index)"
      >
        <div class="nav-title">
          {{pubAudCtrl.AUDIENCE_NAV_CONFIG[step].title}}
        </div>

        <div class="nav-point">

        </div>
        <div class="nav-tip">
          {{pubAudCtrl.AUDIENCE_NAV_CONFIG[step].tip}}
        </div>

        <div class="nav-btn">
          <a
            href=""
            ng-show="!pubAudCtrl.isFirstStep(step)"
            ng-click="pubAudCtrl.preStep($event)"
            class="to-left"
          >
            <i class="btr bt-arrow-left"></i>
            BACK
          </a>

          <a
            href=""
            ng-show="pubAudCtrl.isFilled(step) && !pubAudCtrl.isLastStep(step)"
            ng-click="pubAudCtrl.nextStep($event)"
            class="to-right"
          >
            NEXT
            <i class="btr bt-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <form
      class="form-full form-validation"
      name="pubAudCtrl.pubAudForm"
    >
      <div
        class="section group select-criteria"
        ng-show="pubAudCtrl.showSelectCriteria()"
      >
        <div class="where-to-publish">
          <label class="instructions">
            Where do you want to publish?
          </label>
          <div class="radio-cont">
            <div class="radio">
              <label class="ui-checks" >
                <input
                  type="radio"
                  value="marketo"
                  ng-model="pubAudCtrl.pas.state.masType"
                  ng-disabled="!pubAudCtrl.pas.canPublishToMarketo('marketo')"
                >
                <i></i>
                Production
              </label>
            </div>

            <div class="radio">
              <label class="ui-checks">
                <input
                  type="radio"
                  value="marketo_sandbox"
                  ng-model="pubAudCtrl.pas.state.masType"
                  ng-disabled="!pubAudCtrl.pas.canPublishToMarketo('marketo_sandbox')"
                >
                <i></i>
                Sandbox
              </label>
            </div>
          </div>
        </div>

        <div class="what-to-publish">
          <label class="instructions" for="">
            What to publish?
          </label>

          <div class="radio-cont">
            <!-- Publish new to Marketo. If `inCrm` is not enabled, we disabled this choice -->
            <div class="radio new-accounts-contacts" ng-disabled="!pubAudCtrl.canPublishNotInCrm()">
              <label class="ui-checks">
                <input
                  type="radio"
                  ng-value="true"
                  ng-model="pubAudCtrl.pas.state.publishNew"
                  ng-change="pubAudCtrl.updateMarketoPublish('new')"
                >
                <i></i>
                <span class="text">
                  New companies and contacts
                </span>
              </label>

              <div
                class="how-many-companies"
                ng-disabled="!pubAudCtrl.pas.state.publishNew"
              >
                <div class="checkbox dedupe-against-previous">
                  <label class="ui-checks">
                    <input
                      type="checkbox"
                      ng-model="pubAudCtrl.pas.state.dedupeAgainstPreviousPublish"
                    />
                    <i></i>
                    <span class="text">
                      De-duplicate against previous publish
                    </span>
                  </label>
                </div>

                <label class="instructions">
                  How many companies?<span class="text-required"> (required)</span>
                </label>

                <div class="form-group">
                  <input
                    type="number"
                    class="form-control mid"
                    required
                    ng-model="pubAudCtrl.pas.state.numCompanies"
                    ui-validate=" '$value > 0 && $value <= pubAudCtrl.pas.state.maxCompanies ' "
                  />
                </div>
              </div>

              <div class="tooltip-window" ng-if="!pubAudCtrl.canPublishNotInCrm()">
                Contact EverString Support to enable.
              </div>
            </div>

            <div class="radio" ng-disabled="!pubAudCtrl.canPublishInCrm()">
              <label class="ui-checks">
                <input
                  type="radio"
                  ng-value="true"
                  ng-model="pubAudCtrl.pas.state.publishExisting"
                  ng-change="pubAudCtrl.updateMarketoPublish('existing')"
                >
                <i></i>
                Score existing leads
              </label>

              <div class="tooltip-window" ng-if="!pubAudCtrl.canPublishInCrm()">
                Contact EverString Support to enable.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="what-to-publish-sfdc section group">
        <div
          ng-show="pubAudCtrl.showWhatToPublishSalesforceOrCsv()">
          <div class="form-group col span_3_of_6">
            <label class="instructions">
              What do you want to publish?
            </label>
            <div>
              <div class="radio">
                <label class="ui-checks">
                  <input
                    type="radio"
                    ng-value="false"
                    ng-model="pubAudCtrl.pas.state.isPublishingContacts"
                  >
                  <i></i>
                  Companies Only
                </label>
              </div>

              <!-- Only show this option if user has permission to publish contacts. -->
              <div class="radio" ng-if="pubAudCtrl.pas.state.canPublishContacts">
                <label class="ui-checks">
                  <input
                    type="radio"
                    ng-value="true"
                    ng-model="pubAudCtrl.pas.state.isPublishingContacts"
                  >
                  <i></i>
                  Companies and Contacts
                </label>
              </div>
            </div>
          </div>

          <div class="form-group col span_3_of_6">
            <label class="instructions">
              How many companies?<span class="text-required"> (required)</span>
            </label>
            <div>
              <input
                type="number"
                class="form-control mid"
                required
                ng-model="pubAudCtrl.pas.state.numCompanies"
                ui-validate=" '$value > 0 && $value <= pubAudCtrl.pas.state.maxCompanies' "
              />
            </div>
          </div>
        </div>

        <div ng-show="pubAudCtrl.showChooseFields()">
          <div
            multi-select
            ms-data-src="pubAudCtrl.pas.state"
            ms-data-type="'publishFields'"
            with-filter="true"
            inited="pubAudCtrl.publishFieldsSupportedInited"
            left-title="Not selected"
            right-title="Selected"

            class="auto"
          >
          </div>
        </div>

        <div ng-show="pubAudCtrl.showChooseList()">
          <loading-spinner ng-if="pubAudCtrl.loadingMktList"></loading-spinner>

          <div class="form-group">
            <label class="instructions">
              Choose Marketo Lists to publish to:
            </label>

            <span class="span-link-blue" ng-click="pubAudCtrl.getMktList()">
              &nbsp;<i class="btr bt-sync"></i>
            </span>

            <div>
              <span
                class="span-link-blue"
                ng-click="pubAudCtrl.viewMappingMarketo()"
              >
                View field mapping
              </span>
            </div>

            <div
              multi-select
              ms-data-src="pubAudCtrl.pas.state"
              class="auto"
              ms-data-type="'masList'" with-filter="true"
              inited="true"
              ng-if="!pubAudCtrl.loadingMktList"
              left-title="Not selected"
              right-title="Selected"
            >
            </div>
          </div>
        </div>

        <div
          class="titles-contacts"
          ng-show="pubAudCtrl.showTitlesContacts()"
          ng-form="pubAudCtrl.contactsForm"
        >

          <div class="contacts-per-company form-group">
            <label class="instructions">
              How many contacts per company? (max 5) <span class="text-required">(required)</span>
            </label>
            <input
              class="form-control num-contacts"
              type="number"
              ng-model="pubAudCtrl.pas.state.numContacts"
              required
              ui-validate=" '$value >0 && $value<=5' "
            />
          </div>

          <div class="publish-only-if-contact-found-checkbox" ng-if="!pubAudCtrl.pas.isPublishingToMarketo()">
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="pubAudCtrl.pas.state.publishNewDetails.publishOnlyIfContactFound"
                />
                <i></i>
                <span class="text">
                  Publish company ONLY if a contact is found
                </span>
              </label>
            </div>
          </div>

          <div class="detailed-instructions">
            <p>
              We will expand the titles you enter to identify similar titles, e.g. if you enter <b>Product Manager</b>, we will find contacts whose titles are <b>Product Manager</b> as well as contacts whose titles are <b>Product MGR</b>, <b>PM</b>, etc.
            </p>
            <p>
              If you know the exact title you want, use quotation marks, e.g. entering <b>"Product Manager"</b> will only find contacts whose titles are <b>Product Manager</b>.
            </p>
          </div>

          <div class="titles-sections">
            <div class="section group title-priority"
              ng-repeat="item in pubAudCtrl.pas.state.inputTitles track by $index">
              <div class="col span_5_of_6 no-margin">
                <div>
                  <div class="input-with-radio">
                    <div class="labels" ng-if="$first">
                      <label class="instructions">
                        Which titles? (max 10)
                      </label>

                      <span class="additional-actions">
                        <span
                          class="preview-titles"
                          ng-click="pubAudCtrl.previewTitles()"
                          ng-if="pubAudCtrl.pas.getValidTitles().length"
                        >
                          Preview your selected titles
                        </span>
                        <span class="fallback-preferences" ng-click="pubAudCtrl.openFallbackPreferences()">
                          Fallback Preferences
                        </span>
                      </span>
                    </div>

                    <div class="order-number">
                      {{ $index+1 }}
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      ng-keyup="item.updateJobTitle($event)"
                    />
                  </div>
                </div>
              </div>

              <div class="col span_1_of_6 no-margin contacts-per-title">
                <label class="instructions" ng-if="$first">
                  Contacts per title
                </label>

                <input
                  type="number"
                  ng-model="item.limit"
                  class="form-control input-in-col "
                  ui-validate-watch=" 'pubAudCtrl.pas.state.numContacts' "
                  ui-validate=" '$value >=0  && $value <= pubAudCtrl.pas.state.numContacts' "/>
              </div>
            </div>

            <div class="section group title-priority">
              <div class="col span_5_of_6">
                <div
                  class="add-title-input"
                  ng-click="pubAudCtrl.pas.addTitle()"
                  ng-if="pubAudCtrl.pas.canAddTitles()"
                >
                  <span class="text">Add title</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="section group apply-dedupe-list"
          ng-show="pubAudCtrl.showApplyDedupeList()"
        >
          <div class="bg-info">
            <i class="btr bt-info-circle bt-2x"></i>
            <div class="sub-wrap">
              <div class="line-one">
                Select a list that you want to de-duplicate contacts and accounts against. (optional)
              </div>
              <div class="line-two">
                For example, if you want to de-duplicate against everything in Marketo, make a list with all accounts in it.
              </div>
            </div>
          </div>

          <div class="select-list">
            <div class="select-list-cont">
              <loading-spinner ng-if="pubAudCtrl.loadingMktListForDedupe"></loading-spinner>

              <div class="form-group">
                <label class="instructions">
                  Select a list to de-duplicate against
                </label>

                <span
                  class="span-link-blue"
                  ng-click="pubAudCtrl.getMktListForDedupe()"
                >
                  &nbsp;<i class="btr bt-sync"></i>
                </span>

                <div
                  class="auto select-list-dropdown"
                  dropdown-model="pubAudCtrl.pas.state.masListForDedupe"
                  dropdown-select="pubAudCtrl.pas.state.masListsForDedupe"
                  dropdown-item-label="text"
                >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="section group apply-dedupe-list"
          ng-show="pubAudCtrl.showSelectScoringList()"
        >
          <div class="select-list">
            <div class="select-list-cont">
              <loading-spinner ng-if="pubAudCtrl.loadingMktListForDedupe"></loading-spinner>

              <div class="form-group">
                <label class="instructions">
                  Select a list to score
                </label>

                <span
                  class="span-link-blue"
                  ng-click="pubAudCtrl.getMktList()"
                >
                  &nbsp;<i class="btr bt-sync"></i>
                </span>

                <div
                  class="auto select-list-dropdown"
                  dropdown-model="pubAudCtrl.pas.state.selectedMasListForScoring"
                  dropdown-select="pubAudCtrl.pas.state.masList"
                  dropdown-item-label="text"
                >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- This needs to be ng-show rather than ng-if because dedupeForm must always exist -->
        <div
          class="dedupe section group"
          ng-show="pubAudCtrl.currentStep === pubAudCtrl.PUBLISH_AUDIENCE_STEPS.PUBLISH_PREFERENCES"
        >
          <!-- `dedupeForm` validates our dedupe choices. -->
          <div
            class="two-choice-columns"
            ng-form="pubAudCtrl.dedupeForm"
          >
            <div class="new-companies"
              ng-disabled="!pubAudCtrl.canPublishNotInCrm()"
            >
              <div
                class="contact-support"
                ng-if="!pubAudCtrl.canPublishNotInCrm()"
              >
                Contact EverString support to enable.
              </div>

              <div class="step publish-choices">
                <div class="dotted-line"
                  ng-if="pubAudCtrl.pas.state.publishNew">
                </div>
                <div class="publish-checkbox">
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.publishNew"
                        ng-required="!pubAudCtrl.pas.publishTypeChosen()"
                      />
                      <i></i>
                      <span class="text">
                        Companies <span class="emphasis">not</span> in your CRM
                      </span>
                    </label>
                  </div>
                </div>

                <div
                  class="dedupe-previous-checkbox"
                  ng-if="pubAudCtrl.pas.state.publishNew"
                >
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.dedupeAgainstPreviousPublish"
                      />
                      <i></i>
                      <span class="text">
                        Don't publish if previously published
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div
                class="step compare-against-what"
                ng-if="pubAudCtrl.showCompareAgainstWhatStep('publishNew')"
              >
                <div class="dotted-line"
                  ng-if="pubAudCtrl.pas.isPublishingToSalesforce() && pubAudCtrl.pas.state.publishNew">
                </div>
                <div class="step-number">
                  {{pubAudCtrl.getStepNumber('publishNew', pubAudCtrl.DEDUPE_STEP_NAMES.COMPARE_AGAINST_WHAT)}}
                </div>
                <div class="content">
                  <div class="instructions">
                    We can identify companies NOT in your CRM by de-duplication as follows:
                    <i class="fa fa-info-circle">
                      <div class="tooltip-window">
                        <p>
                          A company is a duplicate if
                          <ul>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstAccounts">its URL matches the "website" of an Account or the domain of a Contact's email</li>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstAccounts">its name matches the "name" of an Account</li>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstLeads">its URL matches the "website" field of a Lead</li>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstLeads">its name matches the "company" field of a Lead</li>
                          </ul>
                        </p>
                      </div>
                    </i>
                  </div>
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.compareAgainstAccounts"
                        ng-required="!pubAudCtrl.pas.comparisonChosen('publishNew')"
                      />
                      <i></i>
                      <span class="text">
                        Comparing Accounts or Contacts
                      </span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.compareAgainstLeads"
                        ng-required="!pubAudCtrl.pas.comparisonChosen('publishNew')"
                      />
                      <i></i>
                      <span class="text">
                        Comparing Leads
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div
                class="step publish-companies"
                ng-disabled="!pubAudCtrl.enablePublishCompaniesStep()"
                ng-if="pubAudCtrl.showPublishCompaniesStep('publishNew')"
              >
                <div class="dotted-line" ng-if="pubAudCtrl.showPublishContactsStep('publishNew')"></div>
                <div class="step-number">
                  {{pubAudCtrl.getStepNumber('publishNew', pubAudCtrl.DEDUPE_STEP_NAMES.PUBLISH_COMPANIES)}}
                </div>
                <div class="content">
                  <div class="instructions">
                    Where do you want to publish companies?
                    <i class="fa fa-info-circle">
                      <div class="tooltip-window">
                        This choice determines the Salesforce object your companies are published to.
                      </div>
                    </i>
                  </div>
                  <div class="radio">
                    <label class="ui-checks">
                      <input
                        type="radio"
                        ng-model="pubAudCtrl.pas.state.publishNewDetails.publishCompaniesTo"
                        ng-value="pubAudCtrl.SALESFORCE.ACCOUNT"
                        ng-change="pubAudCtrl.pas.setPublishCompaniesCallback('publishNew', pubAudCtrl.SALESFORCE.ACCOUNT)"
                        ng-required="pubAudCtrl.showPublishCompaniesStep('publishNew')"
                      />
                      <i></i>
                      <span class="text">
                        Accounts
                      </span>
                    </label>
                  </div>
                  <div class="radio">
                    <label class="ui-checks">
                      <input
                        type="radio"
                        ng-model="pubAudCtrl.pas.state.publishNewDetails.publishCompaniesTo"
                        ng-value="pubAudCtrl.SALESFORCE.LEAD"
                        ng-change="pubAudCtrl.pas.setPublishCompaniesCallback('publishNew', pubAudCtrl.SALESFORCE.LEAD)"
                        ng-required="pubAudCtrl.showPublishCompaniesStep('publishNew')"
                      />
                      <i></i>
                      <span class="text">
                        Leads
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div
                class="step publish-contacts"
                ng-disabled="!pubAudCtrl.enablePublishContactsStep()"
                ng-if="pubAudCtrl.showPublishContactsStep('publishNew')"
              >
                <div class="step-number">
                  {{pubAudCtrl.getStepNumber('publishNew', pubAudCtrl.DEDUPE_STEP_NAMES.PUBLISH_CONTACTS)}}
                </div>
                <div class="content">
                  <div class="instructions">
                    Where would you like the contacts to be published?
                    <i class="fa fa-info-circle">
                      <div class="tooltip-window">
                        This choice determines the Salesforce object EverString contacts are published to.
                        <span ng-if="pubAudCtrl.pas.willPublishCompaniesToLeads('publishNew')">
                          If you publish companies to Leads, then you must also publish contacts to Leads.
                        </span>
                      </div>
                    </i>
                  </div>

                  <!-- Case 1: We're publishing companies to leads, so we must publish contact to leads as well. -->
                  <div
                    class="wrapper"
                    ng-if="pubAudCtrl.pas.willPublishCompaniesToLeads('publishNew')"
                  >
                    <div class="radio">
                      <label class="ui-checks">
                        <input
                          disabled
                          type="radio"
                          ng-model="pubAudCtrl.pas.state.publishNewDetails.publishLeadsTo"
                          ng-value="pubAudCtrl.SALESFORCE.CONTACT"
                        />
                        <i></i>
                        <span class="text">
                          Contacts
                        </span>
                      </label>
                    </div>
                    <div class="radio">
                      <label class="ui-checks">
                        <input
                          disabled
                          type="radio"
                          ng-model="pubAudCtrl.pas.state.publishNewDetails.publishLeadsTo"
                          ng-value="pubAudCtrl.SALESFORCE.LEAD"
                          ng-click="pubAudCtrl.setPublishCompaniesCallback('publishNew', SALESFORCE.LEAD)"
                        />
                        <i></i>
                        <span class="text">
                          Leads
                        </span>
                      </label>
                    </div>
                  </div>

                  <!-- Case 2: We're publishing companies to accounts, so we need to choose where to publish
                       people.

                       Or if we're publishing to CSV, we also show both options
                     -->
                  <div
                    class="wrapper"
                    ng-if="pubAudCtrl.pas.willPublishCompaniesToAccounts('publishNew') || pubAudCtrl.pas.isPublishingToCsv()"
                  >
                    <div class="radio">
                      <label class="ui-checks">
                        <input
                          type="radio"
                          ng-model="pubAudCtrl.pas.state.publishNewDetails.publishLeadsTo"
                          ng-value="pubAudCtrl.SALESFORCE.CONTACT"
                          ng-required="pubAudCtrl.pas.willPublishCompaniesToAccounts('publishNew')"
                        />
                        <i></i>
                        <span class="text">
                          Contacts
                        </span>
                      </label>
                    </div>
                    <div class="radio">
                      <label class="ui-checks">
                        <input
                          type="radio"
                          ng-model="pubAudCtrl.pas.state.publishNewDetails.publishLeadsTo"
                          ng-value="pubAudCtrl.SALESFORCE.LEAD"
                          ng-required="pubAudCtrl.pas.willPublishCompaniesToAccounts('publishNew')"
                        />
                        <i></i>
                        <span class="text">
                          Leads
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider"
              ng-if="pubAudCtrl.pas.state.publishNew || pubAudCtrl.pas.state.publishExisting">
            </div>

            <div class="existing-companies"
              ng-disabled="!pubAudCtrl.canPublishInCrm()"
            >
              <div
                class="contact-support"
                ng-if="!pubAudCtrl.canPublishInCrm()"
              >
                Contact EverString support to enable.
              </div>
              <div class="step publish-choices">
                <div class="dotted-line"
                  ng-if="pubAudCtrl.pas.state.publishExisting">
                </div>
                <div class="step publish-checkbox">
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.publishExisting"
                        ng-required="!pubAudCtrl.pas.publishTypeChosen()"
                      />
                      <i></i>
                      <span class="text">
                        Companies <span class="emphasis">in</span> your CRM
                      </span>
                    </label>
                  </div>
                </div>

                <div
                  class="dedupe-previous-checkbox"
                  ng-if="pubAudCtrl.pas.state.publishExisting"
                >
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.dedupeAgainstPreviousPublish"
                      />
                      <i></i>
                      <span class="text">
                        Don't publish if previously published
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div
                class="step compare-against-what"
                ng-if="pubAudCtrl.showCompareAgainstWhatStep('publishExisting')"
              >
                <div class="dotted-line"
                  ng-if="pubAudCtrl.pas.isPublishingToSalesforce() && pubAudCtrl.pas.state.publishExisting">
                </div>
                <div class="step-number">
                  {{pubAudCtrl.getStepNumber('publishExisting', pubAudCtrl.DEDUPE_STEP_NAMES.COMPARE_AGAINST_WHAT)}}
                </div>
                <div class="content">
                  <div class="instructions">
                    We can identify companies in your CRM by de-duplication as follows:
                    <i class="fa fa-info-circle right-side">
                      <div class="tooltip-window">
                        <p>
                          A company is a duplicate if
                          <ul>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstAccounts">its URL matches the "website" of an Account or the domain of a Contact's email</li>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstAccounts">its name matches the "name" of an Account</li>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstLeads">its URL matches the "website" field of a Lead</li>
                            <li ng-if="pubAudCtrl.pas.state.compareAgainstLeads">its name matches the "company" field of a Lead</li>
                          </ul>
                        </p>
                      </div>
                    </i>
                  </div>
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.compareAgainstAccounts"
                        ng-required="!pubAudCtrl.pas.comparisonChosen('publishExisting')"
                      />
                      <i></i>
                      <span class="text">
                        Comparing Accounts or Contacts
                      </span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="ui-checks">
                      <input
                        type="checkbox"
                        ng-model="pubAudCtrl.pas.state.compareAgainstLeads"
                        ng-required="!pubAudCtrl.pas.comparisonChosen('publishExisting')"
                      />
                      <i></i>
                      <span class="text">
                        Comparing Leads
                      </span>
                    </label>
                  </div>
                </div>
              </div>

              <div
                class="step publish-companies"
                ng-disabled="!pubAudCtrl.enablePublishCompaniesStep()"
                ng-if="pubAudCtrl.showPublishCompaniesStep('publishExisting')"
              >
                <div class="dotted-line" ng-if="pubAudCtrl.showPublishContactsStep('publishExisting')"></div>
                <div class="step-number">
                  {{pubAudCtrl.getStepNumber('publishExisting', pubAudCtrl.DEDUPE_STEP_NAMES.PUBLISH_COMPANIES)}}
                </div>
                <div class="content">
                  <div class="instructions">
                    Companies existing in your CRM will be enriched wherever EverString finds them. (Accounts, Contacts, or Leads)
                    <i class="fa fa-info-circle right-side">
                      <div class="tooltip-window">
                        This choice determines the Salesforce object your companies are published to.
                      </div>
                    </i>
                  </div>
                </div>
              </div>

              <div
                class="step publish-contacts"
                ng-disabled="!pubAudCtrl.enablePublishContactsStep()"
                ng-if="pubAudCtrl.showPublishContactsStep('publishExisting')"
              >
                <div class="dotted-line"></div>
                <div class="horizontal-line"></div>
                <div class="step-number">
                  {{pubAudCtrl.getStepNumber('publishExisting', pubAudCtrl.DEDUPE_STEP_NAMES.PUBLISH_CONTACTS)}}
                </div>
                <div class="content">
                  <div class="instructions">
                    You chose to publish contacts. Please review and adjust the options below.
                    <i class="fa fa-info-circle right-side">
                      <div class="tooltip-window">
                        This choice determines the Salesforce object EverString contacts are published to.
                      </div>
                    </i>
                  </div>

                  <div
                    class="nested-step"
                    ng-disabled="!pubAudCtrl.pas.state.compareAgainstLeads"
                  >
                    <div class="dotted-line"></div>
                    <div class="step-number">
                      a
                    </div>
                    <div class="content">
                      <div class="instructions">
                        For Companies found in Leads, the associated contacts shall be published in Leads
                      </div>
                    </div>
                  </div>

                  <div
                    class="nested-step"
                    ng-disabled="!pubAudCtrl.pas.state.compareAgainstAccounts"
                  >
                    <div class="dotted-line"></div>
                    <div class="step-number">
                      b
                    </div>
                    <div class="content">
                      <div class="instructions">
                        For Companies not found in Leads but in Accounts or Contacts, publish contacts to
                      </div>
                      <div class="wrapper">
                        <div class="radio">
                          <label class="ui-checks">
                            <!-- Enable if we're comparing against accounts. Otherwise disable -->
                            <input
                              type="radio"
                              ng-model="pubAudCtrl.pas.state.publishExistingDetails.foundInAccountsOnly.publishLeadsTo"
                              ng-value="pubAudCtrl.SALESFORCE.CONTACT"
                            />
                            <i></i>
                            <span class="text">
                              Contacts
                            </span>
                          </label>
                        </div>

                        <div class="radio">
                          <label class="ui-checks">
                            <input
                              type="radio"
                              ng-model="pubAudCtrl.pas.state.publishExistingDetails.foundInAccountsOnly.publishLeadsTo"
                              ng-value="pubAudCtrl.SALESFORCE.LEAD"
                            />
                            <i></i>
                            <span class="text">
                              Leads
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="nested-step"
                    ng-disabled="!pubAudCtrl.pas.state.compareAgainstAccounts || !pubAudCtrl.pas.state.compareAgainstLeads"
                  >
                    <div class="step-number">
                      c
                    </div>
                    <div class="content">
                      <div class="instructions">
                        For Companies that are found in Accounts as well as Leads, publish Contacts to:
                      </div>
                      <div class="wrapper">
                        <div class="radio">
                          <label class="ui-checks">
                            <input
                              type="radio"
                              ng-model="pubAudCtrl.pas.state.publishExistingDetails.foundInBothAccountsAndLeads.publishLeadsTo"
                              ng-value="pubAudCtrl.SALESFORCE.CONTACT"
                              ng-required="pubAudCtrl.pas.isPublishingContacts()"
                            />
                            <i></i>
                            <span class="text">
                              Contacts
                            </span>
                          </label>
                        </div>

                        <div class="radio">
                          <label class="ui-checks">
                            <input
                              type="radio"
                              ng-model="pubAudCtrl.pas.state.publishExistingDetails.foundInBothAccountsAndLeads.publishLeadsTo"
                              ng-value="pubAudCtrl.SALESFORCE.LEAD"
                              ng-required="pubAudCtrl.pas.isPublishingContacts()"
                            />
                            <i></i>
                            <span class="text">
                              Leads
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="pubAudCtrl.showSummaryStep()">
          <div class="publish-summary" ng-if="pubAudCtrl.calculatePublishSummary()">
            <div class="header">Publish Summary</div>
            <div class="summary-body">

              <!-- Total number of companies in the audience -->
              <div class="summary-row">
                <div class="line-height-2x">
                  Companies in audience
                </div>
                <div class="line-height-2x">
                  <div class="spinner-wrapper" ng-if="pubAudCtrl.loadingSummary">
                    <i class="btr bt-spinner bt-spin">
                    </i>
                  </div>
                  <span ng-if="!pubAudCtrl.loadingSummary">
                    {{ pubAudCtrl.summary.companiesInAudience | number }}
                  </span>
                </div>
              </div>

              <!-- Number of companies after applying filters -->
              <div class="summary-row">
                <div class="line-height-2x">
                  Companies after applying criteria
                </div>
                <div class="line-height-2x">
                  <div class="spinner-wrapper" ng-if="pubAudCtrl.loadingSummary">
                    <i class="btr bt-spinner bt-spin">
                    </i>
                  </div>

                  <span ng-if="!pubAudCtrl.loadingSummary">
                    {{ pubAudCtrl.getNumCompaniesAfterFiltering() | number}}
                  </span>
                </div>
              </div>

              <!-- Companies you've chosen to publish. -->
              <div
                class="summary-row"
              >
                <div class="line-height-2x">
                  Companies you want to publish
                </div>

                <div class="line-height-2x">
                  <div class="spinner-wrapper" ng-if="pubAudCtrl.loadingSummary">
                    <i class="btr bt-spinner bt-spin">
                    </i>
                  </div>

                  <!-- If we're deduping against Salesforce, we can calculate the exact number of companies
                       we're about to publish. -->
                  <span
                    ng-if="!pubAudCtrl.loadingSummary && (pubAudCtrl.pas.isPublishingToSalesforce() || pubAudCtrl.pas.isPublishingToCsvWithDedupe())"
                  >
                    {{ pubAudCtrl.summary.totalPublishCompanies | number}}
                  </span>

                  <!-- For Marketo, we don't have an easy way of deduping in advance, so we just redisplay
                       the number the user entered. For CSV without dedupe, the number is just the number we entered.
                     -->
                  <span ng-if="!pubAudCtrl.loadingSummary && (pubAudCtrl.pas.isPublishingNewToMarketo() || pubAudCtrl.pas.isPublishingToCsvWithoutDedupe())">
                    {{ pubAudCtrl.pas.state.numCompanies | number}}
                  </span>
                </div>
              </div>

              <!-- For Salesforce publish, we this link opens an accordion showing the Salesforce fields we're
                   publishing to. For Marketo publish, this link opens a focus slide showing the field mappings. -->
              <div class="accordion-row fields-to-publish" ng-if="false">
                <div class="row-cont">
                  <div class="line-height-2x">
                    Fields you want to publish
                  </div>

                  <!-- Salesforce Hide/show accordion -->
                  <div
                    class="span-link-blue toggle-fields line-height-2x"
                    ng-if="pubAudCtrl.pas.isPublishingToSalesforce() || pubAudCtrl.pas.isPublishingToCsv()"
                    ng-click="pubAudCtrl.toggleFieldsAccordion()"
                  >
                    {{ pubAudCtrl.showFieldsAccordion ? 'Hide' : 'Show' }}
                  </div>

                  <!-- Marketo show field mapping -->
                  <div
                    class="span-link-blue toggle-fields line-height-2x"
                    ng-if="pubAudCtrl.pas.isPublishingToMarketo()"
                    ng-click="pubAudCtrl.viewMappingMarketo()"
                  >
                    View
                  </div>
                </div>

                <div
                  class="accordion-content fields-cont"
                  ng-show="pubAudCtrl.showFieldsAccordion"
                >
                  <div
                    class="field-summary"
                    ng-repeat="field in pubAudCtrl.pas.getSelectedPublishFields()"
                  >
                    {{field.text}}
                  </div>
                </div>
              </div>

              <!-- Show a summary in plain English of the Salesforce dedupe preferences -->
              <div
                class="accordion-row publish-preferences"
                ng-show="pubAudCtrl.shouldShowPublishPreferencesAccordion()"
              >
                <div class="row-cont">
                  <div class="line-height-2x">
                    Publish preferences
                  </div>
                  <div
                    class="toggle-accordion line-height-2x"
                    ng-click="pubAudCtrl.togglePublishPreferencesAccordion()"
                  >
                    {{ pubAudCtrl.showPublishPreferencesAccordion ? 'Hide' : 'Show' }}
                  </div>
                </div>

                <div
                  class="accordion-content preferences-accordion"
                  ng-show="pubAudCtrl.showPublishPreferencesAccordion"
                >
                  <div class="message-cont">
                    <div class="publish-new-message">
                      {{pubAudCtrl.getPublishPreferencesMessage()[0]}}
                    </div>
                    <div class="publish-existing-message">
                      {{pubAudCtrl.getPublishPreferencesMessage()[1]}}
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="accordion-row dedupe-list"
                ng-if="pubAudCtrl.pas.isPublishingNewToMarketo() && pubAudCtrl.pas.getSelectedMasDedupeLists().length > 0"
              >
                <div class="row-cont">
                  <div class="line-height-2x">
                    Dedupe List
                  </div>

                  <div
                    class="span-link-blue toggle-accordion toggle-fields line-height-2x"
                    ng-click="pubAudCtrl.toggleDedupeListAccordion()"
                  >
                    {{ pubAudCtrl.showDedupeListAccordion ? 'Hide' : 'Show' }}
                  </div>
                </div>

                <div
                  class="accordion-content dedupe-list"
                  ng-show="pubAudCtrl.showDedupeListAccordion"
                >
                  {{pubAudCtrl.pas.state.masListForDedupe.name | number}}
                </div>
              </div>

              <!-- Show number of contacts we're publishing. This number comes from the publish_summary API.-->
              <div
                class="summary-row"
                ng-if="pubAudCtrl.pas.isPublishingContacts() && (pubAudCtrl.pas.isPublishingToSalesforce() || pubAudCtrl.pas.isPublishingNewToMarketo() || pubAudCtrl.pas.isPublishingToCsv())"
              >
                <div class="line-height-2x">
                  Contacts (max)

                  <i class="fa fa-info-circle">
                    <div class="tooltip-window">
                      <p>
                        The exact number of contacts will be emailed to you on publish completion.
                      </p>
                    </div>
                  </i>

                </div>
                <div class="line-height-2x">
                  <div class="spinner-wrapper" ng-if="pubAudCtrl.loadingSummary">
                    <i class="btr bt-spinner bt-spin">
                    </i>
                  </div>

                  <!-- Dedupe number of contacts -->
                  <span ng-if="!pubAudCtrl.loadingSummary">
                    {{pubAudCtrl.summary.contactsToPublish | number}}
                  </span>
                </div>
              </div>

              <div
                class="accordion-row list-to-score"
                ng-if="pubAudCtrl.pas.isPublishingToMarketo() && pubAudCtrl.pas.state.publishExisting && pubAudCtrl.pas.getSelectedMasLists().length > 0"
              >
                <div class="row-cont">
                  <div class="line-height-2x">
                    List to Score
                  </div>

                  <div
                    class="span-link-blue toggle-accordion toggle-fields line-height-2x"
                    ng-if="pubAudCtrl.pas.isPublishingToMarketo() && pubAudCtrl.pas.state.publishExisting"
                    ng-click="pubAudCtrl.toggleListScoreAccordion()"
                  >
                    {{ pubAudCtrl.showListScoreAccordion ? 'Hide' : 'Show' }}
                  </div>
                </div>

                <div
                  class="accordion-content scoring-list"
                  ng-show="pubAudCtrl.showListScoreAccordion"
                >
                  {{pubAudCtrl.pas.state.selectedMasListForScoring.name}}
                </div>
              </div>

              <!-- In the SFDC and CSV cases, we know the exact number of companies that will be published. -->
              <div
                class="total-row summary-row"
                ng-show="pubAudCtrl.pas.isPublishingToSalesforce() || pubAudCtrl.pas.isPublishingToCsv()"
              >
                <div class="footer title line-height-2x">
                  TOTAL COMPANIES TO PUBLISH (max)
                  <i class="fa fa-info-circle">
                    <div class="tooltip-window">
                      <p>
                        The exact number of companies will be emailed to you on publish completion.
                      </p>
                    </div>
                  </i>
                </div>
                <div class="footer line-height-2x">
                  <div class="spinner-wrapper" ng-show="pubAudCtrl.loadingSummary">
                    <i class="btr bt-spinner bt-spin">
                    </i>
                  </div>

                  <span class="value" ng-if="!pubAudCtrl.loadingSummary">
                    {{ pubAudCtrl.summary.companiesToPublish | number }}
                  </span>
                </div>
              </div>
            </div>

            <div class="bg-warning" ng-if="pubAudCtrl.pas.isPublishingToMarketo()">
              <i class="btr bt-exclamation-circle bt-2x"></i>
              <div class="sub-wrap">Note: Please ensure your Marketo is up to date prior to publishing.
                For example, if you have published an audience to Marketo in the last 24 hours,
                you should confirm that it has completed.
              </div>
            </div>

            <div class="bg-warning" ng-if="pubAudCtrl.pas.isPublishingToSalesforce()">
              <i class="btr bt-exclamation-circle bt-2x"></i>
              <div class="sub-wrap">Note: Please ensure your Salesforce is up to date prior to publishing.
                For example, If you have published an audience to Salesforce in the last 24 hours,
                you should confirm that it has completed.
              </div>
            </div>
          </div>

          <div class="publish-summary" ng-if="!pubAudCtrl.calculatePublishSummary()">
            <div class="bg-info">
              <i class="btr bt-info-circle bt-2x"></i>
              <div class="sub-wrap">
                Instant preview of the publish summary is not available. However, once the publish is complete, you shall receive a confirmation email along with the summary.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
