<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal save-audience-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">Name & Description</div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="name">
          <div class="label">
            Name
            <div class="required">
              (required)
            </div>
          </div>
          <input ng-model="mdc.result.name">
          </input>
        </div>
        <div class="description">
          <div class="label">
            Description
          </div>
          <textarea ng-model="mdc.result.description">
          </textarea>
        </div>
      </div>
      <div class="modal-button-row">
        <button class="cancel" ng-click="mdc.close()">Cancel</button>
        <button ng-disabled="!mdc.result.name" ng-click="mdc.onConfirm(mdc.result)">Save</button>
      </div>
    </div>
  </div>
</div>