<div
  class="scoring-new-model"
  ng-class="{slideIn: smc.showSlide}"
  >
  <div class="background-wrapper">
  </div>
  <div class="content">
    <div id="find-keywords-slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="smc.closeSlide()">
        Cancel
      </button>
      <button
        class="save-btn"
        ng-disabled="!smc.canSaveAndClose()"
        ng-click="smc.saveAndClose()"
        >
        Save & Close
      </button>
    </div>

    <div class="header-row">
      <h2>Scoring Models</h2>
    </div>
    <p class="instructions">Click on the model below that we will use to sort your results, or build your own model.</p>
    <div class="card-list">
      <loading-spinner ng-if="smc.loading"></loading-spinner>
      <div class="card" ng-click="smc.customModel()">
        <div class="circle">
          <i class="btr bt-plus-circle bt-2x"></i>
        </div>
        <div class="link">Build your new Model</div>
      </div>
      <div class="card card-fit"
           ng-click="smc.select(item)"
           ng-class="{'selected': smc.selected.id === item.id,
                      'in-progress': item.status === 'IN_PROGRESS',
                      'completed': item.status === 'COMPLETED'}"
           ng-repeat="item in smc.data">
        <div class="default-ribbon" ng-if="item.type === 'account_fit'">
          Default
        </div>
        <div class="delete-btn"
             ng-if="smc.canDelete(item)"
             ng-click="smc.deleteModelConfirm($event, item)">
          <i class="btr bt-times"></i>
        </div>
        <div class="circle">
          <i class="fa fa-gears fa-2x"></i>
          <i class="btr bt-check bt-2x"></i>
        </div>
        <div class="in-progress-text" ng-if="item.status === 'IN_PROGRESS'">
          In Progress
        </div>
        <div class="text">
          <span>{{item.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
