<div class="segment-creation-wizard">
  <ul class="wizard-steps" ng-hide="scc.$state.is('segment.create.success')">
    <li ng-class="{'active': scc.isStep1()}">
      <button class="instruction">
        <div class="circle">1</div>
        <div class="step-text">
          <div class="step-name">
            Provide Qual Criteria
          </div>
        </div>
      </button>
      <div class="arrow-right"></div>
    </li>

    <li ng-class="{'active': scc.isStep2()}">
      <div class="arrow-right reverse"></div>
      <button class="instruction">
        <div class="circle with-step-category">2a</div>
        <div class="step-text">
          <div class="step-category">
            Model Preferences
          </div>
          <div class="step-name">
            Upload Seed List
          </div>
        </div>
      </button>
      <div class="arrow-right"></div>
    </li>

    <li ng-class="{'active': scc.isStep3()}">
      <div class="arrow-right reverse"></div>
      <button class="instruction">
        <div class="circle with-step-category">2b</div>
        <div class="step-text">
          <div class="step-category">
            Model Preferences
          </div>
          <div class="step-name">
            Review Seed List
          </div>
        </div>

      </button>
      <div class="arrow-right"></div>
    </li>

    <li ng-class="{'active': scc.isStep4()}">
      <div class="arrow-right reverse"></div>
      <button class="instruction">
        <div class="circle with-step-category">2c</div>
        <div class="step-text">
          <div class="step-category">
            Model Preferences
          </div>
          <div class="step-name">
            Additional Preferences
          </div>
        </div>
      </button>
      <div class="arrow-right"></div>
    </li>

    <li ng-class="{'active': scc.isStep5()}">
      <div class="arrow-right reverse"></div>
      <button class="instruction">
        <div class="circle">3</div>
        <div class="step-text">
          <div class="step-name">
            Summary
          </div>
        </div>
      </button>
    </li>
  </ul>
  <div class="wizard-content" ui-view></div>
</div>
