<div class="qualification-criteria-step">

  <div class="qualification-info-bubble">
    <div class="info-icon-container">
      <div class="info-icon">
        <i class="btr bt-info-circle"></i>
      </div>
    </div>
    <div class="info-text">
      Predictive Segment results will be
      <span class="emphasis-italic"> filtered </span>
      on companies only in the selected
      <span ng-if="qcc.isActive('employeeSize')">
        <span class="emphasis"> Employee Size </span>
        ranges.
      </span>
      <span ng-if="qcc.isActive('state')">
        <span class="emphasis"> Locations. </span>
      </span>
      <span ng-if="qcc.isActive('industry')">
        <span class="emphasis"> Industries. </span>
      </span>
    </div>
  </div>

  <div class="selection-module">
    <ul class="nav-tabs-secondary">
      <li ng-repeat="category in qcc.categories"
          ng-class="{active: qcc.isActive(category)}">
        <a ng-click="qcc.setToActive(category)">
          {{qcc.displayName(category)}}
          <i class="btr bt-circle-arrow-right" ng-show="!$last"></i>
        </a>
      </li>
      <hr />
    </ul>
    <div class="ms-container">
      <div class="container-body">
        <div multi-select ms-data-src="qcc.categoryData"
            ms-data-type="qcc.activeCategory" left-filter="true"
            trunc-threshold="38"
            inited="qcc.inited">
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-button-row">
    <button class="cancel-button" ui-sref="segment.console">
      Cancel
    </button>
    <div class="right-buttons">
      <button class="next-button" ng-disabled="!qcc.inited"
              ng-click="qcc.qualNextClick()">
        Next
      </button>
    </div>
  </div>

</div>