<div class="reach-step">
  <div class="expansion-info-bubble">
    <div class="info-icon-container">
      <div class="info-icon">
        <i class="btr bt-info-circle"></i>
      </div>
      <span class="note">Note: </span>
    </div>
    <div class="info-text" ng-if="src.isActive('department')">
      The algorithm will
      <span class="emphasis-italic"> find </span>
      companies with Qualification criteria that are likely to have the
      <span class="emphasis"> Included Departments.</span>
    </div>
    <div class="info-text" ng-if="src.isActive('tech')">
      The algorithm will
      <span class="emphasis-italic"> find </span>
      the companes within Qualification criteria that are likely to have the
      <span class="emphasis"> Included </span>
      or similar
      <span class="emphasis"> Tech stack. </span>
      </br>
      For example, if you include Marketo, EverString will try to find
      companies that have Marketo and also Eloqua, Hubspot, etc.
    </div>
  </div>

  <div class="selection-module">
    <ul class="nav-tabs-secondary">
      <li ng-repeat="category in src.categories"
          ng-class="{active: src.isActive(category)}">
        <a ng-click="src.setToActive(category)">
          {{src.displayName(category)}}
          <i class="btr bt-circle-arrow-right" ng-show="!$last"></i>
        </a>
      </li>
      <hr />
    </ul>
    <div class="ms-container">
      <div class="container-body">
        <div multi-select ms-data-src="src.categoryData"
             ng-repeat="category in src.categories"
             ms-data-type="category" left-filter="true"
             ng-show="category === src.activeCategory"
             trunc-threshold="38"
             limit-animation="true"
             inited="src.inited">
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-button-row">
    <button class="cancel-button" ui-sref="segment.console">
      Cancel
    </button>
    <div class="right-buttons">
      <button class="prev-button" ui-sref="segment.create.insights({segmentId: src.segmentId})">
        Previous
      </button>
      <button class="next-button"
              ng-disabled="src.disableNext()" ng-click="src.saveExpChoices()">
        Next
      </button>
    </div>
  </div>

</div>
