<div class="creation-success section-1" ng-if="ss.activated">
  <div class="main">
    <p class="p1">Data...nom nom nom...</p>
    <p class="p2">This can take a while.</p>
    <p class="p3">Feel free to log out. We will email you when it's ready.</p>
    <div class="video">
      <!-- Wistia video embed code for an inline-embedded video. Wistia video source:
           https://everstring.wistia.com/medias/jsoj373bfh. -->
      <div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="//fast.wistia.net/embed/iframe/jsoj373bfh?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
      <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
    <button class="console-button" ui-sref="segment.console">
      Go to Segment Home
    </button>
  </div>
</div>

<div class="creation-success section-2" ng-if="!ss.activated">
  <div class="main">
    <h3>Please confirm your email address to view your segment results.</h3>
    <div class="email-icon">
      <i class="btr bt-envelope bt-5x"></i>
    </div>
    <div class="bottom">
      <loading-spinner ng-if="ss.emailSending"></loading-spinner>
      <p class="p1">
        Check your email inbox and click on the link.
      </p>
      <p class="p2">
        A confirmation was sent to {{ss.user.email}}
      </p>
      <p class="p3">
        Didn't receive the confirmation ? Check your SPAM folder or
        <a href="javascript:;;" ng-click="ss.sendEmail()">Resend confirmation</a>
        <span ng-show="ss.emailSent"><br /><br/>Email has been sent.</span>
      </p>
    </div>
  </div>
</div>
