<div class="creation-summary-step">
  <div class="summary-body">

    <div class="summary-info-bubble">
      <div class="info-icon-container">
        <div class="info-icon">
          <i class="btr bt-info-circle"></i>
        </div>
      </div>
      <div class="info-text" ng-if="csc.showTopPaneMsg()">
        The algorithm will
        <span class="emphasis-italic"> identify companies </span>
        within the Qualification criteria based on Seed Companies,
        preferred Tech Stacks and Departments.
      </div>
      <div class="info-text" ng-if="csc.showBottomPaneMsg()">
        The algorithm will
        <span class="emphasis-italic"> expand </span>
        the Predictive Segment results based on Seed Companies,
        preferred Tech Stacks and Departments.
        </br>
        The Predictive Segment results will be
        <span class="emphasis-italic"> filtered </span>
        based on the selected Locations, Industries, and
        Employee Size ranges.
      </div>
    </div>

    <div class="summary-title" ng-if="csc.inCreationFlow()">
      {{csc.segment.segmentName}}
    </div>

    <title-pane title="{{csc.titlePaneTitles[0]}}"
                binary-toggle="true"
                initial-open-flag="csc.tpOpenFlag"
                ng-class="{'disable': !csc.inited}"
    >
      <div class="category-summary">
        <div class="category-label">
          Seed Companies
        </div>
        <div class="category-values">
          <div class="seed-count">
            {{csc.seedCompCount | number}}
          </div>
        </div>
      </div>
      <div class="circle-icon-container" ng-repeat-start="category in csc.reachCategories">
        <div class="circle-icon">
          <div class="text">
            <i class="btr bt-plus"></i>
          </div>
        </div>
      </div>
      <div class="category-summary" ng-repeat-end>
        <div class="category-label">
          {{csc.displayName(category)}}
        </div>
        <div class="category-values actually-has-values">
          {{csc.prevChoices[category]}}
        </div>
      </div>
    </title-pane>


    <title-pane title="{{csc.titlePaneTitles[1]}}"
                binary-toggle="true"
                ng-class="{'disable': !csc.inited}"
    >
      <div class="circle-icon-container" ng-repeat-start="category in csc.qualCategories" ng-if="!$first">
        <div class="circle-icon">
          <div class="text">
            and
          </div>
        </div>
      </div>
      <div class="category-summary" ng-repeat-end>
        <div class="category-label">
          {{csc.displayName(category)}}
        </div>
        <div class="category-values actually-has-values">
          {{csc.prevChoices[category]}}
        </div>
      </div>
    </title-pane>
  </div>

  <div class="bottom-button-row" ng-if="csc.inCreationFlow()">
    <button class="cancel-button" ui-sref="segment.console">
      Cancel
    </button>
    <div class="right-buttons">
      <button class="prev-button" ui-sref="segment.create.reach({segmentId: csc.segmentId})">
        Previous
      </button>
      <button class="next-button" ng-disabled={{qcc.nextButtonDisabled}} ng-click="csc.runModel()">
        Create Segment
      </button>
    </div>
  </div>
</div>