<div class="upload-csv-step">
  <div class="step-decider" ng-if="ucc.inited">
    <h3>
      Upload CSV
    </h3>

    <div class="instruction-text">
      Upload a CSV with up to two columns, Company name and/or Company URL.
      </br>
      We need a
      <span class="bold underline"> minimum of 70</span>
      <span class="bold"> companies </span>
      and a
      <span class="bold underline"> maximum of 10,000 </span>
      <span class="bold"> companies </span>
    </div>

    <div ngf-drop="ucc.validateThenUpload($files[0])" class="drop-box"
         ngf-drag-over-class="'dragover'" ngf-multiple="true"
         ngf-pattern="'text/csv'">
      <div class="highlight-area">
        <div class="during-upload" ng-if="ucc.info.isUploading">
          <i class="loading-spinner btr bt-spinner bt-3x bt-spin"></i>
          <div class="uploading-message">
            Uploading...
          </div>
        </div>

        <div class="before-upload" ng-if="!(ucc.info.uploaded || ucc.info.isUploading)">
          <div class="icon-wrap">
            <i class="btr bt-cloud-upload bt-3x"></i>
            <img src="images/v3-csv-example.png"></img>
          </div>
          <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          <div class="csv-instruction">
            Drag & drop csv here <br/>
            or <a class="click-emphasis" href="javascript:void(0)"
                  ngf-accept="'.csv'"
                  ngf-select="ucc.validateThenUpload($file)">click</a> to browse.
          </div>
          <div ng-click="ucc.downloadSample()"
               class="dl-sample">
            Download a sample CSV
          </div>
        </div>


        <div class="after-upload" ng-if="ucc.info.uploaded">
          <div class="icon-wrap">
            <i class="btr bt-check-circle"></i>
          </div>
          <div class="upload-success-message">
            Got it!
          </div>
          <div class="upload-success-submessage">
            Click <button class="create-btn"
                          ng-disabled="!ucc.info.uploaded"
                          ng-click="ucc.CRMNextOnclick()">
                    Create Model
                  </button>
            to continue.
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button class="cancel-btn"
              ui-sref="crm.uploadChoice">
        Cancel
      </button>
    </div>
  </div>

</div>
