<div class="upload-sfdc-step">
    <div class="step-decider" ng-if="usc.inited && usc.step === 'selectDate'">
        <h3>
          Select Date Range
        </h3>
        <div class="instruction-text" ng-bind-html="usc.instructionText()">
        </div>
        <div class="main">
            <loading-spinner ng-if="usc.pulling"></loading-spinner>
            <div class="date-range">
                <div class="start flex">
                    <Label>Start Date</Label>
                    <div class="datepicker">
                        <input class="textbox" placeholder="Select Date" ng-model="usc.startDate"
                               datetime-picker date-format="MM/dd/yyyy" date-only  />
                        <i class="btr bt-calendar"></i>
                    </div>
                </div>
                <div class="to">
                </div>
                <div class="end flex">
                    <Label>End Date</Label>
                    <div class="datepicker">
                        <input class="textbox" placeholder="Select Date" ng-model="usc.endDate"
                               datetime-picker date-format="MM/dd/yyyy" date-only  />
                        <i class="btr bt-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="tips">
                <i>
                    i.e. Selecting a start date of 07/01/2015 would fetch all Accounts
                    that have Opportunities created since 07/01/2015.
                    </i>
            </div>
        </div>
    </div>

    <div class="step-decider" ng-if="usc.inited && usc.step === 'showResult'">
        <div class="show-result">
            <h3>
              CRM Match Results
            </h3>
            <div class="instruction-text">
              For dates <b>{{usc.transformDate(usc.data.startDate)}}</b>
              to <b>{{usc.transformDate(usc.data.endDate)}}</b> we found
              <b>{{usc.data.overview.matches + usc.data.overview.unknown}}</b>
              companies in your Salesforce Opportunities <br/>
              Review the information and click <span class="emph">"Create Model"</span>
              below.
            </div>
            <div class="matches">
                <div class="column">
                    <h4 class="found">COMPANIES FOUND</h4>
                    <div class="number">
                        {{usc.data.overview.matches || 0 | number}}
                    </div>
                    <div class="desc">
                        We found these companies in our EverString Universe.
                    </div>
                    <div class="bottom">
                        <a href="javascript:;" ng-click="usc.showCompanies('matches')">View Companies</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="not-found">NOT FOUND</h4>
                    <div class="number">
                        {{usc.data.overview.unknown || 0 | number}}
                    </div>
                    <div class="desc">
                        We didn't find any matches for these companies. This could be because of typos in the Salesforce Account-Website field, or bad URLs.
                        These will be omitted from your Seed List.
                    </div>
                    <div class="bottom">
                        <a href="javascript:;" ng-click="usc.showCompanies('unknown')">View Companies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
      <button class="cancel-btn"
              ui-sref="crm.uploadChoice">
        Cancel
      </button>
      <button class="next-btn"
              ng-disabled="!usc.shouldActiveNextButton()"
              ng-click="usc.next()">
        {{usc.nextBtnText()}}
      </button>
    </div>
</div>
