<div class="upload-select-type">
  <div class="step-decider" ng-show="uc.inited">
    <h3>First, let's learn about your opportunities.</h3>
    <!-- <div class="crm-fit-status"
         ng-if="uc.getCRMFitStatus()"
         ng-bind-html="uc.getCRMFitStatusText()"
         ng-class="uc.getCRMFitStatus()">
      The CRM Fit Model is built successfully.
    </div> -->
    <div class="explanation">
      This will help EAP learn about the types of deals and insights inside of your CRM.
    </div>
    <div class="question">
      How do you want to provide these companies?
    </div>

    <div class="select-type">
      <div class="connect-salesforce">
        <div class="card">
          <div class="icon-wrap">
            <i class="btr bt-cloud"></i>
          </div>
          <button class="action upload-seed-list"
                  ng-click="uc.onclickSFDC()">
            Connect To Salesforce
          </button>
        </div>
      </div>

      <div class="csv-upload">
        <div class="card">
          <div class="icon-wrap">
            <i class="btr bt-cloud-upload"></i>
          </div>
          <button class="action upload-seed-list"
                  ng-click="uc.selectCSV()">
            Upload CRM Companies (CSV)
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
