<div class="progress-view">
  <div class="main-message">
    Segment In Progress
  </div>
  <div class="loading-strip">
    <div class="image-overlay">
      <div class="scanning-overlay">
        <div class="progress-text-area">
          <div class="progress-text" ng-if="pvc.showMsg">
            {{pvc.currMsg}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>