<div class="loading-spinner" ng-if="!slc.inited">
  <i class="btr bt-spinner bt-spin">
  </i>
</div>

<div class="segments-console" ng-if="slc.inited && slc.data.length > 0">
  <div class="console-top">
    <h1> Home </h1>
    <button class="request-btn" ng-if="slc.displayRequestButton()" ng-click="slc.requestUpgrade()">
      <span ng-if="slc.displayRequestUpgrade()">Request Upgrade</span>
      <span ng-if="slc.displayRequestMore()">Request More</span>
    </button>
  </div>
  <div class="table-crud">
    <div class="table-crud-text" ng-click="slc.addSegmentIfAllowed()" ng-if="false">
      <i class="btr bt-plus-circle bt-2x"></i>
      <span>Add</span>
    </div>
    <div class="table-search">
      <span class="btr bt-search search-icon"></span>
      <input type="text" class="search-box" ng-model="slc.cardFilterQuery" ng-change="slc.procFilter()">
    </div>
  </div>

  <div class="segment-cards">
    <div class="segment-card {{slc.statusMap[segment.status]}}"
         ng-repeat="segment in slc.curPageSegments">
      <div class="status-header {{segment.status ==='DRAFT' ? 'draft-status-header' : 'progress-header'}}"
           ng-click="slc.goToSegment(segment)"
           ng-switch="slc.getHeaderType(segment)">

        <!-- In draft -->
        <div class="bg grey-inactive"
             ng-switch-when="draft">
          <button class="btn-generate" ng-click="slc.goToMostRecentDraftStep(segment)">
            <i class="btr bt-spinner bt-spin" ng-if="slc.generateButtonDisabled(segment.segmentId)"></i>
            {{slc.generateButtonDisabled(segment.segmentId) ? 'Loading': 'CONTINUE DRAFT'}}
          </button>
          <a class="name">{{segment.segmentName}}</a>
          <span class="date-author">
            Created {{(segment.createdTime | strToDate | date) || "--"}} by {{segment.ownerName}}
          </span>
        </div>

        <!-- Segment created by ES Admin -->
        <div class="bg es-segment-bg"
             ng-switch-when="es-admin">
          <a class="name">{{segment.segmentName}}</a>
          <span class="date-author">
            Created {{(segment.createdTime | strToDate | date) || "--"}} by {{segment.ownerName}}
          </span>
        </div>

        <!-- Segment created by regular user -->
        <div class="bg galaxy-bg-{{segment.galaxyBgImageNumber}}"
             ng-switch-when="galaxy">
          <div class="progress-bar" ng-if="segment.status !== 'COMPLETED'">
            <div class="progress-so-far" ng-style="{width: segment.progress}">
            </div>
            <span class="progress-text">
              {{segment.dispStatus}} {{segment.progress}} completed
            </span>
          </div>
          <span class="name">{{segment.segmentName}}</span>
          <span class="date-author">
            Created {{(segment.createdTime | strToDate | date) || "--"}} by {{segment.ownerName}}
          </span>
        </div>
      </div>

      <!-- Display info about this predictive segment -->
      <div class="info-container">
        <div class="main-status-row">
          <!-- Status of this segment in the model run lifecycle. -->
          <div class="status {{slc.statusMap[segment.status]}}">
            {{segment.dispStatus}}
          </div>

          <!-- Describes who this segment can be viewed by, hence
               "visibility".-->
          <div class="visibility {{segment.visibility}}">
            {{segment.visibility | uppercase}}
          </div>
        </div>

        <div class="ellipsis-menu">
          <i class="fa fa-ellipsis-v more ellipsis-icon">
            <div class="menu">
              <a class="item"
                 ui-sref="segment.overviewTabs.overview.segmentGraphs({segmentId: segment.segmentId})"
                 ng-if="segment.status === 'COMPLETED'"
              >
                <i class="btr bt-bar-chart"><span>Overview</span></i></a>
              <a class="item"
                 ui-sref="segment.overviewTabs.overview.companyList({segmentId: segment.segmentId})"
                 ng-if="segment.status === 'COMPLETED'"
              >
                <i class="btr bt-ulist"><span>List Companies</span></i></a>
              <a class="item"
                 ui-sref="segment.overviewTabs.galaxyView({segmentId: segment.segmentId})"
                 ng-if="segment.status === 'COMPLETED'"
              >
                <i class="btr bt-rocket"><span>Galaxy View</span></i></a>
              <a class="item"
                 ui-sref="segment.overviewTabs.seedCompanies({segmentId: segment.segmentId})">
                <i class="btr bt-bolt"><span>Seed Companies</span></i></a>

              <!-- Publish/unpublish -->
              <div class="item"
                   ng-click="slc.publish($index)"
                   ng-if="slc.shouldShowPublish(segment)">
                <i class="btr bt-globe"><span>Publish</span></i>
              </div>
              <div class="item" ng-click="slc.unpublish($index)"
                   ng-if="slc.shouldShowUnPublish(segment)">
                <i class="btr bt-globe"><span>Unpublish</span></i>
              </div>

              <div class="item" ng-click="slc.openSettingSlide(segment)"
                   ng-if="slc.hasSettingItem(segment)">
                <i class="btr bt-wrench"><span>Settings</span></i>
              </div>
              <div class="item"
                   ng-if="segment.visibility !== 'shared'"
                   ng-click="slc.deleteConfirm(segment, $event)">
                <i class="btr bt-times-circle"><span>Delete Segment</span></i></div>
            </div>
          </i>
        </div>

        <div class="company-info-row">
          <div class="company-count">
            <i class="btr bt-building"></i>
            <div class="header">Companies</div>
            <div class="value">{{slc.getDispNum(segment.recommendationNum)}}</div>
          </div>
          <div class="exported-count">
            <i class="btr bt-file">
              <i class="btr bt-arrow-right"></i>
            </i>
            <div class="header">Published</div>
            <div class="value">{{slc.getDispNum(segment.exportedNum)}}</div>
          </div>
        </div>

        <div class="creation-summary-row">
          <div class="creation-summary-button" ng-click="slc.toSummary(segment.segmentId)"
                ng-if="slc.showSummaryButton(segment.status)">
            Creation Summary
          </div>
        </div>
      </div>
    </div>

    <pagination
        class="segments-pagination"
        num-pages="slc.numPages"
        select-page-handler="slc.selectPageHandler(pageNum)">
    </pagination>
  </div>
</div>

<div ng-include="'templates/welcome.html'"
     ng-if="slc.inited && slc.data.length === 0"></div>
