@import 'colors';

/**
 * Shared styles by checkbox and radio, dealing with border and
 * background. We use the usual trick of hiding the <input> element
 * and using a new element that serves as the checkbox.
 */
$default-border: $gray-2;
$checked-border: $call-to-action-color;
$checked-bg: $call-to-action-color;
$hover-border: $hover-color;
$disable-border: $gray-2;
$disable-bg: $gray-1;

@mixin ui-checks($size: 2rem) {
  cursor: pointer;
  input{
    &:checked +i{
      border-color: $checked-border;
      &:before{
        $gap: $size * 0.2;
        top: $gap - .111111rem;
        left: $gap - .111111rem;
        width: $size - 2 * $gap;
        height: $size - 2 * $gap;
        background-color: $checked-bg;
      }
    }
  }
  input[disabled] +i {
    border-color: $disable-border;
    background-color: $disable-bg;
    &:before {
      background-color: $disable-border;
    }
  }
  input:not([disabled]) +i{
    &:hover{
      border-color: $hover-border;
      &:before{
        background-color: $hover-border;
      }
    }
  }
  >i{
    position: relative;
    display: inline-block;
    width: $size;
    height: $size;
    margin-top: -.2rem;
    vertical-align: middle;
    background-color: #fff;
    border: .1rem solid $default-border;
    &:before{
      position: absolute;
      content: "";
      transition: all 0.2s;
    }
  }
}