/**
 * Styles the alert that warns/informs the user of something.
 * VDL Page: http://bit.ly/1TJRzl8
 */
@mixin es-alerts {
  .alert-success {
    @include alert(success);
  }

  .alert-error {
    @include alert(error);
    button {
      @include button(primary);
      background: white;
      color: $error-color;
      margin-left: 20px;
      // cancel primary button hover behavior
      &:hover {
        background: white;
      }
    }
  }

  .alert-warning {
    @include alert(warning);
  }

  .alert-info {
    @include alert(info);
  }

  .es-alert {
    padding: 5px 20px;
    .btr:before {
      vertical-align: 0;
    }

    &.fixed-to-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      // Any fixed-to-top alerts should never have anything covering them.
      // Thereforce, I use the highest z-index variable that we have, plus 1.
      z-index: $loading-bar-z-index + 1;
      // Ensure that the close button (and any other buttons) in the alert banner
      // are clickable for fixed-to-top alerts.
      pointer-events: auto;
    }

    > .alert-close {
      margin-left: 15px;
      color: #fff;
      cursor: pointer;
    }

    &.alert-warning {
      > .alert-close {
        color: #997E00;
      }
    }

    > .icon-wrap {
      font-size: 28px;
    }

    > .alert-message {
      margin-left: 10px;
    }
  }
}

@mixin alert($status) {
  @include alert-base();

  @if $status == success {
    background-color: $success-color;
  }
  @if $status == error {
    background-color: $error-color;
  }
  @if $status == warning {
    background-color: $warning-color;
    color: #997E00;
  }
  @if $status == info {
    background-color: $info-color;
  }
}

@mixin alert-base() {
  color: #fff;
  text-align: center;
  padding: 6px;
  margin-bottom: 10px;
  min-height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
