$border-radius-amount: 2rem;
$disabled-button-bg-color: rgb(187, 187, 187);
$disabled-button-text-color: rgb(221, 221, 221);

/**
 * Styles buttons.
 */
@mixin button($type : "") {
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: $border-radius-amount;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  position: relative;
  .bt-spinner {
    font-size: 2rem;
  }

  // Call to action button. Of primary importance
  @if $type == primary {
    background-color: $call-to-action-color;
    color: white;

    &:hover {
      background: $hover-color;
    }
  }

  @if $type == secondary {
    background: white;
    color: $dark-gray;
    border: .1rem solid rgb(204, 204, 204);

    &:hover {
      color: $hover-color;
      border-color: $hover-color;
    }
  }
  &[disabled] {
    background-color: $disabled-button-bg-color;
    color: $disabled-button-text-color;
    cursor: not-allowed;
  }
}

// A button that drops a dropdown when you click on it.
@mixin dropdown-button($type) {
  position: relative;

  // Use the label/checkbox trick to show/hide the actions
  // on click.
  label {
    .actual-button {
      @include button($type);
      // Little more padding on the sides to make room for the downward caret.
      padding: 10px 40px;
      i {
        position: absolute;
        right: 10px;
        top: 14px;
        font-size: 10px;
      }
    }
  }

  input[type='checkbox'] {
    display: none;
    &:checked ~ .actions {
      display: block;
    }
  }

  >.actions {
    $vertical-padding: 5px;
    $height: 35px;
    display: none;
    min-width: 180px;

    position: absolute;
    // Match the width of the relative parent.
    left: 0;
    right: 0;

    background: white;
    color: black;
    $border-color: $gray-1;
    border: 1px solid $border-color;
    >.action {
      cursor: pointer;
      padding: 5px 10px;
      height: $height;
      line-height: $height - $vertical-padding * 2;

      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: white;
        background: $call-to-action-color;
      }
    }
  }
}
