/**
 * Styles our custom checkboxes.
 *
 * @param $size - The size of the checkbox
 */
@mixin checkbox($size: 2rem) {
  $size: px-to-rem($size);
  > .ui-checks {
    @include ui-checks($size: $size);
  }
  >label{
    input[type="checkbox"] {
      display: none;
    }

    > .text {
      // Scale font size of the accompanying text w/ that of the
      // checkbox
      font-size: $size * 0.7;
      position: relative;

      // Vertically align label text with checkbox.
      top: $size * 0.1;

      // The bigger the checkbox, the more horizontal distance
      // there should be between the text and the checkbox.
      left: $size * 0.25;
    }
  }
}