/**
 * This file defines the colors used throughout EverString. Our goal is pull exclusively from
 * the colors in this file and avoid the use of additional colors.
 *
 * We define the color palettes we use app-wide in this file. Naming in this file should
 * not reference specific components. e.g. rather than declaring a $header-color here,
 * we should define a color name that has meaning outside of component-specific considerations,
 * such as `$primary-1`, then declare `$header-color: $primary-1` where it would make sense to,
 * such as `header.scss`.
 */

// `$light-gray` is the lightest gray and `$basically-black` is the darkest gray.
$light-gray: rgb(238, 238, 238);
$gray-1: rgb(229, 229, 229);
$gray-2: rgb(200, 200, 200);
$gray-3: rgb(187, 187, 187);
$gray-4: rgb(151, 151, 151);
$dark-gray: rgb(102, 102, 102);
$basically-black: rgb(3, 3, 3);

/* Primary colors */
$primary-1: rgb(3, 93, 103);
$primary-2: rgb(45, 204, 211);

/* Accents */
$accent-purple: rgb(160, 111, 169);
$accent-orange: rgb(249, 142, 43);
$accent-mint: rgb(79, 251, 213);
$accent-blue: rgb(0, 168, 232);

// Call to action. This color communicates that the user should do something in response to this color.
// For example, click a "log in" button.
$call-to-action-color: rgb(81,191,221);
// Hovering on link and buttons
$hover-color: rgb(90, 213, 243);

// Site-wide background color.
$background-color: rgb(247, 247, 247);

// Nav bar underneath the header.
$nav-bar-color: rgb(255, 255, 255);

/* System colors */
$success-color: rgb(56, 189, 58);
$warning-color: rgb(252,201,37);
$error-color: rgb(222, 60, 75);
$info-color: rgb(138, 243, 255);

// You might think that this should be $info-color, but $dark-gray is intentional here.
// To help avoid confusion, I'm using the word 'help' instead of 'info', and
// our 'help' icons use fa-info-circle instead of bt-info-circle because fa-info-circle
// has a better screen presence.
$help-icon-color: $dark-gray;

// Border color for elements that need a border,
// including the drag and drop outline zone.
$border-color: rgb(221, 221, 221);

// Color for table-related navigations, such as showing more columns
// or switching between pages.
$scroll-nav-color: rgb(45, 204, 211);

// The color of the circular icons used in various cards.
$circle-icon-color: $call-to-action-color;

// Apollo release blue color
$apollo-blue: rgb(23, 86, 118);
$sidebar-1: rgb(41, 50, 64);
$sidebar-2: rgb(55, 62, 77);

// Some social media colors
$linkedin-color: rgb(43, 112, 160);
$facebook-color: rgb(59, 90, 152);
$twitter-color: rgb(83, 160, 202);
