@mixin csv-uploader() {
  .csv-uploader {
    flex: 1;
    display: block;
    height: 40rem;
    border: .4rem dashed $border-color;
    border-radius: 1rem;
    margin: 3rem 5rem;
    position: relative;
    transition: border 0.2s linear;
    &.dragover {
      border: 4px dashed $hover-color;
      > .highlight-area {
        > .before-upload > .outer-icon-wrap > .icon-wrap {
          background-color: $hover-color !important;
        }
      }
    }
    > .dl-sample {
      width: 135px;
      position: absolute;
      top: 104%;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 12px;
      color: $call-to-action-color;
      cursor: pointer;
      &:hover {
        color: $hover-color;
      }
    }
    > .highlight-area {
      padding: 2rem 7rem 2rem 7rem;
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;

      // change color of the pre-upload bt-cloud-upload icon wrapper
      // on hover
      &:hover {
        > .before-upload > .outer-icon-wrap > .icon-wrap {
          background-color: $hover-color !important;
        }
      }

      > .before-upload, > .after-upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;

        // specific style traits for before/after upload
        &.before-upload {
          > .outer-icon-wrap > .icon-wrap {
            background-color: $circle-icon-color;
          }
        }
        &.after-upload {
          > .outer-icon-wrap > .icon-wrap {
            background-color: $success-color;
          }
          > .below-icon {
            margin-top: 0;
          }
        }

        // shared style traites for before/after upload
        > .supertitle {
          color: $gray-4;
          &.nowrap {
            white-space: nowrap;
          }
          &.for-model {
            margin-top: 5px;
            > b {
              color: black;
            }
          }
        }
        > .outer-icon-wrap {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14.5rem;
          height: 14.5rem;
          line-height: 14.5rem;
          border-radius: 50%;
          background-color: $light-gray;
          margin: 3rem auto 2rem auto;
          > .icon-wrap {
            transition: background-color 0.2s linear;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13rem;
            height: 13rem;
            line-height: 13rem;
            border-radius: 50%;
            color: #ffffff;
            > .btr {
              font-size: 6.4rem;
              &:before {
                vertical-align: 0;
              }
            }
          }
          > img {
            position: absolute;
            max-width: 170%;
            left: 115%;
          }
        }
        > .below-icon {
          margin: 2rem;
          font-size: 2.2rem;
          text-align: center;
          color: $dark-gray;
          &.for-model {
            margin: 0 20px 20px 20px;
          }
          > .upload-btn {
            @include button(primary);
            display: block;
            margin-top: 2.5rem;
            min-width: 17rem;
          }
          > .reupload {
            display: inline-block;
            margin-top: 2rem;
            color: $call-to-action-color;
            cursor: pointer;
            font-size: 1.6rem;
            &:hover {
              color: $hover-color;
            }
          }
          > .submessage {
            font-size: 1.6rem;
            display: block;
            margin-top: .2rem;
            > .click-emphasis {
              @include text-link();
            }
          }
        }
      }

      > .during-upload {
        @include abs-full-screen();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > .loading-spinner {
          font-size: 12rem;
          color: $gray-4;
          margin-top: 3rem;
          &:before {
            vertical-align: 0;
          }
        }

        > .uploading-message {
          margin: 2rem;
        }
      }
    }
  }
}