/**
 * A component that allows a user to pick a date from a calendar or manually
 * type in a date. Showing/interacting with the calendar is handled with js,
 * this mixin just styles the <input> itself.
 *
 * Use with inputs of type="text".
 */
@mixin datepicker() {
  display: inline-block;
  position: relative;
  > i.bt-calendar{
    pointer-events: none;
    position: absolute;
    right: 1.4rem;
    top: 1.1rem;
    font-size: 1.6rem;
    cursor: pointer;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: transparent;
    cursor: pointer;
  }
  input[type="date"]::-webkit-clear-button,
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  > .textbox{
    @include textbox();
    padding-right: 1rem;
    &[disabled]+i.bt-calendar{
      color: $gray-3;
    }
  }
  &:hover{
    >.textbox{
      +i.bt-calendar{
        color: $hover-color;
      }
      &[disabled]+i.bt-calendar{
        color: $gray-3;
      }
    }
  }
}
