/**
 * Dropdown styling used with the dropdown directive
 */

$dropdown-z-index: 10;

@mixin dropdown-directive() {
  @include force-scrollbar-visible();
  .wrap-dd-select {
    position: relative;
    width: 20rem;
    height: 3.5rem;
    margin: 0px;
    padding: 1rem;
    user-select:none;

    background: #fff;
    border: .1rem solid $gray-1;
    cursor: pointer;
    outline: none;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: black;
    &:hover {
      border: .1rem solid $hover-color;
      color: $hover-color;
      > .dropdown {
        border-color: $hover-color;
      }
    }
    &.disabled {
      cursor: default;
      color: rgb(186,186,186);
      background-color: rgb(219,219,219)
    }
    &.invalid {
      border: .1rem solid $error-color;
    }

    .bt-angle-down {
      position: absolute;
      right: 1rem;
      bottom: .7rem;
    }

    .bt-angle-up {
      position: absolute;
      right: 1rem;
      bottom: .7rem;
      display: none;
    }

    &.active {
      > .dropdown {
        display: unset;
        max-height: 30rem;
      }
      .bt-angle-down {
        display: none;
      }
      .bt-angle-up {
        display: inline;
      }
    }

    // styling for the currently-selected-item box that you click
    // to open the dropdown menu. Mainly ensures that the text will
    // display properly.
    > .selected {
      @include nowrap();
      display: block;
      margin-right: 2rem;
    }

    > .dropdown {
      transition: max-height .3s ease;
      position: absolute;
      top: 100%;
      width: auto;
      left: 0;
      right: 0;
      z-index: $dropdown-z-index;
      background: white;
      padding: 0;
      font-weight: normal;
      max-height: 0;
      overflow: auto;

      border-right: .1rem solid $gray-1;
      border-left: .1rem solid $gray-1;
      border-bottom: .1rem solid $gray-1;
      margin-left: -.1rem;
      margin-right: -.1rem;

      > li {
        > a {
          display: block;
          padding: 1rem;
          text-decoration: none;
          color: black;
          font-weight: normal;
          cursor: pointer;
          &:hover {
            background: $call-to-action-color;
            color: white;
          }
          // styling for the currently selected item shown in
          // dropdown list when dropdown is open. Not to be
          // confused with .selected defined above
          &.currently-selected {
            background: $call-to-action-color;
            color: white;
            font-weight: 600;
          }
        }
        > i {
          float: right;
          color: inherit;
        }
      }
    }
  }
}

/**
 * Dropdown styling for dropdowns that don't use the dropdown directive.
 */
@mixin dropdown() {
  transition: max-height .3s ease;
  position: absolute;
  z-index: $dropdown-z-index;
  background: white;
  padding: 0;
  font-weight: normal;
  font-size: 1.6rem;
  color: black;
  border: .1rem solid $gray-1;

  overflow: visible;

  &.extension {
    height: auto;
    display: block;
    visibility: hidden;
  }

  &.ng-enter {
    max-height: 0px;
  }

  &.ng-enter-active {
    display: block;
    max-height: 30rem;
  }

  &.ng-leave {
    max-height: 30rem;
    display: block;
  }

  &.ng-leave-active {
    max-height: 0px;
  }

  &.ng-animate {
    overflow: hidden;
  }

  .dropdown {
    display: none;
  }

  &:hover {
    .dropdown {
      display: block;
    }
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    padding-left: 1rem;
    padding-right: .5rem;
    min-width: 19rem;
    background: white;
    white-space: nowrap;
    border-top: .1rem solid $gray-1;
    &:first-child {
      border-top: none;
    }
    &:hover {
      background: $call-to-action-color;
      color: white;
    }
    &.extender {
      position: relative;
      -webkit-transform: translate3d(0,0,0);
      > .extension {
        transition: visibility 1s linear !important;
        &.no-delay {
          transition: visibility 0s linear !important;
        }
        left: 100%;
        top: 0;
      }
      > .bt-angle-right {
        margin-left: 2rem;
      }
      &:hover {
        > .extension {
          color: black;
          transition: visibility 0s linear !important;
          visibility: visible !important;
        }
      }
    }

    // Styles for if a dropdown item is disabled.
    &.disabled {
      cursor: not-allowed;
      color: rgb(186, 186, 186);
      background-color: rgb(219, 219, 219);
      &:hover {
        cursor: not-allowed;
      }
    }
    // Styles for if a dropdown item is currently selected
    &.selected {
      background: $call-to-action-color;
      color: white;
      font-weight: 600;
    }

    > .btr {
      display: flex;
      align-items: center;
      &:before {
        vertical-align: 0;
        font-size: 1.4rem;
      }
    }
    // this is very imprecise because dropdowns have been implemented in many different ways
    > div, a {
      display: flex;
      text-decoration: none;
      color: inherit;
      height: 100%;
      width: 100%;
      i, a, span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        text-decoration: none;
        color: inherit;
        font-weight: normal;
        cursor: pointer;
      }
    }
  }
}

/**
 * Mixin for a non-directive dropdown's parent container, for
 * hover behavior that improves usability by delaying the disappearance
 * of the menu when the user (perhaps unintentially) un-hovers.
 *
 * @param $dropdown - The name of the class of the dropdown element.
 */
@mixin hover-dropdown-parent($dropdown: 'dropdown') {
  > .#{$dropdown} {
    @include dropdown();
    visibility: hidden;
    transition: visibility 1s linear;
    text-transform: none;
    .extension {
      @include dropdown();
    }
  }
  &:hover {
    > .#{$dropdown} {
      transition: visibility 0s linear;
      visibility: visible;
    }
  }
}
