@mixin ellipsis-menu() {
  cursor: pointer;
  &.disabled {
    pointer-events: none;
  }
  > .ellipsis-icon {
    // Increase hover target size.
    padding-left: 1rem;
    padding-right: 1rem;

    position: absolute;
    right: -.2rem;
    top: 1.8rem;
    color: $ellipsis-color;
    font-size: 1.75em;
    > .menu {
      display: none;
      position: absolute;
      transform: translate(0, -50%);
      top: 9px;
      right: 1.8rem;

      z-index: 1;
      min-width: 19.5rem;
      max-width: 25rem;
      border: .1rem solid #dddddd;
      border-bottom: none;
      background-color: #ffffff;
      > .item {
        display: block;
        font-size: 1.6rem;
        color: #000000;
        padding: 0 1rem;
        height: 4.2rem;
        line-height: 4.2rem;
        border-bottom: .1rem solid #dddddd;
        text-align: left;
        > .btr {
          > span {
            margin-left: 1rem;
          }
        }
        &:hover {
          background-color: $call-to-action-color;
          color: #ffffff;
        }
      }
    }
    &:hover {
      .menu {
        display: block;
      }
    }
  }
}