@import 'colors';

/**
 * Focus slides are content that lives in a separate pane that slide in from the right.
 * VDL Example: http://bit.ly/1Tid02y
 *
 * @param $z-index: The z-index of this focus slide. We set this value
 * manually because it depends on other content.
 */
@mixin focus-slide($z-index, $nesting-level: 0, $more-left-space: false) {
  position: fixed;
  left: 0;
  top: 0;
  z-index: $z-index;
  // Commented out this opacity rule to fix scrolling in focus slides.
  // I haven't observed problems with vertical scroll when
  // this rule is active, but I had trouble with horizontal
  // scroll. Forgot why we added this rule in the first place,
  // so leaving this explanation here in case some weird
  // issue with slides comes up later.
  // opacity: 0.99;

  // Re-enable pointer events turned off by `.ng-modal-open`.
  pointer-events: auto;

  // Amount of space we have to the left of the focus slide.
  $space-to-the-left: 15.3rem + 1.5rem * $nesting-level;
  // Using media queries with $small-screen-space-to-the-left
  // to not waste precious space when the screen is too narrow
  $small-screen-space-to-the-left: $space-to-the-left;
  @if $more-left-space == true {
    $space-to-the-left: calc(35vw + 1.5rem * #{$nesting-level});
  }

  > .background-wrapper {
    display: none;
    background: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }

  > .content {
    > #slide-alert {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 1rem;
      }
      > .save-btn {
        @include button(primary);
      }
    }
    > .header-row {
      display: flex;
      justify-content: space-between;
      margin: 3rem 0px;

      > h1 {
        @include header-one();
      }
      > h2 {
        @include header-two();
      }
    }

    > .main {
      position: relative;
    }

    width: calc(100vw - #{$space-to-the-left});
    @media screen and (max-width: 1400px) {
      width: calc(100vw - #{$small-screen-space-to-the-left});
    }

    background: $background-color;
    // First one.
    position: fixed;
    left: 100vw;
    top: 0;
    height: 100vh;

    transition: left 0.3s ease;

    padding: 2rem;
    text-align: left;
    overflow: scroll;
  }

  // ng-class doesn't like kebab-case
  &.slideIn {
    > .background-wrapper {
      display: block;
    }
    > .content {
      left: $space-to-the-left;
      @media screen and (max-width: 1400px) {
        left: $small-screen-space-to-the-left;
      }
    }
  }
}
