/**
 * Mixin to declare font-faces
 * Source: http://codepen.io/javasteve99/pen/hDxpn
 */
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    // IE9 Compat Modes
    src: url('#{$file-path}.eot');
    // IE6-IE8
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    // Pretty modern browsers
    url('#{$file-path}.woff') format('woff'),
    // Safari, Android, iOS
    url('#{$file-path}.ttf') format('truetype'),
    // Legacy iOS
    url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}
