/**
 * This is the ONLY place in our ux-patterns library
 * that should be setting selector rules. Everything else should be declaring
 * variables and mixins.
 *
 * Making these rules global is a BIG deal since it'll affect all EverString styles,
 * so use caution before editing these and always heavily comment your reasoning
 * for posterity.
 *
 * This mixin should be present on every page.
 */
@mixin global-rules {

  /* CSS RESET */
  @include css-reset();

  /* Directives */
  @include directives();

  /* Box sizing */
  // We set box-sizing to `border-box` globally because it's almost always
  // better than `content-box`.
  // Some existing css may already expect `box-sizing` to be `content-box`
  // though, so we add the "inherit" rule to allow overriding on a per-component basis.
  // Taken from http://bit.ly/21TGpEe
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    /* EverString's official font */
    // We set our font globally because we want all our typography to use this font.
    font-family: 'Proxima Nova';
  }

  // style to make ng-cloak work properly
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  /**
   * We use Proxima Nova throughout all of EverString.
   * We declare all the different weights and styles here.
   *
   * We purposefully exclude italic typefaces because we don't use them
   * anywhere.
   */
  @include font-face('Proxima Nova',
      '/fonts/proxima-nova/ProximaNova-Thin',
      100, normal);
  @include font-face('Proxima Nova',
      '/fonts/proxima-nova/ProximaNova-Light',
      200, normal);
  @include font-face('Proxima Nova',
      '/fonts/proxima-nova/ProximaNova-Regular',
      normal, normal);
  @include font-face('Proxima Nova',
      '/fonts/proxima-nova/ProximaNova-Semibold',
      600, normal);
  @include font-face('Proxima Nova',
      '/fonts/proxima-nova/ProximaNova-Bold',
      700, normal);
}
