/**
 * Styles header/value pairs of information.
 */
@mixin info-block($uppercase-header: false) {
  > .title {
    color: $label-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
    @if $uppercase-header {
      text-transform: uppercase;
    }
  }

  > .value {
    font-size: 16px;
  }
}