@mixin tag() {
  margin: .3rem 1.5rem .3rem .3rem;
  padding: .8rem 1rem .8rem .5rem;
  border: .1rem solid $gray-2;
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  background-color: $background-color;
  font-size: 1.4rem;
  position: relative;
  &:hover.clickable {
    color: $hover-color;
  }

  > .name {
    white-space: nowrap;
  }
  > .remove-btn {
    font-size: 1.2rem;
    margin-left: .5rem;
    color: $gray-4;
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
    &:before {
      vertical-align: 0;
    }
  }

  &.custom-tag {
    color: $call-to-action-color;
  }

  > input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    &[disabled] {
      pointer-events: none;
    }
  }

  > .selection-indicator {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
    &.selected {
      background-color: $success-color;
      > i {
        color: white;
      }
    }

    > i {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.1s ease-in-out;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      &.ng-enter {
        transform: scale(0.2);
      }
      &.ng-enter-active {
        transform: scale(1.0);
      }
      &.ng-leave, &.ng-leave-active {
        opacity: 0;
      }
    }
  }

}

@mixin keywords() {
  .keywords-dir-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 124rem;
    @include force-scrollbar-visible();
    > .top-row {
      position: relative;
      max-height: 5.4rem;
      > .add-custom-tags {
        display: inline-block;
        position: relative;
        width: 100%;

        > .loading {
          position: absolute;
          right: 5.5rem;
          bottom: 0px;
          top: 0px;
          display: flex;
          align-items: center;
          > .btr:before {
            color: $primary-1;
            vertical-align: 0;
          }
        }
        > .search-button {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: .1rem;
          top: .1rem;
          bottom: .1rem;
          height: 4.8rem;
          width: 4.9rem;
          background-color: darken($call-to-action-color, 15%);
          &:hover {
            background-color: $hover-color;
          }
          &.accent-orange {
            background-color: $accent-orange;
            &:hover {
              background-color: lighten($accent-orange, 10%);
            }
          }
          &[disabled] {
            cursor: not-allowed !important;
            background-color: $disabled-button-bg-color !important;
            color: $disabled-button-text-color !important;
          }

          > .bt-search {
            font-size: 2.2rem;
            color: white;
            &:before {
              vertical-align: 0;
            }
          }
        }
        > .tag-select {
          input {
            font-size: 2rem;
            height: auto;
            padding-left: 1rem;
            &::placeholder {
              color: rgb(176, 176, 176);
              font-weight: 200;
            }
          }
          &.open ~ .input-overlay {
            display: none;
          }
          &.show-no-results {
            .ui-select-no-choice {
              max-height: 3.5rem !important;
            }
          }
          // .ui-select-match-item {
          //   display: none;
          // }
        }
        > .selected-items-overlay {
          position: absolute;
          top: .1rem;
          bottom: .1rem;
          right: 5rem;
          max-width: 70%;
          display: flex;
          align-items: center;
          overflow: scroll;
          &:hover > .highlight {
            color: $hover-color;
          }
          > .text > .highlight {
            color: $call-to-action-color;
          }
          > .bt-plus-circle {
            margin-right: 1rem;
            font-size: 2rem;
            &:before {
              vertical-align: 0;
            }
          }
          > .selected-item-tag {
            @include tag();
          }
        }
      }
    }
    > .tag-area-header {
      @include header-two();
      margin-top: 4rem;
    }
    > .table-crud {
      @include table-crud();
      margin-top: 2rem;
    }
    > .tags-area-wrapper {
      flex: 1;
      position: relative;
      > .tags-area {
        display: flex;
        flex: 1;
        // enough min-height for one row of keywords
        min-height: 5.7rem;
        max-height: 50vh;
        overflow: auto;
        background-color: white;
        padding: .8rem .6rem .6rem .6rem;
        border: .1rem solid $gray-1;
        flex-wrap: wrap;
        align-content: flex-start;
        &.empty {
          justify-content: center;
        }
        > .empty-text {
          display: flex;
          color: $gray-4;
          font-size: 2.4rem;
          font-weight: 800;
          align-self: center;
          align-items: center;
        }
        > .kw-tag {
          @include tag();
        }
        > .show-more {
          padding: .5rem;
          display: inline-flex;
          align-items: center;
          color: $call-to-action-color;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: $hover-color;
          }
        }

      }
    }
  }
}
