/**
 * Styles the loading spinners created by our loading spinner directive.
 */
@mixin loading-spinner() {
  $es-loader-transition-duration: 0.1s;

  loading-spinner {
    &.ng-enter, &.ng-leave-active {
      .es-loading-spinner-directive {
        opacity: 0;
      }
    }
    &.ng-enter-active, &.ng-leave {
      .es-loading-spinner-directive {
        opacity: 1;
      }
    }

    .loading-spinner-directive {
      @include abs-full-screen();
      background-color: rgba(255, 255, 255, 0.6);
      z-index:2;
      display: flex;
      justify-content: center;
      align-items: center;
      > .spinner-wrapper{
        text-align:center;
        > .bt-spinner{
          color: $dark-gray;
          &:before {
            vertical-align: 0;
          }
        }
      }
    }
    .es-loading-spinner-directive {
      transition: opacity $es-loader-transition-duration linear;
      @include abs-full-screen();
      // we want the overlay to effectively cover the header
      z-index: $header-z-index + 1;
      background-color: rgba(white, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      $inner-circle-width: 6vw;
      $outer-circle-width: calc(#{$inner-circle-width} + 12px);
      > .center-items-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        margin-top: 8vh;
        > .logo-outer-circle {
          @include flex-center();
          border-radius: 50%;
          background-color: darken($primary-2, 17%);
          width: $outer-circle-width;
          height: $outer-circle-width;
          > .logo-inner-circle {
            @include flex-center();
            background-color: $primary-1;
            border-radius: 50%;
            width: $inner-circle-width;
            height: $inner-circle-width;
            position: relative;
            > img {
              width: 80%;
              height: 80%;
            }
          }
        }
        > .dots {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          width: 90%;
          @keyframes pulse {
            0% {
              background: $primary-1;
            }

            25% {
              transform: scale(0.6);
              background: lighten($primary-1, 10%);
            }

            50% {
              transform: scale(0.4);
              background: lighten($primary-1, 20%);
            }

            75% {
              transform: scale(0.6);
              background: lighten($primary-1, 10%);
            }

            100% {
              background: $primary-1;
            }
          }
          > .dot {
            border-radius: 50%;
            // I use negative animation-delays here so that all elements begin in mid-animation
            &:nth-child(1) {
              animation: pulse 2s linear -1.5s infinite;
            }
            &:nth-child(2) {
              animation: pulse 2s linear -1s infinite;
            }
            &:nth-child(3) {
              animation: pulse 2s linear -0.5s infinite;
            }
            &:nth-child(4) {
              animation: pulse 2s linear infinite;
            }
            transform-origin: center;
            width: 15px;
            height: 15px;
          }
        }
      }
    }
}

  .blur-for-es-loading {
    filter: blur(5px);
    transition: $es-loader-transition-duration filter linear;
  }
}
