/* <div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
     <div class="modal do-nothing-modal" ng-click="mdc.blockClose($event)">
      <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
      <div class="modal-title">Modal That Does Nothing</div>
      <div class="modal-body">
        <div class="modal-content">
          Content goes here. It's expected to be some combination of messages/instructions and inputs.
          Hence, the style rules for .modal-message, <input>, and <label> elements.
        </div>
        <div class="modal-button-row">
          <button class="cancel" ng-click="mdc.close()">Cancel</button>
          <button ng-click="mdc.close()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
*/
@import 'z-index';

/**
 * Styles focus slides and modals. They share some styling because they both use a .modal-bg.
 */
@mixin modal() {
  body {
    // Prevent scrolling when modal is open.
    &.ng-modal-open {
      overflow: hidden;
      height: 100%;
      // Prevent anything in the body from being clickable.
      pointer-events: none;
    }

    .modal-bg {
      position: fixed;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;

      background: rgba(51,51,51, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;

      // We prevent clicking on anything in <body>, so we need to re-enable clicking here.
      pointer-events: auto;
      // modal should always be on top
      z-index: $modal-z-index;

      .modal {
        width: 35%;
        min-width: 47.2rem;
        min-height: 30rem;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        position: relative;
        @include force-scrollbar-visible();

        .modal-close {
          position: absolute;
          color: #666;
          font-size: 2.2rem;
          top: 2rem;
          right: 2rem;
          cursor: pointer;
        }
        .modal-title {
          @include header-one();
          margin: 2.5rem 2.5rem 1.5rem 2.5rem;
          font-weight: lighter;
        }

        .modal-body {
          margin: 1.5rem 2.5rem 2.5rem 2.5rem;
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: center;
          label {
            @include data-label();
            margin-left: .3rem;
            .fa-info-circle {
              text-transform: none;
              @include tooltip-target(right, 20rem);
            }
          }
          .textbox {
            @include textbox();
            width: 100%;
            margin: .5rem 0px 1.5rem 0px;
          }
          .modal-message {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
          }

          .modal-button-row {
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            margin-top: 3rem;
            button {
              min-width: 11.5rem;
              @include button(primary);
              &.cancel {
                @include button(secondary);
                margin-right: 1.5rem;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
