@mixin multi-select() {
  @include multi-select-base(27.5rem, 25rem, 23rem, 1rem, 3.5rem);
}

@mixin multi-select-lg() {
  @include multi-select-base(35rem, 32.5rem, 42rem, 3rem, 5rem);
}

/**
 * Styles a multi-select element.
 *
 * @param $ms-height - The height of the entire multi-select element.
 * @param $ms-box-height - The height of the two box elements that hold the things
 *   to be selected.
 * @param $ms-box-width - The width of the two box elements.
 * @param $btn-margin - The left/right margins of the multi-select element.
 * @param $btn-diameter - The diameter of the buttons between the multi-select boxes
 *   that allow toggling things between "not selected" and "selected" states.
 */
@mixin multi-select-base($ms-height, $ms-box-height, $ms-box-width, $btn-margin, $btn-diameter) {
  &.auto {
    width: 100%;
    // prevent ms from getting too ridiculously big
    max-width: 135rem;
    > .multi-select {
      margin: 0 .5rem;
      > .ms-box {
        flex: 1;
        > .ms-box-body {
          width: 100%;
        }
      }
    }
  }
  > .multi-select {
    height: $ms-height;
    display: flex;
    justify-content: space-between;
    &.reverse {
      direction: rtl;
      > .ms-box {
        direction: ltr;
      }
      > .ms-buttons {
        transform: rotate(180deg);
      }
    }
    > .ms-box {
      background: white;
      border: .1rem solid $gray-1;
      padding-top: 1rem;
      > .ms-box-title {
        color: black;
        font-weight: 600;
        font-size: 1.4rem;
        margin-left: 1rem;
        > .counter {
          color: $dark-gray;
          margin-left: .5rem;
          font-size: 1.3rem;
        }
      }
      > .ms-box-body {
        @include force-scrollbar-visible();
        width: $ms-box-width;
        height: $ms-box-height;
        display: flex;
        flex-direction: column;
        > .ms-choices {
          overflow-y: auto;
          overflow-x: hidden;
          flex: 1;
          margin-top: .5rem;
          > .ms-choice {
            @include tooltip-target(down, 20rem);
            position: relative;
            height: 2.5rem;
            transition: height 0.1s ease, opacity 0.6s linear;

            // Truncation directive may add <a>s when it detects a potential link.
            // The link won't be clickable but we want to make sure it's styled the
            // same as the other items.
            a {
              text-decoration: none;
              color: inherit;
            }
            &.anim-cancel {
              transition: none;
            }
            &.ng-enter {
              height: 1rem;
              opacity: 0;
            }
            &.ng-enter-active {
              height: 2.5rem;
              opacity: 1;
            }
            &.ng-leave, &.ng-leave-active {
              transition: opacity 0s;
            }
            > * {
              font-weight: 400;
              position: absolute;
              top: 0px;
              margin: 0px;
              padding: .5rem 0px .5rem .8rem;
              display: block;
              height: 100%;
              width: 100%;
            }

            > .from-seed {
              margin-left: 75%;
              color: $dark-gray;
              font-size: 1.2rem;
              width: auto;
              padding-bottom: 0px;
              padding-top: .6rem;
            }

            > input[type="checkbox"] {
              opacity: 0;
              cursor: pointer;
              z-index: 1;
              &[disabled] {
                pointer-events: none;
              }
            }
            > input[type="checkbox"]:hover ~ .from-seed, input[type="checkbox"]:checked ~ .from-seed {
              color: white;
            }

            > input[type="checkbox"]:hover ~ label {
              background: $hover-color;
              color: white;
            }
            > input[type="checkbox"]:checked ~ label {
              background: $call-to-action-color;
              color: white;
            }
          }
        }

        > .ms-search {
          position: relative;
          height: 3rem;
          margin: .5rem;
          > .search-box {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
            border: .1rem solid $gray-3;
            outline: none;
            padding-left: 3rem;
            font-size: 1.6rem;
            font-weight: lighter;
            text-transform: none;
          }
          > .search-icon {
            font-size: 2rem;
            position: absolute;
            top: .1rem;
            left: .5rem;
            z-index: 1;
          }
        }

      }
    }

    > .ms-buttons {
      font-size: 2.2rem;
      margin: 3rem $btn-margin;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      > .btn-circle {
        cursor: pointer;
        margin-top: 1rem;
        border-radius: 50%;
        min-height: $btn-diameter;
        min-width: $btn-diameter;
        background-color: $call-to-action-color;
        color: white;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $hover-color;
        }
        > .btr {
          &:before {
            vertical-align: 0;
          }
        }
      }
    }
  }
}
