$active-tab-color: $call-to-action-color;

/**
 * A horizontal tab container.
 */
@mixin nav-tabs() {
  border-bottom: .1rem solid $gray-2;
  display: flex;
  > li {
    margin-bottom: 0;
    flex: 1;
    height: 5rem;
    max-width: 19rem;
    display: flex;
    margin-top: .6rem;
    transition: height 0.2s ease, margin 0.2s ease;
    margin-right: .5rem;
    &:first-child {
      margin-left: 1rem;
    }

    // tab is unselected
    > a {
      width: 100%;
      height: 100%;
      background-color: #fff;
      font-size: 1.6rem;
      color: $dark-gray;
      text-align: center;
      display: block;
      padding: 1rem 1.5rem;
      line-height: 2rem;
      cursor: pointer;
      // so we don't push the text down when border appears
      border-top: .6rem solid transparent;
      // prevent the href added by ui-router from adding underlines to text
      text-decoration: none;
      &:hover {
        color: $hover-color;
      }
      &.galaxy{
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding-top: .5rem;
        padding-left: 3.3rem;
        position: relative;
        .smaller{
          font-size: 1.2rem;
          font-weight: lighter;
        }
        .bt-flask{
          font-size: 1.8rem;
          position: absolute;
          left: 1.5rem;
          top: .9rem;
        }
      }
    }

    // tab is selected
    &.active {
      height: 5.6rem;
      margin-top: 0px;
      position: relative;
      bottom: -1px;
      a {
        border-top: .6rem solid $active-tab-color;
        font-weight: 600;
        color: $active-tab-color;
        &.galaxy{
          padding-top: .5rem;
        }
      }
    }
  }
}


/**
 * Another horizontal tab container. This one is used when we need tab navigation on a page
 * that has already used `nav-tabs()`
 */
// Example HTML used in conjunction with the following nav-tabs-secondary mixin
/*
 * <ul class="nav-tabs-secondary">
    <li ng-repeat="item in items" class="{{item.isActive ? 'active': ''}}">
      <a>
        {{item.displayText}}
      </a>
    </li>
    <hr />
  </ul>
*/
@mixin nav-tabs-secondary($tab-width, $num-tabs) {
  > hr {
    height: .8rem;
    width: $tab-width;
    margin: 0;
    background: $active-tab-color;
    border: none;
    transition: margin-left .3s ease-in-out, background .15s linear;
  }

  @for $i from 1 through $num-tabs {
    > li:nth-child(#{$i}).active ~ hr {
      margin-left: calc((#{$i} - 1) * #{$tab-width});
    }
  }

  > li {
    height: 4rem;
    width: $tab-width;
    display: inline-flex;

    // tab is unselected
    > a {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: background-color .3s ease-in-out;
      font-size: 2rem;
      color: black;
      text-align: center;
      display: flex;
      justify-content: space-around;
      padding: 1rem 0;
      line-height: 2rem;
      // prevent the href added by ui-router from adding underlines to text
      text-decoration: none;
      &:hover {
        color: $hover-color;
      }
      > .bt-circle-arrow-right {
        opacity: 0;
        &:before {
          vertical-align: 0;
        }
      }
    }

    // tab is selected
    &.active {
      a {
        font-weight: 600;
        color: $active-tab-color;
        background-color: white;
        > .bt-circle-arrow-right {
          opacity: 1;
        }
      }
    }
  }
}
