/**
 * Styles the pagination controls that allow you to switch between pages.
 */
@mixin pagination() {
  $box-size: 3rem;

  padding-left: 0;
  margin: 2rem;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  width: 100%;
  display: flex;
  &:not([st-pagination]) {
    justify-content: flex-end;
  }
  &[st-pagination] {
    justify-content: space-between;
  }

  > .show-rows-per-page {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    > .rows {
      @include table-crud-text();
      pointer-events: none;
    }
    > .num {
      @include table-crud-text();
      color: $text-link-color;
      margin: 0px .3rem;
      &:hover {
        color: $hover-color;
      }
      &.active {
        pointer-events: none;
        color: $dark-gray;
        font-weight: 800;
      }
    }
  }

  >.show-pagination {
    display: flex;
    align-items: center;
    position: relative;

    > .controls-wrapper {
      display: flex;
      align-items: center;
      >.page {
        min-width: $box-size - .5rem;
        padding: 0 .4rem 0;
        height: $box-size;
        line-height: $box-size;
        background: white;
        user-select: none;
        cursor: pointer;

        &.active {
          color: #fff;
          cursor: default;
          background-color: $call-to-action-color;
        }

        &.disabled {
          cursor: not-allowed
        }

        &:hover:not(.disabled):not(.active) {
          color: #fff;
          background-color: $call-to-action-color;
        }
      }

      >.next-page, >.previous-page {
        width: $box-size;
        height: $box-size;
        padding: .6rem .6rem;
        color: #000;
        background-color: #fff;
        cursor: pointer;

        // Vertically center these angle bracket icons.
        &:before {
          position: relative;
          top: 2px;
        }
        &.disabled {
          cursor: not-allowed;
        }
        &:hover:not(.disabled):not(.active) {
          color: #fff;
          background-color: $call-to-action-color;
        }
      }
    }
  }
}
