/**
 * Styles radio buttons, which allow you to choose a single selection from many
 */
@mixin radio($size: 2rem) {
  > .ui-checks {
    @include ui-checks();
  }
  >label{
    input[type="radio"]{
      display: none;
      +i{
        border-radius: 50%;
        &:before{
          border-radius: 50%;
        }
      }
    }
    > .text {
      // Scale font size of the accompanying text w/ that of the
      // checkbox
      font-size: $size * 0.7;
      position: relative;

      // Vertically align label text with checkbox.
      top: $size * 0.1;

      // The bigger the checkbox, the more horizontal distance
      // there should be between the text and the checkbox.
      left: $size * 0.25;
    }
  }
}
