/**
 * Styles a dropdown.
 */
@mixin select() {
  position: relative;
  z-index: 1;
  width: 240px;
  > .default{
    height: 35px;
    line-height: 35px;
    color: #000000;
    border: 1px solid $gray-3;
    padding-left: 20px;
    .btr{
      float: right;
      margin: 5px 10px 0 0;
    }
  }
  > .list{
    position: absolute;
    top: 35px;
    left: 0px;
    width: 100%;
    border: 1px solid $gray-3;
    border-bottom: none;
    border-top: none;
    display: none;
    .item{
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      border-bottom: 1px solid $gray-3;
      cursor: pointer;
      &:hover{
        background-color: $gray-3;
      }
      &.selected{
        background-color: $gray-4;
      }
    }
  }
  &:hover{
    > .list{
      display: block;
    }
  }
}
