@mixin summary-box() {
  > .summary-box {
    background: white;
    border: .1rem solid $gray-1;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 30rem;
    > .summary-search {
      position: relative;
      min-height: 3rem;
      margin: .5rem;
      @include italic-placeholder();
      > .search-box {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        border: .1rem solid $gray-3;
        outline: none;
        padding-left: 3rem;
        font-size: 1.6rem;
        font-weight: lighter;
        text-transform: none;
        background: transparent;
      }
      > .search-icon {
        font-size: 2rem;
        position: absolute;
        top: .1rem;
        left: .5rem;
      }
    }
    > .summary-items {
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1;
      margin-top: .5rem;
      > .summary-item {
        @include tooltip-target(down, 20rem);
        position: relative;
        height: 2.5rem;

        // Truncation directive may add <a>s when it detects a potential link.
        // The link won't be clickable but we want to make sure it's styled the
        // same as the other items.

        a {
          text-decoration: none;
          color: inherit;
        }
        > label {
          font-weight: 400;
          position: absolute;
          top: 0px;
          margin: 0px;
          padding: .5rem 0px .5rem .8rem;
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}