/**
 * Styles text that is used CRUD a table (create, read, update, delete).
 * This styling is also used in other places.
 */
@mixin table-crud() {
  padding-bottom: 1rem;
  > div, > react-component {
    padding-left: 1.2rem;
    padding-right: 1.5rem;
    display: inline-block;
    white-space: nowrap;
    height: 2.4rem;
    line-height: 2.4rem;

    &:not(.table-search) {
      border-right: .1rem solid $gray-2;
    }

    &:first-child:not(.table-search) {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    &.no-border-right {
      border-right: 0;
      padding-right: 0;
    }
  }

  i {
    font-size: 1.8rem;
    margin-right: 6px;
    vertical-align: -16%;
  }

  > .table-search {
    @include table-search();
  }

  .table-crud-text {
    @include table-crud-text();
  }
}

/**
 * Styles the magnifying glass/text box that allows you to search a table's contents.
 */
@mixin table-search() {
  position: relative;
  min-width: 240px;
  > .search-icon {
    font-size: 1.8rem;
    position: absolute;
    top: .8rem;
    z-index: 1;
  }

  > .search-box {
    border: 1.4rem transparent;
    border-radius: 1.4rem;
    height: 3rem;
    width: 15rem;

    position: absolute;
    top: .5rem;
    left: .1rem;
    width: 0;

    transition: opacity .3s linear,
    width .3s linear;
    opacity: 0;
    padding-left: 4rem;
    padding-right: 3rem;

    &:focus, &.active {
      outline: 0;
      border: .1rem solid $gray-2;
      opacity: 1;
      width: 24rem;
      + .bt-times {
        opacity: 1;
        transition: opacity .7s ease-in-out;
        pointer-events: auto;
      }
    }
  }

  > .bt-times {
    opacity: 0;
    position: absolute;
    font-size: .8rem;
    cursor: pointer;
    pointer-events: none;
    top: 1.5rem;
    left: 22rem;
    &:hover {
      color: $hover-color;
    }
  }

  &:hover {
    > .search-box {
      opacity: 1;
      width: 24rem;
    }
    > .bt-times {
      opacity: 1;
      transition: opacity .7s ease-in-out;
      pointer-events: auto;
    }
  }
}

@mixin table-crud-text() {
  @include table-col-header();
  cursor: pointer;
  &:hover {
    color: $gray-4;
  }
}
