// Table colors
$table-header-gray: #f2f2f2;
$table-row-white: #ffffff;
$table-row-gray: #fafafa;
$table-border-gray: #e4e4e4;
$table-row-hover-color: rgb(195, 229, 244);

@mixin table-cell-text() {
  color: black;
  font-weight: 300;
  font-size: 1.4rem;
}

@mixin table-col-header() {
  color: $dark-gray;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/**
 * A prettier table. Expected to be used on a <table> element.
 *
 * Has some extra styles for sorting/filtering.
 */
@mixin table () {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  &.use-auto-layout {
    table-layout: auto;
    > thead > tr > th {
      width: auto;
    }
  }

  > thead > tr {
    background-color: $table-header-gray;
    border-top: .1rem solid $gray-2;

    > th {
      @include table-col-header();
      height: 4.8rem;
      max-height: 4.8rem;
      text-align: left;
      padding-left: 1rem;
      vertical-align: middle;
      position: relative;
      white-space: nowrap;
      width: 100%;

      // smart-table columns that can be sorted have the
      // `st-sort` attribute.
      &[st-sort] {
        cursor: pointer;
        &.st-sort-ascent:before {
          content: '\25B2';
        }

        &.st-sort-descent:before {
          content: '\25BC';
        }
      }

      // This is for the "forward" and "back" buttons on the right side
      // of the table header that switches which columns are visible
      &.header-nav-column {
        width: 11rem;
        > .header-prev-button, .header-next-button {
          width: 2.6rem;
          height: 2.6rem;
          padding: .5rem;
          cursor: pointer;
          outline: none;
          background-color: $call-to-action-color;
          &:hover {
            background-color: $hover-color;
          }
          &[disabled]{
            cursor: default;
            background-color: rgb(219,219,219);
            > .btr{
              color: rgb(181,181,181);
            }
            &:hover{
              background-color: rgb(219,219,219);
            }
          }
          > .btr {
            position: relative;
            top: -.1rem;
            font-size: 1.4rem;
            vertical-align: super;
            color: white;
          }
        }
      }

      // This is for the sort and filter styles that we use in Northstar.
      > .sort-toggle, .filter-toggle {
        display: inline-block;
        cursor: pointer;
        padding: 1.5rem .2rem;
        max-height: 4.5rem;

        // We only want to change the hover color if a sort or filter isn't active
        &:hover {
          &:not(.st-sort-ascent) {
            &:not(.st-sort-descent) {
              &:not(.active) {
                > .btr {
                  color: $hover-color;
                }
              }
            }
          }
        }

        &.sort-toggle {
          > .bt-long-arrow-up {
            margin-left: -.3rem;
          }

          // color background if some sort is active
          &.st-sort-ascent, &.st-sort-descent {
            background: $call-to-action-color;
            color: white;
            &:hover {
              background: $hover-color;
            }
            // only show appropriate arrow when some sort is active
            &.st-sort-ascent {
              > .bt-long-arrow-down {
                color: transparent;
              }
            }
            &.st-sort-descent {
              > .bt-long-arrow-up {
                color: transparent;
              }
            }
          }

        }

        &.filter-toggle {
          &.active {
            background: $hover-color;
            > .bt-flask {
              color: white;
            }
          }
          > .column-dropdown {
            position: absolute;
            top: 70%;
            left: 0px;
            border: .1rem solid $gray-3;
            width: 20rem;
            background: white;
            font-size: 1.6rem;
            font-weight: lighter;
            text-transform: none;
            padding: 1rem;
            max-height: 50rem;
            cursor: auto;
            z-index: 1;

            .checkbox {
              @include checkbox();
              margin-top: 1rem;
              margin-bottom: 1rem;
              // this is to space the text further from the checkbox.
              i {
                margin-right: 1.5rem;
              }
            }

            > .filter-title {
              @include text-link();
              margin-bottom: .5rem;
              > .bt-flask {
                font-size: 1.4rem;
                margin-left: .3rem;
              }
            }

            > .filter-items {
              overflow: auto;
              max-height: 32rem;
              // margin-bottom: 1rem;
            }

            > .filter-search {
              position: relative;
              height: 3rem;
              margin-bottom: 1rem;
              > .search-box {
                position: absolute;
                top: 0px;
                bottom: 0px;
                width: 100%;
                border: .1rem solid $gray-3;
                outline: none;
                padding-left: 3rem;
                font-size: 1.6rem;
                font-weight: lighter;
                text-transform: none;

              }
              > .search-icon {
                font-size: 2rem;
                position: absolute;
                top: .1rem;
                left: .5rem;
                z-index: 1;
              }
            }

            > .filter-apply {
              @include button(secondary);
              width: 100%;
              &.disabled {
                background-color: rgb(219, 219, 219);
                border-color: rgb(234, 234, 234);
                color: rgb(178, 178, 178);
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }

  > tbody > tr {
    background-color: $table-row-color;
    height: 4.5rem;
    border-bottom: .7rem solid rgb(247, 247, 247);

    &:first-child {
      border-top: .1rem solid $gray-2;
    }

    &:hover{
      > td {
        background-color: $gray-1;
      }
    }

    > td {
      @include table-cell-text();
      height: 5.2rem;
      padding: 0px 1.5rem;
      vertical-align: middle;
      background-color: #eee;
      &.hide-overflow {
        overflow: hidden;
      }

      // for angular-xeditable
      > .editable-hide {
        display: none;
      }
      > .editable-wrap {
        > .editable-controls {
          > input, select {
            font-size: 1.4rem;
            height: 3rem;
            width: 100%;
            display: block;
            outline: none;
            max-width: 200px;
            min-width: 70px;
            &[name="email"] {
              min-width: 120px;
            }
          }
          > select {
            position: relative;
            height: 3rem;
            padding-left: .5rem;
            -webkit-appearance: none;
            border-radius: 0px;
            background: #fff;
            border: .1rem solid $gray-1;
            cursor: pointer;
            font-weight: normal;
            color: black;
          }
        }
      }

      .edit-btn,
      form[editable-form] > .save-btn,
      form[editable-form] > .cancel-btn {
        background-color: transparent;
        color: $call-to-action-color;
        cursor: pointer;
        outline: none;
        display: block;
        &.save-btn {
          margin-bottom: 2px;
          padding: 2px 4px;
          border-radius: 5px;
          background-color: $accent-orange;
          color: white;
          font-weight: 600;
        }
        &:hover {
          color: $hover-color;
        }
        &[disabled] {
          cursor: not-allowed;
          color: $gray-2;
        }
      }

      .truncated-text {
        display: inline-block;
        @include tooltip-target($direction: up, $tooltip-width: auto);
        > .tooltip-window {
          min-width: 15rem;
          transition-delay: 0.25s;
        }
        &:hover {
          > .tooltip-window {
            transition: opacity 0s linear;
          }
        }
      }

      a {
        @include text-link();
      }

      .bt-flag{
        display: none;
        cursor: pointer;
        margin-left: .5rem;
        &.dispute{
          color: $primary-1;
          display: inline-block;
        }
        > .tooltip-window{
          text-align: center;
          display: none;
        }
      }
      &:hover{
        .bt-flag{
          display: inline-block;
          &:hover{
            color: $hover-color;
          }
          @include tooltip-target(up, 12rem);
          .tooltip-window{
            display: none;
            padding: 1rem;
          }
        }
      }
    }
  }

  > tfoot > tr > td {
    > [st-pagination] {
      @include pagination();

      // Align right edge of pagination controls.
      position: relative;
      right: 2rem;
    }
  }
}
