// A better input[type="text].
@mixin textbox() {
  height: 3.5rem;
  line-height: 3.5rem;
  border: .1rem solid $gray-1;
  padding: 0 1rem;
  font-size: 1.6rem;

  &.ng-dirty {
    &.invalid, &:invalid {
      border-color: $error-color !important;
    }
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    // Crashes Chrome on hover.
    // display: none;

    -webkit-appearance: none;
    // Apparently some margin are still there even though it's hidden.
    // margin: 0;
  }

  &:focus {
    border-color: $gray-2;
    outline: none;
  }
  &[disabled]{
    border-color: $gray-2;
    background-color: $gray-1;
    color: $gray-3;
  }
}
