/**
 * A better <textarea>.
 */
@mixin textarea() {
  border: .1rem solid $gray-1;
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
  &.ng-dirty {
    &.invalid, &:invalid {
      border-color: $error-color !important;
    }
  }

  &[disabled]{
    background-color: $gray-2;
    color: $dark-gray;
    resize: none;
  }

  &:focus {
    border-color: $gray-2;
    outline: none;
  }
}
