/**
 * Styles title panes, also known as accordions. Clicking one section causes it to open
 * and close already open sections.
 */
@mixin title-pane() {
  display: block;
  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  > .title-pane {
    background-color: $gray-3;
    font-size: 1.8rem;
    height: 5.1rem;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $gray-2;
    }

    &.active {
      border-bottom: .5rem solid $call-to-action-color;
      padding-bottom: 1rem;
    }

    > .icon-container {
      border-radius: 50%;
      min-height: 3.5rem;
      min-width: 3.5rem;
      background-color: $call-to-action-color;
      color: white;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      > .btr {
        &:before {
          vertical-align: 0;
        }
      }
    }
  }

  > .pane-section {
    transition: max-height 0.2s linear;
    max-height: 30rem;
    overflow: hidden;
    &.active {
      overflow: visible;
      > [ng-transclude] {
        overflow: visible;
      }
    }
    &.ng-hide {
      max-height: 0px;
    }
    &.ng-animate {
      min-height: unset;

      // we want to have visible overflow when title pane is active
      // so that tooltips don't get cut off, but we want to make sure
      // overflow isn't visible until the animation completes.
      overflow: hidden !important;
      .category-values {
        overflow: hidden;
      }
    }
    > [ng-transclude] {
      display: flex;
    }
  }
}
