$tooltip-offset: 1.5rem;
$triangle-size: 1rem;
$tooltip-color: $dark-gray;

/**
 * A tooltip with just text content.
 *
 * @param $direction - The direction that the tooltip window appears in relative
 *   to the target that triggers the tooltip.
 * @param $tooltip-width - The width of the tooltip window.
 */
@mixin tooltip-target($direction, $tooltip-width) {
  position: relative;
  cursor: pointer;
  // Give a positive z-index so the tooltip will go above everything without a z-index;
  z-index: 1;

  .tooltip-window {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: default;

    background-color: $tooltip-color;
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
    padding: 2rem;
    width: $tooltip-width;
    min-width: 10rem;
    white-space: normal;
    word-break: normal;
    > .indent {
      margin-top: .5rem;
      margin-left: 1rem;
    }
    > .tooltip-content {
      a {
        @include text-link();
      }
      .view-more {
        @include text-link();
        margin-top: .7rem;
      }
    }

    @if ($direction == up) {
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -$tooltip-offset);

      &:after {
        @include triangle(down, $triangle-size, $triangle-size, $tooltip-color);
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    } @else if $direction == down {
      top: 100%;
      left: 50%;
      transform: translate(-50%, $tooltip-offset);

      &:after {
        @include triangle(up, $triangle-size, $triangle-size, $tooltip-color);
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    } @else if $direction == right {
      left: 100%;
      top: 50%;
      transform: translate($tooltip-offset, -50%);

      &:after {
        @include triangle(left, $triangle-size, $triangle-size, $tooltip-color);
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    } @else if $direction == left {
      right: 100%;
      top: 50%;
      transform: translate(-$tooltip-offset, -50%);

      &:after {
        @include triangle(right, $triangle-size, $triangle-size, $tooltip-color);
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:after {
      position: absolute;
    }
  }


  &:hover,
  &.active {
    .tooltip-window {
      visibility: visible;
      display: inline;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}
