/* CSS Triangles*/

@mixin triangle-base() {
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(.9999);
}

/**
 * A triangle/arrow in pure css. Whoo!
 *
 * $direction: The direction in which the pointy end of the triangle points.
 * $color: The color you want this triangle to be.
 */
@mixin triangle($direction, $width, $height, $color) {
  /* @include triangle($direction, $size * 2, $size, $color); */
  @include triangle-base();

  @if $direction == up {
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    border-bottom: $height solid $color;
  } @else if $direction == down {
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    border-top: $height solid $color;
  } @else if $direction == left {
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-right: $height solid $color;
  } @else if $direction == right {
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-left: $height solid $color;
  }
}
