@import 'colors';

/* Typography colors */
// Labeling a piece of information.
$label-color: $dark-gray;
// Data is always bigger and darker. `data` refers to the data labeled by `label-color`.
$data-color: rgb(0, 0, 0);

// Table row's background color.
$table-row-color: $gray-1;
$task-panel-color: $table-row-color;
$text-link-color: $call-to-action-color;

/* Common typography elements */
@mixin header-one() {
  color: $dark-gray;
  font-weight: 200;
  font-size: 2.8rem;
}

@mixin header-two() {
  color: $dark-gray;
  font-weight: 200;
  font-size: 2.2rem;
}

@mixin header-three() {
  color: $dark-gray;
  font-weight: 200;
  font-size: 3.2rem;
}

@mixin onboarding-header() {
  color: white;
  font-size: 5rem;
  font-weight: 600;
}

@mixin data-label() {
  color: $label-color;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
}

@mixin data-value() {
  color: $data-color;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

@mixin section-label() {
  color: $label-color;
  font-size: 1.4rem;
  font-weight: 600;
}

@mixin call-to-action() {
  color: $call-to-action-color;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $hover-color;
  }
}

@mixin text-link() {
  cursor: pointer;
  color: $text-link-color;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $hover-color;
  }
}
