@mixin ui-select() {
  .ui-select-container {
    @include force-scrollbar-visible();
    height: auto;
    position: relative;
    flex: 1;
    > div {
      @include disable-webkit-search-styling();
      ::-webkit-scrollbar {
        height: .5rem;
        background-color: white;
      }
      border: .1rem solid $gray-1;
      transition: border 0.2s ease;
      background-color: white;
      height: 5rem;
      width: 100%;
      position: relative;
      display: flex;
      &:hover {
        border: .1rem solid $hover-color;
      }
      > .ui-select-match {
        display: inline-block;
        max-height: 4.8rem;
        max-width: 75%;
        white-space: nowrap;
        overflow: scroll;

        > span {
          > .ui-select-match-item {
            // make close button be on the right
            // side of the tag
            display: inline-block;
            direction: rtl;
            cursor: default;
            > .close {
              font-size: 3rem;
              font-weight: 100;
              color: $dark-gray;
              cursor: pointer;
              margin-left: .5rem;
              &:hover {
                color: $hover-color;
              }
            }
            > [uis-transclude-append] {
              direction: ltr;
            }
            @include tag();
            margin: .3rem;
          }
        }
      }
      > .ui-select-search {
        // !important to prevent textbox() from adding border
        border: none !important;
        min-width: 20rem;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        @include textbox();
        padding: 0;
        flex: 1;
        margin-right: 7.5rem;
      }
    }
    > .ui-select-no-choice {
      max-height: 0px;
      border: none;
      transition: max-height .3s ease;
      overflow: hidden;
      position: relative;
      z-index: 1;
      pointer-events: none;
      width: calc(100% - .1rem);
      > .no-results-content {
        @include abs-full-screen();
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: $error-color;
        display: flex;
        align-items: center;
        color: white;
        > .btr {
          margin-right: 1.5rem;
          font-size: 2rem;
          &:before {
            vertical-align: 0;
          }
        }
      }

    }
    > .ui-select-choices {
      border-right: .1rem solid $gray-1;
      border-left: .1rem solid $gray-1;
      border-bottom: .1rem solid $gray-1;
      background-color: white;
      transition: max-height .3s ease;
      max-height: 20rem;
      overflow-y: auto;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 3;

      &.ng-hide-remove, &.ng-hide-add-active {
        max-height: 0px;
        overflow-y: hidden;
      }
      &.ng-hide-remove-active, &.ng-hide-add {
        max-height: 20rem;
        overflow-y: hidden;
        &.ng-hide-add {
          transition: none;
        }
      }
      > .ui-select-choices-group {
        > .ui-select-choices-row {
          display: flex;
          align-items: center;
          height: 3.5rem;
          padding-left: 1rem;
          cursor: pointer;
          &:hover, &.active {
            background: $call-to-action-color;
            color: white;
          }
          > a {
            display: flex;
            text-decoration: none;
            color: inherit;
            height: 100%;
            > span {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 1rem;
              text-decoration: none;
              color: inherit;
              font-weight: normal;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
