/* Layout-related mixins */

/**
 * Clears floats.
 */
@mixin clearfix() {
  &:after{
    content:"";
    clear:both;
    height: 0;
    display:block;
    zoom:1
  }
}

/**
 * Makes an element fill the entire viewport.
 */
@mixin abs-full-screen() {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/**
 * To vertically center a child element in its parent, make its parent
 * positioned (by giving it a `position` property other than static)
 * and then apply this mixin in the child.
 */
@mixin vertical-center() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


/**
 * Center an icon in its container.
 */
@mixin center-icon() {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/**
 * Have an element maintain its aspect ratio.
 */
 @mixin aspect-ratio($width, $height) {
   width: 100%;
   height: 0;
   padding-top: ($height / $width) * 100%;
 }

/**
 * There isn't a native way to create a translucent background image,
 * but we can fake it with a pseudo element behind the real element.
 */
@mixin translucent-background-image($background-image, $opacity: 0.5) {
  position: relative;

  &:after {
    background: url($background-image);
    background-repeat: no-repeat;
    content: "";
    opacity: $opacity;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

/**
 * In webkit browsers, make the scrollbar always visible. Useful to communicate
 * to the user that content is scrollable when it's not obvious otherwise.
 */
@mixin force-scrollbar-visible() {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

/**
 * In webkit browsers, make the scrollbar hidden.
 */
@mixin hide-scrollbar() {
  ::-webkit-scrollbar {
    display: none;
  }
}

/**
 * A visual pipe, as in
 *
 * Home | About | Contact
 *
 * @param $height - The height of the pipe.
 * @param $color - The color of the pipe.
 * @param $width - The width of the pipe.
 */
@mixin pipe($height, $color, $width: 1px) {
  &:before {
    // All pseudo-elements need some content.
    content: '';
    height: $height;
    border-left: $width solid $color;
  }
}

/**
 * In webkit browsers, disable default input[type="search"] webkit styles.
 */

@mixin disable-webkit-search-styling() {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

@mixin nowrap() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Use this mixin in a container to center a child.
 */
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Make input placeholder italicized.
 */
@mixin italic-placeholder() {
  ::-webkit-input-placeholder {
     font-style: italic;
  }
  :-moz-placeholder { /* Firefox 18- */
     font-style: italic;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     font-style: italic;
  }
  :-ms-input-placeholder {
     font-style: italic;
  }
}

/**
 * Force text to be a single line and ellipsis it if it exceeds the $width
 */
@mixin text-ellipsis($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback),
 *                 minumum of 35px and maximum of 150px
 *  @include responsive-font(5vw, 35px, 150px, 50px);
 */
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

/**
 * Takes $number and returns it without units.
 */
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

/**
 * Our implementation of responsiveness is set up
 * such that 10px -> 1rem. This also can take a rem value
 * and spit out the exact same value for convenience.
 */
@function px-to-rem($px) {
  @if unit($px) == 'rem' {
    @return $px;
  } @else {
    $unitless: strip-units($px);
    $rem-value: $unitless/10;
    @return $rem-value + 0rem;
  }
}
