$completed-color: $primary-2;
$active-color: $dark-gray;
$incomplete-color: $gray-3;

/**
 * Styles the steps of a wizard.
 */
@mixin wizard() {
  ul.wizard-steps {
    @include wizard-steps();
  }
}

@mixin wizard-steps() {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;

  > li {
    display: flex;
    flex: 1;

    > .instruction {
      border: 0;
      // Purposefully disable the browser outline on clicking this button.
      outline: none;
      background-color: $completed-color;
      color: white;
      flex-grow: 1;
      height: 44px;
      padding: 0;
      line-height: 44px;

      > .circle {
        font-size: 18px;
        display: inline-block;
        width: 30px;
        border: 2px solid;
        border-radius: 50%;
        margin-right: 10px;
        line-height: 26px;
        &.with-step-category {
          vertical-align: super;
        }
      }

      > .step-text {
        display: inline-block;
        padding-top: 6px;
        > .step-category {
          line-height: 8px;
          font-size: 10px;
          font-weight: 200;
          text-transform: uppercase;
        }
        > .step-name {
          line-height: 30px;
          font-size: 16px;
          font-weight: 200;
        }
      }

    }

    // All the complete steps before the active step.
    > .arrow-right {
      @include triangle(right, 45px, 22px, $completed-color);
    }

    > .arrow-right.reverse {
      border-top-color: $completed-color;
      border-bottom-color: $completed-color;
      border-left-color: transparent;
      margin-left: -18px;
    }

    // The active step.
    &.active {
      > .instruction {
        background-color: $active-color;
      }

      > .arrow-right {
        @include triangle(right, 45px, 22px, $active-color);

        &.reverse {
          border-top-color: $active-color;
          border-bottom-color: $active-color;
          border-left-color: transparent;
        }
      }
    }

    // All the incomplete steps after the active step
    &.active ~ li {
      > .instruction {
        background-color: $incomplete-color;
      }

      > .arrow-right {
        @include triangle(right, 45px, 22px, $incomplete-color);

        &.reverse {
          border-top-color: $incomplete-color;
          border-bottom-color: $incomplete-color;
          border-left-color: transparent;
        }
      }
    }
  }
}
