<div class="audience-company-info">
  <div class="top-bar">
    <div class="left-side">
      <div class="navs">
        <div class="item"
             ng-class="{'active': item === navType}"
             ng-click="switchNav(item)"
             ng-repeat="item in availableTabs">
          {{item}}
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="item add-to-crm"
           ng-click="addToCrm()"
           ng-class="{'active': fAdded}"
           ng-if="showAddToCrm()"
      >
        <span class="bt-stack bt-cloud-stack" ng-show="!fLoading">
          <i class="btr bt-cloud"></i>
          <i class="btr bt-plus bt-stack-sm"></i>
        </span>
        <span class="spin-wrapper" ng-show="fLoading">
          <i class="btr bt-spinner bt-spin"></i>
        </span>
        <div class="tooltip-window">Add to CRM</div>
      </div>
      <div class="item"
           ng-click="close()">
        <i
          class="btr bt-times"
        >
        </i>
      </div>
    </div>
  </div>

  <div
    class="main main-overview"
    ng-if="navType === 'overview'"
  >
    <ng-include src="'templates/audience-company-header.html'">
    </ng-include>

    <div class="firmographics-info">
      <div class="item">
        <div class="title">
          FIRMOGRAPHICS
        </div>
        <table>
          <tr ng-repeat="(key, item) in netflix.firmographicItems">
            <td class="key">{{item.dispName}}:</td>
            <td>{{item.value || '--'}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="tags-info">
      <div class="tabs-wrap">
        <ul class="tabs">
          <li
            class="tab"
            ng-class="{'active': tagsType === 'keywords'}"
          >
            <a ng-click="switchTagsInfo('keywords')">
              {{netflix.name}} Does:
            </a>
          </li>
          <li
            class="tab tech-tab"
            ng-if="false"
            ng-class="{'active': tagsType === 'tech'}"
          >
            <a ng-click="switchTagsInfo('tech')">
              Uses Technologies:
            </a>
          </li>
        </ul>
      </div>

      <div class="content">
        <div class="item" ng-repeat="item in netflix.tagsInfo track by $index">
          {{item}}
        </div>
      </div>
    </div>
  </div>

  <div
    class="main main-insights"
    ng-if="navType === 'insights'"
  >
    <ng-include src="'templates/audience-company-header.html'">
    </ng-include>
    <loading-spinner ng-if="loadingInsights"></loading-spinner>
    <div class="container" ng-if="!loadingInsights">
      <div class="insights-vertical-scroll">
        <div class="menu-items">
          <div
            class="insight menu-item"
            ng-repeat="insight in netflix.currentInsightsInfo track by $index"
            ng-class="{active: insight.name === netflix.activeInsight.name}"
            ng-click="changeActiveInsight(insight)"
          >
            <span class="name text">
              {{insight.name}}:
            </span>
            <span class="value text">
              {{insight.value}}
            </span>
          </div>
        </div>
      </div>

      <div class="active-insight-info">
        <div class="description">
          <div class="header">
            Description
          </div>
          <div class="value">
            {{netflix.activeInsight.description}}
          </div>
        </div>

        <div class="indicator-details">
          <div class="header">
            Details
          </div>
          <div class="indicator-list">
            <div
              class="indicator"
              ng-repeat="indicator in netflix.activeInsight.indicators track by $index"
            >
              <span class="name" ng-if="indicator.value == 1">
                {{indicator.name}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="main main-news"
    ng-if="navType === 'news'"
  >
    <ng-include src="'templates/audience-company-header.html'">
    </ng-include>
    <iframe
      src="{{netflix.newsUrl}}"
      width="100%"
      height="440px"
    >
    </iframe>
  </div>

  <div class="main main-contacts"
       ng-if="navType === 'contacts'">
    <ng-include src="'templates/audience-company-header.html'">
    </ng-include>
    <div class="contacts-info">
      <loading-spinner ng-if="loadingContacts"></loading-spinner>
      <div class="total-contacts" ng-if="!loadingContacts">
        Total Contacts: {{netflix.currentContactsTotal | number}}
      </div>
      <div class="distributions" ng-if="!loadingContacts">
        <div class="by-seniority">
          <div class="title">Distribution by Seniority</div>
          <div class="dist-graph">
            <div
              class="graph-item-wrapper"
              ng-repeat="item in netflix.currentContactsInfo.manageLevel"
            >
              <div class="category">
                {{item.name || 'Unknown'}}
              </div>
              <div
                class="bar"
                ng-style="{'width': {{getBarWidth(item)}}}"
              >
              </div>
              <div class="count">
                {{item.count | number}}
              </div>
            </div>
          </div>
        </div>
        <div class="by-department">
          <div class="title">Distribution by Department</div>
          <div class="dist-graph">
            <div
              class="graph-item-wrapper"
              ng-repeat="item in netflix.currentContactsInfo.department"
            >
              <div class="category">
                {{item.name || 'Unknown'}}
              </div>
              <div class="bar"
                   ng-style="{'width': {{getBarWidth(item)}}}">
              </div>
              <div class="count">
                {{item.count | number}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="main main-similarities"
    ng-if="navType === 'similarities'"
  >
    <ng-include src="'templates/audience-company-header.html'">
    </ng-include>

    <div class="similarities-info">
      <div class="title">
        {{similaritiesTitle}}
      </div>
      <div class="description">
        {{similaritiesDescription}}. The following describe
        <span class="company-name">{{netflix.name}}:</span>
      </div>
      <div class="tags-info">
        <div class="content">
          <div class="item" ng-repeat="item in simItemsInSearch track by $index">
            {{item}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <loading-spinner ng-if="isLoading"></loading-spinner>
</div>
