<!-- The header of the Netflix state of each company card -->
<div class="base-info">
  <div class="name">
    <div class="name">{{netflix.name}}</div>
    <div class="social">
      <a
        class="item external-link"
        href="http://{{netflix.domain}}"
        target="_blank"
        ng-if="netflix.domain"
      >
        <i class="fa fa-external-link"></i>
      </a>
      <a
        class="item"
        ng-repeat="item in netflix.social"
        href="{{item.link}}"
        target="_blank"
      >
        <!-- we need to use 'Font Awesome Brands' fonts here-->
        <i class="{{item.type}} fa fa-{{item.type}}-square"></i>
      </a>
    </div>
  </div>
  <div ng-if="netflix.addressStr" class="address" ng-bind-html="netflix.addressStr"></div>
  <div class="phone">{{netflix.phone | formatPhone}}</div>
</div>
