<div
  id="card-{{datum.index}}"
  data-index="{{datum.index}}"
  ng-repeat="datum in visibleData track by datum.index"
  ng-style="cardStyle[datum.index]"
  ng-mouseenter="onMouseEnter($event)"
  ng-mouseleave="onMouseLeave($event)"
  ng-click="onClick($event)"
  class="company-card"
>
  <div class="contacts" ng-if="datum.company.contactCount > 0">
    {{datum.company.contactCount | number}} Contacts
  </div>

  <div
    class="in-crm"
    ng-if="datum.company.inCrm"
  >
    In CRM
  </div>

  <div class="company-name">
    {{datum.company.name}}
  </div>

  <div class="ribbon">
    <easypiechart
      options="pieChartOptions"
      percent="datum.company.fitScorePercent"
    >
      <div class="pct-num">
        {{datum.company.fitScorePercent}}
      </div>
    </easypiechart>

    <div class="firmographics">
      <div class="firmo employee-size">
        <i class="btr bt-user"></i>
        <span class="value">
          {{datum.company.employeeSize || '--'}}
        </span>
      </div>
      <div class="firmo location">
        <i class="btr bt-map-marker"></i>
        <span class="value">
          {{datum.company.state || '--'}}
        </span>
      </div>
      <div class="firmo industry">
        <i class="btr bt-industry"></i>
        <span class="value">
          {{datum.company.industry || '--'}}
        </span>
      </div>
    </div>
  </div>

  <div class="caret">
    <i class="btr bt-angle-down"></i>
  </div>

  <div class="close" ng-click="closeNetflixCard()">
    CLOSE
  </div>
</div>

<!-- Since the ES logo loader always blurs the next element, we add a blank div after it so it blurs nothing -->
<loading-spinner
  class="last-row-spinner"
  ng-if="true"
  append-to-body="false"
  es-logo-version="true"
>
</loading-spinner>
<div></div>

<!-- Peer-level to the cards. Positioned relative to its parent, the cards-cont-->
<audience-company-info
  close-callback="closeNetflixCard()"
  company="currentCompany"
  is-loading="isNetflixLoading"
>
</audience-company-info>

<div class="down-triangle">
</div>

<!-- Click on this to scroll to the very top of the page, where you can search for audience/sort -->
<div class="scroll-to-top" ng-click="scrollToTop()" ng-if="hasScrolled()">
  <i class="btr bt-caret-up"></i>
  <span class="top">Top</span>
</div>
