<div class="csv-uploader"
     ngf-drop="_processFile($files[0])"
     ngf-drag-over-class="'dragover'"
     ngf-multiple="true"
     ngf-pattern="'text/csv'"
>
  <div class="highlight-area"
       ngf-accept="'.csv'"
       ngf-select="_processFile($file)"
       ngf-select-disabled="validated || uploaded"
  >
    <div class="during-upload" ng-if="dispDuringUpload()">
      <i class="loading-spinner btr bt-spinner bt-3x bt-spin"></i>
      <div class="uploading-message">
        {{uploading ? 'Uploading...' : 'Validating...'}}
      </div>
    </div>

    <div class="before-upload" ng-if="dispBeforeUpload()">
      <div class="supertitle" ng-class="{'nowrap': forModel}">
        Upload a Company List (CSV file) with up to two columns: Company Name and/or Company URL.
      </div>
      <div class="supertitle for-model" ng-if="forModel">
        We need a <b><u>minimum of 70</u> companies</b> and a <b><u>maximum of 10,000</u> companies</b>
      </div>
      <div class="outer-icon-wrap">
        <div class="icon-wrap">
          <i class="btr bt-cloud-upload bt-3x"></i>
        </div>
        <img src="images/v3-csv-example.png"></img>
      </div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      <div class="below-icon" ng-class="{'for-model': forModel}">
        <span class="message">
          Drag & Drop CSV Here
        </span>
        <span class="submessage">
          (or <a class="click-emphasis" href="javascript:void(0)"
              ngf-accept="'.csv'"
              ngf-select="_processFile($file)">click here</a> to browse)
        </span>
      </div>
    </div>

    <div class="after-upload" ng-if="dispAfterUpload()">
      <div class="supertitle" ng-if="validateLocally && !onlyValidate">
        Click {{uploadButtonText()}} to view results or click re-upload CSV
      </div>
      <div class="outer-icon-wrap">
        <div class="icon-wrap">
          <i class="btr bt-check-circle bt-3x"></i>
        </div>
      </div>
      <div class="below-icon">
        <span class="message">
          Got it!
        </span>
        <button class="upload-btn"
                ng-if="validated && !onlyValidate"
                ng-click="uploadClick($event)"
        >
          {{uploadButtonText()}}
        </button>
        <div class="reupload" ng-click="reuploadOnclick($event)">
          Re-upload CSV
        </div>
      </div>
    </div>
  </div>
  <div class="dl-sample"
       ng-click="downloadSample()"
  >
    Download a sample CSV
  </div>
</div>