<div class="keywords-dir-wrapper">
  <div class="top-row" ng-if='!disableInputArea'>
    <div class="add-custom-tags">
      <ui-select multiple
                 ng-model="selectionModel.items"
                 focus-on="uis:select"
                 on-select="bringRecentIntoView()"
                 class="tag-select"
                 reset-search-input="true"
                 ng-class="{'show-no-results': shouldShowNoResults()}"
                 ng-init="initEnterKeyListener($select)"
      >
        <ui-select-match placeholder="{{placeholderText}}">{{$item}}</ui-select-match>
        <ui-select-choices repeat="match in matches | filter: filterRelevantSearchString() track by $index"
                           refresh="onRefresh($select.search)"
                           minimum-input-length="1"
                           refresh-delay="300"
        >
          {{match}}
        </ui-select-choices>
      </ui-select>
      <div class="loading" ng-if="loadingMatches">
        <i class="btr bt-spinner bt-pulse"></i>
      </div>
      <div class="search-button"
           ng-class="{'accent-orange': accentFlag}"
           ng-click="disableFlag || _onSearch()"
           ng-disabled="disableFlag">
        <i class="btr bt-search"></i>
      </div>
    </div>
  </div>
  <div class="tag-area-header" ng-if="tagAreaHeader">
    {{tagAreaHeader}}
  </div>
  <div class="table-crud" ng-if="tableCrudItems">
    <div class="table-crud-text" ng-click="addFromGalaxy()" ng-if="false">
      <span>Add From Galaxy</span>
    </div>
    <div class="table-crud-text"
         ng-click="clearAllKwTags()"
         ng-if="!isEmpty()">
      <span>Clear All Keywords</span>
    </div>
  </div>
  <div class="tags-area-wrapper">
    <loading-spinner ng-if="loadingTagsFromDomains"></loading-spinner>
    <div class="tags-area" ng-class="{'empty': isEmpty()}" ng-if="!disableTagArea">
      <div class="kw-tag" ng-repeat="tag in kwModel.items" ng-if="disableInputArea">
        <span class="name">
          {{tag}}
        </span>
        <i class="btr bt-times remove-btn" ng-click="removeKwTag(tag)" ng-if="!disableTagEditing">
        </i>
      </div>
      <div class="kw-tag clickable"
           ng-repeat="tag in kwModel.items | limitTo : displayLimit"
           ng-if="!disableInputArea"
      >
        <input type="checkbox" ng-model="tag.selected">
        <div class="selection-indicator" ng-class="{'selected': tag.selected}">
          <i class="btr bt-bolt" ng-if="!tag.selected"></i>
          <i class="btr bt-check" ng-if="tag.selected"></i>
        </div>
        <span class="name">
          {{tag.text}}
        </span>
      </div>
      <div class="show-more"
           ng-if="!isEmpty() && !allKwsAreShown() && !disableInputArea"
           ng-click="showMoreOnclick()"
      >
        {{showMoreMsg()}}
      </div>
      <div class="empty-text" ng-if="isEmpty()">
        <img src="images/selectKeywords.png" ng-if="showGuideImage()"></img>
        {{emptyText()}}
      </div>
    </div>
  </div>
</div>