<div class="multi-select" ng-class="{'reverse': reverse}">
  <div class="ms-box">
    <div class="ms-box-title">
      {{leftTitle ? leftTitle : 'Not Selected'}}
      <span ng-if="inited" class="counter">
        ({{totalUnselected() | number}})
      </span>
    </div>
    <div class="ms-box-body">
      <div ng-if="leftFilter" class="ms-search">
        <span class="btr bt-search search-icon"></span>
        <input type="text" class="search-box" ng-model="filterSearchQuery.left.text">
      </div>
      <div class="ms-choices">
        <div class="ms-choice"
             ng-if="inited"
             ng-repeat="choice in (fltrUnselected = (msDataSrc[msDataType] | filter : {selected: false} | filter : filterSearchQuery.left)) | limitTo : sliceSizeUnslct"
        >
          <input type="checkbox" ng-model="choice.staged" ng-checked="choice.staged"
                 ng-disabled="isDisabled()" ng-dblclick="toggle($event, choice)"
                 ng-click="handleGroupStaging($event, choice)">
          <label ng-text-truncate="choice.text"
                 ng-tt-chars-threshold="{{getTruncThreshold()}}" ng-tt-no-toggling>
          </label>
          <span class="from-seed" ng-if="choice.fromSeed">(in seed)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ms-buttons" ng-hide="isDisabled()">
    <div class="btn-circle" ng-click="selectAll()">
      <i class="btr bt-angles-right"></i>
    </div>
    <div class="btn-circle" ng-click="select()">
      <i class="btr bt-angle-right"></i>
    </div>
    <div class="btn-circle" ng-click="deselect()">
      <i class="btr bt-angle-left"></i>
    </div>
    <div class="btn-circle" ng-click="deselectAll()">
      <i class="btr bt-angles-left"></i>
    </div>
  </div>
  <div class="ms-box">
    <div class="ms-box-title">
      {{rightTitle ? rightTitle : 'Selected'}}
      <span ng-if="inited" class="counter">
        ({{totalSelected() | number}})
      </span>
    </div>
    <div class="ms-box-body">
      <div ng-if="rightFilter" class="ms-search">
        <span class="btr bt-search search-icon"></span>
        <input type="text" class="search-box" ng-model="filterSearchQuery.right.text">
      </div>
      <div class="ms-choices">
        <div class="ms-choice"
             ng-if="inited"
             ng-repeat="choice in (fltrSelected = (msDataSrc[msDataType] | filter : {selected: true} | filter :
             filterSearchQuery.right)) | limitTo : sliceSizeSlct"
        >
          <input type="checkbox" ng-model="choice.staged" ng-checked="choice.staged"
                 ng-disabled="isDisabled()" ng-dblclick="toggle($event, choice)"
                 ng-click="handleGroupStaging($event, choice)">
          <label ng-text-truncate="choice.text"
                 ng-tt-chars-threshold="{{getTruncThreshold()}}" ng-tt-no-toggling>
          </label>
          <span class="from-seed" ng-if="choice.fromSeed">(in seed)</span>
        </div>
      </div>
    </div>
  </div>
</div>
