<!-- We do ng-if="stItemsByPage" because rows per page only works with smart-table and not with the
pagination directive -->
<div class="show-rows-per-page" ng-if="stItemsByPage">
  <div class="rows">
    Rows:
  </div>
  <div class="num" ng-click="setRowsPerPage(numRows)" ng-repeat="numRows in rowsChoices"
       ng-class="{'active': currentRowsPerPage(numRows)}">
    {{numRows}}
  </div>
</div>
<div class="show-pagination"
     ng-if="pages.length >= 2">
  <loading-spinner ng-if="!numPages"></loading-spinner>
  <div class="controls-wrapper">
    <i class="previous-page btr bt-sm bt-angle-left"
       ng-click="selectPage(currentPage-1)"
       ng-class="{disabled: currentPage === 1}">
    </i>

    <span class="page"
          ng-click="selectPage(page)"
          ng-repeat="page in pages track by $index"
          ng-class="{active: page==currentPage, disabled: page===ELLIPSIS}">
         {{page}}
    </span>

    <i class="next-page btr bt-sm bt-angle-right"
       ng-click="selectPage(currentPage+1)"
       ng-class="{disabled: currentPage === numPages}">
    </i>
  </div>
</div>
