<div class="preview-titles-slide" ng-class="{slideIn: ptc.showSlide}">
  <div class="background-wrapper">

  </div>

  <div class="content">
    <div class="slide-alert">
    </div>

    <div class="button-row">
      <div class="close-button" ng-click="ptc.closeSlide()">
        Close
      </div>
    </div>

    <div class="header-row">
      <h1>Preview Titles</h1>
    </div>

    <div class="instructions">
      {{ ptc.messages.inputTitleMsg }}
    </div>

    <div class="table-wrapper">
      <loading-spinner ng-if="ptc.loading"></loading-spinner>
      <table class="titles-table">
        <thead>
          <tr>
            <th>Titles</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="title in ptc.titles">
            <td>
              {{ title }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
