<div class="segment-setting"
     ng-class="{slideIn: slc.showSlide}">
    <div class="background-wrapper">
    </div>
    <div class="content">
        <div id="slide-alert">
        </div>
        <div class="button-row">
            <button class="cancel-btn" ng-click="slc.closeSlide()">
                Cancel
            </button>
            <button class="save-btn" ng-click="slc.saveSettingSlide()">
                Save & Close
            </button>
        </div>
        <div class="header-row">
            <h1> Settings: {{slc.segment.segmentName}} </h1>
        </div>
        <div class="main">
            <p class="title">Change owner from list of users</p>
            <div class="owner-dropdown" dropdown-select="slc.listUsers"
                 dropdown-model="slc.selectedUser" dropdown-item-label="email">
            </div>
        </div>
    </div>
</div>