<div class="seniority-fallback-slide" ng-class="{slideIn: sfsc.showSlide}">
  <div class="background-wrapper">

  </div>

  <div class="content">
    <div class="slide-alert">
    </div>

    <div class="button-row">
      <div class="close-button" ng-click="sfsc.closeSlide()">
        Close
      </div>
    </div>

    <div class="header-row">
      <h1>Seniority Fallback Preferences</h1>
    </div>

    <div class="instructions">
      We will try to find contacts with the titles you entered, but in the event we do not find a match for a given company, we will use the seniorities specified here as a fallback.
    </div>

    <div class="seniority-checkboxes">
      <div
        class="seniority"
        ng-repeat="senior in sfsc.pas.state.seniority"
      >
        <div class="checkbox">
          <label class="ui-checks">
            <input
              type="checkbox"
              value="{{ senior.name }}"
              ng-model="senior.selected"
            >
            <i></i>
            {{ senior.name }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
