<div class="sfdc-result-slide" ng-class="{slideIn: usc.showSlide}">
    <div class="background-wrapper">
    </div>
    <div class="content">
        <div id="slide-alert">
        </div>
        <div class="button-row">
            <button class="cancel-btn" ng-click="usc.closeSlide()">
                Close
            </button>
        </div>
        <div class="header-row">
            <h1> Seed List </h1>
        </div>
        <ul class="nav-tabs">
            <li ng-click="usc.showTable('matches')"
                ng-class="{active: usc.type === 'matches'}">
                <a href="javascript:;">Companies Found</a>
            </li>
            <li ng-click="usc.showTable('unknown')"
                ng-class="{active: usc.type === 'unknown'}">
                <a href="javascript:;">Not Found</a>
            </li>
        </ul>
        <div ng-repeat="(name,seedTable) in usc.seedTables">
            <loading-spinner ng-if="seedTable.loading"></loading-spinner>
            <table st-table="seedTable.data"
                   ng-if="usc.type === name"
                   st-pipe="seedTable.reloadOnAction" class="seed-insights-table">
                <thead>
                <tr>
                    <th ng-repeat="column in seedTable.header">
                        {{column.text}}
                        <div class="sort-toggle" st-sort="{{column.key}}">
                            <i class="btr bt-long-arrow-down"></i>
                            <i class="btr bt-long-arrow-up"></i>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in seedTable.data">
                    <td ng-repeat="field in seedTable.displayedFields">
                        {{row[field]}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="{{seedTable.header.length}}">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>