<div class="summary-box">
  <div class="summary-search">
    <i class="btr bt-search search-icon"></i>
    <input type="text"
           class="search-box"
           ng-model="_summaryFilter"
           placeholder="Start typing to search list">
  </div>
  <div class="summary-items">
    <div class="summary-item"
         ng-repeat="item in summaryData | filter : _summaryFilter | limitTo : 100"
         ng-style="{'z-index': summaryData.length + 1 - $index}"
    >
      <label ng-text-truncate="item"
             ng-tt-chars-threshold="46"
             ng-tt-no-toggling>
      </label>
    </div>
  </div>
</div>