<div class="title-pane" ng-click="toggleSection()" ng-class="{'active': shouldShowSection()}">
  <span> {{title}} </span>
  <div class="icon-container">
    <i class="btr bt-angle-down" ng-if="!shouldShowSection()"></i>
    <i class="btr bt-angle-up" ng-if="shouldShowSection()"></i>
  </div>
</div>
<div class="pane-section"
     ng-show="shouldShowSection()"
     ng-class="{'active': shouldShowSection()}">
  <div ng-transclude></div>
</div>