<span class="{{truncClass}}">
  <div class="tooltip-window" ng-if="truncationApplies">
    <div class="tooltip-content">
      <div class="tooltip-item" ng-repeat="item in tooltipItems track by $index"
            ng-bind-html="item | handleLink: '_blank'">
      </div>
      <div class="tooltip-modal-items" ng-if="modalApplies">
        <div> ... </div>
        <div class="view-more" ng-click="showDataViewModal()"> View More </div>
      </div>
    </div>
  </div>
  <span ng-if="!truncationApplies"
        ng-bind-html="dispText | handleLink: '_blank'">
  </span>
  <span ng-if="truncationApplies">
    {{dispText}}
  </span>
</span>