<div class="map-infographic">
  <div class="map-container">
    <div class="title">
      {{title}}
    </div>
    <div class="overlay">
    </div>
    <div class="usa-map">
    </div>
  </div>
</div>