<div class="adm-focus-slide" ng-class="{slideIn: acc.showSlide}">
  <div class="background-wrapper" ng-click="acc.closeSlide()">
  </div>
  <div class="content">
    <div id="slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="acc.closeSlide()">
        Cancel
      </button>
      <button class="save-btn"
              ng-click="acc.saveSlide()"
      >
        <loading-spinner ng-if="acc.saving"></loading-spinner>
        Save & Close
      </button>
    </div>
    <div class="header-row">
      <h1> Account Management: {{::acc.accountInfo.name}} </h1>
    </div>

    <title-pane class="account-info" title="Account Information">
      <div class="top-row">
        <div class="account-name">
          <label> Account </label>
          <input type="text" class="textbox" ng-model="acc.accountInfo.name"
                 ng-disabled="!acc.canEditAccounts()"/>
        </div>
        <div class="num-segments">
          <label> Number of Predictive Audiences </label>
          <input type="number" class="textbox" ng-model="acc.quotas.segmentCnt"
                 ng-disabled="!acc.canEditAccounts()"/>
        </div>
        <div class="domain">
          <label> Domain </label>
          <input type="text" class="textbox" ng-model="acc.accountInfo.domain"
                 ng-disabled="!acc.canEditAccounts()"/>
        </div>
      </div>
      <div class="bottom-row">
        <label class="misc">
          Misc. Account Permissions
        </label>
        <!-- <label class="ui-checks first">
          <input type="checkbox"
                 ng-model="acc.quotas.enableAds"
                 ng-disabled="!acc.canEditAccounts()"/>
          <i></i>
          Set Ads User
        </label> -->
        <label class="ui-checks first">
          <input type="checkbox"
                 ng-model="acc.quotas.enableApis"/>
          <i></i>
          Enable API Usage
          <div class="tooltip-window">
            If enabled:
            <div class="indent">
              - Users under this account can use our public APIs
            </div>
          </div>
        </label>
        <label class="ui-checks">
          <input type="checkbox"
                 ng-model="acc.quotas.enableNotInCrm"/>
          <i></i>
          Enable Expansion
          <div class="tooltip-window">
            If enabled:
            <div class="indent">
              - Users under this account can use the "Not In CRM" option when publishing
            </div>
          </div>
        </label>
        <label class="ui-checks">
          <input type="checkbox"
                 ng-model="acc.quotas.enableInCrm"/>
          <i></i>
          Enable Scoring
          <div class="tooltip-window">
            If enabled:
            <div class="indent">
              - Real Time Scoring will be enabled for this account
              </br>
              </br>
              - Users under this account will be able to create model field mappings and publish scores
            </div>
          </div>
        </label>
        <label class="ui-checks">
          <input type="checkbox"
                 ng-model="acc.quotas.enableFindCompany"/>
          <i></i>
          Show "Find Companies"
          <div class="tooltip-window">
            If enabled:
            <div class="indent">
              - Users under this account can use the "Find Companies" feature to create an audience
            </div>
          </div>
        </label>
        <label class="ui-checks">
          <input type="checkbox"
                 ng-model="acc.quotas.enableScoreList"/>
          <i></i>
          Show "Score List"
          <div class="tooltip-window">
            If enabled:
            <div class="indent">
              - Users under this account can use the "Score List" feature to create an audience
            </div>
          </div>
        </label>
        <label class="ui-checks">
          <input type="checkbox"
                 ng-model="acc.quotas.enableModelInsights"/>
          <i></i>
          Enable "Model Insights" Tab
          <div class="tooltip-window">
            If enabled:
            <div class="indent">
              - Users under this account can see and use the "Model Insights" tab in the dashboard of an audience
            </div>
          </div>
        </label>
      </div>
    </title-pane>

    <title-pane class="quota-title-pane" title="Quota">
      <div class="rows-wrapper">
        <div class="company-row row">
          <div class="export-quota">
            <label> Publish Quota ({{acc.quotas.remainingCompanyQuota}}/{{acc.quotas.CSVCompanyLimit}} remaining)</label>
            <input type="text" class="textbox" ng-model="acc.quotas.CSVCompanyLimit"
              ng-disabled="!acc.canEditAccounts()"/>
          </div>

          <div class="adjust-quota-wrapper">
            <span class="adjust-quota" ng-click="acc.openAdjustQuotaModal()">
              Adjust Remaining Quota
            </span>
          </div>
        </div>

        <div class="contact-quota row">
          <div class="contact-quota-input">
            <label> Contact Publish Quota ({{acc.quotas.remainingContactQuota}}/{{acc.quotas.contactLimit}} remaining)</label>
            <input
              type="number"
              class="textbox"
              ng-model="acc.quotas.contactLimit"
              ng-disabled="!acc.canEditAccounts()"
            />
          </div>
        </div>

        <div class="expiration-date-row row">

          <div class="start-date">
            <label for="">
              Accounts can be published starting
            </label>
            <div class="exported-datepicker">
              <input
                type="date"
                class="textbox"
                ng-model="acc.quotas.startTs"
                ng-disabled="!acc.canEditAccounts()"
              />
              <i class="btr bt-calendar"></i>
            </div>
          </div>

          <div class="expiration-date">
            <label class="exp-msg">
              Accounts can be published until
            </label>
            <div class="exported-datepicker">
              <input
                type="date"
                class="textbox"
                ng-model="acc.quotas.expiredTs"
                ng-disabled="!acc.canEditAccounts()"
              />
              <i class="btr bt-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </title-pane>

    <title-pane class="insights-ui" title="Insights Exposed In UI">
      <div multi-select
           ms-data-src="acc.insights"
           ms-data-type="'ui'"
           inited="true"
           ng-if="acc.insights"
           disabled="!acc.canEditFeature('insightsUI')">
      </div>
    </title-pane>

    <title-pane class="insights-export" title="Insights Exposed In Publish">
      <div multi-select
           ms-data-src="acc.insights"
           ms-data-type="'csv'"
           inited="true"
           ng-if="acc.insights"
           disabled="!acc.canEditFeature('insights')">
      </div>
    </title-pane>

    <title-pane class="invite-users" title="Invite Users">
      <div class="invite-user" ng-click="acc.inviteUser()">
        Invite User to Account
      </div>
      <div class="pending-title">
        Pending Invitations
      </div>
      <div class="pending-invitations">
        <div class="pending-email" ng-repeat="user in acc.pendingUsers">
          {{user.email}}
        </div>
      </div>
    </title-pane>

    <title-pane class="enrich-config" title="Real Time Scoring Config">
      <span class="warning" ng-if="!acc.quotas.enableInCrm">
        You are currently set to disable Real Time Scoring for this account.
        Select "Enable Scoring" in "Account Information" to make changes.
      </span>
      <div class="objects-and-type-config" ng-class="{'disabled': !acc.quotas.enableInCrm}">
        <div class="choose-rts-type">
          <div class="leading-text">
            Do real time scoring:
          </div>
          <div class="radios">
            <div class="radio" ng-repeat="rtsType in acc.rtsTypeOptions">
              <label class="ui-checks">
                <input
                  type="radio"
                  ng-value="rtsType.value"
                  ng-model="acc.quotas.realtimeScoring"
                  ng-checked="acc.isScoringTypeSelected(rtsType.value)"
                >
                <i></i>
                <span class="text">{{rtsType.dispName}}</span>
                <div class="tooltip-window">
                  {{rtsType.tooltip}}
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="choose-rts-obj">
          <div class="leading-text">
            Look for inbound prospects in:
          </div>
          <div class="checkboxes">
            <div class="accounts-checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="acc.inboundLeadsTargets.account"
                />
                <i></i>
                <span class="text">
                  Accounts
                </span>
              </label>
            </div>
            <div class="leads-checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="acc.inboundLeadsTargets.lead"
                />
                <i></i>
                <span class="text">
                  Leads
                </span>
              </label>
            </div>
            <div class="contacts-checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="acc.inboundLeadsTargets.contact"
                />
                <i></i>
                <span class="text">
                  Contacts
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </title-pane>

    <h2> User Management </h2>

    <div class="table-crud">
      <div class="table-crud-text" ng-click="acc.openCreateUserModal()">
        Create User
      </div>
      <div class="table-search">
        <span class="btr bt-search search-icon"></span>
        <input type="text" class="search-box" ng-model="acc.filterQuery">
      </div>
    </div>
    <div class="table-wrapper">
      <loading-spinner ng-if="acc.userTable.loading || acc.updatingUserInfo"></loading-spinner>
      <table st-table="acc.userTable.data"
             st-pipe="acc.userTable.reloadOnAction"
             class="user-table use-auto-layout"
             ng-if="acc.userTable.data"
      >
          <thead>
          <tr>
              <th ng-repeat="column in acc.userTable.header">
                  {{column.text}}
              </th>
              <!-- Column for edit buttons -->
              <th>
              </th>
              <!-- Column for Ghost button -->
              <th>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="userInfo in acc.userTable.data | filter: acc.filterQuery">
            <td>
              <span editable-text="userInfo.lastName" e-name="lastName" e-form="userForm" e-size="1">
                {{userInfo.lastName || '--'}}
              </span>
            </td>
            <td>
              <span editable-text="userInfo.firstName" e-name="firstName" e-form="userForm" e-size="1">
                {{userInfo.firstName || '--'}}
              </span>
            </td>
            <td>
              <span editable-text="userInfo.email" e-name="email" e-form="userForm" e-size="1">
                {{userInfo.email || '--'}}
              </span>
            </td>
            <td>
              <span editable-text="userInfo.phone" e-name="phone" e-form="userForm" e-size="1">
                {{userInfo.phone || '--' | formatPhone}}
              </span>
            </td>
            <td class="hide-overflow">
              <span editable-select="userInfo.roles[0]" e-name="role" e-form="userForm"
                    e-ng-options="role.key as role.text for role in acc.roleDropdownOptions"
                    ng-if="!acc.isTempUser(userInfo)">
                {{acc.roleNameMap[userInfo.roles[0]]}}
              </span>
              <span ng-show="acc.isTempUser(userInfo)">
                {{acc.roleNameMap[userInfo.roles[0]]}}
              </span>
            </td>
            <td class="hide-overflow">
              <span editable-select="userInfo.status" e-name="status" e-form="userForm"
                e-ng-options="status.key as status.text for status in acc.activationDropdownOptions"
                ng-if="!acc.isTempUser(userInfo)">
                {{userInfo.status}}
              </span>
              <span ng-show="acc.isTempUser(userInfo)">
                {{userInfo.status}}
              </span>
            </td>
            <td class="hide-overflow">
              <span editable-select="userInfo.contactExportFlag" e-name="contactExportFlag" e-form="userForm"
                    e-ng-options="bool.key as bool.text for bool in acc.contactExportDropdownOptions"
                    ng-if="!acc.isTempUser(userInfo)">
                {{userInfo.contactExportFlag ? 'True' : 'False'}}
              </span>
              <span ng-show="acc.isTempUser(userInfo)">
                False
              </span>
            </td>
            <td>
              <form editable-form name="userForm" onbeforesave="acc.saveUser($data, userInfo)"
                  ng-show="userForm.$visible">
                <button type="submit" ng-disabled="userForm.$waiting" class="save-btn">
                  Save
                </button>
                <button type="button" ng-disabled="userForm.$waiting" ng-click="acc.cancelEdit(userForm)" class="cancel-btn">
                  Cancel
                </button>
              </form>
              <button class="edit-btn" ng-show="!userForm.$visible"
                      ng-click="acc.editUser(userForm, userInfo)"
                      ng-disabled="acc.disableEdit(userInfo)"
                      ng-if="acc.canEditUser(userInfo)"
              >
                Edit
              </button>
            </td>
            <td class="ghost-column">
              <span class="clickable" ng-click="acc.ghostAsAcct(userInfo)" ng-if="acc.ghostable(userInfo)">
                Ghost
              </span>
            </td>
          </tr>
          </tbody>
          <!-- <tfoot>
          <tr>
            <td colspan="{{acc.userTable.header.length}}">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
            </td>
          </tr>
          </tfoot> -->
      </table>
    </div>

  </div>
</div>
