<!-- DEPRECATED -->
<div class="segments-empty">
    <div class="main" style="display: none">
        <p class="welcome">
            Welcome to EverString!
        </p>

        <p class="instructions">
            To get the most out of the EverString Universe of Companies, <br/>
            please create your first predictive segment.
        </p>

        <p class="excited">
            Let's get started!
        </p>

        <div class="btn-wrapper">
            <button class="create-segment" ui-sref="segment.create.name">
                CREATE PREDICTIVE SEGMENT
            </button>
            <img alt="" class="astronaut" src="../images/astro-man.png"/>
        </div>
        <a class="go-to-console"
           ng-if="showConsoleLink"
           ui-sref="segment.console">No, take me to the Predictive Segment Console instead.</a>
        <div class="summary-box">
            <p class="p4">What's going to happen?</p>
            <ol class="p5">
                1. Provide a seed list of your preferred companies. <br/>
                2. Select preferences. <br/>
                3. Get results.
            </ol>
        </div>
    </div>
    <div class="main">
        <p class="p1">Welcome to EverString</p>
        <p class="p2">Let's get started!</p>
        <div class="video">
          <!-- Wistia video embed code for an inline-embedded video. Wistia video source:
               https://everstring.wistia.com/medias/jsoj373bfh. -->
          <div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="//fast.wistia.net/embed/iframe/jsoj373bfh?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
          <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
        </div>
        <p class="p3">
            <a href="http://www.everstring.com/product/" target="_blank">Learn more</a>
        </p>
        <button class="console-button" ui-sref="audience.console">
            Switch to Latest Version
        </button>
    </div>
</div>
