@import '../library/colors';
@import '../modules/modules';

$company-card-gradient: linear-gradient(rgb(36,72,85), rgb(68,140,164));
$card-width: 347px;
$card-height: 181px;
$state-2-trigger-height: 28px;
$content-height: 240px;

$top-transition: top 0.2s ease-in-out;
$left-transition: left 0.2s ease-in-out;

$ribbon-blue: rgb(0, 111, 168);

@mixin company-card() {
  opacity: 0;
  background: white;
  text-align: center;
  overflow: hidden;
  width: $card-width;
  box-shadow: 1px 1px 2px $gray-2;
  height: $card-height;

  cursor: pointer;

  // When netflix card's aren't open, we don't transition the `top` property b/c it looks weird
  transition:
    // We scale the card up in size on hover
    transform 0.2s ease-in-out,
    // When one card is scaled up, the cards to its left and right are
    // shifted horizontally to make room for it.
    left 0.2s ease-in-out, $top-transition,
    opacity 1s ease-in-out;

  &.hover-state {
    .caret {
      display: block;
    }
  }

  &.open-state {
    position: relative;
    .ribbon {
      background: $apollo-blue;
    }

    .caret {
      display: none;
    }

    &:after {
      @include triangle(down, 40px, 10px, white);
    }

    .close {
      @include text-link();
      display: block;
    }
  }

  .contacts {
    position: absolute;
    top: 5px;
    left: 5px;
    color: $apollo-blue;
    font-weight: 200;
    font-size: 12px;
  }

  .in-crm {
    color: white;
    font-weight: 100;
    background: rgb(255, 147, 105);
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 4px 10px;

    position: absolute;
    top: 0;
    right: 0;

    transition: opacity 0.2s ease-in-out;

    &.ng-enter {
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave {
      opacity: 1;
    }
    &.ng-leave-active {
      opacity: 0;
    }
  }

  .company-name {
    color: black;
    font-size: 25px;
    font-weight: 200;

    margin: 25px auto 0;
    @include text-ellipsis($card-width * 0.8);
  }

  .ribbon {
    $ribbon-height: 100px;
    @include flex-center();
    flex-flow: row nowrap;
    height: $ribbon-height;
    background: $ribbon-blue;
    margin-top: 15px;

    color: white;

    easypiechart {
      // This size should match the size option passed to the directive.
      $size: 80px;
      width: $size;
      height: $size;
      font-size: 32px;
      font-weight: 100;
      position: relative;
      margin-left: 37px;
      margin-right: 28px;

      .pct-num {
        font-size: 40px;
        position: absolute;
        line-height: $size;
        top: 1px;
        bottom: 0;
        left: 1px;
        right: 0;
      }
    }

    .firmographics {
      display: flex;
      flex-flow: column wrap;
      height: 100%;

      $num-firmographics: 3;
      $firm-height: $ribbon-height / $num-firmographics;
      .firmo {
        text-align: left;
        height: $firm-height;
        line-height: $firm-height;

        @include text-ellipsis($width: 200px);

        .btr {
          font-size: 20px;
          width: 22px;
          display: inline-block;
          margin-right: 7px;
          position: relative;

          &.bt-user {
            top: -2px
          }

          &.bt-map-marker {
            top: -2px;
            left: 3px;
          }

          &.bt-industry {
            left: 1px;
            top: -2px;
          }
        }

        .value {
          font-weight: 200;
          font-size: 14px;
        }
      }
    }
  }

  .caret {
    display: none;
    color: rgb(74, 193, 223);
    margin-top: -2px;
  }

  .close {
    display: none;

    font-size: 9px;
    font-weight: 100;
    margin-top: 5px;
    cursor: pointer;
  }
}

// Mixin to apply to the container of the lazy-cards directive
// The element that this mixin is being applied to is intended to be
// a position: relative element. For example, .results-display-area
// in find-audience.html and audience-company.html
@mixin company-cards() {
  padding-top: 25px;
  margin: auto;
  font-weight: 100;
  position: relative;
  @include abs-full-screen();

  // This is the white triangle that is at the bottom of each card when it's open. It helps indicate
  // that the company-info state is attached to the card
  .down-triangle {
    display: none;
    @include triangle(down, 35px, 10px, white);
    position: absolute;
    transform: translateX(-50%);
  }

  [lazy-cards] {
    position: relative;
  }
  .company-card {
    @include company-card();
  }
  .company-info {
    position: absolute;
    width: 100%;
    height: 300px;
  }

  .last-row-spinner {
    display: none;
  }

  .audience-company-info {
    @include loading-spinner();
    // Start off hidden since no cards are hovered on when the page loads.
    display: none;
    height: 620px;

    background: white;
    color: black;
    overflow: hidden;
    font-size: 16px;

    .top-bar {
      $bar-color: $apollo-blue;
      display: flex;
      justify-content: space-between;
      background: $bar-color;
      color: white;
      > .left-side {
        .navs {
          display: flex;
          .item {
            text-transform: capitalize;
            border-bottom: 5px solid $bar-color;
            flex: 1;
            margin: 0 15px 5px 15px;
            padding: 15px 8px 5px 8px;
            cursor: pointer;
            font-weight: 200;
            &.active {
              border-bottom-color: #20c1cb;
            }
          }
        }
      }
      > .right-side {
        display: flex;
        > .item {
          cursor: pointer;
          margin: 5px 15px 0 0;
          font-size: 24px;
          &.active {
            color: $call-to-action-color;
          }
          &.add-to-crm {
            > .spin-wrapper {
              margin-top: 5px;
              margin-right: 5px;
              display: block;
              > .bt-spinner {
                font-size: 18px;
                vertical-align: 0;
                &:before {
                  vertical-align: 0;
                }
              }
            }
            > .bt-cloud-stack {
              > .bt-plus.bt-stack-sm {
                left: -2px;
                top: 2px;
              }
              &:hover {
                color: $hover-color;
              }
            }
            @include tooltip-target($direction: down, $tooltip-width: 105px);
            &.active {
              .tooltip-window {
                display: none;
              }
            }
          }
        }
      }
    }

    .base-info {
      padding: 0 30px;
      margin-bottom: 19px;
      color: $dark-gray;

      .name {
        display: flex;
        color: black;
        .name {
          font-size: 24px;
          font-weight: 200;
        }
        .social {
          margin-left: 10px;
          .item {
            display: inline-block;
            width: 24px;
            color: $call-to-action-color;
            text-decoration: none;
            margin-right: 2px;
            &.external-link {
              margin-right: -1px;
            }

            // There are some rules here to make these icons look like they're the same size and align with each other.
            i {
              font-size: 24px;
              &.fa-external-link {
                // Align with other icons.
                position: relative;
                font-size: 22px;
                top: 1px;
              }
              &.linkedin {
                color: $linkedin-color;
              }
              &.facebook {
                color: $facebook-color;
              }
              &.twitter {
                color: $twitter-color;
                font-size: 26px;
                position: relative;
                top: 1px;
              }
            }
          }
        }
      }

      .address {
        margin-top: 5px;
        color: $basically-black;
        font-weight: 200;
      }

      .phone {
        color: $basically-black;
        font-weight: 200;
      }
    }

    > .main {
      padding: 20px 0 30px 0;
      &.main-overview {
        .firmographics-info {
          display: flex;
          padding: 20px 30px;
          background: rgb(238, 238, 238);
          > .item {
            flex: 1;
            padding-right: 50px;
            > .title {
              color: $dark-gray;
              font-weight: 600;
              border-bottom: 1px solid $dark-gray;
              padding-bottom: 5px;
            }
            > table {
              margin-top: 15px;
              tr {
                line-height: 23px;
                td {
                  padding-right: 40px;

                  &.key {
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
        .tags-info {
          margin-top: 40px;
          padding-left: 30px;
          padding-right: 30px;
          font-weight: 400;
          .tabs-wrap {
            position: relative;
            z-index: 2;
            height: 30px;
            .tabs {
              @include nav-tabs();
              border-bottom: none;
              display: flex;
              position: absolute;
              left: 0px;
              bottom: -1px;
              > .tab {
                margin-right: 10px;
                font-weight: 200;
                border-left: 1px solid $border-color;
                border-top: 1px solid $border-color;
                border-right: 1px solid $border-color;
                border-bottom: none;
                max-width: unset;

                // No animations here.
                transition: unset;

                // At the smaller height, the tab appears inactive (the border-top of the container is invisible)
                height: 49px;
                &.active {
                  // At the larger height, the tab appears active (the border-top of the container is visible)
                  height: 56px;
                }

                &.tech-tab {
                  max-width: 250px;
                  width: 250px;
                }

                a {
                  white-space: nowrap;
                  overflow: hidden;
                }
              }
            }
          }
          > .content {
            height: 180px;
            border: 1px solid $border-color;
            padding: 15px;
            @include clearfix();
            position: relative;
            z-index: 1;
            overflow: scroll;
            > .item {
              padding: 5px 10px;
              background-color: white;
              border: 1px solid rgb(222, 222, 222);
              margin: 4px;
              color: black;
              float: left;
            }
          }
        }
      }
      &.main-insights {
        .container {
          padding-left: 30px;
          padding-right: 30px;
          display: flex;
          flex-flow: row nowrap;
          height: 366px;
        }

        .insights-vertical-scroll {
          @include vertical-menu($width: 265px, $static: true);
          position: relative;
          .menu-item {
            .value {
              font-weight: 600;
              margin-left: 4px;
            }
          }
        }

        .active-insight-info {
          background: $light-gray;
          padding: 24px 40px;
          flex-grow: 1;

          display: flex;
          flex-flow: column nowrap;

          .description, .indicator-details {
            margin-left: 5px;

            // The amount of content here is dynamic, so we set a max height to prevent it from getting
            // so big the details view is totally hidden.
            max-height: 80%;
            .header {
              text-transform: uppercase;
              font-size: 14px;
              border-bottom: 1px solid rgb(66, 107, 121);
              padding-bottom: 10px;
              color: $dark-gray;
              font-weight: 400;
            }
            .value {
              font-weight: 200;
              color: black;
              padding-top: 10px;
              line-height: 1.5;
            }

            &.indicator-details {
              display: flex;
              flex-flow: column nowrap;
              flex: 1 0 auto;
              padding-top: 30px;

              .indicator-list {
                overflow-y: scroll;
                padding-top: 10px;
                .indicator {
                  margin-bottom: 10px;
                  .name {
                    font-weight: 200;
                    display: inline-block;
                    min-width: 300px;
                  }
                }
              }
            }
          }
        }
      }
      &.main-news {
        > iframe {
          border: 1px solid $border-color;
          margin-left: 2%;
          margin-right: 2%;
          width: 96%;
        }
      }
      &.main-contacts {
        > .contacts-info {
          width: 100%;
          height: 400px;
          background-color: transparent;
          > .total-contacts {
            width: 100%;
            background: $light-gray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 200;
            height: 40px;
          }
          > .distributions {
            display: flex;
            width: 100%;
            height: 360px;
            padding: 30px 15%;
            > .by-seniority,
            > .by-department {
              flex: 1;
              display: flex;
              flex-direction: column;

              > .title {
                font-weight: 400;
                // sum of category min-width + bar left margin, so that the title
                // lines up with the bar.
                padding-left: 34%;
              }
              > .dist-graph {
                flex: 1;
                padding-top: 20px;
                overflow-y: scroll;
                > .graph-item-wrapper {
                  display: flex;
                  margin-bottom: 7px;
                  margin-right: 25px;
                  > .category {
                    align-self: flex-end;
                    font-weight: 100;
                    min-width: 34%;
                    max-width: 34%;
                  }
                  > .bar {
                    @keyframes bar-growth {
                      0% {width: 0; }
                    }
                    animation: bar-growth 2s ease-in-out;
                    background: $primary-2;
                    max-width: 55%;
                    height: 20px;
                    margin-left: 10px;
                    margin-right: 5px;
                  }
                  > .count {
                    font-size: 12px;
                    max-width: 5%;
                    align-self: flex-start;
                    margin-top: 4px;
                  }
                }
              }
            }
          }
        }
      }
      &.main-similarities {
        > .similarities-info {
          display: flex;
          flex-direction: column;
          margin-top: 25px;
          padding: 20px 30px;
          background: rgb(238, 238, 238);
          > .title {
            font-size: 18px;
            font-weight: 400;
            margin-top: 10px;
          }
          > .description {
            font-size: 14px;
            margin-top: 20px;
            font-weight: 400;
            > .company-name {
              font-weight: 600;
            }
          }
          > .tags-info {
            margin-top: 30px;
            font-weight: 400;
            > .content {
              height: 190px;
              border: 1px solid $border-color;
              padding: 15px;
              @include clearfix();
              position: relative;
              z-index: 1;
              overflow: scroll;
              background-color: white;
              > .item {
                padding: 5px 10px;
                background-color: white;
                border: 1px solid rgb(222, 222, 222);
                margin: 4px;
                color: black;
                float: left;
              }
            }
          }
        }
      }
    }
  }
}
