@import "../library/library";

@mixin adm-focus-slide() {
  @include focus-slide($focus-slide-z-index);
  // make multi-select scrolling work (and any other nested scrolls)
  opacity: 1;
  .textbox {
    @include textbox();
    margin: .5rem 0px 1.5rem 0px;
    display: block;
  }

  label {
    color: $dark-gray;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: .3rem;
    white-space: nowrap;
  }

  > .content {
    padding: 2rem;
    overflow-y: auto;
    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 1rem;
      }
      > .save-btn {
        @include button(primary);
      }
    }

    > .header-row {
      > h1 {
        margin-bottom: 1.5rem;
      }
      > .account-status {
        position: relative;
        bottom: 5rem;
        @include dropdown-directive();
        > .status-dropdown {
          margin-top: .5rem;
          width: 40rem;
        }
      }
    }

    > h2 {
      @include header-two();
      margin: 1.5rem 0px;
    }

    > .table-crud {
      @include table-crud();
      padding-bottom: 1rem;
    }
    > .table-wrapper {
      position: relative;
      overflow: auto;
      > table.user-table {
        @include table();
        td {
          &.ghost-column {
            text-align: center;
          }
          > .clickable {
            color: $call-to-action-color;
            font-weight: 600;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }

    title-pane {
      display: block;
      margin: 2rem 0px;
      @include title-pane();
      > .pane-section > [ng-transclude] {
        position: relative;
        margin-left: 4rem;
        overflow-x: auto;
        > [multi-select] {
          @include multi-select();
        }
      }
      &.account-info {
        > .pane-section > [ng-transclude] {
          flex-direction: column;
          .top-row {
            display: flex;
            flex-flow: column nowrap;
            width: 75rem;
            > div {
              flex: 1;
            }

            > .account-name {
              max-width: 31rem;
              min-width: 20rem;
            }
          }

          .bottom-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: .5rem;
            position: relative;
            min-width: 110.4rem;
            @include checkbox();
            > .misc {
              position: absolute;
              top: 0;
            }
            > .ui-checks {
              margin: 3rem 3.7rem .5rem .3rem;
              @include tooltip-target(up, 25rem);
            }
          }
        }
      }

      &.invite-users {
        > .pane-section > [ng-transclude] {
          flex-direction: column;
          > .invite-user {
            @include table-crud-text();
            margin-bottom: 1rem;
          }
          > .pending-title {
            @include header-two();
            margin-bottom: 1rem;
          }
          > .pending-invitations {
            background-color: white;
            overflow: auto;
            padding: .5rem;
            min-height: 10rem;
            max-height: 30rem;
            width: 30rem;
            border: .1rem solid #666;
          }
        }
      }

      &.enrich-config {
        > .pane-section > [ng-transclude] {
          justify-content: flex-start;
          min-height: 12rem;
          display: block;
          > .warning {
            font-size: 1.2rem;
            color: $error-color;
          }
          > .objects-and-type-config {
            &.disabled {
              pointer-events: none;
              opacity: 0.3;
            }
            padding-top: 1rem;
            display: flex;
            > .choose-rts-type {
              display: flex;
              min-width: 28rem;
              > .radios {
                margin-left: 1rem;
                > .radio {
                  @include radio();
                  margin-bottom: 1rem;
                  .ui-checks {
                    @include tooltip-target(right, 20vw);
                  }
                }
              }
            }
            > .choose-rts-obj {
              display: flex;
              min-width: 28rem;
              margin-left: 8rem;
              > .checkboxes {
                margin-left: 1rem;
                > .accounts-checkbox,
                > .leads-checkbox,
                > .contacts-checkbox {
                  @include checkbox();
                  margin-bottom: 1rem;
                }
              }
            }
          }
        }
      }

      &.quota-title-pane {
        .rows-wrapper {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;

          .row {
            display: flex;
            flex-flow: row nowrap;

            &.company-row {
              align-items: center;

              .adjust-quota-wrapper {
                flex: 1;
                margin-left: 3rem;
                position: relative;
                .adjust-quota {
                  @include button(primary);
                  @include flex-center();

                  // The button's display is flex, but we want this button to not take on the width of its container
                  // It actually might make more sense *all* button's were inline-flex, but we can do that later.
                  display: inline-flex;
                }
              }
            }

            &.contact-quota-row {
              .contact-quota-input {
                display: flex;
                flex-flow: column nowrap;
              }
            }

            &.expiration-date-row {
              .expiration-date, .start-date {
                .exported-datepicker {
                  @include datepicker();
                  display: block;
                  flex: 1;
                  width: 15rem;

                  input {
                    width: 100%;
                  }

                  > .bt-calendar {
                    // Override the `top` distance wet by the datepicker component.
                    top: 0.7rem !important;
                  }
                }

                &.expiration-date {
                  margin-left: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
