@import 'header-nav';

@mixin admin-console() {
  margin: 2rem;

  > h1 {
    @include header-one();
    margin: 3rem 0px;
  }
  > .table-crud {
    @include table-crud();
    padding-bottom: 1rem;
  }
  > .table-wrapper {
    position: relative;
    min-height: 70vh;
    &.loading {
      max-height: 70vh;
      overflow: hidden;
    }
    .loading-spinner-directive {
      max-height: 70vh;
    }
    > table.account-table {
      @include table();
      td {
        &.ghost-column {
          text-align: center;
        }
        > .clickable {
          color: $call-to-action-color;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
}