$audience-settings-z-index: $header-z-index + 1;

@mixin audience-settings() {
  @include focus-slide($audience-settings-z-index, 0, $more-left-space: true);
  > .content {
    > .header-row {
      > h2 {
        > .audience-name {
          font-weight: 600;
        }
        > .bt-pencil {
          font-size: 1.4rem;
          color: $dark-gray;
          cursor: pointer;
          margin-left: .4rem;
          &:hover {
            color: $hover-color;
          }
          &:before {
            vertical-align: 0;
          }
        }
        > .fa-info-circle {
          @include tooltip-target(down, 30rem);
          font-size: 1.4rem;
          margin-left: 1rem;
          z-index: $dropdown-z-index + 1;
        }
      }

      > .edit-audience {
        display: flex;
        position: relative;
        .text-description-wrapper {
          display: flex;
          flex-flow: column;
        }

        input.text, .description {
          display: block;
          width: 50vw;
          border: .1rem dashed $call-to-action-color;
          font-size: 1.6rem;
          outline: none;

          &.text {
            height: 4.5rem;
            text-indent: 1rem;
          }
          &.description {
            margin-top: 1.6rem;
            padding-top: 1rem;
            padding-left: 1rem;
            height: 9.1rem;
            background: white;
            position: relative;
            textarea {
              width: 100%;
              height: 100%;
              resize: none;
              word-wrap: break-word;
              border: none;
              outline: none;
              font-size: 1.6rem;
            }

            .characters-remaining {
              position: absolute;
              right: 0;
              font-size: 1.2rem;
              font-weight: 200;
            }
          }
        }

        .save-btn {
          @include button(secondary);
          height: 37px;
          align-self: center;
          margin-left: 2rem;
          position: relative;
          top: -1.4rem;
        }
      }
    }

    > .main {
      padding-left: .5rem;
      > .dropdown-row {
        display: flex;
        margin-bottom: 5rem;
        > .change-owner,
        > .select-default-model {
          margin-right: 5rem;
          > .label {
            @include section-label();
            margin-bottom: 1rem;
          }
          .wrap-dd-select {
            width: 30rem;
          }
        }
      }

      > .misc-switches {
        margin-bottom: 6rem;
        > .show-audience-sfdc,
        > .share-audience {
          display: flex;
          margin: 2rem 0;
          > .switch-label {
            display: flex;
            align-items: center;
            color: $dark-gray;
            margin-left: 1.5rem;
          }
        }
      }

      > .real-time-scoring {
        &.disabled {
          cursor: not-allowed;
          > .rts-switch-row,
          > .selected-insights {
            opacity: 0.3;
            pointer-events: none;
          }
          > .section-text {
            color: rgba(black, 0.3);
          }
        }
        > .section-text {
          font-size: 1.8rem;
          font-weight: 200;
          position: relative;
          > .contact-support {
            position: absolute;
            left: 15rem;
            bottom: .2rem;
            color: black;
            font-size: 1.2rem;
            width: auto;
            font-weight: 400;
          }
        }
        > .rts-switch-row {
          display: flex;
          margin: 3rem 0;
          > .switch-label {
            display: flex;
            align-items: center;
            color: $dark-gray;
            margin-left: 1.5rem;
          }
          > .inbound-leads {
            display: flex;
            align-items: center;
            margin-left: 4rem;
            > .fa-info-circle {
              font-size: 1.2rem;
              color: $help-icon-color;
              margin-left: .5rem;
            }
          }
        }
      }
    }
  }
}