$audience-summary-z-index: $header-z-index + 1;

@mixin audience-summary() {
  @include focus-slide($audience-summary-z-index, 0, $more-left-space: true);

  title-pane {
    @include title-pane();
    &.filter-summary-pane {
      > .pane-section {
        transition: max-height 0.2s linear;
        max-height: 100%;
        &.ng-hide {
          max-height: 0px;
        }
      }
    }
    &.keywords-summary-pane {
      > .pane-section {
        padding: 0 20px 20px 20px;
        .keywords-dir-wrapper {
          flex: 1;
          .tags-area {
            max-height: 260px !important;
          }
        }
      }
    }
  }


  .filter-summary-content {
    @include filter-summary();
  }
}