@import "donut-chart";
@import "bar-chart";

@mixin audience-dashboard() {
  padding: 3rem;
  opacity: 1 !important;
  > h1 {
    @include header-one();
  }
  .table-crud {
    @include table-crud();
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #c8c8c8;
    > .table-crud-text {
      &.model {
        .model-list {
          @include dropdown();
          display: none;
          // undo text-transform: uppercase from table-crud() mixin
          text-transform: none;
        }
        > .bt-angle-down {
          font-size: 1.6rem;
          margin: 0 0 0 .5rem;
        }
        .selected-model {
          color: black;
        }
        &:hover {
          > .model-list {
            display: block;
          }
        }
      }
    }
  }
  .nav-tabs {
    @include nav-tabs();
    margin-top: 3rem;
    .icon-wrap {
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
      .fa-info-circle {
        color: $dark-gray;
        @include tooltip-target($direction: right, $tooltip-width: auto);
        > .tooltip-window {
          min-width: 14rem;
          padding: 1rem;
          transition-delay: 0.25s;
        }
        &:hover {
          color: $call-to-action-color;
          > .tooltip-window {
            transition: opacity 0s linear;
          }
        }
      }
    }
  }

  .audience-model-insights {
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  .audience-insights {
    > .charts-wrapper {
      position: relative;
      min-height: 50rem;
      > .chart {
        display: flex;
        .map-infographic {
          margin: 1rem;
          flex: 1;
          // prevent tooltips from being covered by Industries chart
          z-index: 1;
          @include usa-map();
          > .map-container {
            > .overlay,
            > .usa-map{
              margin-top: 6rem;
            }
          }
        }
        .donut-chart {
          flex: 1;
          height: 40rem;
          margin: 1rem;
          @include donut-chart();
        }
        .bar-chart{
          margin: 1rem;
          flex: 1;
          min-height: 43rem;
          background: white;
          @include bar-chart();
          .view-more {
            position: absolute;
            top: 1rem;
            right: 2rem;
            text-transform: uppercase;
            font-weight: 600;
            color: #51bfdd;
            cursor: pointer;
          }
        }
      }
      .fit-score-chart {
        > .title {
          margin: 1rem 1rem 0 1rem;
          background-color: white;
          padding: 14px 0 1rem 2rem;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
        }
        .column-chart {
          background-color: white;
          margin: 0 1rem 1rem 1rem;
          display: flex;
          justify-content: center;
          height: 40rem;
          @include column-chart();
        }
      }
    }
  }
}