// Variables that audience stuff should all have access to

// intended to be used for spacing consistency, especially
// for left and right margins between content and sides of the screen
$audience-margin: 3rem;

// sidebar in find/enrich audience views
$sidebar-closed-width: 4rem;
$sidebar-opened-width: 20rem;

/**
 * Our `$primary-1`-colored tutorial tooltip.
 */
@mixin tutorial-tooltip() {
  color: white;
  background: $apollo-blue;
  $padding: 2.5rem;
  padding: $padding;
  z-index: 1;

  .title {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    i {
      position: relative;
      top: -.2rem;
      font-size: 2.6rem;
      margin-right: 1.5rem;
    }
  }
  .description {
    margin-top: 2.5rem;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2;
  }

  .next-step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .button {
      @include button(primary);
      &:hover {
        background: lighten($apollo-blue, 5%);
      }
      font-weight: 100;
      font-size: 1.8rem;
      display: inline-block;
      background-color: $apollo-blue;
      border: .1rem solid white;
      margin-top: 6rem;
      &.has-checkbox-below {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    @include checkbox();
  }

  .progress-counter {
    font-size: 1.2rem;
    font-weight: 100;
    position: absolute;
    top: $padding + 1rem;
    right: $padding;
  }
}

/**
 * The button that lets you scroll to the top of a list of companies in an audience.
 */
@mixin scroll-to-top-button() {
  $scroll-to-top-color: white;
  $scroll-to-top-size: 50px;

  cursor: pointer;
  border-radius: 50%;
  color: $scroll-to-top-color;
  border: 5px solid rgb(166, 210, 131);
  background: rgb(136, 195, 91);
  width: $scroll-to-top-size;
  height: $scroll-to-top-size;
  font-size: $scroll-to-top-size / 2;
  font-weight: 200;
  box-shadow: 0 6px 13px 0 rgba(0,0,0,.23);
  .bt-caret-up {
    position: relative;
    left: 9px;
    top: -3px;
  }

  .top {
    font-size: 10px;
    position: absolute;
    text-transform: uppercase;
    left: 10px;
    bottom: 5px;
  }
}
