@mixin bar-chart() {
  position: relative;
  &.in-overview {
    > .view-more {
      top: 20px;
    }
  }
  > .view-more {
    position: absolute;
    top: 10px;
    right: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: $call-to-action-color;
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
  }
  > .highcharts-container {
    // force the chart to reposition gracefully on window size changes
    // we need to !important this or the automatic in-line styles
    // used by highcharts will take precedence
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    overflow-y: auto !important;
  }
}