@mixin bottom-button-row() {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px 15px 50px;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(239,239,239);

  .cancel-button {
    @include button(secondary);
    min-width: 115px;
  }
  .next-button {
    @include button(primary);
    min-width: 115px;
  }
  .prev-button {
    @include button(primary);
    min-width: 100px;
    margin-right: 10px;
  }
}
