@mixin column-chart() {
  overflow-x: auto;
  position: relative;
  > .view-more {
    position: absolute;
    top: 10px;
    right: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: $call-to-action-color;
    cursor: pointer;
    &:hover {
      color: $hover-color;
    }
  }
  > .highcharts-container {
    // we need to !important this or the automatic in-line styles
    // used by highcharts will take precedence
    max-width: 100% !important;
    overflow-x: auto !important;
  }
}