@import 'venn-diagram';
@import 'animate-repeat';

@mixin section-colors() {
  &.section-1{
    background-color: rgb(119, 173, 218);
  }
  &.section-2{
    background-color: rgb(141, 196, 79);
  }
  &.section-4{
    background-color: rgb(114, 128, 188);
  }
  &.section-3{
    background-color: rgb(79, 148, 199);
  }
  &.section-6{
    background-color: rgb(116, 101, 150);
  }
  &.section-5{
    background-color: rgb(93, 120, 181);
  }
  &.section-7{
    background-color: rgb(71, 103, 146);
  }
}

@mixin company-export() {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  .modal {
    width: 625px;
    left: 50%;
    transform: translateX(-50%);
    margin: 48px 0 80px;
    &.export-advance{
      width: 1000px;
    }
    .modal-body{
      .modal-content{
        label{
          @include data-label();
          text-transform: none;
          margin-left: 0px;
        }
        .limitation{
          display: flex;
          width: 575px;
          > .flex{
            flex: 1
          }
          .wrapper{
            margin: 5px 0px 15px 0px;
            position: relative;
            .textbox {
              @include textbox();
              width: 70%;
              height: 40px;
              line-height: 40px;
              margin: 0px;
              font-weight: 600;
            }
            .bt-info-circle{
              display: none;
            }
            &.limit-warning{
              .textbox{
                border-color: $warning-color;
              }
              .bt-info-circle{
                @include tooltip-target(right, 200px);
                display: inline-block;
                position: absolute;
                z-index: 1;
                right: 32%;
                top: 10px;
                padding: 0 5px;
                background-color: #ffffff;
                color: $warning-color;
              }
            }
          }
        }
        .hard-boundary{
          display: flex;
          >.left-side{
            width: 575px;
            .boundary-chart{
              position: relative;
              .venn-loading{
                width: 80px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                color: $dark-gray;
                transform: translate(-50%, -50%);
              }
              canvas {
                @include venn-diagram($use-outline: true);
              }
            }
            .choose-title{
              margin: 50px 20px 0 0;
              &.no-venn-diagram{
                margin: 50px 0 0 0;
              }
              .description-label {
                @include data-label();
                text-transform: none;
              }

              .search-box{
                position: relative;
                ::-webkit-input-placeholder {
                  color: $gray-1;
                  font-style: italic;
                  font-size: 14px;
                }
                input{
                  padding-right: 40px;
                }
                .submit{
                  position: absolute;
                  right: 1px;
                  top: 6px;
                  width: 33px;
                  height: 33px;
                  line-height: 33px;
                  cursor: pointer;
                  text-align: center;
                  font-size: 24px;
                  color: $call-to-action-color;
                  &:hover{
                    color: $hover-color;
                  }
                }
              }
              .list {
                > .item{
                  margin: 0 0 10px 0;
                  padding: 5px 40px 5px 15px;
                  position: relative;
                  color: $dark-gray;
                  border: 1px solid $border-color;
                  .delete{
                    display: none;
                    position: absolute;
                    right: 5px;
                    top: 3px;
                    cursor: pointer;
                  }
                  &:hover {
                    background-color: $hover-color;
                    border-color: $hover-color;
                    color: #ffffff;
                    .delete{
                      display: block;
                    }
                  }
                }
              }
            }
          }

          >.summary{
            flex: 1;
            .no-hover{
              background-color: rgb(135,135,135);
              color: #ffffff;
              text-align: center;
              min-height: 232px;
              .p1{
                padding: 10px 40px;
                line-height: 20px;
              }
              .sketch-map{
                display: inline-block;
                width: 63px;
                height: 61px;
                background: url("../images/export_sketch_map.png") no-repeat;
              }
              .p2{
                padding: 30px 56px 10px 56px;
                line-height: 20px;
              }
            }
            .has-hover{
              padding: 20px;
              color: #ffffff;
              min-height: 232px;
              > .row{
                display: flex;
                > .column{
                  flex: 1;
                  > .name{
                    font-size: 22px;
                    font-weight: 600;
                    margin-bottom: 20px;
                  }
                  > .item{
                    line-height: 20px;
                    font-weight: 600;
                    > i{
                      margin-right: 10px;
                    }
                  }
                  &.selected{
                    border-right: 1px solid rgb(63,81,133);
                  }
                  &.companies{
                    text-align: center;
                  }
                  .number{
                    font-size: 30px;
                    font-weight: 700;
                    margin: 30px 0 0 0;
                  }
                }
              }
              > .p1{
                margin-top: 30px;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
              }
              > .p2{
                text-align: center;
              }
              @include section-colors();
            }
            >.details{
              margin-top: 10px;
              background-color: rgb(238, 238, 238);
              padding: 10px 20px;
              @include animate-repeat();
              .item-row{
                display: flex;
                line-height: 30px;
                color: #000000;
                .name{
                  flex: 1;
                  font-weight: 600;
                  position: relative;
                  padding-left: 30px;
                  > .circle{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0px;
                    top: 3px;
                    @include section-colors();
                  }
                }
                .number{
                  flex: 1;
                  font-weight: 600;
                  text-align: right;
                }
                .operation{
                  width: 40px;
                  text-align: right;
                  color: $gray-4;
                  > .bt-times{
                    padding: 0 5px;
                    cursor: pointer;
                    &:hover{
                      color: $basically-black;
                    }
                  }
                }
                &.deduped{
                  color: $gray-4;
                  .operation{
                    visibility: hidden;
                  }
                }
                &.collect{
                  .name{
                    font-size: 18px;
                  }
                  .number{
                    font-size: 32px;
                    font-weight: 700;
                  }
                  .operation{
                    display: none;
                  }
                }
              }
              .atop {
                @include tooltip-target(up, 290px);
                .tooltip-window{
                  font-weight: normal;
                  line-height: 16px;
                }
                color: $call-to-action-color;
                position: relative;
                z-index: 1;
                color: $call-to-action-color;
              }
            }
          }
        }
        .dedupe-row{
          margin-top: 20px;
          @include checkbox();
        }
      }
      .modal-button-row{
        >.export{
          position: relative;
          z-index: 1;
          .menu{
            position: absolute;
            width: 100%;
            background-color: #ffffff;
            top: 100%;
            left: 0px;
            border: 1px solid $border-color;
            display: none;
            > .item{
              height: 30px;
              line-height: 30px;
              color: $dark-gray;
              &:hover{
                background-color: $hover-color;
                color: #ffffff;
              }
            }

          }
          &:hover{
            .menu {
              display: block;
            }
          }
        }
      }
    }
  }

}
