@mixin company-list() {
  > .table-top {
    display: flex;
    justify-content: space-between;
    > .total-counts {
      align-self: stretch;
      background-color: white;
      padding: 8px 8px;
      margin: 9px 2px;
      > .count-card {
        display: inline-block;
        text-align: center;
        padding: 0px 10px;
        > .count-title {
          @include data-label();
          margin: 5px;
        }
        > .total-number {
          @include data-value();
          font-weight: 800;
          margin-bottom: 1px;
        }
      }
    }
    > .table-crud {
      // stick table-crud along top of table
      align-self: flex-end;
      margin: 0 10px;
      @include table-crud();
      .filter-exports{
        @include checkbox();
      }
    }
  }

  > .table-wrapper{
    position: relative;
    min-height: 300px;
    > .loading-wrapper{
      position: absolute;
      top: 48px;
      left: 0px;
      width: 100%;
      bottom: 70px;
      @include loading-spinner();
    }
    > table.company-list-table {
      @include table();
      // camelCase because ng-class doesn't like kebab-case
      th.lockedInsight {
        color: $call-to-action-color;
        cursor: pointer;
        > .locked {
          display: inline-block;
          cursor: pointer;
          padding: 15px 2px;
          max-height: 45px;
          :before {
            position: relative;
            bottom: 1px;
          }
        }
      }
      td.blur {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        pointer-events: none;
      }

      td.lockedCompany {
        color: $call-to-action-color;
        font-weight: 600;
        cursor: pointer;
        i:before {
          margin-left: 4px;
          vertical-align: 0%;
        }
      }

      td.exported-time {
        font-size: 12px
      }
    }
  }
}