@import "universe-background";

$blue-color: rgb(101, 221, 229);
@mixin creation-success() {
  @include universe-background();
  // create success
  &.section-1{
    > .main {
      > .p1{
        margin-top: 30px;
        color: $blue-color;
        font-size: 36px;
        font-weight: 600;
      }
      > .p2{
        margin-top: 25px;
        font-size: 30px;
        font-weight: 400;
        color: #ffffff;
      }
      > .p3 {
        margin-top: 5px;
        font-size: 30px;
        font-weight: 100;
        color: #ffffff;
      }
      > .video{
        width: 536px;
        height: 335px;
        margin: 30px auto 0 auto;
        cursor: pointer;
      }
      .console-button {
        @include button(primary);
        padding: 15px 60px;
        border-radius: 50px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 24px;
      }
    }
  }
  // need email confirmation
  &.section-2{
    >.main{
      h3{
        color: $blue-color;
        font-size: 36px;
        font-weight: 500;
        padding: 80px 0 30px 0;
      }
      .email-icon{
        display: inline-block;
        width: 150px;
        height: 150px;
        line-height: 150px;
        border-radius: 50%;
        background-color: $blue-color;
        color: #ffffff;
      }
      .bottom{
        position: relative;
        width: 671px;
        padding: 25px 0;
        margin: 50px auto 0 auto;
        background: rgba(0,0,0,0.3);
        .p1{
          color: #ffffff;
          font-size: 28px;
        }
        .p2{
          color: rgb(237,237,237);
          padding: 25px 0;
          font-size: 18px;
        }
        .p3{
          color: rgb(237,237,237);
          font-size: 16px;
          a{
            color: $call-to-action-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}
