@mixin creation-summary-step() {
  margin: 20px 40px 15px 45px;
  display: flex;
  flex-direction: column;

  > .summary-body {
    margin: 0px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    > .summary-info-bubble {
      @include info-bubble();
      margin-bottom: 10px;
    }

    > .summary-title {
      @include header-one();
      margin-bottom: 10px;
    }

    > title-pane {
      @include title-pane();
      &.disable {
        pointer-events: none;
      }
      > .pane-section > [ng-transclude] {
        justify-content: space-around;
        margin: 0px 20px 20px 20px;
        > .circle-icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          > .circle-icon {
            background-color: $gray-1;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            > .text {
              font-size: 24px;
              font-weight: bold;
              text-transform: uppercase;
              color: $primary-2;
              > .bt-plus {
                font-size: 44px;
                &:before {
                  vertical-align: 0;
                }
              }
            }
          }
        }
        > .category-summary {
          display: flex;
          flex-direction: column;
          @include force-scrollbar-visible();
          > .category-label {
            @include data-label();
            margin-bottom: 5px;
          }

          > .category-values {
            > .seed-count {
              width: 100%;
              height: 100%;
              font-size: 48px;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &.actually-has-values {
              white-space: pre-line;
              line-height: 25px;
              word-break: break-all;
              &:first-line {
                // prevent awkward space at top of string block
                line-height: 0px;
              }
            }
            overflow: auto;
            height: 230px;
            min-width: 300px;
            background-color: white;
            padding: 5px 5px 2px 15px;
            > .value-wrapper {
              padding: 5px 5px 5px 0px;
              display: flex;
              > .category-value {
                > .truncated-text {
                  @include tooltip-target(up, 50px);
                }
                @include data-value();
              }
              > .from-seed {
                font-size: 12px;
                color: $dark-gray;
                line-height: 1.4;
                margin-left: 7px;
              }
            }
          }
        }
      }
    }

  }

}