@mixin custom-model-slide() {
  @include focus-slide($focus-slide-z-index, 2, $more-left-space: true);
  > .content {
    padding-top: 0px;
    > .instructions {
      font-weight: 200;
    }
    #slide-alert {
      min-height: 2rem;
      > .es-alert {
        padding: 1.6rem .6rem;
        height: 7rem;
      }
    }
  }

  .label {
    margin-bottom: 1rem;
    margin-left: .2rem;
    @include section-label();
    > .required {
      font-size: 1.2rem;
      color: rgb(206, 123, 11);
    }
  }

  .vertical-group {
    margin-top: 3rem;
    .text {
      > input {
        @include textbox();
        width: 32rem;
      }
      > .no-same-name-msg {
        margin-left: .5rem;
        display: inline-block;
        color: $error-color;
        font-size: 1.4rem;
      }
    }
  }
  .upload-wrap {
    margin-top: 3rem;
    .csv-uploader {
      width: 50vw;
      max-width: 80rem;
      min-width: 72rem;
      height: 35rem;
      margin: 0px;
    }
  }
}