@mixin donut-chart() {
  position: relative;
  display: flex;
  > .render-donut {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  > .total-count-overlay {
    @include abs-full-screen();
    z-index: 1;
    pointer-events: none;
    > .total-count {
      position: absolute;
      text-align: center;
      > .label {
        color: $dark-gray;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      > .value {
        color: black;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}