@charset "UTF-8";
@import 'export-contacts';

$font-size: 1.6rem;
$large-margin: 3rem;
$medium-margin: 2rem;
$small-margin: .5rem;
$margin-for-numbered-circles: 5rem;
$large-padding: 2.5rem;
$large-checkbox-size: 3rem;
$circle-size: $large-checkbox-size;
$dotted-line-left: calc(#{$large-padding} + #{$large-checkbox-size}/2);
$publish-instructions-height: 3.2rem;

@mixin transition-animation() {
  transition: opacity 0.3s ease-in-out;
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}

/**
* For each instruction in the different choices the user makes in the publish
* process.
*/
@mixin choice-instructions() {
  display: inline-flex;
  margin-bottom: px-to-rem($medium-margin);
  align-items: center;
  min-height: px-to-rem($publish-instructions-height);
}

@mixin choice-radio-or-checkbox($type: checkbox) {
  @if $type == checkbox {
    @include checkbox();
  } @else {
    @include radio();
  }

  margin-bottom: px-to-rem($small-margin);
}

$export-new-or-existing-z-index: $contact-export-z-index + 1;
@mixin export-new-or-existing() {
  @include focus-slide($export-new-or-existing-z-index,
                       $nesting-level: 2);

  font-size: $font-size;
  $vertical-margin: 3rem;

  > .content {
    padding: 2rem;
    text-align: left;
    overflow: scroll;

    .fa-info-circle {
      &:not(.right-side){
        @include tooltip-target(up, 20rem);
      }
      &.right-side {
        @include tooltip-target(left, 20rem);
      }
      color: $help-icon-color;
      display: inline-block;
      margin-right: 3rem;
      margin-left: .5rem;
      ul {
        li {
          &:before {
            content: '●';
            width: 2em;
            margin-right: .5rem;
          }
        }
      }
    }

    div[disabled] {
      // various !importants here to override more specific rules
      cursor: not-allowed;
      color: $dark-gray;
      > .content > * {
        @include transition-animation();
        pointer-events: none;
        opacity: 0.5;
      }

      // propogate disabled styling like this instead of
      // having to add a bunch of ng-disabled's to every input
      input + i {
        border-color: $disable-border !important;
        &:before {
          background-color: $disable-bg !important;
        }
      }

      // We want to achieve a similar greyed-out effect
      // but can't use opacity or we get the ugly
      // visual of seeing the dotted line under the circle
      .step-number {
        color: $gray-3 !important;
        background-color: $gray-1 !important;
        border-color: $disable-border !important;
      }
      // avoid nested 0.5 opacity for nested disabled blocks
      > .content > .nested-step[disabled] {
        opacity: 1 !important;
      }
    }

    > .loading-spinner {
      @include loading-spinner()
    }

    > .button-row {
      > .back-btn {
        @include button(secondary);
        margin-right: 1rem;
        display: inline-block;
      }
    }


    > .publish-summary {
      display: flex;
      flex-flow: row nowrap;
      background: $gray-1;
      padding: 1.5rem 3rem;
      > .info-block {
        @include info-block();
        margin-right: 6rem;
      }
    }

    > .instructions {
      margin-top: $large-margin;
      margin-left: $medium-margin;
    }

    > .two-choice-columns {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      > .new-companies, >.existing-companies {
        width: 50%;
        > .step {
          margin-left: $medium-margin;
          margin-top: $large-margin;
          position: relative;

          .dotted-line {
            @include transition-animation();
            position: absolute;
            width: 0;
            border-left: .1rem dashed $dark-gray;
            top: 0;
            // extend the line below its container
            // across container margins
            bottom: -$large-margin + -1rem;
            left: $dotted-line-left;
            // Have dotted line be covered by the numbered circles
            z-index: -1;
          }

          > .step-number {
            @include numbered-circle($circle-size);
            z-index: 1;
            transition: background-color 0.3s ease-in-out;
          }

          > .content {
            margin-left: $margin-for-numbered-circles;
            position: relative;
            // Push the content up as if the .step-number circle was not pushing
            // it down
            bottom: $circle-size;
          }

          &.publish-choices {
            > .dotted-line {
              top: $large-padding;
              z-index: 0;
            }
            .publish-checkbox {
              padding: $large-padding;
              background-color: white;
              border-radius: 4rem;
              margin-right: $medium-margin;
              > .checkbox {
                @include checkbox($size: $large-checkbox-size);
              }
              .text {
                font-weight: 200;
                > .emphasis {
                  font-weight: 600;
                }
              }
            }

            .dedupe-previous-checkbox, .publish-only-if-contact-found-checkbox {
              @include transition-animation();
              margin-top: $large-margin;
              // We want to make sure these checkboxes are lined up with the checkboxes in the
              // steps below
              margin-left: $large-padding + $margin-for-numbered-circles;

              &.publish-only-if-contact-found-checkbox {
                margin-top: $small-margin;
              }
              .checkbox {
                @include checkbox();
              }
            }
          }

          &.compare-against-what {
            @include transition-animation();
            padding-left: $large-padding;
            // Give this one a little extra margin-top b/c the large checkbox and the first instruction
            // feel too close together since the large checkbox has no children, unlike the other steps
            margin-top: $large-margin + 1rem;
            // Give the new/existing versions of this element the same height so they are vertically
            // aligned.
            height: 9.3rem;
            > .content {
              > .instructions {
                // Give this the larger line height of the two sets of instructions.
                height: 2 * $font-size;
                @include choice-instructions();
                p:not(:last-child) {
                  margin-bottom: 1em;
                }
              }

              > .checkbox {
                @include choice-radio-or-checkbox(checkbox);
              }
            }
          }

          &.publish-companies {
            @include transition-animation();
            padding-left: $large-padding;
            // Give the new/existing versions of this element the same height so they are vertically
            // aligned.
            height: 9.3rem;
            > .content {
              > .instructions {
                @include choice-instructions();
              }

              > .radio {
                @include choice-radio-or-checkbox(radio);
              }
            }
          }

          &.publish-contacts {
            @include transition-animation();
            padding-left: $large-padding;
            margin-bottom: -$large-margin;
            $horizontal-line-top: $publish-instructions-height + $medium-margin + $circle-size/2;
            > .dotted-line {
              bottom: calc(100% - #{$horizontal-line-top});
            }
            > .horizontal-line {
              @include transition-animation();
              position: absolute;
              height: 0;
              width: calc(#{$margin-for-numbered-circles} - #{$circle-size}/2);
              border-top: .1rem dashed $dark-gray;
              top: $horizontal-line-top;
              left: $dotted-line-left;
              // Have dotted line be covered by the numbered circles
              z-index: -1;
            }
            > .content {
              > .instructions {
                @include choice-instructions();
              }

              > .wrapper {
                .radio {
                  @include choice-radio-or-checkbox(radio);
                }
              }
              > .nested-step:nth-child(4) {
                margin-bottom: 0;
              }
              > .nested-step {
                @include transition-animation();
                position: relative;
                margin-bottom: $medium-margin;
                > .dotted-line {
                  left: calc(#{$circle-size}/2);
                  bottom: -$medium-margin;
                }
                > .step-number {
                  @include numbered-circle-secondary($circle-size);
                  transition: background-color 0.3s ease-in-out;
                }

                > .content {
                  margin-left: $margin-for-numbered-circles;
                  position: relative;
                  bottom: $circle-size;
                  > .instructions {
                    @include choice-instructions();
                    margin-bottom: 1rem;
                  }
                  >.wrapper {
                    display: flex;
                    flex-flow: row wrap;
                    > .radio {
                      @include radio();
                      &:last-child {
                        margin-left: $medium-margin;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      > .divider  {
        $space-from-top: $medium-margin + $large-padding + $large-padding + $large-checkbox-size;
        position: absolute;
        height: calc(100% - #{$space-from-top});
        margin-top: $space-from-top;
        bottom: 0;
        left: 50%;
        border-right: .1rem solid $gray-2;
      }
    }

    > .publish {
      @include button(primary);
      display: block;
      margin: $large-margin auto 0;
    }
  }
}
