@import 'segment-export';
$contact-export-z-index: $segment-export-z-index + 1;

@mixin export-contacts() {
  @include focus-slide($contact-export-z-index, $nesting-level: 1);
  > .content {
    padding: 2rem;
    text-align: left;
    overflow: scroll;
    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 1rem;
      }

      > .save-btn {
        @include button(primary);
      }
    }

    > .choose-contact {
      margin-top: 5rem;
      display: flex;
      flex-flow: column nowrap;
      > .instructions {
        @include data-label();
        text-transform: none;
        margin-bottom: .5rem;
      }
      > .contacts-input {
        @include textbox();
        width: 20rem;
      }
    }

    > .title-selection {
      width: 30rem;
      margin-top: 5rem;

      > .instructions {
        @include data-label();
        text-transform: none;
        margin-bottom: .5rem;
      }

      > .choose-title{
        margin: 0 2rem 0 0;
        &.no-venn-diagram{
          margin: 5rem 0 0 0;
        }

        .search-box{
          display: block;
          position: relative;
          width: 100%;
          > .textbox {
            @include textbox();
            display: block;
            width: 100%;
          }
          .submit{
            position: absolute;
            background: none;
            right: .1rem;
            top: 0;
            width: 3.3rem;
            height: 3.3rem;
            line-height: 3.3rem;
            cursor: pointer;
            text-align: center;
            font-size: 2.4rem;
            color: $call-to-action-color;
            &:hover{
              color: $hover-color;
            }
          }
        }
        .list {
          margin-top: 1rem;
          > .item{
            margin: 0 0 1rem 0;
            padding: .5rem 4rem .5rem 1.5rem;
            position: relative;
            color: $dark-gray;
            border: .1rem solid $border-color;
            .delete{
              display: none;
              position: absolute;
              right: .5rem;
              top: .3rem;
              cursor: pointer;
            }
            &:hover {
              background-color: $hover-color;
              border-color: $hover-color;
              color: #ffffff;
              .delete{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
