$filter-audience-z-index: $header-z-index + 1;

// filter-summary() is a mixin for just the .summary-content section of the slide.
// The main style for the slide is the filter-audience() mixin, defined below
// this one.
@mixin filter-summary() {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 2rem;
  > .and {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.8rem;
    color: $gray-4;
    text-transform: uppercase;
    font-weight: 600;
  }
  > .filter-summary-category-group {
    margin-bottom: 2rem;
    > .top {
      display: flex;
      margin-bottom: .5rem;
      > .number-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $accent-orange;
        height: 3rem;
        width: 3rem;
        > .number {
          color: white;
          font-size: 2rem;
          font-weight: 600;
        }
      }
      > .category {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-weight: 600;
      }
    }
    @include summary-box();
  }
}

@mixin filter-audience() {
  @include focus-slide($filter-audience-z-index, 0, $more-left-space: true);
  #filter-audience-slide-alert {
    position: relative;
    left: 2rem;
    margin-left: -4rem;
  }
  > .content {
    padding: 2rem 2rem 0px 2rem;
    > .main {
      padding-bottom: 0px;

      .label {
        @include section-label();
        margin: 1rem 0;
      }

      div[multi-select] {
        @include multi-select-lg();
        min-width: 80rem;
      }

      title-pane {
        @include title-pane();
        > .pane-section {
          min-height: 50rem;
          overflow: hidden;
          > [ng-transclude] {
            overflow-x: auto;
          }
        }
        &.summary-pane {
          > .pane-section {
            transition: max-height 0.2s linear;
            max-height: 100%;
            &.ng-hide {
              max-height: 0px;
            }
          }
        }
      }

      // content of filter title pane
      .filter-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-start;

        // Bottom padding to make room for the "powered by hg data" attribution.
        padding: 0 1.5rem 4rem;
        min-height: 47.5rem;
        position: relative;

        .hg-data-attribution {
          font-size: .9rem;
          color: $gray-3;
          position: absolute;
          bottom: .8rem;
          right: 0;
        }

        > .dropdown-row {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 134rem;
          min-height: 10.8rem;
          > .left {
            > .dropdown-groups {
              display: flex;
              padding-bottom: .5rem;
              > .dropdown-group {
                margin-right: 2rem;
                > .wrap-dd-select {
                  width: 30rem;
                }
              }
            }
          }
          > .right {
            display: flex;
            align-items: center;
            > .clear-all {
              @include call-to-action();
            }
          }
        }
      }

      // content of summary title pane
      .summary-content {
        @include filter-summary();
      }

    }
  }
}
