$find-keywords-z-index: $header-z-index + 1;

@mixin find-keywords() {
  @include focus-slide($find-keywords-z-index, 0, $more-left-space: true);
  > .content {
    > .main {
      > .instructions {
        display: flex;
        margin-bottom: 10px;
        margin-left: 2px;
        > .text {
          color: $dark-gray;
          font-weight: 600;
        }
        > .fa-info-circle {
          margin-left: 15px;
          color: $help-icon-color;
          cursor: pointer;
          @include tooltip-target(right, 200px);
        }
      }

      .find-keywords-intro {
        @include tutorial-tooltip();
        position: absolute;
        top: 90px;
        left: 50px;
        width: 546px;
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }

    }
  }
}
