/**
  salesforce configuration page
 */
@mixin g-configuration() {
  padding: 0px 3rem 1rem 3rem;
  .textbox {
    @include textbox()
  }
  .datepicker {
    @include datepicker();
    i.bt-calendar {
      top: .8rem;
    }
  }

  > .header {
    display: flex;
    justify-content: space-between;
    h1 {
      @include header-one();
      margin: 3rem 0px;
    }
    > .text {
      width: 25rem;
      line-height: 3rem;
      align-self: flex-end;
      margin-bottom: 3rem;
      white-space: nowrap;
      font-weight: 600;
      color: $dark-gray;
      background-color: white;
      padding: 1rem 1rem;
      position: relative;
      top: 1rem;
      > .icon {
        font-size: 2.4rem;
        .bt-check {
          color: $success-color;
        }
        .bt-ban {
          color: $error-color;
        }
      }
      > .opaque {
        opacity: 0.2;
      }

    }
  }
  title-pane {
    @include title-pane();
  }
  .panel-body {
    padding: .5rem 2rem;
    .title {
      z-index: 2; // for tooltips
      margin-bottom: 1rem;
      white-space: nowrap;
    }
    .section-3{
      margin-left:.5rem;
    }
  }
  .flex-container {
    display: flex;
    margin-bottom: .5rem;
    > .flex-content {
      flex: 1;
    }
    > .flex-label {
      -webkit-flex: initial;
      flex: initial;
      width: 20rem;
      min-width: 15rem;
      font-weight: 600;
      color: $dark-gray;
      line-height: 3.5rem;
    }
    .switch {
      padding-top: .5rem;
    }
    .checkbox-wrap {
      @include checkbox();
      margin: 1.5rem 0;
    }
  }
  .section-content {
    display: flex;
    width: 100%;
    padding: 0 2rem 1rem 2rem;
    > .left-side {
      flex: 1;
      .title {
        font-weight: 400;
        position: relative;
        z-index: 2; // for tooltips
        margin-bottom: 1rem;
        white-space: nowrap;
      }
      > .content {
        padding-bottom: 2rem;

        .control-contacts {
          display: flex;
          flex-flow: row nowrap;

          .checkbox-wrap {
            @include checkbox();
            label {
              display: inline-block;
              width: 100px;
            }
            margin: 1.5rem 0rem 0 0;

            &.first-checkbox {
              margin-left: 2rem;
            }
          }
        }

        .flexbox {
          display: flex;
          width: 30rem;
          margin-top: .5rem;
          margin-bottom: .5rem;
          flex-wrap: nowrap;
          > .name {
            flex: 1;
            line-height: 3.1rem;
            font-weight: 600;
            color: $dark-gray;
            white-space: nowrap;
            margin-right: 1rem;
          }
          > .switch {
            padding-top: .5rem;
            width: 6rem;
          }
        }
        &.section-header {
          display: flex;
          .firmographic {
            width: 40rem;
            margin-right: 2rem;
            > .checkbox-wrap {
              @include checkbox();
              width: 19rem;
              margin: 1rem 0 1rem .5rem;
              float: left;
            }
          }
          .custom-insights {
            color: $call-to-action-color;
            cursor: pointer;
            margin: 1rem 0 0 .5rem;
            display: inline-block;
            &:hover {
              color: $hover-color;
            }
          }
        }
        &.section-insights {
          display: flex;
          .switch-wrapper {
            width: 50rem;
            .switch-item {
              margin-left: .5rem;
              > .switch {
                position: relative;
                > .blacklist-signals {
                  position: absolute;
                  left: $switch-width + 2rem;
                  top: 1rem;
                  color: $call-to-action-color;
                  cursor: pointer;
                  white-space: nowrap;
                  &:hover {
                    color: $hover-color;
                  }
                }
              }
            }
          }
        }
        &.section-companies {
          margin-left: .5rem;
          > .row {
            display: flex;
            border-top: .1rem $gray-1 solid;
            .desc {
              padding: 0 1rem 0 2rem;
            }
            .checkbox-wrap {
              @include checkbox();
              padding: 1.5rem 0 .6rem 2rem;
            }
          }
        }
        &.section-3 {
          margin-left: .5rem;
        }
      }
      .category-insights {
        > .title {
          margin-left: .5rem;
          position: relative;
          z-index: 2;
        }
        > .category {
          margin-top: 1rem;
          padding-left: .5rem;
          position: relative;
          z-index: 1;
          @include dropdown-directive();
          .wrap-dd-select {
            display: inline-block;
            > .selected {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
              width: 84%;
            }
          }
        }
        > .insights {
          margin-top: 1rem;
          position: relative;
          z-index: 0;
        }
      }
      [multi-select] {
        width: 60rem;
        @include multi-select();
      }
    }
    > .right-side {
      width: 30rem;
      padding-left: 1.5rem;
      .preview-placeholder {
        img {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
  .bottom-actions {
    margin-top: 2rem;
    .btn-cancel {
      @include button($type: secondary)
    }
    .btn-save {
      @include button($type: primary);
      margin-left: 1rem;
    }
  }
  .fa-info-circle {
    @include tooltip-target(down, 20rem);
    display: inline-block;
    padding: 0 .5rem;
    color: $help-icon-color;
    white-space: initial;
  }
}
