@mixin g-integration() {
  margin: 2rem;
  h1 {
    @include header-one();
    margin: 3rem 0px;
  }

  > .card {
    position: relative;
    margin-top: 1.5rem;
    width: 37rem;
    box-shadow: .2rem .2rem .2rem .2rem rgba(119, 119, 119, 0.2);
    padding: 2rem 2rem 1rem 2rem;
    background-color: white;
    margin-right: 3rem;
    display: inline-block;
    min-height: 17.7rem;
    float: left;
    > .title {
      display: flex;
      padding: 0px 0 1.5rem 0;
      > .name {
        font-weight: 600;
        font-size: 2rem;
      }
      > .btn-wrap {
        flex: 1;
        text-align: right;
        > .ellipsis-menu {
          @include ellipsis-menu();
          > .ellipsis-icon {
            > .menu {
              top: 5rem;
              > .item:hover {
                .crm-fit-status {
                  color: white;
                }
              }
            }
          }
          .crm-fit-status {
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 0px !important;
            &.in_progress {
              color: $gray-4;
            }
            &.completed {
              color: $success-color;
            }
            &.no_model {
              color: $error-color;
            }
          }
        }
      }
    }
    > .content {
      > .row {
        display: flex;
        margin-top: 1rem;
        &.switch-integration-context {
          justify-content: flex-end;
          > .use-sandbox,
          > .use-production {
            font-size: 1.4rem;
            color: $call-to-action-color;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
          }
        }
        > .text {
          flex: 1;
          line-height: 3rem;
          font-weight: 600;
          color: $dark-gray;
          > .icon {
            font-size: 2.4rem;
            margin-right: 1rem;
            > .bt-check {
              color: $success-color;
            }
            > .bt-ban {
              color: $error-color;
            }
          }
          > .opaque {
            opacity: 0.2;
          }
        }
        .btn-wrap {
          width: 10rem;
          text-align: center;
          .btn {
            @include button($type: primary);
            padding: 1rem 1.5rem;
          }
        }
      }
    }
  }
}