/* switch css from https://github.com/xpepermint/angular-ui-switch/blob/master/angular-ui-switch.css */
$radius: 2.3rem;
$switch-width: 5.8rem;
@mixin g-switch{
  background: #fff;
  border: .1rem solid #d7d7d7;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: $switch-width;
  height: $radius + .1rem;
  padding: 0px;
  margin: 0px;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  text-transform: uppercase;
  top: -.1rem;
  /*adding a wide width for larger switch text*/
  &.wide {
    width: 8rem;
    &.checked {
      small {
        left:5.2rem;
      }
    }
  }
  small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,0.4);
    width: $radius - .1rem;
    height: $radius - .1rem;
    position: absolute;
    top: .1rem;
    left: .1rem;
    transition: 0.3s ease-out all;
  }
  &.checked {
    background: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    small {
      left: 3.5rem;
    }
    .off {
      display: none;
    }
    .on {
      display: block;
    }
  }
  .switch-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .off {
    display:block;
    position: absolute;
    right: 13%;
    top: 28%;
    z-index: 0;
    color:#A9A9A9;
  }
  .on {
    display:none;
    z-index: 0;
    color:#fff;
    position: absolute;
    top: 28%;
    left: 17%;
  }
  .disabled {
    opacity: .50;
    cursor: not-allowed;
  }
}