@import "../library/library";
$header-nav-height: 5.1rem;
$nav-bar-height: 3.5rem;
$header-height: $header-nav-height + $nav-bar-height;

@mixin header-nav() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: $header-z-index;
  opacity: 0.99;

  > header {
    height: $header-nav-height;
    background-color: $apollo-blue;
    display: flex;
    justify-content: space-between;
    > .header-left {
      flex: 1;
      display: inline-flex;
      > .left-accent-bar {
        width: .8rem;
        margin-right: .7rem;
      }
      > .header-logo {
        margin-top: .5rem;
        height: 4rem;
      }
    }
    > .header-right {
      display: inline-flex;
      flex: 1;
      > .user-profile {
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
        height: $header-nav-height;
        color: white;
        font-weight: lighter;
        font-size: 1.4rem;
        > .profile-name {
          > .welcome {
            font-weight: 600;
          }
          padding: 2rem;
          text-align: right;
          white-space: nowrap;
          position: relative;
          cursor: pointer;
          z-index: 1;
          > i {
            margin-left: .8rem;
            font-size: 1.2rem;
          }
          > .dropdown {
            position: absolute;
            right: 0px;
            top: 5.1rem;
            width: 20rem;
            @include dropdown();
          }
        }
      }

      > .user-settings {
        background: $call-to-action-color;
        width: $header-nav-height;
        position: relative;
        cursor: pointer;
        > .settings-cog {
          color: white;
          font-size: 1.5em;
          @include center-icon();
          @include vertical-center();
        }
        > .settings-dropdown {
          position: absolute;
          top: 100%;
          right: 5%;
          width: 20rem;
          @include dropdown();
        }
      }
    }
  }

  > .nav-bar {
    background-color: white;
    padding-right: .5rem;
    height: $nav-bar-height;
    box-shadow: 0px .1rem .1rem $gray-1;

    > i, .trial-user-tag, .ghost-tag, .switch-to-new, .switch-to-old {
      padding: .8rem 1.5rem 0 1.5rem;
      color: $dark-gray;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      font-weight: 600;
      cursor: pointer;
      &.active {
        background-color: $accent-blue;
        color: white;
      }
      &:not(.switch-to-new):not(.switch-to-old) {
        text-transform: uppercase;
      }
      &.switch-to-new, &.switch-to-old {
        font-size: 1.4rem;
      }

      &:before {
        margin-right: .9rem;
      }
      &:hover {
        color: $hover-color;
      }
      &.trial-user-tag, &.ghost-tag, &.switch-to-new, &.switch-to-old {
        position: relative;
        top: .2rem;
        float: right;
        color: $hover-color;
        &.trial-user-tag, &.ghost-tag {
          cursor: auto;
          &.ghost-tag {
            > .bt-times {
              font-size: 1.2rem;
              cursor: pointer;
              transition: all 0.2s;
              &:hover {
                transform: scale(1.3);
              }
            }
          }
        }

        > i:before {
          margin-left: .9rem;
          vertical-align: 0px;
        }
      }
    }
  }
}
