// This styles the bubble that provides information about the current wizard step.
@mixin info-bubble($width: auto) {
  $info-height: 90px;
  display: flex;
  width: $width;
  position: relative;
  padding: 10px 30px;
  min-height: 90px;
  background: #fff;
  border-radius: $info-height / 2;
  > .info-icon-container {
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 10px;
    > .info-icon {
      margin-right: 9px;
      border-radius: 50%;
      border: 2px solid $call-to-action-color;
      background-color: $call-to-action-color;
      display: flex;
      align-items: center;
      justify-content: center;

      > .bt-info-circle {
        color: white;
        font-size: 24px;
        &:before {
          vertical-align: 0;
        }
      }
    }
    > .note {
      text-transform: uppercase;
      font-weight: bold;
      color: $call-to-action-color;
      font-size: 20px;
    }
  }

  > .info-text {
    align-self: center;
    font-size: 20px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    .emphasis-italic {
      font-style: italic;
      font-weight: bold;
    }
    .emphasis {
      font-weight: bold;
    }
  }

  > .example-container {
    align-self: center;
    display: flex;
    border-left: 1px solid $gray-3;
    > .example-text {
      font-size: 14px;
      color: $dark-gray;
      min-width: 100px;
      margin: 0px 30px;
      text-align: left;
      > .title {
        font-weight: 600;
        margin: 5px 0px;
      }
    }
  }
}