@import "../library/library";

@mixin icon-container() {
  margin-right: 1.5rem;
  background-color: $info-color;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.warning {
    background-color: $warning-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.success {
    background-color: $success-color;
  }
  > .btr {
    font-size: 3rem;
    color: white;
    &:before {
      vertical-align: 0;
    }
  }

}

// This mixin is intended to be used as a place to declare style tweaks for specific modals
@mixin modals() {
  @include modal();
  body {
    >.modal-bg {
      >.modal {
        &.more-modal {
          .modal-message {
            margin-right: 30px;
            margin-left: 30px;
          }
        }
        &.contact-confirmation {
          width: 35%;
          min-width: 472px;
          min-height: 300px;
          line-height: 20px;
          > .modal-title {
            display: flex;
            align-items: center;
            > .icon-container {
              @include icon-container()
            }
          }
          p {
            margin-bottom: 1em;
            &:not(:first-child) {
              margin-bottom: 0;
            }
          }
        }
        .modal-body{
          .modal-content{
            >.agreement{
              height: 200px;
              overflow-y: auto;
              line-height: 20px
            }
          }
        }

        &.need-model-modal {
          width: auto;
          padding: 40px 60px;
          .modal-title {
            font-weight: 200;
            font-size: 32px;
            white-space: nowrap;
          }
          .modal-content {
            @include flex-center();
            margin-top: 20px;
            > .outer-wrapper {
              height: 210px;
              width: 210px;
              @include flex-center();
              border-radius: 50%;
              background: $light-gray;
              > .inner-wrapper {
                height: 185px;
                width: 185px;
                @include flex-center();
                border-radius: 50%;
                background: $gray-1;
                > .fa-gears {
                  font-size: 80px;
                  color: $dark-gray;
                }
              }
            }
          }
          .modal-button-row {
            padding-top: 40px;
            align-self: center;
            display: flex;
            justify-content: space-around;
          }
          .tell-me-more {
            padding-top: 30px;
            align-self: center;
            @include call-to-action();
            > .bt-tv {
              font-size: 18px;
              margin-left: 10px;
              &:before {
                vertical-align: 0;
              }
            }
          }
        }

        &.model-with-list-modal {
          min-width: 40%;
          > .modal-title {
            > .subtitle {
              font-size: 16px;
              font-weight: 200;
              margin-top: 5px;
              margin-left: 3px;
            }
          }
          .modal-content {
            margin-left: 3px;
            > .text {
              font-weight: 200;
              > .top {
                font-weight: 600;
              }
              * {
                margin-bottom: 2px;
              }
            }
            > .radios {
              margin-top: 20px;
              > .radio {
                @include radio();
                &.first {
                  margin-bottom: 15px;
                }
                > label > .text {
                  text-transform: none;
                  font-size: 16px;
                  font-weight: 400;
                  color: black;
                }
              }
            }
            > .name {
              margin-top: 20px;
              min-height: 59px;
              > .label {
                @include section-label();
                display: flex;
                align-items: flex-end;
                margin-bottom: 10px;
                > .required {
                  font-size: 12px;
                  color: rgb(206, 123, 11);
                  margin-left: 5px;
                }
              }
              > input {
                @include textbox();
                width: 100%;
              }
            }
          }
        }

        &.save-audience-modal {
          .modal-content {
            > .name,
            > .description {
              margin-top: 2rem;
              > .label {
                @include section-label();
                display: flex;
                align-items: flex-end;
                margin-bottom: 1rem;
                > .required {
                  font-size: 1.2rem;
                  color: rgb(206, 123, 11);
                  margin-left: .5rem;
                }
              }
              > input {
                @include textbox();
                width: 100%;
              }
              > textarea {
                @include textbox();
                overflow: scroll;
                width: 100%;
                height: 10rem;
                resize: none;
                word-wrap: break-word;
              }
            }
          }
        }

        &.create-user, &.create-account {
          @include dropdown-directive();
          max-width: 50vw;
          min-width: 60rem;
          .modal-content {
            @include checkbox();
          }
          .optional {
            position: relative;
            color: $call-to-action-color;
            @include tooltip-target(up, 20rem);
            .tooltip-window {
              text-transform: none;
            }
          }
          .account-dropdown {
            margin-top: 5px;
            margin-bottom: 5rem;
            width: 100%;
            &.active {
              .dropdown {
                max-height: 20rem;
              }
            }
          }
        }

        &.create-segment-modal {
          min-height: 300px;
          .modal-body{
            .modal-content{
              > label {
                margin-bottom: 10px;
              }
              .textbox{
                font-weight: 200;
                &::placeholder {
                  font-style: italic;
                }
              }
            }
          }
        }

        &.bar-chart-modal {
          min-width: 50vw;
          width: auto;
          > .modal-body {
            > .modal-content {
              max-height: 70vh;
              overflow-y: auto;
              overflow-x: hidden;
            }
          }
        }

        &.col-chart-modal {
          min-width: 80vw;
          > .modal-body {
            > .modal-content {
              overflow-x: auto;
            }
          }
        }

        &.data-viewer-modal {
          > .modal-title {
            > .sub-title {
              margin-top: 5px;
              @include header-one();
              font-weight: 600;
              color: $dark-gray;
            }
          }
          > .modal-body {
            > .modal-content {
              max-height: 60vh;
              overflow-y: auto;
              > .data-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                > div {
                  width: auto;
                  height: 30px;
                  > a {
                    @include text-link();
                  }
                }
              }
            }
          }
        }

        &.confirmation-modal, &.message-modal {
          width: auto;
          min-width: 35%;
          max-width: 90%;
          line-height: 3rem;
          > .modal-title {
            display: flex;
            align-items: center;
            > .icon-container {
              @include icon-container()
            }
          }
          > .modal-body {
            > .modal-content {
              > .modal-message {
                .error-color {
                  color: $error-color;
                }
                .user-edit-save {
                  margin-bottom: .2rem;
                  padding: .2rem .4rem;
                  border-radius: .5rem;
                  background-color: $accent-orange;
                  color: white;
                  font-weight: 600;
                }

                > .no-select-msg {
                  margin-bottom: 2rem;
                }

                > .click-yes-msg {
                  margin-top: 2rem;
                }

                > .click-no-msg {
                  margin-top: -1rem;
                }

                > .new-seed-criteria {
                  margin: 1rem 0px;
                  display: flex;
                  justify-content: space-around;
                  > .category {
                    > .name {
                      font-size: 1.8rem;
                      font-weight: 600;
                      color: black;
                      margin-bottom: .5rem;
                    }
                    > .values {
                      max-height: 20vh;
                      max-width: 20vw;
                      overflow: auto;
                      padding-right: 2rem;
                      line-height: 2rem;
                    }
                  }
                }
              }
            }
            > .modal-button-row {
              > button {
                @include button(secondary);
              }
            }
          }
          // enforce some border styles for various cases
          > .modal-title.warning ~ .modal-body {
            > .modal-button-row {
              > .confirm {
                border: none;
              }
            }
          }
          > .modal-title.error ~ .modal-body, > .modal-title.info ~ .modal-body {
            > .modal-button-row {
              > .cancel {
                border: none;
              }
            }
          }
        }

        &.blacklist-modal {
          // make most items non-truncated
          width: 50%;
          > .modal-title {
            > .sub-title {
              font-size: 16px;
              font-weight: 400;
              margin-left: 5px;
              z-index: 2;
              position: relative;
              top: 5px;
              > .total {
                color: $success-color;
              }
              > .exceeded {
                color: $error-color !important;
              }
            }
          }
          .category-insights {
            > .category {
              margin-top: 10px;
              padding-left: 5px;
              position: relative;
              z-index: 1;
              @include dropdown-directive();
              .wrap-dd-select {
                display: inline-block;
                width: 230px;
                > .selected {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: inline-block;
                  width: 84%;
                }
              }
            }
            > .insights {
              margin-top: 10px;
              position: relative;
              z-index: 0;
            }
          }
          .fa-info-circle {
            @include tooltip-target(down, 200px);
            display: inline-block;
            padding: 0 5px;
            color: $dark-gray;
            position: relative;
            bottom: 5px;
          }
          [multi-select] {
            @include multi-select();
          }
        }

        &.audience-model-cloud {
          width: 60%;
          height: 90vh;
          .word-cloud-wrap {
            width: 100%;
            min-height: 75vh;
          }
        }

        &.not-enough-domains-modal {
          .es-alert {
            justify-content: flex-start;
            > .alert-message {
              font-size: 14px;
              font-weight: 100;
            }
          }
          .modal-content {
            line-height: 24px;
            padding-bottom: 30px;
          }
        }

        &.adjust-quota-modal {
          display: flex;
          flex-flow: column nowrap;

          max-width: 422px;

          .amount-wrapper {
            display: flex;
            flex-flow: column nowrap;
            .amount {
              @include textbox();
            }
          }

          .description-wrapper {
            margin-top: 2rem;
            textarea.description {
              @include textarea();
            }
          }
        }
      }
    }
  }
}
