@import 'usa-map';
@import 'column-chart';
@import 'donut-chart';
@import 'bar-chart';

@mixin module-seed-list() {
  margin: 20px 0 100px 0;

  .table-crud {
    padding: 27px 0 10px 9px;
    @include table-crud();
    border-bottom: 1px solid $gray-2;
  }
  .seed-list-charts {
    display: flex;
    >.insights {
      &.basic-insights {
        flex: 1;
        max-width: 50%;
        padding-right: 20px;
        position: relative;
        > .divider {
          position: absolute;
          height: 100%;
          top: 60px;
          right: 0px;
          border-right: 1px solid $gray-2;
        }
      }
      &.advanced-insights {
        flex: 1;
        max-width: 50%;
        padding-left: 20px;
      }

      >.charts {
        padding-top: 35px;

        >.nav-tabs-secondary {
          @include nav-tabs-secondary(25%, 4);
        }

        > .chart-cont {
          > .chart {
            background-color: white;
            height: 420px;
            display: flex;
            justify-content: center;
            &.employeeSize, &.revenue {
              padding-top: 30px;
              padding-bottom: 30px;
            }
            // Location
            &.state {
              padding-top: 50px;
            }
            &.industry {
              padding-top: 10px;
            }
            &.tech {
              padding-top: 10px;
            }

            > .map-infographic {
              flex: 1;
              @include usa-map();
            }
            > .column-chart {
              flex: 1;
              display: flex;
              justify-content: center;
              @include column-chart();
            }
            > .bar-chart {
              flex: 1;
              @include bar-chart();
              overflow: hidden;
            }
            > .donut-chart {
              flex: 1;
              @include donut-chart();
            }
          }
        }
      }

    }
  }
  > table.seed-insights-table {
    @include table();
    > thead > tr {
      border-top: none;
    }
  }
}
