@mixin module-mask() {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0, 0.5);
  .modal {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -236px;
    width: 472px;
    min-height: 300px;
    background: #ffffff;
  }
}
