// A numbered circle. Usually used to indicate steps.
@mixin numbered-circle($size) {
  $size: px-to-rem($size);
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size / 2;

  border-radius: 50%;

  background-color: $circle-icon-color;
  color: #fff;
  text-align: center;
}

@mixin numbered-circle-secondary($size) {
  $size: px-to-rem($size);
  width: $size - .1rem;
  height: $size - .1rem;
  line-height: $size - .2rem;
  font-size: $size / 2;

  border-radius: 50%;
  border: .1rem dashed $circle-icon-color;

  background-color: #fff;
  color: $circle-icon-color;
  text-align: center;
}
