$blue-color: rgb(101, 221, 229);
@mixin page-chrome-confirm() {
  @include abs-full-screen();
  background: url("../images/page-user-bg.jpg") no-repeat;
  background-size: cover;
  > .main{
    text-align: center;
    margin: 5% 0 0 180px;
    .p1{
      font-size: 16px;
      color: #dddddd;
      margin-top: 15px;
    }
    .p2{
      font-size: 40px;
      color: white;
      margin-top: 33px;
    }
    .p3{
      .logo{
        width: 200px;
      }
    }
  }
  > .logo-wrapper{
    position: absolute;
    bottom: 20px;
    left: 30px;
    .logo{
      width: 200px;
    }
    .copy-right{
      padding-top: 10px;
      color: #dddddd;
      font-size: 12px;
      font-weight: lighter;
    }
  }
}
