$blue-color: rgb(101, 221, 229);
@mixin page-timeout() {
  @include abs-full-screen();
  background: url("../images/page-user-bg.jpg") no-repeat;
  background-size: cover;
  > .main{
    text-align: left;
    margin: 5% 0 0 30px;
    .p1{
      font-size: 60px;
      color: $blue-color;
    }
    .p2{
      font-size: 40px;
      color: #dddddd;
      margin-top: 33px;
    }
    .p3{
      margin-top: 30px;
      button {
        height: 42px;
        line-height: 42px;
        background-color: $blue-color;
        border-radius: 5px;
        width: 220px;
        cursor: pointer;
        outline: none;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  > .logo-wrapper{
    position: absolute;
    bottom: 20px;
    left: 30px;
    .logo{
      width: 200px;
    }
    .copy-right{
      padding-top: 10px;
      color: #dddddd;
      font-size: 12px;
      font-weight: lighter;
    }
  }
}
