/*
  css for both log in and sign up
*/
$blue-color: rgb(101, 221, 229);
$element-bg-color: rgb(40, 72, 76);

@mixin page-user() {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url("../images/page-user-bg.jpg") no-repeat;
  background-size: cover;
  .row {
    margin: 15px 0;
    &.row-agree{
      margin: 25px 0;
    }
    .submit {
      height: 42px;
      line-height: 42px;
      background-color: $blue-color;
      border-radius: 42px;
      width: 90%;
      cursor: pointer;
      outline: none;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .logo-wrapper {
    margin: 20px 0 0 20px;
    color: #dddddd;
    font-size: 26px;
    .logo {
      width: 300px;
    }
    > p {
      line-height: 37px;
      font-family: 'Roboto', 'Proxima Nova';
      &.p1 {
        font-weight: lighter;
        font-size: 36px;
        padding-top: 35px;
      }
      &.p2 {
        color: $blue-color;
        font-size: 40px;
        margin-top: 10px;
      }
    }
  }
  .panel {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    @include loading-spinner();
    #page-user-error {
      position: absolute;
      top: 100px;
      width: 100%;
    }
    .es-alert {
      > .alert-close {
        display: none;
      }
    }
    .p-title {
      color: #ffffff;
      font-size: 28px;
      font-weight: lighter;
      text-align: center;
      padding: 20px 0;
      margin-top: 150px;
    }
    .form {
      text-align: center;
      width: 74%;
      margin: 0 auto;
      input[type=text],
      input[type=password] {
        background: $element-bg-color;
        height: 44px;
        line-height: 44px;
        padding: 0 10px;
        font-size: 18px;
        width: 90%;
        color: #ffffff;
        border: 1px solid $blue-color;
        font-weight: 100;
        text-align: left;
        &:focus {
          outline: none;
        }
      }
      .agreement {
        @include checkbox();
        .ui-checks{
          color: #ffffff;
          font-size: 14px;
          font-weight: lighter;
          input:not([disabled]) +i{
            &:hover{
              border-color: $hover-border;
            }
          }
          input{
            &:checked +i{
              border-color: $blue-color;
              &:before{
                background-color: $blue-color;
              }
            }
          }
          >i{
            background-color: $element-bg-color;
            border: 1px solid $blue-color;
            &:before{
              position: absolute;
              content: "";
              transition: all 0.2s;
            }
          }
        }
        > .terms{
          color: $blue-color;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .p1 {
        font-size: 18px;
        font-weight: lighter;
        color: #ffffff;
        margin: 15px 0 0 0;
        button.sign-up {
          height: 45px;
          line-height: 45px;
          border: 1px solid $blue-color;
          color: $blue-color;
          border-radius: 45px;
          background: transparent;
          padding: 0 30px;
          margin: 0 0 0 10px;
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
          a{
            color: $blue-color;
            text-decoration: none;
          }
        }
      }
      .p2 {
        font-weight: lighter;
        padding: 10px 0;
        line-height: 30px;
        color: $blue-color;
        .forget-password {
          color: $blue-color;
          font-weight: 400;
          text-decoration: none;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  .pass-sent {
    text-align: center;
    line-height: 30px;
    .row{
      width: 74%;
      margin: 0 auto;
    }
    .p1 {
      margin-top: 150px;
      font-size: 30px;
      line-height: 74px;
      color: #ffffff;
    }
    .p2 {
      font-size: 22px;
      line-height: 60px;
      color: $blue-color
    }
    .p3 {
      color: #bec7c8;
      line-height: 20px;
      font-size: 14px;
      font-weight: 100;
      margin-top: 25px;
      a {
        color: $blue-color;
        text-decoration: none;
      }
    }
  }
}
