@mixin predictive-segment-overview() {
  margin: 20px;
  >.nav-tabs {
    @include nav-tabs();
    >.more-actions {
      width: 50px;
      height: 50px;
      background: white;
      align-self: flex-end;
      // TODO: Refactor this and other ellipsis menu into mixin
      > .ellipsis-icon {
        font-size: 22px;
        line-height: 50px;
        width: 100%;
        text-align: center;
        cursor: pointer;

        >.ellipsis-menu {
          display: none;
          position: absolute;
          transform: translate(0, -50%);
          top: 9px;
          right: 18px;
        }

        &:hover {
          >.ellipsis-menu {
            display: block;
          }
        }
      }
    }
  }

  > .loading-spinner {
    margin-top: 200px;
    color: $gray-3;
    text-align: center;
  }

  h1 {
    @include header-one();
    margin: 30px 5px;
  }
  > .segment-tab {
    > .overview-cont {
      > .segment-graphs {
        @include segment-graphs();
      }
      > .company-list {
        @include company-list();
      }
    }

    > .module-seed-list {
      @include module-seed-list();
      > [ui-view] > .creation-summary-step {
        @include creation-summary-step();
      }
    }
  }
}
