@mixin progress-view() {
  @include universe-background();
  > .main-message {
    margin-top: 40px;
    font-size: 50px;
    color: $blue-color;
    font-weight: 600;
  }

  @-webkit-keyframes moving-gradient {
    0% { background-position: -20vw bottom; }
    100% { background-position: 95vw bottom; }
  }

  > .loading-strip {
    position: absolute;
    top: 15vh;
    bottom: 20vh;
    left: 0;
    right: 0;
    > .image-overlay {
      height: 100%;
      width: 100%;
      &:after {
        content: "";
        background: url(/images/DEWALT-01.svg);
        background-color: black;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
      > .scanning-overlay {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        background: -webkit-linear-gradient(
          left,
          transparent 25%,
          transparent 50%,
          transparent 70%,
          rgba(81,191,221, 0.8) 99%
        ) no-repeat;
        -webkit-background-size: 20% 100%;
        -webkit-animation-name: moving-gradient;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        > .progress-text-area {
          align-self: center;
          margin-bottom: 20px;
          color: white;
          padding: 50px 100px;
          background-image: radial-gradient(
            ellipse,
            rgba(255,255,255,0.3) 20%,
            rgba(255,255,255,0.2) 40%,
            transparent 70%,
            transparent 80%
          );
          width: 40%;
          max-height: 124px;
          > .progress-text {
            font-size: 24px;
            font-weight: 200;
            text-shadow: 1px 1px 4px black;
            transition: opacity 0.2s, transform 0.2s;
            &.ng-enter {
              transform: translateY(30px);
              opacity: 0;
            }
            &.ng-enter-active {
              transition-timing-function: ease-in;
            }
            &.ng-leave {
              opacity: 1;
            }
            &.ng-leave-active {
              transform: translateY(-90px);
              opacity: 0;
              transition-timing-function: ease-out;
            }
          }
        }
      }
    }
  }
}
