@mixin qualification-criteria-step() {
  margin: 20px 40px 15px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    > .limitations-question {
      text-align: center;
      font-weight: lighter;
      color: black;
      font-size: 30px;
      > span {
        font-weight: bold;
      }
    }
  }
  > .qualification-info-bubble {
    @include info-bubble();
    margin-bottom: 10px;
  }

  > .selection-module {
    > .nav-tabs-secondary {
      @include nav-tabs-secondary(15%, 3);
    }
    > .ms-container {
      border-radius: 1px;
      background-color: white;
      > .container-body {
        padding: 20px 20px 15px 20px;
        > [multi-select] {
          @include multi-select-lg();
        }
      }
    }
  }
}