@mixin scoring-new-model() {
  @include focus-slide($focus-slide-z-index, 0, $more-left-space: true);
  > .content {
    > .instructions {
      font-weight: 200;
      border-bottom: 1px solid $gray-2;
      display: flex;
      padding-bottom: 30px;
    }

    .card-list {
      @include clearfix();
      min-height: 155px;
      position: relative;
      .card {
        float: left;
        margin: 15px 15px 0 0;
        width: 180px;
        height: 140px;
        border: 2px dashed $gray-3;
        text-align: center;
        cursor: pointer;
        background-color: white;
        position: relative;
        &:hover {
          > .circle {
            background-color: $hover-color;
          }
          > .link {
            color: $hover-color;
          }
        }
        > .default-ribbon {
          position: absolute;
          right: 0px;
          top: 25px;
          width: 50px;
          height: 25px;
          color: white;
          background-color: $apollo-blue;
          box-shadow: -1px 1px 1px rgba(black, 0.3);
          padding: 7px 2px 3px 2px;
          font-size: 12px;
        }
        > .delete-btn {
          position: absolute;
          right: 5px;
          top: 6px;
          cursor: pointer;
          height: 12px;
          width: 12px;
          color: $dark-gray;
          font-size: 12px;
          &:hover {
            color: $hover-color;
          }
        }
        > .circle {
          width: 60px;
          height: 60px;
          border-radius: 30px;
          background-color: $gray-2;
          margin: 20px auto;
          opacity: 0.3;
          display: flex;
          align-items: center;
          justify-content: center;
          > .btr,
          > .fa {
            color: white;
            &.bt-check {
              display: none;
            }
            &.bt-plus-circle {
              margin-bottom: 5px;
            }
          }
        }
        > .link {
          font-size: 14px;
          color: $call-to-action-color;
        }
        > .text {
          margin: 0 10px;
          @include nowrap();
        }
        &.card-fit {
          border: 1px solid $gray-3;
          background-color: white;
          > .circle {
            opacity: 1;
          }
          &:hover {
            border-color: $hover-color;
          }
          &.selected {
            &:hover {
              > .circle {
                background-color: lighten($success-color, 10%);
              }
            }
            > .circle {
              background-color: $success-color;
              > .fa-gears {
                display: none;
              }
              > .bt-check {
                display: inline-block;
              }
            }
          }
        }

        &.in-progress {
          background: rgb(219, 219, 219);
          border-color: $gray-3;
          cursor: auto;
          > .in-progress-text {
            text-transform: uppercase;
            font-size: 12px;
            padding-bottom: 3px;
          }
          > .circle {
            margin-bottom: 5px;
          }
          &:hover {
            border-color: $gray-3;
            > .circle {
              background-color: $gray-2;
            }
          }
        }

        &.completed {
          > .circle {
            background: $call-to-action-color;
          }
          &:hover {
            > .circle {
              background: $hover-color;
            }
          }
        }
      }
    }
  }
}
