@import 'usa-map';
@import 'donut-chart';
@import 'venn-diagram';
@import 'column-chart';
@import 'bar-chart';


@mixin segment-graphs() {
  > .table-crud {
    @include table-crud();

    // Padding to imitate the style of the company list crud
    // text.
    padding: 27px 0 10px 9px;
    > .view-as-tables {
      margin-top: 20px;
    }
  }

  >.graphs-container {
    display: flex;
    flex-direction: column;

    // Mimics the border color of the top of the table.
    border-top: 1px solid rgb(200, 200, 200);

    > .first-row {
      display: flex;
      margin-top: 20px;
      flex: 3 1 min-content;
      >.companies-found-cont {
        display: flex;
        flex: 7 1 60%;
        margin-right: 20px;
        background-color: white;
        position: relative;
        > .title {
          @include data-label();
          position: absolute;
          top: 3.2%;
          left: 2.7%;
          color: black;
        }

        >.border-box {
          width: 94.4%;
          height: 81%;
          border: 1px solid $border-color;
          position: absolute;
          top: 76px;
          left: 20px;

          >.left-upper-cont {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-betwen;
            align-items: center;
            margin-left: 1.3%;
            height: 100%;
            width: 30%;

            >.seed-list, >.companies-found, >.new-this-month, >.in-boundary-cnt{
              flex-grow: 1;
              &:first-child {
                margin-top: 23%
              }
              >.title {
                @include data-label();
                font-weight: 400;
                font-size: 16px;
                text-transform: none;
                text-align: center;
                margin-bottom: 5px;
              }
              >.value {
                @include data-value();
                font-size: 26px;
                text-align: center;
                font-weight: bold;
              }
            }
          }
          >.venn-diagram-cont {
            // position absolute is set in SegmentGraphsController
            left: 34%;
            top: 6%;

            // This container must be at least 450px wide, otherwise the text labels are way off.
            min-width: 450px;
            width: 450px;
            height: 450px;
            > #venn-diagram-graphs {
              @include venn-diagram($use-outline: false);
              position: absolute;
              top: 30px;
              left: 10px;
              transition: opacity 0.2s linear;
              &.ng-hide-remove {
                opacity: 0;
              }
              &.ng-hide-remove-active {
                opacity: 1;
              }
            }
            .venn-count {
              line-height: 20px;
              > b {
                font-size: 22px;
                line-height: 30px;
              }
            }
          }

        }
      }
      > .bar-chart {
        flex: 3 1 40%;
        background-color: white;
        height: 557px;
        @include bar-chart();
      }
    }
    > .second-row {
      display: flex;
      margin-top: 20px;
      flex: 2 1 min-content;
      > .map-infographic {
        @include usa-map();
        flex: 3 1 auto;
        margin-right: 20px;
        padding-top: 5px;
      }

      > .donut-chart {
        flex: 2 1 0;
        background-color: white;
        @include donut-chart();
      }
    }
    > .third-row {
      display: flex;
      margin-top: 20px;
      flex: 2 1 min-content;
      background-color: white;
      position: relative;
      > .title {
        margin-top: 15px;
        margin-left: 20px;
        @include data-label();
        color: black;
        white-space: nowrap;
      }
      > .select {
        @include select();
        cursor: pointer;
        position: absolute;
        top: 47px;
        left: 19px;
      }
      >.column-chart {
        width: 100%;
        height: 237px;
        margin-top: 15px;
        margin-left: 300px;
        @include column-chart();
      }
    }
  }
}
