$progress-green: rgb(69, 175, 81);
$ellipsis-color: $dark-gray;

$astronaut-width: 134px;
$astronaut-height: 156px;

@mixin segment-cards {
  display: flex;
  flex-flow: row wrap;
  margin: auto;

  // This width is enough to fit 8 cards on a standard 1366*768 display.
  max-width: 1072px;
  > .segment-card {
    @include segment-card();
    &:nth-child(4n){
      margin-right: 0px;
    }
    @media screen and (max-width: 1072px) {
      &:nth-child(4n){
        margin-right: 20px;
      }
    }
  }

  > .segments-pagination {
    @include pagination();
  }
}

@mixin segment-card {
  margin: 20px 20px 0 0;
  width: 253px;
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(119, 119, 119, 0.2);
  transition: transform 0.2s ease-in-out;

  // Prevent weird text flickering
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(0);

  // This needs to be added to fix an ng-animate bug:
  // https://github.com/angular/angular.js/issues/3613
  &.ng-animate {
    transition: none;
  }
  &.draft {
    // You can't click into a segment card that's in draft, so we just
    // use a regular cursor here.
    cursor: default;

    > .info-container {
      > .company-info-row {
        opacity: 0.2;
      }
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  $card-header-height: 129px;

  > .status-header {
    > .bg{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      > .btn-generate {
        @include button(primary);
        position: relative;
        margin-top: 17px;
        background: $call-to-action-color;
        color: #ffffff;
        padding: 5px 10px;
        cursor: pointer;
        width: 64%;
        height: 31%;
      }

      > .name, >.date-author {
        align-self: flex-start;

        overflow: hidden;
        text-overflow: ellipsis;

        color: #fff;
        text-decoration: none;
        white-space: nowrap;

        position: absolute;
        left: 15px;

        &.name {
          bottom: 37px;

          font-weight: 200;
          font-size: 20px;
        }

        &.date-author {
          bottom: 10px;
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
  }

  >.progress-header{
    position: relative;
    height: $card-header-height;
    cursor: pointer;

    > .bg {
      height: 100%;
      background-size: cover;

      &.es-segment-bg {
        background: url('../images/es-segment-bg.png') no-repeat;
        background-size: cover;
      }

      @for $i from 1 through 10 {
        &.galaxy-bg-#{$i} {
        background: url('../images/galaxy-bg-#{$i}.png') no-repeat;
        background-size: cover;
      }
      }

      > .progress-bar{
        $progress-bar-height: 40px;
        position: absolute;
        left: 0;// in firefox, default left is not 0 here
        top: 0;
        left: 0;
        height: $progress-bar-height;
        width: 100%;
        color: white;
        line-height: $progress-bar-height;
        text-align: center;
        background: rgba(255, 255, 255, 0.3);


        >.progress-so-far {
          position: absolute;
          top: 0;
          left: 0;
          height: $progress-bar-height;
          background: rgba(69, 175, 81, 0.9);
        }

        > .progress-text {
          position: relative;
          font-weight: 200;
          >.status {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  >.draft-status-header {
    overflow: hidden;
    height: $card-header-height;
    width: 100%;
    background: #ffffff;
    text-align: center;
    position: relative;

    > .grey-inactive, > .bg {
      background: $dark-gray;
      position: relative;
      height: 100%;
      width: 100%;

      &.grey-inactive {
      }

      >.name {
        color: $gray-4
      }
    }
  }

  >.info-container{
    position: relative;
    height: 173px;
    padding: 20px 0 0 0;
    font-size: 0.9em;
    line-height: 15px;
    color: #666;

    >.main-status-row {
      display: flex;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 14px;
      >.status {
        flex: 1;
        text-align: center;
        &.completed {
          color: rgb(80, 197, 81);
        }
        &.in-progress {
          color: rgb(252, 201, 37);
        }
      }
      >.visibility {
        text-align: center;
        flex: 1;
        &.private {
          color: $dark-gray;
        }
        &.published {
          color: rgb(80, 197, 81);
        }
        &.shared {
          color: rgb(80, 197, 81);
        }
      }
    }

    >.ellipsis-menu {
      @include ellipsis-menu();
    }

    > .company-info-row {
      display: flex;
      margin-bottom: 20px;

      > .company-count, > .exported-count {
        flex: 1;
        text-align: center;
        > i {
          font-size: 1.85em;
          width: 100%;
          > .bt-arrow-right {
            font-size: 0.45em;
            position: absolute;
            top: 9px;
            left: 58px;
          }
        }
        >.header {
          margin-top: 8px;
          color: $dark-gray;
          margin-bottom: 7px;
          font-weight: 600;
        }

        > .value {
          margin-top: 4px;
          color: #000;
          font-size: 1.5em;
        }
      }
    }

    > .creation-summary-row {
      text-align: right;
      > .creation-summary-button {
        display: inline-block;
        @include text-link();
        text-transform: uppercase;
        margin-right: 10px;
      }
    }
  }
}
