@import "universe-background";

/*
  segment console page, show empty css if there are no segments
*/

$blue-color: rgb(101, 221, 229);
@mixin segments-empty() {
  @include universe-background();
  > .main {
    padding-top: 8rem;
    > .p1{
      @include onboarding-header();
    }
    > .p2{
      margin-top: 1rem;
      font-size: 3.2rem;
      font-weight: 200;
      color: #ffffff;
    }
    > .video{
      width: 53.6rem;
      height: 33.5rem;
      margin: 4rem auto 0 auto;
      cursor: pointer;
    }
    .p3 {
      margin-top: 2rem;
      >a{
        color: #ffffff;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 200;
      }
    }
    .console-button {
      @include button(primary);
      padding: 1.5rem 6rem;
      border-radius: 5rem;
      margin-top: 2rem;
      font-weight: 400;
      font-size: 2.4rem;
    }
  }
}
