@import "header-nav";

@mixin segment-setting() {
  @include focus-slide($focus-slide-z-index);
  > .content {
    padding: 20px;
    text-align: left;
    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 10px;
      }
      > .save-btn {
        @include button(primary);
      }
    }

    > .main{
      @include dropdown-directive();
      > .wrap-dd-select {
        width: 400px;
      }
      > .title{
        line-height: 40px;
        color: $dark-gray;
      }
    }
  }
}
