@mixin api-instructions() {
  > .token-management-wrapper {
    position: relative;
    display: inline-flex;
    margin-bottom: 3rem;
    > .token-management {
      background-color: white;
      color: $dark-gray;
      padding: 1.5rem 3rem 1rem 3rem;
      display: inline-flex;
      flex-direction: column;
      min-width: 70rem;
      > .title {
        font-weight: 600;
        margin-bottom: .3rem;
      }
      > .instructions {
        font-size: 1.4rem;
        margin-bottom: 3rem;
      }
      > .token-row,
      > .end-points-row {
        display: flex;
        margin-bottom: 3rem;
        > .section-label {
          @include section-label();
          min-width: 11rem;
        }
        > .token, > .end-points {
          font-size: 1.4rem;
        }
        > .refresh {
          cursor: pointer;
          margin-left: 4rem;
          color: $call-to-action-color;
          &:hover {
            color: $hover-color;
          }
          > i:before {
            vertical-align: 0;
          }
        }
      }
    }
  }
  .documentation-link {
    @include section-label();
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    &:hover {
      color: $hover-color;
    }
  }
}

@mixin model-reference() {
  > .table-wrapper {
    position: relative;
    > .model-reference-table {
      @include table();
    }
  }
}

@mixin real-time-settings() {
  position: relative;
  min-height: 30rem;
  > .content-wrapper {
    .leading-text {
      margin-bottom: 1.5rem;
      > .warning {
        color: $error-color;
        font-size: 1.2rem;
        margin-left: 5px;
      }
    }
    > .choose-mode {
      > .radios {
        display: flex;
        margin-left: 0.5rem;
        > .radio {
          @include radio();
          margin-right: 2rem;
          .ui-checks {
            @include tooltip-target(up, $tooltip-width: 18rem);
            .tooltip-window {
              margin-left: 2rem;
            }
          }
        }
      }
    }
    > .choose-objects {
      margin-top: 4rem;
      &.disabled {
        pointer-events: none;
        opacity: 0.3;
      }
      > .obj-switch-row {
        display: flex;
        margin-bottom: 2rem;
        margin-left: 0.5rem;
        > .switch-label {
          display: flex;
          align-items: center;
          color: $dark-gray;
          width: 10rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}

@mixin csv-field-selection() {
  max-width: 70rem;
  > .dropdown-label {
    font-weight: 600;
    color: $dark-gray;
    font-size: 1.4rem;
    margin-bottom: .9rem;
  }
  > div[multi-select] {
    @include multi-select();
    margin-top: 2rem;
  }
}

@mixin field-mapping-content() {
  position: relative;
  // Add padding here to make room for the dropdown of fields of the last row.
  padding-bottom: 15rem;
  @include loading-spinner();
  .table-loading-spinner > .loading-spinner-directive {
    top: 10rem;
  }

  .save-btn-wrapper {
    position: absolute;
    top: -6rem;
    right: 0;
    > .save-btn {
      @include button(primary);
    }
  }

  &.marketo-settings {
    .save-btn-wrapper {
      top: 0;
    }
  }

  .fa-info-circle {
    color: $dark-gray;
    margin-left: 1rem;
    @include tooltip-target(right, 30rem);
    &:before {
      vertical-align: 0;
    }
  }

  .cell-content-wrapper {
    position: relative;
    > .fa-exclamation-circle {
      position: absolute;
      left: -20px;
      top: 9px;
      color: $error-color;
    }
    > .fa-info-circle {
      position: absolute !important;
      right: -25px;
      top: 9px;
    }
  }

  .text-required {
    font-size: 9px;
  }

  .bt-trash {
    cursor: pointer;
    color: $dark-gray;
    &:hover {
      color: $hover-color;
    }
  }
}

@mixin sfdc-settings() {
  .nav-tabs {
    width: 50%;
    margin-top: 2rem;
    @include nav-tabs-secondary(33.33%, 3);

    > li > a {
      font-size: 1.5rem;
    }
  }

  .field-mapping-content {
    @include field-mapping-content()
  }
}

@mixin marketo-settings() {
  .marketo-integration-dropdown {
    .Select {
      width: 20rem;
      margin-bottom: 2rem;
    }
  }
  @include field-mapping-content();
}

@mixin main-settings() {
  height: calc(100vh - #{$header-height});
  > .left-nav {
    background-color: $sidebar-2;
    border-right: .1rem solid $gray-2;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    z-index: $header-z-index - 1;
    > .section {
      @include vertical-menu();
    }
  }
  > .settings-content {
    margin-left: $default-vertical-menu-width;
    padding: 2.5rem $audience-margin 0px $audience-margin;

    > .publish-settings {
      > .nav-tabs {
        @include nav-tabs();
      }
      > .tab-content {
        padding: 2.5rem 1rem 0 1rem;
        > .real-time-settings {
          @include real-time-settings();
        }
        > .csv-field-selection {
          @include csv-field-selection();
        }
        > .sfdc-settings {
          @include sfdc-settings();
        }
        > .marketo-settings {
          @include marketo-settings();
        }
        > .api-instructions {
          @include api-instructions();
        }
        > .model-reference {
          @include model-reference();
        }
      }
    }

    > .account-management {
      @include user-management();
    }
  }
}