@import '../library/library';
@import "./header-nav";

@mixin sfdc-result-slide() {
  @include focus-slide($focus-slide-z-index);
  > .content {
    padding: 20px;
    text-align: left;
    > .button-row {
      > .cancel-btn {
        @include button(secondary);
        margin-right: 10px;
      }
    }

    > .nav-tabs {
      @include nav-tabs();
    }
    table.seed-insights-table {
      @include table();
    }
  }
}