@import "header-nav";

@mixin universe-background() {
  position: absolute;
  top: $header-height;
  bottom: 0px;
  width: 100%;
  min-height: 40.625rem;
  text-align: center;
  &:before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url(/images/galaxy_coming_soon.jpg) no-repeat center center;
    background-size: cover;
    // creates a new paint layer. this fixes laggy segment creation slide animations\\\
    // http://fourkitchens.com/blog/article/fix-scrolling-performance-css-will-change-property
    will-change: transform;
    z-index: -1;
  }
}
