@import "header-nav";

@mixin upload-sfdc-step() {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include universe-background();
  > .step-decider{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    h3 {
      @include onboarding-header();
    }
    .instruction-text {
      color: white;
      font-size: 2rem;
      font-weight: 200;
      line-height: 2.6rem;
      > b {
        font-weight: 400;
      }
      > .emph {
        color: $accent-mint;
        font-weight: 400;
      }
    }
    > .main{
      position: relative;
      width: 83.4rem;
      margin: 6rem auto 0 auto;
      background-color: rgba(black, 0.5);
      padding: 2rem;
      @include loading-spinner();
      .date-range{
        width: 52rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        label{
          @include data-label();
          line-height: 4rem;
          text-transform: none;
          color: white;
          font-weight: 400;
        }
        .flex{
          flex: 1;
          text-align: left;
        }
        .to{
          width: 8rem;
          padding-top: 4.1rem;
          text-align: center;
        }
        .datepicker{
          @include datepicker();
          i.bt-calendar{
            top: .8rem;
          }
        }
      }
      .tips{
        margin: 3rem 0 1rem 0;
        font-size: 1.4rem;
        color: white;
      }
    }
    > .show-status{
      position: relative;
      > .content{
        position: absolute;
        top: 10rem;
        width: 100%;
        text-align: center;
        >p.top{
          font-size: 3.4rem;
          color: rgb(102,254,216);
        }
        .spinner{
          color: rgb(250,143,35);
          margin: 6rem 0 4rem 0;
        }
        p.bottom{
          color: #ffffff;
          font-size: 2rem;
        }
      }
    }
    > .show-result{
      .matches{
        width: 55rem;
        margin: 0 auto;
        display: flex;
        text-align: left;
        .column{
          flex: 1;
          background-color: rgba(black, 0.5);
          margin: 3.5rem 2.5rem;
          padding: .5rem 2.5rem 1.5rem 2.5rem;
          h4 {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 3.6rem;
            &.found{
              color: rgb(56,189,58)
            }
            &.not-found{
              color: rgb(228,96,109)
            }
          }
          .number{
            font-size: 4.2rem;
            line-height: 4.8rem;
            color: white;
          }
          .desc{
            margin-top: .5rem;
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-weight: 200;
            min-height: 10rem;
            color: white;
          }
          .bottom{
            font-size: 1.4rem;
            a{
              color: $call-to-action-color;
              text-decoration: none;
              text-transform: uppercase;
              cursor: pointer;
              &:hover {
                color: $hover-color;
              }
            }
          }
        }
      }
    }
  }
  > .button-container {
    background: rgba(black, 0.5);
    margin-top: 5rem;
    padding: 2.5rem 4rem;
    border-radius: 5rem;
    max-width: 37.8rem;
    > .cancel-btn {
      @include button(secondary);
    }
    > .next-btn {
      margin-left: 1rem;
      @include button(primary);
    }
  }
}
