@mixin upload-csv-step() {
  text-align: center;
  @include universe-background();
  > .step-decider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;

    h3 {
      @include onboarding-header();
    }

    > .instruction-text {
      color: white;
      font-size: 2rem;
      font-weight: 200;
      line-height: 2.6rem;
      > .bold {
        font-weight: 600;
      }
      > .underline {
        text-decoration: underline;
        color: $accent-mint;
      }
    }


    > .drop-box {
      display: block;
      min-width: 64rem;
      max-width: 80rem;
      width: 45%;
      min-height: 27.4rem;
      margin: 6rem auto 0px auto;
      position: relative;
      &.dragover {
        > .highlight-area {
          background: rgba(black, 0.3);
        }
      }
      > .highlight-area {
        padding: 2rem 7rem 2rem 7rem;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
        transition: background 0.2s linear;
        &:hover {
          background: rgba(black, 0.3);
        }
        > .before-upload {
          > .icon-wrap{
            width: 11rem;
            height: 11rem;
            line-height: 11rem;
            border-radius: 50%;
            background-color: $circle-icon-color;
            color: #ffffff;
            margin: 3rem auto 2rem auto;
            position: relative;
            > img {
              position: absolute;
              border-radius: .5rem;
              width: 220%;
              top: 20%;
              left: 115%;
            }
          }
          > .csv-instruction {
            margin: 3rem 3rem 0 3rem;
            color: white;
            font-size: 2.4rem;
            font-weight: 200;
            > .click-emphasis {
              @include text-link();
              font-size: 2.2rem;
              font-weight: 500;
            }
          }
          > .dl-sample {
            display: inline-block;
            margin-top: .8rem;
            font-size: 1.2rem;
            font-weight: 200;
            color: white;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
          }
        }

        > .during-upload {
          > .loading-spinner {
            font-size: 12rem;
            color: $apollo-blue;
            margin-top: 3rem;
            &:before {
              vertical-align: 0;
            }
          }

          > .uploading-message {
            color: white;
            font-size: 2.2rem;
            font-weight: 200;
            margin: 2rem;
          }
        }

        > .after-upload {
          > .icon-wrap{
            width: 11rem;
            height: 11rem;
            line-height: 11rem;
            border-radius: 50%;
            background-color: rgb(56,189,58);
            color: #ffffff;
            margin: 3rem auto 2rem auto;
            > .btr {
              vertical-align: -30%;
              font-size: 4.8rem;
            }
          }

          > .upload-success-message {
            color: white;
            font-size: 2.2rem;
            font-weight: 200;
            margin: 2rem;
          }

          > .upload-success-submessage {
            color: white;
            font-size: 1.8rem;
            font-weight: 200;
            margin-left: 5rem;
            > .create-btn {
              margin: 0 .8rem;
              @include button(primary);
            }
          }
        }
      }
    }

    > .button-container {
      background: rgba(black, 0.5);
      margin-top: 3rem;
      padding: 2.5rem 4rem;
      border-radius: 5rem;
      > .cancel-btn {
        @include button(secondary);
      }
    }
  }
}
