@import 'bottom-button-row';
@import 'info-bubble';

$instructions-height: 13.4rem;
@mixin upload-select-type() {
  @include universe-background();
  > .step-decider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
    transition: opacity 0.2s linear;

    &.ng-hide-add, &.ng-hide-remove-active {
      opacity: 1;
    }
    &.ng-hide-remove, &.ng-hide-add-active {
      opacity: 0;
    }

    h3 {
      @include onboarding-header();
    }

    > .explanation {
      margin: 1rem;
      color: white;
      font-weight: 200;
      font-size: 2.4rem;
    }

    > .question {
      color: white;
      font-weight: 400;
      font-size: 2.4rem;
    }

    > .crm-fit-status {
      height: 2rem;
      margin: .5rem 0 -2rem 0;
      .completed {
        color: $success-color;
      }
      .in_progress {
        color: $gray-4;
      }
      .no_model {
        color: $error-color;
      }
    }



    > .select-type {
      margin: 5rem auto;
      display: flex;
      justify-content: space-around;
      width: 65rem;

      // Give a stacking context so that the .bottom-button-row will go over the
      // .instructions dropdown.
      opacity: 0.99;
      > div {
        &.coming-soon {
          pointer-events: none;
          > .card {
            > .icon-wrap {
              background-color: $gray-2;
              color: $gray-1;
            }
            > .text {
              color: $gray-2;
            }
          }
        }

        // Keeping the card proportions accurate.
        $card-height: 22.5rem;
        height: $card-height;
        width: 1.25 * $card-height;
        min-width: 29rem;
        margin: 0 2.5rem;
        padding-bottom: 2rem;
        position: relative;
        display: block;
        &:hover {
          >.instructions {
            top: $card-height;
          }
        }

        > .card {
          z-index: 2;
          position: relative;
          background-color: rgba(black, 0.5);
          height: $card-height;
          padding: {
            top: 3rem;
          }

          > .icon-wrap{
            width: 11rem;
            height: 11rem;
            line-height: 11rem;
            border-radius: 50%;
            background-color: $apollo-blue;
            color: #ffffff;
            margin: {
              left: auto;
              right: auto;
              bottom: 2rem;
            }
            > .btr {
              vertical-align: -30%;
              font-size: 4.8rem;
            }
          }
          > button {
            @include button(primary);
          }
        }
      }
    }
  }
}
