@mixin usa-map() {
  display: flex;
  background-color: white;

  > .map-container {
    width: 90%;
    height: 100%;
    position: relative;
    // use transform instead of margin-left for proper formatting in segment-graphs
    transform: translateX(20px);
    > .title {
      position: absolute;
      top: 14px;
      text-align: left;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
    }
    > .overlay {
      @include abs-full-screen();
      @include aspect-ratio(15, 7);
      z-index: 1;
      > div:hover {
        z-index: 2;
      }

      > .al {
        @include state-dot(Alabama);
      }
      > .ak {
        @include state-dot(Alaska);
      }
      > .az {
        @include state-dot(Arizona);
      }
      > .ar {
        @include state-dot(Arkansas);
      }
      > .ca {
        @include state-dot(California);
      }
      > .co {
        @include state-dot(Colorado);
      }
      > .ct {
        @include state-dot(Connecticut);
      }
      > .de {
        @include state-dot(Delaware);
      }
      > .dc {
        @include state-dot(DC);
      }
      > .fl {
        @include state-dot(Florida);
      }
      > .ga {
        @include state-dot(Georgia);
      }
      > .hi {
        @include state-dot(Hawaii);
      }
      > .id {
        @include state-dot(Idaho);
      }
      > .il {
        @include state-dot(Illinois);
      }
      > .in {
        @include state-dot(Indiana);
      }
      > .ia {
        @include state-dot(Iowa);
      }
      > .ks {
        @include state-dot(Kansas);
      }
      > .ky {
        @include state-dot(Kentucky);
      }
      > .la {
        @include state-dot(Louisiana);
      }
      > .me {
        @include state-dot(Maine);
      }
      > .md {
        @include state-dot(Maryland);
      }
      > .ma {
        @include state-dot(Massachusetts);
      }
      > .mi {
        @include state-dot(Michigan);
      }
      > .mn {
        @include state-dot(Minnesota);
      }
      > .ms {
        @include state-dot(Mississippi);
      }
      > .mo {
        @include state-dot(Missouri);
      }
      > .mt {
        @include state-dot(Montana);
      }
      > .ne {
        @include state-dot(Nebraska);
      }
      > .nv {
        @include state-dot(Nevada);
      }
      > .nh {
        @include state-dot(NewHampshire);
      }
      > .nj {
        @include state-dot(NewJersey);
      }
      > .nm {
        @include state-dot(NewMexico);
      }
      > .ny {
        @include state-dot(NewYork);
      }
      > .nc {
        @include state-dot(NorthCarolina);
      }
      > .nd {
        @include state-dot(NorthDakota);
      }
      > .oh {
        @include state-dot(Ohio);
      }
      > .ok {
        @include state-dot(Oklahoma);
      }
      > .or {
        @include state-dot(Oregon);
      }
      > .pa {
        @include state-dot(Pennsylvania);
      }
      > .ri {
        @include state-dot(RhodeIsland);
      }
      > .sc {
        @include state-dot(SouthCarolina);
      }
      > .sd {
        @include state-dot(SouthDakota);
      }
      > .tn {
        @include state-dot(Tennessee);
      }
      > .tx {
        @include state-dot(Texas);
      }
      > .ut {
        @include state-dot(Utah);
      }
      > .vt {
        @include state-dot(Vermont);
      }
      > .va {
        @include state-dot(Virginia);
      }
      > .wa {
        @include state-dot(Washington);
      }
      > .wv {
        @include state-dot(WestVirginia);
      }
      > .wi {
        @include state-dot(Wisconsin);
      }
      > .wy {
        @include state-dot(Wyoming);
      }
    }

    > .usa-map {
      @include aspect-ratio(15, 7);
      background-image: url('../images/usa.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}

@mixin state-dot($state) {
  @include tooltip-target(up, auto);
  > .tooltip-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    // state name and state count
    > .name, .count {
      white-space: nowrap;
      &.name {
        margin-bottom: 5px;
      }
    }
  }

  &.ng-enter {
    opacity: 0;
    transform: scale(0.7);
  }

  &.ng-enter-active {
    opacity: 1;
    transform: scale(1.3);
  }

  transition: opacity 0.2s linear, transform 0.3s ease-in-out;
  border-radius: 50%;
  background-color: rgb(160,111,169);
  width: 15px;
  height: 15px;
  position: absolute;
  // fml
  @if $state == Alabama {
    top: 63%;
    left: 77%;
  }
  @if $state == Alaska {
    top: 17%;
    left: 15%;
  }
  @if $state == Arizona {
    top: 55%;
    left: 42%;
  }
  @if $state == Arkansas {
    top: 58%;
    left: 69%;
  }
  @if $state == California {
    top: 44%;
    left: 32%;
  }
  @if $state == Colorado {
    top: 42%;
    left: 51%;
  }
  @if $state == Connecticut {
    top: 24%;
    left: 93%;
  }
  @if $state == Delaware {
    top: 35.5%;
    left: 90.5%;
  }
  @if $state == DC {
    top: 36.5%;
    left: 87%;
  }
  @if $state == Florida {
    top: 81%;
    left: 86%;
  }
  @if $state == Georgia {
    top: 64%;
    left: 82%;
  }
  @if $state == Hawaii {
    top: 55%;
    left: 17%;
  }
  @if $state == Idaho {
    top: 22%;
    left: 41%;
  }
  @if $state == Illinois {
    top: 37%;
    left: 72%;
  }
  @if $state == Indiana {
    top: 39%;
    left: 76%;
  }
  @if $state == Iowa {
    top: 32%;
    left: 67%;
  }
  @if $state == Kansas {
    top: 45%;
    left: 61%;
  }
  @if $state == Kentucky {
    top: 46%;
    left: 79%;
  }
  @if $state == Louisiana {
    top: 69%;
    left: 69%;
  }
  @if $state == Maine {
    top: 11%;
    left: 95%;
  }
  @if $state == Maryland {
    top: 36%;
    left: 88%;
  }
  @if $state == Massachusetts {
    top: 22%;
    left: 94%;
  }
  @if $state == Michigan {
    top: 27%;
    left: 77%;
  }
  @if $state == Minnesota {
    top: 17%;
    left: 65%;
  }
  @if $state == Mississippi {
    top: 64%;
    left: 72%;
  }
  @if $state == Missouri {
    top: 45%;
    left: 68%;
  }
  @if $state == Montana {
    top: 11%;
    left: 46%;
  }
  @if $state == Nebraska {
    top: 35%;
    left: 59%;
  }
  @if $state == Nevada {
    top: 35%;
    left: 37%;
  }
  @if $state == NewHampshire {
    top: 18%;
    left: 93%;
  }
  @if $state == NewJersey {
    top: 32%;
    left: 91%;
  }
  @if $state == NewMexico {
    top: 58%;
    left: 50%;
  }
  @if $state == NewYork {
    top: 23%;
    left: 89%;
  }
  @if $state == NorthCarolina {
    top: 52%;
    left: 87%;
  }
  @if $state == NorthDakota {
    top: 12%;
    left: 58%;
  }
  @if $state == Ohio {
    top: 36%;
    left: 81%;
  }
  @if $state == Oklahoma {
    top: 56%;
    left: 62%;
  }
  @if $state == Oregon {
    top: 18%;
    left: 33%;
  }
  @if $state == Pennsylvania {
    top: 32%;
    left: 87%;
  }
  @if $state == RhodeIsland {
    top: 23.5%;
    left: 94.5%;
  }
  @if $state == SouthCarolina {
    top: 58%;
    left: 85%;
  }
  @if $state == SouthDakota {
    top: 23%;
    left: 58%;
  }
  @if $state == Tennessee {
    top: 53%;
    left: 77%;
  }
  @if $state == Texas {
    top: 67%;
    left: 58%;
  }
  @if $state == Utah {
    top: 39%;
    left: 43%;
  }
  @if $state == Vermont {
    top: 16%;
    left: 92%;
  }
  @if $state == Virginia {
    top: 45%;
    left: 87%;
  }
  @if $state == Washington {
    top: 6%;
    left: 36%;
  }
  @if $state == WestVirginia {
    top: 42%;
    left: 84%;
  }
  @if $state == Wisconsin {
    top: 23%;
    left: 71%;
  }
  @if $state == Wyoming {
    top: 27%;
    left: 49%;
  }
}