@mixin user-management() {
  > h1 {
    @include header-one();
    margin-bottom: 3rem;
  }

  > .summary-banner {
    @include summary-banner();
  }

  h2 {
    @include header-two();
    margin: 2rem 0px 2rem 0px;
  }

  .save-btn {
    @include button(primary);
  }

  > .nav-tabs {
    @include nav-tabs();
    padding-top: 2rem;
  }

  > .user-management {
    margin-top: 2rem;
    .table-crud {
      @include table-crud();
    }
    > table.user-table {
      @include table();
    }
  }

  > .scoring {
    margin-top: 2rem;
    .instructions {
      margin-bottom: 2rem;
    }
    .save-btn {
      margin-left: 2rem;
    }
    > .wrapper {
      display: flex;
      position: relative;
      > .objects-and-type-config {
        > .choose-rts-obj {
          margin-top: 1rem;
          > .checkboxes {
            display: flex;
            margin-top: 1rem;
            > .accounts-checkbox,
            > .leads-checkbox {
              @include checkbox();
              margin-right: 2rem;
            }
          }
        }
        > .choose-rts-type {
          margin-top: 2rem;
          > .radios {
            display: flex;
            flex-direction: column;
            > .radio {
              @include radio();
              margin-top: 1rem;
            }
          }
        }
      }

      > .select-insights {
        width: 50%;
        margin-left: 10rem;
        margin-top: 1rem;
        max-width: 80rem;
        > [multi-select] {
          margin-top: 1rem;
          @include multi-select();
        }
      }
    }
  }
}

@mixin summary-banner() {
  background-color: $gray-1;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 9.5rem;
  > .data-section {
    margin-right: 1rem;
    margin-left: 1rem;
    > .data-label {
      @include data-label();
      margin: 1rem;
      text-align: center;
    }
    > .data-value {
      @include data-value();
      font-weight: bold;
      font-size: 2.4rem;
      margin: 1rem;
      text-align: center;
    }
  }
}
