@mixin venn-diagram($use-outline: true) {
  font-family: "Proxima Nova";
  &.outline{
    @if $use-outline {
      background: url(../images/venn_outline.png) 83px 11px no-repeat;
    }
    background-size: 297px 303px;
  }
}