$default-vertical-menu-width: 20rem;
$active-vertical-menu-item-bg-color: rgb(69, 78, 97);

@mixin vertical-menu($width: $default-vertical-menu-width, $static: false) {
  min-width: $width;
  max-width: $width;
  background: $sidebar-2;
  font-size: 1rem;
  @if $static == true {
    font-size: 10px !important;
  }
  > .menu-category {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 100;
    background-color: $sidebar-1;
    padding-left: 1rem;
    > .text {
      color: $gray-2;
      padding: 1.7rem .5rem;
    }
    > .fa-info-circle {
      margin-left: .7rem;
      color: $help-icon-color;
      cursor: pointer;
    }
  }
  > .menu-nav-button {
    height: 2.5em;
    border-top: .1em solid $gray-2;
    background-color: rgb(82,160,185);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
      > .btr {
        color: $gray-1;
      }
    }
    > .btr {
      font-size: 2.4em;
      color: white;
      &:before {
        vertical-align: 0;
      }
    }
  }
  > .menu-items {
    > .menu-item {
      display: flex;
      align-items: center;
      padding: 0px 1em;
      border-top: .1em solid lighten($sidebar-2, 10%);
      &:last-child {
        border-bottom: .1em solid lighten($sidebar-2, 10%);
      }
      height: 4.7em;
      background-color: $sidebar-2;
      cursor: pointer;
      &:hover, &.active {
        > .text {
          color: $hover-color;
        }
        > .icon-container > .btr {
          color: $hover-color;
        }
      }
      &.active {
        background: $active-vertical-menu-item-bg-color;
        pointer-events: none;
        &:after {
          position: absolute;
          right: -.89rem;
          @include triangle(right, 4.7rem, 1rem, $active-vertical-menu-item-bg-color);
        }
      }
      > .text {
        color: $gray-2;
        font-size: 1.4em;
      }
      > .icon-container {
        display: flex;
        justify-content: center;
        margin-right: 1.7em;
        &.active {
          background-color: $success-color;
          > .btr {
            color: white;
            font-size: 1.6em;
          }
        }
        > .btr {
          color: $dark-gray;
          font-size: 1.8em;
          width: 2.5em;
          height: 2.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          &:before {
            vertical-align: 0;
          }
        }
      }
    }
  }
}