<div class="modal-bg fx-fade-normal fx-speed-200">
  <div
    class="modal confirmation-modal adjust-quota-modal"
    ng-click="mdc.blockClose($event)"
  >
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title {{mdc.messageClass}}">
      <div class="icon-container {{mdc.messageClass}}">
        <i class="btr {{mdc.getIconName()}}"></i>
      </div>
      Quota
    </div>
    <div id="modal-error"></div>
    <form class="modal-body" ng-submit="mdc.onConfirm()">
      <div class="modal-content">
        <div class="amount-wrapper">
          <label>
            Adjustment Amount
          </label>
          <input
            class="amount"
            type="number"
            ng-model="mdc.params.data.amount"
            max="{{mdc.params.data.maxAmount}}"
            min="{{mdc.params.data.minAmount}}"
            required
          />
        </div>

        <div class="description-wrapper">
          <label>Description</label>
          <textarea
            class="description"
            ng-model="mdc.params.data.description"
            required
          >
          </textarea>
        </div>
      </div>
      <div class="modal-button-row">
        <button type="button" class="cancel" ng-click="mdc.onDeny ? mdc.onDeny() : mdc.close()">
          Cancel
        </button>
        <button class="confirm" type="submit">
          Adjust Quota
        </button>
      </div>
    </form>
  </div>
</div>
