<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal audience-model-cloud" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">Keyword Cloud: {{mdc.params.modelName}}</div>
    <div class="modal-body" ng-init="mdc.data = {}">
      <div class="modal-content">
        <div class="word-cloud-wrap">
          <word-cloud tags="mdc.params.tags"></word-cloud>
        </div>
      </div>
    </div>
  </div>
</div>