<div class="modal-bg fx-fade-normal fx-speed-200">
  <div class="modal blacklist-modal">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">
      {{mdc.title ? mdc.title : 'Custom Insights'}}
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="category-insights">
          <div class="category">
            <div dropdown-select="mdc.dropdownSelect" dropdown-model="mdc.dropdownModel"
                 dropdown-item-label="name" class="insight-dropdown"></div>
            <i class="fa fa-info-circle" ng-if="mdc.dropdownTips">
              <div class="tooltip-window">
                By default, the Top 20 signals & insights per company will show. If you wish NOT to expose some,
                please select from the list below to blacklist. If a blacklisted signal/insight happens to
                be in the Top 20 in a segment, we will automatically skip to the next best one that is ok to expose.
              </div>
            </i>
            <i class="fa fa-info-circle" ng-if="!mdc.dropdownTips">
              <div class="tooltip-window">
                Custom insights are things like technologies a company uses or
                advanced information beyond firmographics.
              </div>
            </i>
          </div>
          <div class="insights">
            <div multi-select ms-data-src="mdc.msDataSrc"
                 class="auto"
                 ms-data-type="mdc.msDataType" left-filter="true"
                 inited="mdc.categoryInited"
                 reverse="mdc.templateType === 'reverse'"
                 left-title="{{mdc.leftTitle}}"
                 right-title="{{mdc.rightTitle}}"
                 auto-threshold="true">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-button-row">
        <button class="cancel"
                ng-click="mdc.close()">
          Cancel
        </button>
        <button ng-click="mdc.onConfirm()">
          Select & Close
        </button>
      </div>
    </div>
  </div>
</div>