<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
    <div class="modal upgrade-modal" ng-click="mdc.blockClose($event)">
        <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
        <div class="modal-title">Change Password</div>
        <div id="change-pass-error"></div>
        <div class="modal-body" ng-init="mdc.data = {}">
          <div class="modal-content">
            <label>
              Password
              <i class="fa fa-info-circle">
                <div class="tooltip-window">
                  Password reqirements:
                  <div class="indent">
                    - 8-20 characters long
                    </br>
                    </br>
                    - Contains at least 3 of the following: Uppercase, lowercase, numeric, and special characters
                    </br>
                    </br>
                    - Contains no more than 2 identical characters in a row
                  </div>
                </div>
              </i>
            </label>
            <input type="password" class="textbox" ng-model="mdc.data.password" />
            <label>Repeat Password</label>
            <input type="password" class="textbox" ng-model="mdc.data.repeatPassword" />
          </div>
          <div class="modal-button-row">
              <button class="cancel" ng-click="mdc.close()">Cancel</button>
              <button ng-click="mdc.onConfirm(mdc.data)">Save</button>
          </div>
        </div>
    </div>
</div>