<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal col-chart-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">{{mdc.chartTitle}}</div>
    <div class="modal-body">
      <div class="modal-content">
        <column-chart data="mdc.chartData">
        </column-chart>
      </div>
      <div class="modal-button-row">
        <button ng-click="mdc.close()">Close</button>
      </div>
    </div>
  </div>
</div>