<!-- Modal for informing the user about a decision they need to make. -->
<div class="modal-bg fx-fade-normal fx-speed-200">
  <div class="modal confirmation-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title {{mdc.messageClass}}">
      <div class="icon-container {{mdc.messageClass}}">
        <i class="btr {{mdc.getIconName()}}"></i>
      </div>
      {{mdc.title ? mdc.title : 'Just so you know...'}}
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-message" ng-bind-html="mdc.message">
        </div>
      </div>
      <div class="modal-button-row">
        <button class="cancel" ng-click="mdc.onDeny ? mdc.onDeny() : mdc.close()">
          {{mdc.btnDeny ? mdc.btnDeny : 'No'}}
        </button>
        <button class="confirm" ng-click="mdc.onConfirm()">
          {{mdc.btnConfirm ? mdc.btnConfirm : 'Yes'}}
        </button>
      </div>
    </div>
  </div>
</div>