<!-- Modal for informing the user about a decision they need to make. -->
<div class="modal-bg fx-fade-normal fx-speed-200">
  <div class="modal contact-confirmation" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title warning">
      <div class="icon-container warning">
        <i class="btr bt-info-circle"></i>
      </div>
      <span>Warning</span>
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <p>
          You are about to publish a maximum of {{mdc.totalContacts | number}} contacts. By publishing contacts, you will incur additional charges. The terms of contact usage and the price per contact are available in your Subscription Agreement and associated Order Form(s).</p>

        <p>
          By clicking on the Publish button, you agree that you are authorized to incur these charges on behalf of your company. If you have pre-paid for contacts and do not exceed your pre-paid amount, you will be notified of the usage but no additional charges will apply. Any usage beyond the pre-paid amount will result in additional charges.
        </p>

      </div>
      <div class="modal-button-row">
        <button class="cancel" ng-click="mdc.onDeny ? mdc.onDeny() : mdc.close()">
          {{mdc.btnDeny ? mdc.btnDeny : 'No'}}
        </button>
        <button class="confirm" ng-click="mdc.onConfirm()">
          {{mdc.btnConfirm ? mdc.btnConfirm : 'Yes'}}
        </button>
      </div>
    </div>
  </div>
</div>
