<div class="modal-bg fx-fade-normal fx-speed-200">
    <div class="modal create-account">
        <div class="modal-title">Create Account</div>
        <div id="modal-error"></div>
        <div class="modal-body" ng-init="mdc.data={isPrimary: true}">
            <div class="modal-content">
                <label>Name</label>
                <input type="text" class="textbox" ng-model="mdc.data.name" />
                <label>Domain</label>
                <input type="text" class="textbox" ng-model="mdc.data.domain" />
                <label class="ui-checks">
                  <input type="checkbox"
                         ng-model="mdc.data.isPrimary"/>
                  <i></i>
                  Primary Account
                </label>
            </div>
            <div class="modal-button-row">
                <button class="cancel" ng-click="mdc.close()">Cancel</button>
                <button ng-click="mdc.onConfirm(mdc.data)"
                        ng-disabled="!mdc.data.name || !mdc.data.domain">Create</button>
            </div>
        </div>
    </div>
</div>