<div class="modal-bg fx-fade-normal fx-speed-200">
  <div class="modal create-segment-modal">
    <div class="modal-title">Name the Predictive Segment</div>
    <div id="create-segment-error"></div>
    <div class="modal-body">
      <div class="modal-content">
        <label>Name</label>
        <input type="text" class="textbox" ng-model="mdc.data.segmentName" placeholder="e.g High Fit Potential Trial Companies"/>
      </div>
      <div class="modal-button-row">
        <button class="cancel" ui-sref="segment.console" ng-click="mdc.close()">Cancel</button>
        <button ng-click="mdc.onConfirm(mdc.data.segmentName)" ng-disabled="!mdc.data.segmentName">Next</button>
      </div>
    </div>
  </div>
</div>
