<div class="modal-bg fx-fade-normal fx-speed-200">
    <div class="modal create-user">
        <div class="modal-title">Create User</div>
        <div id="modal-error"></div>
        <div class="modal-body" ng-init="mdc.data={}">
            <div class="modal-content">
                <label>Email (@{{mdc.params.requiredDomain}})</label>
                <input type="text" class="textbox" ng-model="mdc.data.email" />
                <label>Password</label>
                <input type="password" class="textbox" ng-model="mdc.data.password" />
                <label>Confirm Password</label>
                <input type="password" class="textbox" ng-model="mdc.data.confirmPassword" />
            </div>
            <div class="modal-button-row">
                <button class="cancel" ng-click="mdc.close()">Cancel</button>
                <button ng-click="mdc.onConfirm(mdc.data)"
                        ng-disabled="!mdc.data.email || !mdc.data.password || !mdc.data.confirmPassword"
                >
                  Create
                </button>
            </div>
        </div>
    </div>
</div>