<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal data-viewer-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title" ng-bind-html="mdc.title"></div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="data-container">
          <div class="data-item" ng-bind-html="datum.trim() | handleLink: '_blank'"
              ng-repeat="datum in mdc.dataViewItems track by $index">
          </div>
        </div>
      </div>
      <div class="modal-button-row">
        <button ng-click="mdc.close()">Close</button>
      </div>
    </div>
  </div>
</div>