<div class="modal-bg fx-fade-normal fx-speed-200 company-export">
    <div class="modal" ng-class="{'export-advance': ecc.shouldShowAdvance()}">
        <div class="modal-title">{{ecc.shouldShowAdvance() ? 'Advanced Publish' : 'Publish'}}</div>
        <div id="modal-error"></div>
        <div class="modal-body">
            <loading-spinner ng-if="ecc.exporting"></loading-spinner>
            <div class="modal-content">
                <div class="limitation">
                    <div class="flex">
                        <label>Number of Companies to Publish</label>
                        <div class="wrapper" ng-class="{'limit-warning': ecc.details.atop}">
                            <input type="number" class="textbox" min="1"
                                   ng-change="ecc.onLimitChange()"
                                   ng-model="ecc.data.limit" />
                            <i class="btr bt-info-circle">
                                <div class="tooltip-window">
                                    Increase this number to allow more selections.</div>
                            </i>
                        </div>
                    </div>
                    <div class="flex" ng-show="ecc.canExportContact">
                        <label>Number of Contacts Per Company (Max)</label>
                        <div class="wrapper">
                            <input type="number" class="textbox"
                                   ng-disabled="!ecc.canExportContact"
                                   ng-model="ecc.data.contactLimitPerCompany" />
                        </div>
                    </div>
                </div>

                <div class="hard-boundary">
                    <div class="left-side">
                        <div class="boundary-chart" ng-if="ecc.shouldShowAdvance()">
                            <div class="venn-loading" ng-if="ecc.vennLoading">
                                <i class="btr bt-spinner bt-spin bt-3x"></i>
                            </div>
                            <canvas id="venn-diagram"></canvas>
                        </div>
                        <div class="choose-title" ng-class="{'no-venn-diagram': !ecc.shouldShowAdvance()}"
                          ng-show="ecc.canExportContact">
                            <p class="description-label">Exact Titles to Publish</p>
                            <div class="search-box">
                                <input type="text" class="textbox"
                                       ng-model="ecc.titleKeyword"
                                       ng-keyup="ecc.titleKeywordKeyup($event)"
                                       placeholder="Enter the exact titles you wish to publish" />
                                <div class="submit" ng-click="ecc.addTitle()">
                                    <i class="btr bt-plus-circle"></i>
                                </div>
                            </div>
                            <div class="list" ng-if="ecc.data.titles.length > 0">
                                <div class="item animate-repeat" ng-repeat="title in ecc.data.titles">
                                    {{title}}<i ng-click="ecc.removeTitle(title)"
                                                class="delete btr bt-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="dedupe-row" ng-if="!ecc.shouldShowAdvance()">
                            <label class="ui-checks dedupe">
                                <input type="checkbox"
                                       ng-change="ecc.onDedupeChanged()"
                                       ng-model="ecc.data.dedupe" />
                                <i></i>
                                DeDupe against previous downloads
                            </label>
                        </div>
                    </div>
                    <div class="summary" ng-if="ecc.shouldShowAdvance()">
                        <div class="no-hover" ng-if="ecc.hovered < 1">
                            <p class="p1">Hover over sections within the venn diagram on the left
                              to show their respective similarities and number of companies.</p>
                            <div class="wrapper">
                                <div class="sketch-map"></div>
                            </div>
                            <p class="p2">Click once to add to publish, click again to remove.</p>
                        </div>
                        <div class="has-hover" ng-show="ecc.hovered > 0" ng-class="ecc.hoveredClass">
                            <div class="row">
                                <div class="column selected">
                                    <div class="name">Similar</div>
                                    <div class="item" ng-repeat="item in ecc.summary.techList">
                                        <i class="btr"
                                           ng-class="{'bt-check': item.selected, 'bt-times': !item.selected}"></i>
                                        {{item.name}}
                                    </div>
                                </div>
                                <div class="column companies">
                                    <div class="name">Companies</div>
                                    <div class="number">{{ecc.summary.recommendationNumber | number}}</div>
                                </div>
                            </div>
                            <p class="p1">{{ecc.summary.description}}</p>
                            <p class="p2">Click the sector to add to your bucket.</p>
                        </div>
                        <div class="details">
                            <div class="item-row animate-repeat"
                                 ng-repeat="item in ecc.details.sectors track by $index">
                                <div class="name">
                                    <div class="circle section-{{item.section}}"></div>
                                    Sector {{$index + 1}}
                                    <span ng-if="$last && ecc.details.atop"
                                        class="atop" ng-class="{'atop-info': ecc.atopInfo}">
                                        (top)
                                        <div class="tooltip-window">
                                            This contains more companies than you have requested. We will take the top
                                            companies based on EverString Advanced Scoring Algorithms to round up to
                                            the amount that you requested.</div>
                                    </span>
                                </div>
                                <div class="number">{{item.number | number}}</div>
                                <div class="operation">
                                    <i class="btr bt-times" ng-click="ecc.removeSection(item.section)"></i>
                                </div>
                            </div>
                            <div class="item-row deduped" ng-if="ecc.data.dedupe && ecc.details.dedupe > 0">
                                <div class="name">Dedupe</div>
                                <div class="number">-{{ecc.details.dedupe | number}}</div>
                                <div class="operation"></div>
                            </div>
                            <div class="item-row collect">
                                <div class="name">TOTAL</div>
                                <div class="number">{{ecc.details.total | number}}</div>
                            </div>
                        </div>
                        <div class="dedupe-row">
                            <label class="ui-checks dedupe">
                                <input type="checkbox"
                                       ng-change="ecc.onDedupeChanged()"
                                       ng-model="ecc.data.dedupe" />
                                <i></i>
                                DeDupe against previous downloads
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-button-row">
                <button class="cancel" ng-click="ecc.close()">Cancel</button>
                <button class="export">
                    Publish
                    <i class="btr bt-angle-down"></i>
                    <div class="menu">
                        <div class="item"
                             ng-disabled="ecc.details.total < 1"
                             ng-click="ecc.onConfirm(ecc.data, 'csv')">CSV</div>
                        <!-- <div class="item" ng-click="ecc.onConfirm(ecc.data, 'sfdc')">Salesforce</div> -->
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
