<div class="modal-bg fx-fade-normal fx-speed-200">
    <div class="modal">
        <div class="modal-title">Invite User</div>
        <div id="modal-error"></div>
        <div class="modal-body" ng-init="mdc.data={email: ''}">
            <div class="modal-content">
                <label>Work Email</label>
                <input type="text" class="textbox" ng-model="mdc.data.email" />
                <div dropdown-select="mdc.dataViewItems" dropdown-model="mdc.data.role"
                     dropdown-item-label="text" class="account-dropdown"
                     ng-init="mdc.data.role = mdc.dataViewItems[0]">
                </div>
            </div>
            <div class="modal-button-row">
                <button class="cancel" ng-click="mdc.close()">Cancel</button>
                <button ng-click="mdc.onConfirm(mdc.data)"
                        ng-disabled="!mdc.data.email">
                  Send Invite
                </button>
            </div>
        </div>
    </div>
</div>