<!-- Very similar to confirmationModal, but just for informing the user; there is no decision to be made -->
<div class="modal-bg fx-fade-normal fx-speed-200">
  <div class="modal message-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title {{mdc.messageClass}}">
      <div class="icon-container {{mdc.messageClass}}">
        <i class="btr {{mdc.getIconName()}}"></i>
      </div>
      {{mdc.title}}
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-message" ng-bind-html="mdc.message">
        </div>
      </div>
      <div class="modal-button-row">
        <button class="confirm" ng-click="mdc.onConfirm ? mdc.onConfirm() : mdc.close()">
          {{mdc.btnConfirm ? mdc.btnConfirm : 'Close'}}
        </button>
      </div>
    </div>
  </div>
</div>