<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal upgrade-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">Request Upgrade</div>
    <div id="request-upgrade-error"></div>
    <div class="modal-body" ng-init="mdc.data={}">
      <div class="modal-content">
        <div class="modal-message">
            Please provide us a little more information and we will be in touch soon!
        </div>
        <label>First Name</label>
        <input type="text" class="textbox" ng-model="mdc.data.firstName" />
        <label>Last Name</label>
        <input type="text" class="textbox" ng-model="mdc.data.lastName" />
        <label>Phone</label>
        <input type="text" class="textbox" placeholder="1234567890" ng-model="mdc.data.phone" />
      </div>
      <div class="modal-button-row">
        <button class="cancel" ng-click="mdc.close()">Cancel</button>
        <button ng-click="mdc.requestUpgrade(mdc.data)">Request Upgrade</button>
      </div>
    </div>
  </div>
</div>