<div class="modal-bg fx-fade-normal fx-speed-200" ng-click="mdc.close()">
  <div class="modal more-modal" ng-click="mdc.blockClose($event)">
    <i class="btr bt-big bt-times modal-close" ng-click="mdc.close()"></i>
    <div class="modal-title">Request More Insights</div>
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-message">
          Click the confirm button and we will get back to you soon!
        </div>
      </div>
      <div class="modal-button-row">
        <button class="cancel" ng-click="mdc.close()">Cancel</button>
        <button ng-click="mdc.requestUpgrade()">Confirm</button>
      </div>
    </div>
  </div>
</div>