// Icon fonts.
@import 'vendor/black-tie/black-tie';
@import 'vendor/font-awesome/font-awesome';
@import 'vendor/google/roboto';

// Include ux-patterns library
@import 'library/library';
@import 'modules/modules';
@import 'vendor/angularjs-datetime-picker';
// Declare global css rules. Normally, our css library will only
// mix-ins rather than actual rules. This is intentional: code is
// easier to understand when there's less global state.
// So we'll need to make sure this mix-in is `@include`d at the top of
// the css of each page.
@include global-rules();

@include modals();

html {
  // We will use this in conjunction with rem units in various places
  // to help make the app more responsive.
  // .72vw ~= 10px in a 1400px-wide viewport. Doing this for ezpz
  // px-to-rem conversions, just have to divide by 10.
  // 'default' font-size will still be 16px, achieved by setting
  // 1.6rem font-size on body.
  // Also set a min html font-size of 7.5px, and a max of 15px.
  // Therefore, properties using rem units can shrink to at most
  // 75% their 'default' size, and grow to at most 150% their
  // 'default' size.
  @include responsive-font(.714vw, 7.5px, 15px, 10px);

  // Disable responsive behavior if desired.
  &.static {
    font-size: 10px !important;
  }
}

body {
  // css fix for suspected font display chrome bug
  // https://codestag.com/fix-google-chrome-web-fonts-issue/
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;

  @-webkit-keyframes fontfix {
    from { opacity: 1; }
    to { opacity: 1; }
  }

  font-size: 1.6rem;

  @include es-alerts();

  background-color: $background-color;

  [ui-view] {
    transition: opacity 0.3s ease-in-out;
    &.ng-enter {
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
    &.ng-leave, &.ng-leave-active {
      transition: opacity 0s;
      opacity: 0;
    }
  }

  > .header-nav {
    @include header-nav();
  }

  > .main-view {
    // The main view will always have this much margin top to offset itself
    // from the fixed header.
    padding-top: $header-height;

    // TODO: refactor audience-view stuff into its own module later, for now
    // keeping it like this for editing convenience
    > .audience-view {
      > .content {
        position: relative;
        // Fix pop-in from separate css files loading later.
        // These classes are set to their correct display + !important
        // in their respective css files.
        .audience-console,
        .audience-dashboard,
        .find-audience,
        .audience-company {
          opacity: 0;
          transition: opacity 0.1s linear;
        }
      }
    }

    > .admin-view {
      > .admin-console {
        @include admin-console();
      }
      > .account-management {
        @include user-management();
      }
    }

    > .integration-view {
      > .g-integration {
        @include g-integration();
      }
      > .g-configuration {
        @include g-configuration();
      }

      > .onboarding-welcome {
        @include segments-empty();
      }

      > .upload-select-type {
        @include upload-select-type();
      }

      > .upload-csv-step {
        @include upload-csv-step();
      }

      > .upload-sfdc-step {
        @include upload-sfdc-step();
      }
    }

    > .segment-view {
      height: 100%;
      width: 100%;
      > .segment-creation-wizard {
        @include wizard();
        > .wizard-steps {
          margin: 0px 45px;
        }

        > .wizard-content {
          padding-bottom: 150px;
          > .upload-csv-step,
          > .seed-insights-step,
          > .qualification-criteria-step,
          > .reach-step,
          > .creation-summary-step,
          > .upload-select-type,
          > .upload-sfdc-step {
            > .bottom-button-row {
              @include bottom-button-row();
            }

            // select upload type: csv/sfc/account
            &.upload-select-type {
              @include upload-select-type();
            }

            &.upload-sfdc-step {
              @include upload-sfdc-step();
            }

            &.upload-csv-step {
              @include upload-csv-step();
            }

            .step-decider {
              padding-bottom: 79px;
              .module-mask {
                @include module-mask();
              }
            }

            &.qualification-criteria-step {
              @include qualification-criteria-step();
            }

            &.reach-step {
              @include reach-step();
            }

            &.creation-summary-step {
              @include creation-summary-step();
            }
          }

          > .creation-success {
            @include creation-success();
          }
          > .module-seed-list {
            @include module-seed-list();
            // This is because I changed the margins in module-seed-list to be consistent with
            // other tabs in the Predictive Segment Overview, but now need to add margins
            // during the creation flow to have proper spacing in that context
            margin-right: 20px;
            margin-left: 20px;
          }
        }
      }

      // Center this spinner in the middle of the viewport because
      // it appears before the header does.
      > .loading-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
        font-size: 100px;
        color: #666666;
        >.bt-spinner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(0, -50%);
        }
      }

      > .segments-console {
        margin: 30px;
        > .console-top {
          display: flex;
          justify-content: space-between;
          > h1 {
            @include header-one();
          }
          > button.request-btn {
            @include button(primary);
          }
        }

        > .table-crud {
          @include table-crud();
          margin-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $gray-2;
          >.table-crud-text, >.table-search {
            align-self: flex-start;
            > .bt-search {
              padding-left: 12px;
            }
          }
        }

        > .segment-cards {
          @include segment-cards();
        }
      }

      .segments-empty {
        @include segments-empty();
      }

      // Segment overview
      > .predictive-segment-overview {
        @include predictive-segment-overview();
      }
    } // segment-view end
    &.page-user{
      @include page-user();
      padding-top: 0px;
    }
    &.page-404 {
      @include page-404();
    }
    &.page-timeout {
      @include page-timeout();
    }
    > .page-ads{
      @include page-ads();
    }
    &.page-chrome-confirm {
      @include page-chrome-confirm();
    }
  } // main-view end

  .angularjs-datetime-picker{
    @include angularjs-datetime-picker();
  }

  // Loading bar scss. We put these at the bottom because the
  // loading bar DOM elements are at the bottom of body
  @include loading-bar();
  > .adm-focus-slide {
    @include adm-focus-slide();
  }
  > .sfdc-result-slide {
    @import 'modules/sfdc-result-slide';
    @include sfdc-result-slide()
  }
  > .segment-setting {
    @import 'modules/segment-setting';
    @include segment-setting();
  }
  > .segment-export {
    @import 'modules/segment-export';
    @include segment-export();
  }
  .g-switch {
    @include g-switch();
  }
  > .export-contacts {
    @import 'modules/export-contacts';
    @include export-contacts();
  }
  > .export-new-or-existing {
    @include export-new-or-existing();
  }
  > .find-keywords {
    @import 'modules/find-keywords';
    @include find-keywords();
  }
  > .filter-audience {
    @import 'modules/filter-audience';
    @include filter-audience();
  }
  > .choose-exclusion {
    // Intentionally using filter-audience() here
    @import 'modules/filter-audience';
    @include filter-audience();
  }
  > .scoring-new-model {
    @include scoring-new-model();
  }
  > .custom-model-slide {
    @include custom-model-slide();
  }
  > .audience-summary {
    @include audience-summary();
  }
  .audience-dashboard {
    @include audience-dashboard();
  }
  > .audience-settings {
    @include audience-settings();
  }
  .settings-main {
    @include main-settings();
  }

  // Marketo integration focus slide
  .marketo-integration {
    form {
      .revoke {
        @include button(primary);
        background: $error-color;
        &:hover {
          background: lighten($error-color, 20%);
        }
      }
    }
  }
}
