// Include ux-patterns library
@import 'library/library';
@import 'vendor/google/roboto';
@include global-rules();


// Left panel that slides in and out.
@mixin galaxy-panel() {
  position: absolute;
  width: 20%;
  left: calc(-20% - 50px);
  height: 100%;
  top: 0;
  transition: left 0.3s ease;
  background: rgba(83, 90, 103, 0.9);
  color: white;
  padding: 5px 10px;

  > .hide-panel {
    position: absolute;
    top: 0;
    left: 100%;
    background: rgb(70, 78, 90);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: rgb(0, 190, 220);
  }


  &.show {
    left: 0;
  }
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;

  > .request-galaxy-cont {
    width: 100%;
    height: 100%;

    // Translucent background image.
    @include translucent-background-image($background-image: '../images/sample-galaxy.png');
    &.hide {
      display: none;
    }

    > .request-galaxy-panel{
      @include galaxy-panel();

      > .content {
        text-align: center;
        > .title {
          font-family: Roboto;
          font-weight: 300;
          color: white;
          font-size: 1.5em;
          margin: 96px auto 0;
          line-height: 1.3em;
        }

        > .coming-soon {
          font-family: Roboto;
          color: rgb(163, 173, 172);
          font-size: 1.5em;
          text-transform: uppercase;
          margin: 47px auto 0;
        }

        > .description {
          font-family: Roboto;
          width: 210px;
          color: white;
          font-weight: 200;
          font-size: 0.9em;
          margin: 23px auto 0;
        }

        > .labs {
          font-family: Roboto;
          font-size: 1.1em;
          margin: 30px auto 0;
          > .title {
            text-transform: uppercase;
          }
          > a {
            @include text-link();
            font-size: 0.8em
          }
          > .es-labs-logo {
            margin-top: 30px;
          }
        }
      }
    }
  }

  > .galaxy-cont {
    height: 100%;
    &.hide {
      display: none;
    }

    > .loading {
      font-size: 100px;
      color: $gray-1;
      text-align: center;
      background-color: #000;
      line-height: 100vh;

      &.hide {
        display: none;
      }
    }

    > .galaxy {
      height: 100%;
      background: black;
      cursor: grab;
      display: none;

      &.grabbing {
        cursor: grabbing;
      }

      &.show {
        display: block;
      }
    }

    > .company-info-panel {
      @include galaxy-panel();
      > .company-name {
        display: inline;
        font-size: 24px
      }
    }
  }
}
