<div class="logo-wrapper">
  <img src="images/logo.blue.png" alt="EverString" class="logo" />
  <p class="p1">Unlock your data patterns </p>
  <p class="p2">Predict your next customer</p>
</div>
<div class="panel">
  <loading-spinner ng-if="lsu.loading"></loading-spinner>
  <ui-view />
</div>
