<div id="page-user-error"></div>
<p class="p-title">Welcome</p>
<form class="form" ng-submit="lsu.login()">
    <div class="row">
        <input type="text" placeholder="Email" ng-model="lsu.username" />
    </div>
    <div class="row">
        <input type="password" placeholder="Password" ng-model="lsu.password" />
    </div>
    <div class="row">
        <button class="submit">Log In</button>
    </div>
    <p class="p2">
        <a href="javascript:;;"
           class="forget-password"
           ng-click="lsu.forgetPass()">Forgot password?</a>
    </p>
    <p class="p1">
        <button class="sign-up">
            <a href="http://www.everstring.com/request-a-demo/" target="_blank">Request a Demo</a>
        </button>
    </p>

</form>
