<div class="pass-sent">
    <p class="p1">Password has been sent to you!</p>
    <p class="p2">Check your email inbox (and SPAM filter)</p>
    <div class="row">
        <button class="submit" ui-sref="user.login">Go to Log In</button>
    </div>
    <p class="p3">
        Didn't receive the email ? Check your SPAM folder or
        <a ui-sref="user.login">Resend</a><br/>
    </p>
</div>
