<div id="page-user-error"></div>
<p class="p-title">Sign Up!</p>
<form class="form" ng-submit="lsu.signUp()">
    <div class="row">
        <input type="text" placeholder="Work Email Address" ng-model="lsu.username" />
    </div>
    <div class="row">
        <input type="password" placeholder="Password" ng-model="lsu.password" />
    </div>
    <div class="row row-agree">
        <div class="agreement">
            <label class="ui-checks">
                <input type="checkbox" ng-model="lsu.agree" />
                <i></i>
                I agree to EverString's
            </label>
            <span class="terms" ng-click="lsu.showAgreementModal()">Terms and Conditions</span>
        </div>
    </div>
    <div class="row">
        <button class="submit">Sign Up</button>
    </div>
    <p class="p1">
        I already have an account.
        <button class="sign-up" ui-sref="user.login">Log In</button>
    </p>
</form>