<div class="main">
    <p class="p1">Sorry, we can't find that page</p>
    <p class="p2">Here is a helpful link instead</p>
    <p class="p3">
        <a ui-sref="user.login">Login</a>
    </p>
</div>
<div class="logo-wrapper">
    <img src="images/logo.png" alt="" class="logo" />
    <div class="copy-right">&copy; 2016 EverString. All rights reserved.</div>
</div>