{% raw %}
<!-- We used to add ng-strict-di here, which throws warnings whenever a component doesn't have
     explicit dependency annotations, but since we're no longer using explicit DI annotations
     everywhere, we remove it. -->

  <div class="main-view"
    ng-if="tc.inited"
    ng-class="tc.getPageClass()"
    ui-view></div>

  <div ng-cloak class="header-nav" ng-show="tc.shouldShowHeader()"
    ng-controller="HeaderNavController as hnc">
    <header>
      <div class="header-left">
        <div class="left-accent-bar">
        </div>
        <img class="header-logo" src="images/logo.blue.png" alt="EverString">
      </div>
      <div class="header-right">
        <div class="user-profile">
          <div class="profile-name"
               ng-cloak
               ng-if="hnc.user.email"
               ng-click="hnc.toggleProfileDropdown()"
          >
            <span class="welcome">Welcome!</span> {{hnc.user.email}}
            <i class="btr bt-angle-down"></i>

            <div class="dropdown" ng-if="hnc.showProfileDropdown" ng-cloak>
              <div class="dropdown-item"
                ng-click="hnc.showChangePassModal()"
                click-outside="hnc.toggleProfileDropdown()">
                <span>Change Password</span>
              </div>
              <div class="dropdown-item"
                ng-click="hnc.logout()"
                click-outside="hnc.toggleProfileDropdown()">
                <span>Log Out</span>
              </div>
            </div>
          </div>
        </div>
        <div class="user-settings" ng-click="hnc.toggleSettingsDropdown()" ng-show="hnc.shouldShowSettings()">
          <i class="fa fa-cog settings-cog"></i>

          <div class="settings-dropdown" ng-if="hnc.shouldShowSettingsDropdown()" ng-cloak>
            <div class="dropdown-item"
                 id="item-{{$index}}"
                 ng-repeat="item in hnc.settingsDropdownItems"
                 click-outside="hnc.toggleSettingsDropdown()"
                 ui-sref="{{item.sref}}"
            >
              <div>
                <i class="dropdown-icon {{item.icon}}"></i>
                <span>{{item.text}}</span>
              </div>
            </div>
            <div class="dropdown-item"
                 click-outside="hnc.toggleSettingsDropdown()"
                 ng-click="hnc.clickSupport()"
            >
              <div>
                <i class="dropdown-icon btr bt-comment"></i>
                <span>Support</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="nav-bar">
      <i class="btr bt-home" ui-sref="audience.console"
         ng-class="{'active': hnc.isAudState()}"
      >
        <span>Audiences</span>
      </i>
      <i class="btr bt-thumbs-down" ui-sref="exclusion.console"
         ng-class="{'active': hnc.isExcState()}"
      >
        <span>Exclusion Lists</span>
      </i>
      <!-- <i class="btr" ui-sref="ads" ng-if="hnc.isAdsUser">
        <span>Anonymous Audiences</span>
      </i> -->
      <div class="ghost-tag" ng-if="hnc.shouldShowGhostTag()" ng-cloak>
        <span>Ghosting As: {{hnc.ghostService.ghostName()}}</span>
        <i class="btr bt-big bt-times" ng-click="hnc.stopGhosting()"></i>
      </div>

      <div class="switch-to-old"
        ng-if="hnc.shouldShowOldSwitch()"
        ng-click="hnc.toOld()"
        ng-cloak
      >
        <span>Switch to Previous Version</span>
      </div>

      <div class="switch-to-new"
        ng-if="hnc.shouldShowNewSwitch()"
        ng-click="hnc.toNew()"
        ng-cloak
      >
        <span>Switch to Latest Version</span>
      </div>

      <div class="trial-user-tag" ng-if="hnc.shouldShowTrialTag()" ng-cloak>
        <span>Trial User</span>
        <i class="btr bt-lock"></i>
      </div>
    </div>
    <div id="topAlert"></div>
  </div>
{% endraw %}

  {% if ENV == 'prod' or ENV == 'demo' %}
    <!-- Use mouseflow in production -->
    {% include "mouseflow.html" %}
  {% endif %}
  <script src="https://widget.intercom.io/widget/bzc207bs"></script>
  <script src="javascripts/shared.js"></script>
  <script src="javascripts/app.js"></script>
