<div class="main">
  <p class="p3"><img src="images/logo.png" alt="" class="logo" /></p>
  <p class="p1">Thanks. Your email is confirmed.</p>
  <p class="p2">You are ready to go!</p>
</div>
<div class="logo-wrapper">
  <img src="images/logo.png" alt="" class="logo" />
  <div class="copy-right">&copy; 2016 EverString. All rights reserved.</div>
</div>