<div class="main">
    <p class="p1">Oh No! Your session timed out.</p>
    <p class="p2">No worries. We have you covered!</p>
    <p class="p3">
        <button class="login" ui-sref="user.login">
            Click here to log back in
        </button>
    </p>
</div>
<div class="logo-wrapper">
    <img src="images/logo.png" alt="" class="logo" />
    <div class="copy-right">&copy; 2016 EverString. All rights reserved.</div>
</div>