<div class="company-list"
     ng-if="!lc.segmentService.isLoading">
  <div class="table-top">
    <div class="table-crud">
      <div class="table-crud-text"
           ng-click="clc.$state.go('segment.overviewTabs.overview.segmentGraphs')">
        View as Graphs
      </div>
      <div class="table-crud-text"
           ng-click="soc.exportCompany('basic', clc.compTable)"
           ng-if="soc.shouldShowExportButton()">Publish</div>
      <div class="table-crud-text"
           ng-click="soc.exportCompany('advanced', clc.compTable)"
           ng-if="soc.shouldShowExportButton()">Advanced Publish</div>
      <div class="table-crud-text" ng-click="clc.resetTable()">
        Clear All Filters and Sorts
      </div>
      <div class="table-crud-text filter-exports">
        <label class="ui-checks">
          <input type="checkbox"
                 ng-click="clc.resetTable()"
                 ng-model="clc.onlyShowExports" />
          <i></i>
          Only Show Published
        </label>
      </div>
      <div
        class="table-crud-text"
        ng-click="clc.shareTableSettings()"
        ng-if="clc.canShareTableSettings()"
      >
        Share Table Settings
      </div>
    </div>
    <div class="total-counts">
      <div class="count-card">
        <div class="count-title">
          Filter Results
        </div>
        <div class="total-number">
          {{clc.compTable.totalFilteredItems}}
        </div>
      </div>
      <div class="count-card">
        <div class="count-title">
          Total Accounts
        </div>
        <div class="total-number">
          {{clc.compTable.totalItems}}
        </div>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="loading-wrapper" ng-show="clc.compTable.loading">
      <loading-spinner></loading-spinner>
    </div>
    <table st-table="clc.compTable.data" st-pipe="clc.compTable.reloadOnAction" class="company-list-table">
      <thead>
      <tr>
        <th ng-class="{lockedInsight: !clc.insightUnlocked(column.key)}"
            ng-repeat="column in clc.compTable.header" ng-if="clc.compTable.shouldShowColumn($index)"
            ng-click="clc.headerClick(column.key)">
          {{column.text}}
          <div class="locked" ng-if="!clc.insightUnlocked(column.key)">
            <i class="btr bt-lock"></i>
          </div>
          <div class="sort-toggle" st-sort="{{column.key}}" ng-if="clc.allowTableActions(column.key)">
            <i class="btr bt-long-arrow-down"></i>
            <i class="btr bt-long-arrow-up"></i>
          </div>
          <div class="filter-toggle" ng-class="{active: clc.filterIsActive(column.key)}"
               ng-if="clc.allowTableActions(column.key) && clc.isFilterable(column.key)"
               ng-click="clc.toggleDropdown(column.key)">
            <i class="btr bt-flask bt-rotate-180"></i>
            <div class="column-dropdown"
                 id="{{column.key}}" ng-if="clc.dropdownColumn === column.key"
                 click-outside="clc.toggleDropdown()" ng-click="clc.blockDropdownToggle($event)">
              <div class="filter-title">
                Filter
                <i class="btr bt-flask bt-rotate-180"></i>
              </div>
              <div class="checkbox">
                <label class="ui-checks">
                  <input type="checkbox" ng-click="clc.toggleSelectAll(column.key)"
                         ng-checked="clc.allFilterValuesSelected(column.key)">
                  <i></i>
                  Select All
                </label>
              </div>
              <div class="filter-items">
                <div class="checkbox"
                     ng-repeat="distinctItem in clc.filters.categories[column.key].distinctCounts | filter: clc.filterSearchQuery"
                     ng-if="distinctItem.value">
                  <label class="ui-checks">
                    <input type="checkbox" ng-model="distinctItem.selected">
                    <i></i>
                    {{distinctItem.value}}
                  </label>
                </div>
              </div>
              <div class="filter-search">
                <span class="btr bt-search search-icon"></span>
                <input type="text" class="search-box" ng-model="clc.filterSearchQuery">
              </div>
              <button class="filter-apply" ng-click="clc.applyFilter(column.key)"
                      ng-class="{disabled: clc.noFilterValuesSelected(column.key)}"
                      ng-disabled="clc.noFilterValuesSelected(column.key)">
                Apply
              </button>
            </div>
          </div>
        </th>
        <th class="header-nav-column">
          <button class="header-prev-button" ng-click="clc.compTable.goToPrevHeaderSection()"
                  ng-class="{disabled: clc.disableHeaderPrev()}" ng-disabled="clc.compTable.disableHeaderPrev()">
            <i class="btr bt-angle-left"></i>
          </button>
          <button class="header-next-button" ng-click="clc.compTable.goToNextHeaderSection()"
                  ng-class="{disabled: clc.disableHeaderNext()}" ng-disabled="clc.compTable.disableHeaderNext()">
            <i class="btr bt-angle-right"></i>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in clc.compTable.data | filter: clc.companyFilterQuery">
        <td ng-class="{blur: clc.lockedInsightData(row, field), lockedCompany: clc.showLockInDataCell(row,field)}"
            ng-repeat="field in clc.compTable.displayedFields" ng-click="clc.cellClick(row, field)">
          <span ng-text-truncate="clc.displayInsightData(row, field)"
                modal-title="clc.modalTitle(row, field)"
                ng-tt-chars-threshold="22" ng-tt-no-toggling></span>
          <i class="btr bt-lock" ng-if="clc.showLockInDataCell(row, field)"></i>
          <a class="btr bt-flag" ng-if="row[field] && !clc.showLockInDataCell(row, field) &&
          clc.displayInsightData(row, field) !== ''"
             ng-click="clc.dispute(row, field)"
             ng-class="{'dispute': clc.isDisputed(row, field)}">
            <div class="tooltip-window">{{clc.isDisputed(row, field) ? 'Disputed! click to remove it': 'click to dispute data'}}</div>
          </a>
        </td>
        <td class="exported-time">
          <span ng-if="row.exportedTs">
            Published<br/>{{clc.transformDate(row.exportedTs)}}
          </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="{{clc.compTable.header.length}}">
          <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
