<div
  class="export-contacts"
  ng-class="{slideIn: ecoc.showSlide}"
>
  <div class="background-wrapper">
  </div>

  <div class="content">
    <div id="slide-alert">
    </div>

    <div class="button-row">
      <button
        class="cancel-btn"
        ng-click="ecoc.closeSlide()"
      >
        Cancel
      </button>
      <button
        class="save-btn"
        ng-click="ecoc.saveChanges()"
        ng-disabled="!ecoc.changesAreValid()"
      >
        Save & Close
      </button>
    </div>

    <div class="choose-contact">
      <label class="instructions">
        How many contacts per company?
      </label>
      <input
        class="contacts-input"
        type="number"
        ng-model="ecoc.state.numContacts"
      />
    </div>

    <div class="title-selection">
      <div class="instructions">
        Enter the exact titles you want to publish
      </div>

      <div class="choose-title">
        <div
          class="search-box"
        >
          <input
            type="text"
            class="textbox"
            ng-model="ecoc.state.titleKeyword"
            ng-keydown="ecoc.onKeyDown($event)"
          />
          <button
            class="submit"
            ng-click="ecoc.addTitle()"
          >
            <i class="btr bt-plus-circle"></i>
          </button>
        </div>
        <div
          class="list"
          ng-if="ecoc.state.titles.length > 0"
        >
          <div
            class="item animate-repeat"
            ng-repeat="title in ecoc.state.titles"
          >
            {{title}}
            <i
              ng-click="ecoc.removeTitle(title)"
              class="delete btr bt-times">
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
