<div class="export-new-or-existing" ng-class="{slideIn: enoec.showSlide}">
  <div class="background-wrapper">
  </div>

  <form
    class="content"
    name="publishPreferencesForm"
    ng-submit="enoec.publish()"
    novalidate
  >
    <div id="export-slide-alert">
    </div>

    <div class="button-row">
      <div
        class="back-btn"
        ng-click="enoec.closeSlide()"
      >
        Back
      </div>
    </div>
    <loading-spinner
      ng-if="enoec.isPublishPending"
    >
    </loading-spinner>

    <div class="header-row">
      <h1>Publish Preferences</h1>
    </div>

    <div class="publish-summary">
      <div class="info-block">
        <div class="title">
          Publish Method
        </div>
        <div class="value">
          {{enoec.ps.getCurrentPublishMethod().dispName}}
        </div>
      </div>
      <div class="info-block">
        <div class="title">
          Companies
        </div>
        <div class="value">
          {{enoec.pss.numCompanies}}
        </div>
      </div>
      <div class="info-block">
        <div class="title">
          Contacts Published?
        </div>
        <div class="value">
          {{enoec.pss.numContacts > 0 ? 'YES' : 'NO'}}
        </div>
      </div>
      <div
        class="info-block"
        ng-if="enoec.pss.numContacts > 0"
      >
        <div class="title">
          Contacts per Company
        </div>
        <div class="value">
          {{enoec.pss.numContacts}}
        </div>
      </div>
    </div>

    <div class="instructions">
      Select how you would like to publish your Segment "{{enoec.pss.segmentName}}" as follows:
    </div>

    <div class="two-choice-columns">
      <div class="new-companies">
        <div class="step publish-choices">
          <div class="dotted-line"
               ng-if="enoec.pss.publishNew">
          </div>
          <div class="publish-checkbox">
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.publishNew"
                  ng-required="!enoec.ps.publishTypeChosen()"
                />
                <i></i>
                <span class="text">
                  Companies <span class="emphasis">not</span> in your CRM
                </span>
              </label>
            </div>
          </div>

          <div
            class="dedupe-previous-checkbox"
            ng-if="enoec.pss.publishNew"
          >
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.dedupeAgainstPreviousPublish"
                />
                <i></i>
                <span class="text">
                  Don't publish if previously published
                </span>
              </label>
            </div>
          </div>

          <div
            class="publish-only-if-contact-found-checkbox"
            ng-if="enoec.pss.publishNew"
          >
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.publishNewDetails.publishOnlyIfContactFound"
                />
                <i></i>
                <span class="text">
                  Publish company ONLY if a contact is found
                </span>
              </label>
            </div>
          </div>
        </div>

        <div
          class="step compare-against-what"
          ng-if="enoec.showCompareAgainstWhatStep('publishNew')"
        >
          <div class="dotted-line"
               ng-if="enoec.ps.isPublishingToSalesforce() && enoec.pss.publishNew">
          </div>
          <div class="step-number">
            {{enoec.getStepNumber('publishNew', enoec.STEP_NAMES.COMPARE_AGAINST_WHAT)}}
          </div>
          <div class="content">
            <div class="instructions">
              We can identify companies NOT in your CRM by de-duplication as follows:
              <i class="fa fa-info-circle">
                <div class="tooltip-window">
                  <p>
                    A company is a duplicate if
                    <ul>
                      <li ng-if="enoec.pss.compareAgainstAccounts">its URL matches the "website" of an Account or the domain of a Contact's email</li>
                      <li ng-if="enoec.pss.compareAgainstAccounts">its name matches the "name" of an Account</li>
                      <li ng-if="enoec.pss.compareAgainstLeads">its URL matches the "website" field of a Lead</li>
                      <li ng-if="enoec.pss.compareAgainstLeads">its name matches the "company" field of a Lead</li>
                    </ul>
                  </p>
                </div>
              </i>
            </div>
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.compareAgainstAccounts"
                  ng-required="!enoec.ps.comparisonChosen('publishNew')"
                />
                <i></i>
                <span class="text">
                  Comparing Accounts or Contacts
                </span>
              </label>
            </div>
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.compareAgainstLeads"
                  ng-required="!enoec.ps.comparisonChosen('publishNew')"
                />
                <i></i>
                <span class="text">
                  Comparing Leads
                </span>
              </label>
            </div>
          </div>
        </div>

        <div
          class="step publish-companies"
          ng-disabled="!enoec.enablePublishCompaniesStep()"
          ng-if="enoec.showPublishCompaniesStep('publishNew')"
        >
          <div class="dotted-line" ng-if="enoec.showPublishContactsStep('publishNew')"></div>
          <div class="step-number">
            {{enoec.getStepNumber('publishNew', enoec.STEP_NAMES.PUBLISH_COMPANIES)}}
          </div>
          <div class="content">
            <div class="instructions">
              Where do you want to publish companies?
              <i class="fa fa-info-circle">
                <div class="tooltip-window">
                  This choice determines the Salesforce object your companies are published to.
                </div>
              </i>
            </div>
            <div class="radio">
              <label class="ui-checks">
                <input
                  type="radio"
                  ng-model="enoec.pss.publishNewDetails.publishCompaniesTo"
                  ng-value="enoec.SALESFORCE.ACCOUNT"
                  ng-change="enoec.ps.setPublishCompaniesCallback('publishNew', enoec.SALESFORCE.ACCOUNT)"
                  ng-required="enoec.showPublishCompaniesStep('publishNew')"
                />
                <i></i>
                <span class="text">
                  Accounts
                </span>
              </label>
            </div>
            <div class="radio">
              <label class="ui-checks">
                <input
                  type="radio"
                  ng-model="enoec.pss.publishNewDetails.publishCompaniesTo"
                  ng-value="enoec.SALESFORCE.LEAD"
                  ng-change="enoec.ps.setPublishCompaniesCallback('publishNew', enoec.SALESFORCE.LEAD)"
                  ng-required="enoec.showPublishCompaniesStep('publishNew')"
                />
                <i></i>
                <span class="text">
                  Leads
                </span>
              </label>
            </div>
          </div>
        </div>

        <div
          class="step publish-contacts"
          ng-disabled="!enoec.enablePublishContactsStep()"
          ng-if="enoec.showPublishContactsStep('publishNew')"
        >
          <div class="step-number">
            {{enoec.getStepNumber('publishNew', enoec.STEP_NAMES.PUBLISH_CONTACTS)}}
          </div>
          <div class="content">
            <div class="instructions">
              Where would you like the contacts to be published?
              <i class="fa fa-info-circle">
                <div class="tooltip-window">
                  This choice determines the Salesforce object EverString contacts are published to.
                  <span ng-if="enoec.ps.willPublishCompaniesToLeads('publishNew')">
                    If you publish companies to Leads, then you must also publish contacts to Leads.
                  </span>
                </div>
              </i>
            </div>

            <!-- Case 1: We're publishing companies to leads, so we must publish contact to leads as well. -->
            <div
              class="wrapper"
              ng-if="enoec.ps.willPublishCompaniesToLeads('publishNew')"
            >
              <div class="radio">
                <label class="ui-checks">
                  <input
                    disabled
                    type="radio"
                    ng-model="enoec.pss.publishNewDetails.publishLeadsTo"
                    ng-value="enoec.SALESFORCE.CONTACT"
                  />
                  <i></i>
                  <span class="text">
                    Contacts
                  </span>
                </label>
              </div>
              <div class="radio">
                <label class="ui-checks">
                  <input
                    disabled
                    type="radio"
                    ng-model="enoec.pss.publishNewDetails.publishLeadsTo"
                    ng-value="enoec.SALESFORCE.LEAD"
                    ng-click="enoec.setPublishCompaniesCallback('publishNew', SALESFORCE.LEAD)"
                  />
                  <i></i>
                  <span class="text">
                    Leads
                  </span>
                </label>
              </div>
            </div>

            <!-- Case 2: We're publishing companies to accounts, so we need to choose where to publish
                 people.

                 Or if we're publishing to CSV, we also show both options
               -->
            <div
              class="wrapper"
              ng-if="enoec.ps.willPublishCompaniesToAccounts('publishNew') || enoec.ps.isPublishingToCsv()"
            >
              <div class="radio">
                <label class="ui-checks">
                  <input
                    type="radio"
                    ng-model="enoec.pss.publishNewDetails.publishLeadsTo"
                    ng-value="enoec.SALESFORCE.CONTACT"
                    ng-required="enoec.ps.willPublishCompaniesToAccounts('publishNew')"
                  />
                  <i></i>
                  <span class="text">
                    Contacts
                  </span>
                </label>
              </div>
              <div class="radio">
                <label class="ui-checks">
                  <input
                    type="radio"
                    ng-model="enoec.pss.publishNewDetails.publishLeadsTo"
                    ng-value="enoec.SALESFORCE.LEAD"
                    ng-required="enoec.ps.willPublishCompaniesToAccounts('publishNew')"
                  />
                  <i></i>
                  <span class="text">
                    Leads
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"
           ng-if="enoec.pss.publishNew || enoec.pss.publishExisting">
      </div>

      <div class="existing-companies">
        <div class="step publish-choices">
          <div class="dotted-line"
               ng-if="enoec.pss.publishExisting">
          </div>
          <div class="step publish-checkbox">
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.publishExisting"
                  ng-required="!enoec.ps.publishTypeChosen()"
                />
                <i></i>
                <span class="text">
                  Companies <span class="emphasis">in</span> your CRM
                </span>
              </label>
            </div>
          </div>

          <div
            class="dedupe-previous-checkbox"
            ng-if="enoec.pss.publishExisting"
          >
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.dedupeAgainstPreviousPublish"
                />
                <i></i>
                <span class="text">
                  Don't publish if previously published
                </span>
              </label>
            </div>
          </div>

          <div
            class="publish-only-if-contact-found-checkbox"
            ng-if="enoec.pss.publishExisting"
          >
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.publishExistingDetails.publishOnlyIfContactFound"
                />
                <i></i>
                <span class="text">
                  Publish company ONLY if a contact is found
                </span>
              </label>
            </div>
          </div>
        </div>

        <div
          class="step compare-against-what"
          ng-if="enoec.showCompareAgainstWhatStep('publishExisting')"
        >
          <div class="dotted-line"
               ng-if="enoec.ps.isPublishingToSalesforce() && enoec.pss.publishExisting">
          </div>
          <div class="step-number">
            {{enoec.getStepNumber('publishExisting', enoec.STEP_NAMES.COMPARE_AGAINST_WHAT)}}
          </div>
          <div class="content">
            <div class="instructions">
              We can identify companies in your CRM by de-duplication as follows:
              <i class="fa fa-info-circle right-side">
                <div class="tooltip-window">
                  <p>
                    A company is a duplicate if
                    <ul>
                      <li ng-if="enoec.pss.compareAgainstAccounts">its URL matches the "website" of an Account or the domain of a Contact's email</li>
                      <li ng-if="enoec.pss.compareAgainstAccounts">its name matches the "name" of an Account</li>
                      <li ng-if="enoec.pss.compareAgainstLeads">its URL matches the "website" field of a Lead</li>
                      <li ng-if="enoec.pss.compareAgainstLeads">its name matches the "company" field of a Lead</li>
                    </ul>
                  </p>
                </div>
              </i>
            </div>
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.compareAgainstAccounts"
                  ng-required="!enoec.ps.comparisonChosen('publishExisting')"
                />
                <i></i>
                <span class="text">
                  Comparing Accounts or Contacts
                </span>
              </label>
            </div>
            <div class="checkbox">
              <label class="ui-checks">
                <input
                  type="checkbox"
                  ng-model="enoec.pss.compareAgainstLeads"
                  ng-required="!enoec.ps.comparisonChosen('publishExisting')"
                />
                <i></i>
                <span class="text">
                  Comparing Leads
                </span>
              </label>
            </div>
          </div>
        </div>

        <div
          class="step publish-companies"
          ng-disabled="!enoec.enablePublishCompaniesStep()"
          ng-if="enoec.showPublishCompaniesStep('publishExisting')"
        >
          <div class="dotted-line" ng-if="enoec.showPublishContactsStep('publishExisting')"></div>
          <div class="step-number">
            {{enoec.getStepNumber('publishExisting', enoec.STEP_NAMES.PUBLISH_COMPANIES)}}
          </div>
          <div class="content">
            <div class="instructions">
              Companies existing in your CRM will be enriched wherever EverString finds them. (Accounts, Contacts, or Leads)
              <i class="fa fa-info-circle right-side">
                <div class="tooltip-window">
                  This choice determines the Salesforce object your companies are published to.
                </div>
              </i>
            </div>
          </div>
        </div>

        <div
          class="step publish-contacts"
          ng-disabled="!enoec.enablePublishContactsStep()"
          ng-if="enoec.showPublishContactsStep('publishExisting')"
        >
          <div class="dotted-line"></div>
          <div class="horizontal-line"></div>
          <div class="step-number">
            {{enoec.getStepNumber('publishExisting', enoec.STEP_NAMES.PUBLISH_CONTACTS)}}
          </div>
          <div class="content">
            <div class="instructions">
              You chose to publish contacts. Please review and adjust the options below.
              <i class="fa fa-info-circle right-side">
                <div class="tooltip-window">
                  This choice determines the Salesforce object EverString contacts are published to.
                </div>
              </i>
            </div>

            <div
              class="nested-step"
              ng-disabled="!enoec.pss.compareAgainstLeads"
            >
              <div class="dotted-line"></div>
              <div class="step-number">
                a
              </div>
              <div class="content">
                <div class="instructions">
                  For Companies found in Leads, the associated contacts shall be published in Leads
                </div>
              </div>
            </div>

            <div
              class="nested-step"
              ng-disabled="!enoec.pss.compareAgainstAccounts"
            >
              <div class="dotted-line"></div>
              <div class="step-number">
                b
              </div>
              <div class="content">
                <div class="instructions">
                  For Companies not found in Leads but in Accounts or Contacts, publish contacts to
                </div>
                <div class="wrapper">
                  <div class="radio">
                    <label class="ui-checks">
                      <!-- Enable if we're comparing against accounts. Otherwise disable -->
                      <input
                        type="radio"
                        ng-model="enoec.pss.publishExistingDetails.foundInAccountsOnly.publishLeadsTo"
                        ng-value="enoec.SALESFORCE.CONTACT"
                      />
                      <i></i>
                      <span class="text">
                        Contacts
                      </span>
                    </label>
                  </div>

                  <div class="radio">
                    <label class="ui-checks">
                      <input
                        type="radio"
                        ng-model="enoec.pss.publishExistingDetails.foundInAccountsOnly.publishLeadsTo"
                        ng-value="enoec.SALESFORCE.LEAD"
                      />
                      <i></i>
                      <span class="text">
                        Leads
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="nested-step"
              ng-disabled="!enoec.pss.compareAgainstAccounts || !enoec.pss.compareAgainstLeads"
            >
              <div class="step-number">
                c
              </div>
              <div class="content">
                <div class="instructions">
                  For Companies that are found in Accounts as well as Leads, publish Contacts to:
                </div>
                <div class="wrapper">
                  <div class="radio">
                    <label class="ui-checks">
                      <input
                        type="radio"
                        ng-model="enoec.pss.publishExistingDetails.foundInBothAccountsAndLeads.publishLeadsTo"
                        ng-value="enoec.SALESFORCE.CONTACT"
                        ng-required="enoec.ps.isPublishingContacts()"
                      />
                      <i></i>
                      <span class="text">
                        Contacts
                      </span>
                    </label>
                  </div>

                  <div class="radio">
                    <label class="ui-checks">
                      <input
                        type="radio"
                        ng-model="enoec.pss.publishExistingDetails.foundInBothAccountsAndLeads.publishLeadsTo"
                        ng-value="enoec.SALESFORCE.LEAD"
                        ng-required="enoec.ps.isPublishingContacts()"
                      />
                      <i></i>
                      <span class="text">
                        Leads
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="publish"
      ng-disabled="enoec.isPublishPending || publishPreferencesForm.$invalid"
    >
      Publish
    </button>
  </form>
</div>
