<div class="modal-bg fx-fade-normal fx-speed-200">
    <div class="modal confirmation-modal">
        <div class="modal-title">
            <div class="icon-container {{mdc.messageClass}}">
                <i class="btr {{mdc.getIconName()}}"></i>
            </div>
            {{mdc.title ? mdc.title : 'Just so you know...'}}
        </div>
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-message" ng-bind-html="mdc.message">
                </div>
            </div>
            <div class="modal-button-row">
                <button class="cancel"
                        ng-if="!mdc.hideDenyButton"
                        ng-click="mdc.onDeny ? mdc.onDeny() : mdc.close()">
                    {{mdc.btnDeny ? mdc.btnDeny : 'No'}}
                </button>
                <button ng-click="mdc.onConfirm()" ng-disabled="mdc.pending">
                    {{mdc.btnConfirm ? mdc.btnConfirm : 'Yes'}}
                </button>
            </div>
        </div>
    </div>
</div>