<div class="predictive-segment-overview">
  <h1> Predictive Segment Overview: {{lc.segment.segmentName}} </h1>

  <ul class="nav-tabs">
    <li ui-sref-active="active"
        ng-show="lc.segment.status === 'COMPLETED'"
    >
      <a ui-sref="segment.overviewTabs.overview">Overview</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="segment.overviewTabs.seedCompanies">Seed Companies</a>
    </li>
    <li ui-sref-active="active"
        ng-show="lc.segment.status === 'COMPLETED'"
    >
      <a ui-sref="segment.overviewTabs.galaxyView" class="galaxy">
        <i class="btr bt-flask"></i>
        Galaxy View (Beta) <br/>
        <span class="smaller">From EverString Labs</span>
      </a>
    </li>

    <div class="more-actions" style="display: none">
      <i class="fa fa-ellipsis-v ellipsis-icon">
        <!-- TODO: Add this menu with functionality later. -->
        <div class="ellipsis-menu">
        </div>
      </i>
    </div>
  </ul>

  <!-- This spinner is present when .segment-tab is loading. -->
  <div class="loading-spinner" ng-if="lc.segmentService.isLoading">
    <i class="btr bt-spinner bt-spin bt-5x">
    </i>
  </div>
  <div class="segment-tab" ui-view></div>
</div>
