<div class="module-seed-list"
     ng-if="!lc.segmentService.isLoading">
  <div class="table-crud">
    <div class="table-crud-text" ng-click="sic.toggleView()">
      {{sic.displayNameForToggle()}}
    </div>
    <div class="table-crud-text seed-csv-download no-border-right"
         ng-if="sic.showSummaryButton()"
         ng-click="sic.toSummary()">
      Creation Summary
    </div>
    <div class="table-crud-text seed-csv-download no-border-right"
         ng-click="sic.download()">
      Download List
    </div>
    <div class="table-crud-text no-border-right"
         ng-if="sic.canChangeSeed()"
         ui-sref="segment.create.upload({segmentId: sic.segmentId})">
      Change List
    </div>
  </div>

  <div ui-view ng-if="sic.isSummaryState()"></div>

  <!-- Charts view -->
  <div class="seed-list-charts" ng-if="sic.showCharts()">
    <div class="insights {{insightType}}-insights"
         ng-repeat="insightType in sic.insightTypes">
      <div class="divider">
      </div>
      <div class="charts">
        <ul class="nav-tabs-secondary">
          <li ng-repeat="dimension in sic.getDimensionsInOrder(insightType)"
              ng-init="insight = sic.insights[dimension]"
              class="{{insight.showChart ? 'active': ''}}">
            <a ng-click="sic.navigateTo(insightType, insight.name)">
              {{insight.dispName}}
            </a>
          </li>
          <hr />
        </ul>
        <div class="chart-cont">
          <div class="chart {{insight.name}}" ng-repeat="insight in sic.getInsightsInOrder(insightType)"
                ng-if="insight.showChart">
            <bar-chart ng-if="insight.chartType === 'bar'"
                       data="insight.chartData"
                       view-more="true"
                       limit="4"
                       modal-title="{{insight.dispName}}"></bar-chart>
            <donut-chart subject="{{insight.name}}" ng-if="insight.chartType === 'donut'"
                         data="insight.chartData"></donut-chart>
            <usa-map ng-if="insight.chartType === 'usa-map'"
                     states-data="insight.chartData"></usa-map>
            <column-chart ng-if="insight.chartType === 'column'"
                    data="insight.chartData"
                    modal-title="{{insight.dispName}}"
                    view-more="true"
                    limit="5"></column-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table view -->

  <table st-table="sic.seedTable.data" ng-show="sic.showTable()"
         st-pipe="sic.seedTable.reloadOnAction" class="seed-insights-table">
    <thead>
      <tr>
        <th ng-repeat="column in sic.seedTable.header" ng-if="sic.seedTable.shouldShowColumn($index)">
          {{column.text}}
        </th>
        <th class="header-nav-column" ng-if="sic.seedTable.shouldShowPrevNext()">
          <button class="header-prev-button" ng-disabled="sic.seedTable.disableHeaderPrev()"
                  ng-click="sic.seedTable.goToPrevHeaderSection()">
            <i class="btr bt-angle-left"></i>
          </button>
          <button class="header-next-button" ng-disabled="sic.seedTable.disableHeaderNext()"
                  ng-click="sic.seedTable.goToNextHeaderSection()">
            <i class="btr bt-angle-right"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in sic.seedTable.data">
        <td ng-repeat="field in sic.seedTable.displayedFields"
            ng-text-truncate="row[field]"
            ng-tt-chars-threshold="30" ng-tt-no-toggling
            modal-title="sic.modalTitle(row, field)">
        </td>
        <td ng-if="sic.seedTable.shouldShowPrevNext()">
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="{{sic.seedTable.header.length}}">
          <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="seed-insights-step" ng-if="sic.showGenerateButton">
  <div class="bottom-button-row">
    <button class="cancel-button" ui-sref="segment.console">
      Cancel
    </button>
    <div class="right-buttons">
      <button class="prev-button" ui-sref="segment.create.upload({segmentId: sic.segmentId})">
        Previous
      </button>
      <button class="next-button" ui-sref="segment.create.reach({segmentId: sic.segmentId})">
        Next
      </button>
    </div>
  </div>
</div>
