<div
  class="segment-export"
  ng-class="{slideIn: ecc.showSlide}"
>
  <div class="background-wrapper" ng-if="ecc.inited">
  </div>
  <div class="content" ng-if="ecc.inited">
    <div id="segment-export-slide-alert">
    </div>
    <div class="button-row">
      <button class="cancel-btn" ng-click="ecc.cancelPublish()">
        Cancel
      </button>
    </div>
    <div class="header-row">
      <h1> {{ecc.shouldShowAdvance() ? 'Advanced Publish' : 'Publish'}} </h1>
    </div>


    <form
      class="main"
      name="publishSegmentForm"
      ng-submit="ecc.nextStep()"
    >
      <loading-spinner ng-if="ecc.exporting"></loading-spinner>
      <div class="limitation">
        <div class="flex">
          <label>Publish Method</label>

          <div
            ng-if="ecc.pss.exportType === 'basic'"
            class="choose-publish-method"
            dropdown-model="ecc.pss[ecc.pss.exportType].publishMethod"
            dropdown-select="ecc.ps.basicPublishMethods"
            dropdown-item-label="dispName"
          >
          </div>
          <div
            ng-if="ecc.pss.exportType === 'advanced'"
            class="choose-publish-method"
            dropdown-model="ecc.pss[ecc.pss.exportType].publishMethod"
            dropdown-select="ecc.ps.advancedPublishMethods"
            dropdown-item-label="dispName"
          >
          </div>
        </div>
        <div class="flex" ng-if="!ecc.filterActive()">
          <label>How many companies?</label>
          <input
            class="input-companies"
            name="numCompanies"
            required
            min="1"
            max="{{ecc.segment.recommendationNum}}"
            type="number"
            ng-model="ecc.pss.numCompanies"
            ng-change="ecc.onNumCompaniesChanged($event)"
          />
          <div
            class="input-companies-error"
            class="error"
            ng-class="{active: publishSegmentForm.numCompanies.$error.max}"
          >
            <div class="tooltip-window">
              There are only {{ecc.segment.recommendationNum}} companies in this segment, so you can publish at most {{ecc.segment.recommendationNum}}.
            </div>
          </div>
        </div>

        <!-- Advanced export doesn't use table filters -->
        <div class="flex" ng-if="ecc.filterActive()">
          <label>How many companies?</label>
          <input
            class="input-companies"
            name="numCompanies"
            required
            min="1"
            max="{{ecc.filterTotal()}}"
            type="number"
            ng-model="ecc.pss.numCompanies"
          />
          <div
            class="input-companies-error"
            class="error"
            ng-class="{active: publishSegmentForm.numCompanies.$error.max}"
          >
            <div class="tooltip-window">
              There are only {{ecc.filterTotal()}} companies in this segment with your filter(s), so you can publish at most {{ecc.filterTotal()}}.
            </div>
          </div>
        </div>
        <div class="flex">
          <div
            class="publish-contacts"
            ng-click="ecc.showPublishContactsSlide()"
            ng-if="ecc.pss.canPublishContacts"
          >
            Publish Contacts
          </div>
        </div>
      </div>

      <!-- Checkbox for not publishing in the non-dedupe CSV case. -->
      <div
        class="dedupe-against-previous-publish"
        ng-if="ecc.handlePublishHere() && !ecc.shouldShowAdvance()"
      >
        <label class="ui-checks dedupe">
          <input
            type="checkbox"
            ng-model="ecc.pss.dedupeAgainstPreviousPublish"
          />
          <i></i>
          Don't publish if previously published
        </label>
      </div>

      <div
        class="export-summary"
        ng-if="!ecc.shouldShowAdvance()"
      >
        <div class="item-row">
          <div class="name">
            Total in Segment
          </div>
          <div class="number">
            {{ecc.segment.recommendationNum | number}}
          </div>
        </div>
        <div class="item-row" ng-if="ecc.filterActive()">
          <div class="name">
            Total after applying filter(s)
          </div>
          <div class="number">
            {{ecc.filterTotal() | number}}
          </div>
        </div>
        <div class="item-row collect">
          <div class="name">
            Total to be published
          </div>
          <div class="number">
            {{ecc.pss.numCompanies | number}}
          </div>
        </div>
      </div>

      <!-- Advanced export stuff -->
      <div class="hard-boundary">
        <div class="left-side">
          <div class="boundary-chart" ng-if="ecc.shouldShowAdvance()">
            <div class="venn-loading" ng-if="ecc.vennLoading">
              <i class="btr bt-spinner bt-spin bt-3x"></i>
            </div>
            <canvas id="venn-diagram"></canvas>
          </div>
        </div>
        <div class="summary" ng-if="ecc.shouldShowAdvance()">
          <div class="no-hover" ng-if="ecc.hovered < 1">
            <p class="p1">Hover over sections within the venn diagram on the left
              to show their respective similarities and number of companies.</p>
            <div class="wrapper">
              <div class="sketch-map"></div>
            </div>
            <p class="p2">Click once to add to publish, click again to remove.</p>
          </div>
          <div class="has-hover" ng-show="ecc.hovered > 0" ng-class="ecc.hoveredClass">
            <div class="row">
              <div class="column selected">
                <div class="name">Similar</div>
                <div class="item" ng-repeat="item in ecc.summary.techList">
                  <i class="btr"
                    ng-class="{'bt-check': item.selected, 'bt-times': !item.selected}"></i>
                  {{item.name}}
                </div>
              </div>
              <div class="column companies">
                <div class="name">Companies</div>
                <div class="number">{{ecc.summary.recommendationNumber | number}}</div>
              </div>
            </div>
            <p class="p1">{{ecc.summary.description}}</p>
            <p class="p2">Click the sector to add to your bucket.</p>
          </div>
          <div class="details">
            <div class="item-row animate-repeat"
              ng-repeat="item in ecc.details.sectors track by $index">
              <div class="name">
                <div class="circle section-{{item.section}}"></div>
                Sector {{$index + 1}}
                <span ng-if="$last && ecc.details.atop"
                  class="atop" ng-class="{'atop-info': ecc.atopInfo}">
                  (top)
                  <div class="tooltip-window">
                    This contains more companies than you have requested. We will take the top
                    companies based on EverString Advanced Scoring Algorithms to round up to
                    the amount that you requested.</div>
                </span>
              </div>
              <div class="number">{{item.number | number}}</div>
              <div class="operation">
                <i class="btr bt-times" ng-click="ecc.removeSection(item.section)"></i>
              </div>
            </div>
            <div class="item-row deduped" ng-if="ecc.pss.dedupeAgainstPreviousPublish && ecc.details.dedupe > 0">
              <div class="name">Dedupe</div>
              <div class="number">-{{ecc.details.dedupe | number}}</div>
              <div class="operation"></div>
            </div>
            <div class="item-row collect">
              <div class="name">TOTAL</div>
              <div class="number">{{ecc.details.total | number}}</div>
            </div>
          </div>
          <div class="dedupe-row" ng-if="ecc.shouldShowAdvance()">
            <label class="ui-checks dedupe">
              <input
                type="checkbox"
                ng-change="ecc.onDedupeChanged()"
                ng-model="ecc.pss.dedupeAgainstPreviousPublish" />
              <i></i>
              Don't publish if previously published
            </label>
          </div>
        </div>
      </div>

      <input
        type="submit"
        class="continue-to-dedupe"
        ng-disabled="publishSegmentForm.$invalid || !(ecc.publishFormValid())"
        ng-value="ecc.getNextButtonLabel()"
      />
    </form>
  </div>
</div>
