<div class="segment-graphs"
     ng-if="!lc.segmentService.isLoading"
>
  <div class="table-crud">
    <div class="table-crud-text view-as-tables"
         ng-click="sgc.$state.go('segment.overviewTabs.overview.companyList')">
      View as Table
    </div>
    <div class="table-crud-text"
         ng-click="soc.exportCompany('advanced')"
         ng-if="soc.shouldShowExportButton()">Advanced Publish</div>
  </div>

  <div class="graphs-container">
    <div class="first-row">
      <div class="companies-found-cont">
        <div class="title">
          Companies
        </div>
        <div class="border-box">

          <div class="left-upper-cont">
            <div class="in-boundary-cnt">
              <div class="title">
                Companies matching<br />Qual. Criteria
              </div>
              <div class="value">
                {{sgc.companySummary.inBoundaryCnt | number}}
              </div>
            </div>
            <div class="companies-found">
              <div class="title">
                Predictively Identified <br />Companies
              </div>
              <div class="value">
                {{sgc.companySummary.companiesCnt | number}}
              </div>
            </div>
            <div class="seed-list">
              <div class="title">
                Companies in Seed
              </div>
              <div class="value">
                {{sgc.companySummary.seedsCnt | number}}
              </div>
            </div>
            <div class="new-this-month">
              <div class="title">
                New This Month
              </div>
              <div class="value">
                (coming soon)
              </div>
            </div>
          </div>

          <div class="venn-diagram-cont">
            <canvas id="venn-diagram-graphs" ng-show="sgc.vennInited">
            </canvas>
          </div>
        </div>

      </div>

      <bar-chart data="sgc.industryData"
                 title="Industries"
                 view-more="true"
                 limit="5"
                 class="in-overview">
      </bar-chart>

    </div>
    <div class="second-row">
      <usa-map states-data="sgc.accountsPresentInStates"
               title="Location">
      </usa-map>
      <donut-chart data="sgc.employeeSizeData"
                   title="Employee Sizes"
                   subject="overviewEmployeeSize">
      </donut-chart>
    </div>
    <div class="third-row" ng-if="sgc.hasAdvancedInsightData">
      <div class="title">
        More
      </div>
      <div class="select">
        <div class="default">
          <span ng-bind="sgc.getDispName(sgc.currentAdvancedInsightDimension)"></span>
          <i class="btr bt-angle-down"></i>
        </div>
        <div class="list">
          <div class="item"
               ng-click="sgc.selectAdvancedInsight(dimension)"
               ng-repeat="(dimension, insight) in sgc.advancedInsightsExceptCurrent track by $index"
          >
            {{sgc.getDispName(dimension)}}
          </div>
        </div>

      </div>

      <column-chart data="sgc.advancedInsights[dimension]"
                    ng-if="dimension === sgc.currentAdvancedInsightDimension"
                    ng-repeat="(dimension, insight) in sgc.advancedInsights"
                    modal-title="{{sgc.getDispName(dimension)}}"
                    limit="10"
                    view-more="true"
      ></column-chart>
    </div>
  </div>
</div>
